<template>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 no-padding image-wrapper">
      <img class="image" :src="src" />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-9 col-xl-9 no-padding">
      <div class="row">
        <div class="basic-info-text">
          <div class="row info-text name">{{ user.name }}</div>
          <div class="row info-text email">{{ user.email }}</div>
          <div class="row info-text phone">{{ user.phone }}</div>
          <div class="row info-text location">{{ displayLocation }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { IMAGE } from "../../../Api/common_api";

export default {
  name: "basic-info-view",
  data: function() {
    return {
      displayLocation: "",
      user: this.$constants.getOwnerInfo(),
      src: require("@/assets/male_user.svg")
    };
  },
  methods: {
    getUserDemographicInfo: function() {
      const self = this;
      const token = JSON.parse(localStorage.getItem("token"));
      self
        .$http({
          method: self.$constants.METHOD.GET,
          url: self.$constants.BASE_URL.USER_DEMOGRAPHIC_INFO_URL,
          headers: {
            "content-type": self.$constants.HEADERS.TYPE.APPLICATION_JSON,
            Authorization: "Bearer " + token
          }
        })
        .then(function(response) {
          if (response.status === 200) {
            if (response.data.location_name) {
              self.displayLocation = response.data.location_name;
            } else {
              self.displayLocation = "";
            }
            if (response.data.image_url) {
              self.src = response.data.image_url;
            }
          }
        })
        .catch(function() {
          self.displayLocation = "";
          // eslint-disable-next-line
        });
    }
  },
  mounted: function() {
    const self = this;
    let params = {
      url_only: 1
    };
    self.getUserDemographicInfo();
    IMAGE(params).then(function(data) {
      self.src = data.image_url
        ? data.image_url
        : require("@/assets/male_user.svg");
    });
  }
};
</script>

<style scoped>
.image-wrapper {
  max-height: 15rem;
  max-width: 15rem;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 0.4rem;
}
.image {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
}
.basic-info-text {
  margin-top: 1rem;
}
.info-text {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 25px;
}
.name {
  font-size: 22px !important;
  font-weight: bold;
}
.email {
  font-weight: 400;
}
.phone {
  font-weight: 300;
}
.location {
  font-weight: 200;
}
</style>
