<template>
  <div class="skill-content">
    <div class="header-text">
      <div style="font-size: 2rem">LANGUAGE</div>
    </div>
    <div v-if="!noData" class="row all-skills">
      <div
        class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding"
        v-bind:key="index"
        v-for="(skill, index) in skills"
      >
        <skill-view :index="index" :skill="skill"></skill-view>
      </div>
    </div>
    <div style="margin-top: 1rem" v-if="noData">
      <div style="color: #ff5252;">
        Seems like you haven't added any language yet!
      </div>
    </div>
  </div>
</template>

<script>
import SkillView from "./language-cards";
import { GET_ALL_LANGUAGES } from "../../../Api/candidate_api";
export default {
  name: "skill",
  components: {
    SkillView
  },
  data: function() {
    return {
      skills: [],
      noData: false
    };
  },
  methods: {
    getAllSkills: function() {
      const self = this;
      GET_ALL_LANGUAGES()
        .then(function(data) {
          self.skills = data;
          self.noData = self.skills.length === 0;
        })
        .catch(function() {
          // need to define
        });
    }
  },
  mounted() {
    this.getAllSkills();
  }
};
</script>

<style scoped>
.skill-content {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.header-text {
  text-align: left;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  color: #050505;
}
.all-skills {
  padding: 1rem !important;
}
.cCode {
  padding: 0.1rem 0.75rem;
  background-color: #fc3832;
  margin: 0 0.5rem 0 1rem;
}
.bg {
  background-color: var(--button-delete-color);
}
.im {
  background-color: goldenrod;
}
.pr {
  background-color: var(--button-color);
}
.ad {
  background-color: #6752f2;
}
.ex {
  background-color: var(--button-save-color);
}
</style>
