<template>
  <div class="experience-content">
    <div class="header-text">TRAINING</div>
    <div style="padding: 1rem" v-if="!noData">
      <div v-bind:key="index" v-for="(work, index) in jobs">
        <experience-card :index="index" :job="work"></experience-card>
      </div>
    </div>
    <div style="margin-top: 1rem" v-if="noData">
      <div style="color: #ff5252">
        Seems like you haven't added your training related information yet!
      </div>
    </div>
  </div>
</template>

<script>
import ExperienceCard from "./training-cards";
export default {
  name: "experience-view",
  components: {
    ExperienceCard
  },
  data: function() {
    return {
      jobs: [],
      noData: false
    };
  },
  methods: {
    getUserExperienceInfo: function() {
      const self = this;
      const token = JSON.parse(localStorage.getItem("token"));
      self
        .$http({
          method: this.$constants.METHOD.GET,
          url: this.$constants.BASE_URL.CANDIDATE_TRAININGS,
          headers: {
            "content-type": this.$constants.HEADERS.TYPE.APPLICATION_JSON,
            Authorization: "Bearer " + token
          }
        })
        .then(function(response) {
          if (response.status === 200) {
            if (response.data.length > 0) {
              self.jobs = response.data.sort(function(a, b) {
                return b.training_year - a.training_year;
              });
              self.noData = false;
            } else {
              self.noData = true;
            }
          } else {
            self.noData = true;
          }
        })
        .catch(function() {});
    }
  },
  mounted: function() {
    this.getUserExperienceInfo();
  }
};
</script>

<style scoped>
.experience-content {
  margin-top: 2rem;
}
.header-text {
  text-align: left;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  color: #050505;
}
</style>
