<template>
  <div class="main">
    <basic-info-view></basic-info-view>
    <experience-view></experience-view>
    <education-view></education-view>
    <skill-view></skill-view>
    <project-view></project-view>
    <language-view></language-view>
    <training-view></training-view>
  </div>
</template>

<script>
import BasicInfoView from "./basic-info-view";
import ExperienceView from "./experience-view";
import EducationView from "./education-view";
import SkillView from "./skills-view";
import ProjectView from "./project-view";
import LanguageView from "./language-view";
import TrainingView from "./training-view";
export default {
  name: "view-profile",
  components: {
    BasicInfoView,
    ExperienceView,
    EducationView,
    SkillView,
    ProjectView,
    LanguageView,
    TrainingView
  }
};
</script>

<style scoped>
.main {
  background-color: white;
  padding: 2rem;
  overflow-y: auto;
  max-height: 90vh;
}
</style>
