<template>
  <div>
    <div
      style="position: relative"
      v-bind:class="[{ realWrapper: view.value }]"
    >
      <div
        class="row card-wrapper"
        v-bind:class="[{ cardWrapperBox: !view.value }]"
      >
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="image-wrapper">
            <img class="image" :src="candidate.image_url" />
          </div>
        </div>
        <div class="col-3 col-sm-6 col-md-6 col-lg-6 col-xl-6 details-wrapper">
          <div style="font-size: 1.6rem; font-weight: bold">
            {{ candidate.user_name }}
          </div>
          <div v-if="candidate.title">
            {{ candidate.title }}
            <span v-if="candidate.company_name"
              >at {{ candidate.company_name }}</span
            >
          </div>
          <div style="margin-top: 1rem">
            <span v-if="candidate.institution_name"
              ><v-icon
                size="16"
                style="color: #4c4c4c; margin-right: 0.5rem; margin-bottom: 0.1rem"
                >mdi-school</v-icon
              >{{ candidate.institution_name }}</span
            >
            <span v-if="candidate.year_of_exp"
              ><v-icon
                size="16"
                style="color: #4c4c4c; margin-left: 0.5rem; margin-right: 0.2rem; margin-bottom: 0.1rem"
                >mdi-check-circle</v-icon
              >
              {{ candidate.year_of_exp }} year(s) of experience</span
            >
            <span v-if="candidate.location_name">
              <v-icon
                size="16"
                style="color: #4c4c4c; margin-left: 0.5rem; margin-right: 0.2rem; margin-bottom: 0.1rem"
                >mdi-map-marker</v-icon
              >
              {{ candidate.location_name }}
            </span>
          </div>
        </div>
        <div
          class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"
          style="position: relative"
        >
          <v-icon
            @click="showProfile"
            style="position: absolute; top: 0; right: 0; margin: 1rem 0 "
            class="icon-class-expand"
            >mdi-eye</v-icon
          >
          <v-icon
            @click="sendMail"
            style="position: absolute; top: 0; right: 4rem; margin: 1rem 0 "
            class="icon-class-expand"
            >mdi-email-outline</v-icon
          >
          <v-icon
            @click="expandView"
            style="position: absolute; top: 0; right: 8rem; margin: 1rem 0"
            class="icon-class-expand"
            >{{ view.icon }}</v-icon
          >
        </div>
      </div>
      <div v-if="view.value" class="expand-card-wrapper">
        <div class="row">
          <div
            style="margin: 1rem; text-align: left; border-bottom: 0.2rem solid #cccccc"
          >
            <div style="font-size: 1.8rem; color: #000000">
              {{ appliedJobs.length }}
            </div>
            <div
              style="font-size: 1.2rem; color: #000000; margin-bottom: 0.8rem"
            >
              JOBS APPLIED
            </div>
          </div>
          <div
            style="margin: 1rem; text-align: left; border-bottom: 0.2rem solid #83e493"
          >
            <div style="font-size: 1.8rem; color: #000000">
              {{ shortListedJobs.length }}
            </div>
            <div
              style="font-size: 1.2rem; color: #000000; margin-bottom: 0.8rem"
            >
              SHORTLISTED
            </div>
          </div>
          <div
            style="margin: 1rem; text-align: left; border-bottom: 0.2rem solid #f37070"
          >
            <div style="font-size: 1.8rem; color: #000000;">
              {{ rejectedJobs.length }}
            </div>
            <div
              style="font-size: 1.2rem; color: #000000; margin-bottom: 0.8rem"
            >
              REJECTED
            </div>
          </div>
          <!--<div style="margin: 1rem; text-align: left; border-bottom: 0.2rem solid #00adf6">-->
          <!--<div style="font-size: 1.8rem; color: #000000;">1</div>-->
          <!--<div style="font-size: 1.2rem; color: #000000; margin-bottom: 0.8rem">INTERVIEWED</div>-->
          <!--</div>-->
        </div>
        <div>
          <div
            style="color: #4c4c4c; font-weight: bold; text-align: left; margin: 1rem"
          >
            ALL JOBS
          </div>
          <div class="row">
            <div
              v-for="(job, index) in appliedJobs"
              class="col-md-6"
              style="padding: 0 1rem 0 0; margin: 0.5rem 0"
            >
              <div class="row">
                <div style="margin: 0 1rem">
                  <v-icon size="36" :color="job.statusColor">mdi-square</v-icon>
                </div>
                <div style="text-align: left">
                  <div style="font-size: 1.4rem; color: #166bff">
                    {{ job.job_title }}
                  </div>
                  <div style="font-size: 1.2rem; color: #4c4c4c">
                    Applied on
                    {{
                      job.posted_on.day +
                        " " +
                        job.posted_on.month +
                        ", " +
                        job.posted_on.year
                    }}
                  </div>
                </div>
              </div>
            </div>
            <div
              v-for="(job, index) in shortListedJobs"
              class="col-md-6"
              style="padding: 0 1rem 0 0; margin: 0.5rem 0"
            >
              <div class="row">
                <div style="margin: 0 1rem">
                  <v-icon size="36" :color="job.statusColor">mdi-square</v-icon>
                </div>
                <div style="text-align: left">
                  <div style="font-size: 1.4rem; color: #166bff">
                    {{ job.job_title }}
                  </div>
                  <div style="font-size: 1.2rem; color: #4c4c4c">
                    Applied on
                    {{
                      job.posted_on.day +
                        " " +
                        job.posted_on.month +
                        ", " +
                        job.posted_on.year
                    }}
                  </div>
                </div>
              </div>
            </div>
            <div
              v-for="(job, index) in rejectedJobs"
              class="col-md-6"
              style="padding: 0 1rem 0 0; margin: 0.5rem 0"
            >
              <div class="row">
                <div style="margin: 0 1rem">
                  <v-icon size="36" :color="job.statusColor">mdi-square</v-icon>
                </div>
                <div style="text-align: left">
                  <div style="font-size: 1.4rem; color: #166bff">
                    {{ job.job_title }}
                  </div>
                  <div style="font-size: 1.2rem; color: #4c4c4c">
                    Applied on
                    {{
                      job.posted_on.day +
                        " " +
                        job.posted_on.month +
                        ", " +
                        job.posted_on.year
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%; color: white">
        <span style="padding-right:1.0rem"
          ><v-icon color="white">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
    <v-dialog
      max-width="130.0rem"
      v-model="openBox"
      @keydown.esc="openBox = false"
    >
      <div
        :key="change"
        style="max-height: 90vh; overflow-y: scroll; background-color: #ffffff"
      >
        <applicant-details
          v-bind:candidate="candidate_details"
          v-on:close-box="openBox = false"
          v-bind:cvBank="true"
        ></applicant-details>
      </div>
    </v-dialog>
    <message-box
      :key="messageChange"
      v-bind:open="openMessageBox"
      v-bind:receiver="candidate"
      v-on:send-message="sendMessage"
    ></message-box>
  </div>
</template>

<script>
import {
  CANDIDATE_DETAILS,
  GET_ALL_APPLICANTS_CV_BANK
} from "../../../Api/employer_api";
import { GET_TIME_FROM_TIMESTAMP } from "../../../globalFunctions";
import ApplicantDetails from "../candidates/candidate-details";
import MessageBox from "../../global-components/message-box";
import { SEND_NEW_MESSAGE } from "../../../Api/common_api";
export default {
  name: "applicant",
  props: {
    applicant: Object
  },
  components: {
    ApplicantDetails,
    MessageBox
  },
  data: function() {
    return {
      candidate: {},
      view: {
        value: false,
        icon: "mdi-plus"
      },
      allJobs: [],
      appliedJobs: [],
      shortListedJobs: [],
      rejectedJobs: [],
      bgColor: "#454545",
      timeOut: 800,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      openBox: false,
      change: 0,
      candidate_details: null,
      openMessageBox: false,
      messageChange: 0
    };
  },
  methods: {
    sendMessage(message) {
      const self = this;
      self.openMessageBox = false;
      self.messageChange++;
      SEND_NEW_MESSAGE(message)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    sendMail() {
      const self = this;
      self.messageChange++;
      self.openMessageBox = true;
    },
    showProfile() {
      const self = this;
      CANDIDATE_DETAILS(self.candidate)
        .then(function(data) {
          self.candidate_details = {
            ...self.candidate,
            ...data
          };
          self.change++;
          self.openBox = true;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR_ALT;
          self.snackMessage = err.message;
          self.$emit("error-fetch");
        });
    },
    getSortedJobs(type, color) {
      const self = this;
      let i,
        time,
        result = [];
      for (i = 0; i < self.allJobs[type].length; i++) {
        time = GET_TIME_FROM_TIMESTAMP(self.allJobs[type][i].date);
        self.allJobs[type][i].statusColor = color;
        self.allJobs[type][i].posted_on = time;
        result.push(self.allJobs[type][i]);
      }
      return result;
    },
    expandView() {
      const self = this;
      if (!self.$parent.hasActive && !self.view.value) {
        let id = self.candidate.user_id;
        GET_ALL_APPLICANTS_CV_BANK(id)
          .then(function(data) {
            self.allJobs = data;
            self.appliedJobs = [];
            self.shortListedJobs = [];
            self.rejectedJobs = [];
            if (self.allJobs[0])
              self.appliedJobs = self.getSortedJobs(0, "#cccccc");
            if (self.allJobs[1])
              self.shortListedJobs = self.getSortedJobs(1, "#83e493");
            if (self.allJobs[2])
              self.rejectedJobs = self.getSortedJobs(2, "#f37070");
            self.view.value = !self.view.value;
            self.view.icon = self.view.value ? "mdi-minus" : "mdi-plus";
            self.$emit("change-active", true);
          })
          .catch(function(err) {
            alert(err.message)
          });
      } else if (self.view.value) {
        self.view.value = false;
        self.view.icon = self.view.value ? "mdi-minus" : "mdi-plus";
        self.$emit("change-active", false);
      } else if (self.$parent.hasActive && !self.view.value) {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR_ALT;
        self.snackMessage = "Close the current box first.";
      }
    }
  },
  mounted() {
    const self = this;
    if (self.applicant) {
      self.candidate = self.applicant;
    }
  }
};
</script>

<style scoped>
.card-wrapper {
  background-color: #f4f7fb;
  padding: 2rem;
  position: relative;
  margin: 1rem 0 !important;
  min-height: 13rem;
}
.image-wrapper {
  height: 10rem;
  width: 10rem;
  border-radius: 50rem;
  overflow: hidden;
  background-color: white;
}
.image {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
}
.details-wrapper {
  text-align: left;
  color: #4c4c4c;
  margin-top: 1rem;
}
.realWrapper {
  box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.16);
  z-index: 1000;
}
.cardWrapperBox {
  box-shadow: 0 0.3rem 1rem 0 rgba(0, 0, 0, 0.16);
}
.expand-card-wrapper {
  background-color: white;
  margin-top: -1rem !important;
  padding: 3rem;
  position: absolute;
  top: 14rem;
  z-index: 100;
  box-shadow: 0 0.3rem 0.5rem 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 2rem;
  width: 100%;
}
</style>
