<template>
  <div class="main-page">
    <div
      class="row"
      style="z-index: 100;
         padding: 1rem !important;
         margin: 0 1rem !important;
         position: absolute; top: 0;
         right: 0; background-color: white;
         width: 100%;"
    >
      <div
        class="col-sm-5 col-md-6"
        style="padding-top: 1rem; text-align: right"
      >
        <v-form ref="form" @submit.prevent="searchApplicants">
          <div class="input-group">
            <input
              v-model="search_key"
              type="text"
              class="form-control"
              placeholder="Search"
            />
            <button
              @click="searchApplicants"
              class="input-group-append btn btn-primary"
            >
              <b>Search</b>
            </button>
            <span
              v-if="no_result && search_key"
              @click="clear_result"
              style="margin: 0 2rem; padding: 0.5rem; color: var(--link-color); cursor: pointer"
              >Clear</span
            >
          </div>
        </v-form>
      </div>
      <div
        class="col-sm-5 col-md-4"
        style="text-align: right; padding-top: 1.5rem"
      >
        Showing {{ showing_applicant }} results from
        {{ total_applicant }} applicants
      </div>
      <div
        class="col-sm-2 col-md-2 no-padding"
        style="text-align: right; position: relative"
      >
        <div
          class="dropdown"
          @click="filterOpen"
          style="box-shadow:0px 0.1rem 2rem rgba(0,0,0,0.1);right:2rem;padding:1rem 2rem;background-color:#FFE2BD !important;border-radius:.4rem;color:grey"
        >
          Filter
          <v-icon class="ico" style="padding:0">arrow_drop_down</v-icon>
        </div>
        <div
          class="menu-box"
          v-if="drawer"
          style="top:3.2rem;right:2rem;padding:2rem;max-height:50rem;overflow:scroll; max-width: 80rem"
        >
          <div class="row" style="min-width: 70rem">
            <div class="col-md-6">
              <v-select
                :disabled="!institutions"
                v-model="institution_name"
                :items="institutions"
                :multiple="true"
                item-text="display_name"
                item-value="name"
                label="Institution Name"
              >
              </v-select>
            </div>
            <div class="col-md-6">
              <v-select
                :disabled="!degrees"
                v-model="degree_name"
                :items="degrees"
                :multiple="true"
                label="Degree Name"
                item-text="display_name"
                item-value="name"
              >
              </v-select>
            </div>
            <div class="col-md-6">
              <v-select
                :disabled="!majors"
                v-model="major_name"
                :items="majors"
                :multiple="true"
                label="Major Name"
                item-text="display_name"
                item-value="name"
              >
              </v-select>
            </div>
            <div class="col-md-6">
              <v-select
                :disabled="!experiences"
                v-model="experience"
                :items="experiences"
                :multiple="true"
                label="Year of experience"
                item-text="display_name"
                item-value="name"
              >
              </v-select>
            </div>
            <div class="col-md-6">
              <v-select
                :disabled="!job_title_filter"
                v-model="job_title_filter_item"
                :items="job_title_filter"
                :multiple="true"
                item-text="display_name"
                item-value="job_ids[0]"
                label="Job Title"
              >
              </v-select>
            </div>
            <div class="col-md-6">
              <v-select
                :disabled="!job_status_filter"
                v-model="job_status_filter_item"
                :items="job_status_filter"
                :multiple="true"
                label="Job Status"
                item-text="display_name"
                item-value="job_ids"
              >
              </v-select>
            </div>
            <div class="col-md-6">
              <v-select
                :disabled="!scores"
                v-model="score_item"
                :items="scores"
                :multiple="true"
                item-text="display_name"
                item-value="name"
                label="Score (%)"
              >
              </v-select>
            </div>
          </div>
          <div
            class="row"
            style="padding: 0 1.5rem; margin-top: 2rem !important;"
          >
            <div
              class="btn btn-save-new"
              style="margin-right:1rem"
              @click="apply_filter"
            >
              Apply filter
            </div>
            <div
              class="btn btn-close"
              style="margin-right:1rem"
              @click="clear_filter"
            >
              Clear filter
            </div>
            <div class="btn btn-cancel" @click="drawer = false">Cancel</div>
          </div>
        </div>
        <div
          class="dropdown-wrapper"
          style="background-color:rgba(0,0,0,0.2)"
          v-if="drawer"
        ></div>
      </div>
    </div>
    <div class="sub-main">
      <div
        class="horizontal-line"
        style="background-color: #f0f0f0; margin: 1rem 0"
      ></div>
      <div
        v-if="!no_result"
        :key="change"
        class="row"
        style="margin-bottom: 2rem !important;"
      >
        <div
          class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"
          :key="index"
          v-for="(applicant, index) in applicants"
        >
          <applicant
            v-bind:class="[{ marB: index === applicants.length - 1 }]"
            v-bind:applicant="applicant"
            v-on:change-active="changeActive"
          ></applicant>
        </div>
      </div>
      <div class="row no-padding" v-else>
        <div class="mx-auto my-auto no-result">
          <img
            class="no-result-image"
            src="@/assets/newDesign/no-candidate.svg"
          />
          <div class="no-result-color">
            <b>No result found</b>
          </div>
        </div>
      </div>
    </div>
    <div
      style="position:absolute; bottom: 0; right:0; z-index:0; padding: 2rem; background-color:white;width:100%"
      v-if="page_count > 1"
    >
      <v-pagination
        v-model="pagination_page"
        :length="page_count"
        total-visible="7"
        @input="pagination"
      >
      </v-pagination>
    </div>
  </div>
</template>

<script>
import { IsEmptyObject } from "../../../globalFunctions";
import Applicant from "./applicant";
import {
  FILTER_CV_BANK,
  GET_ALL_APPLICANTS_CV_BANK,
  GET_CV_BANK_FILTER_OPTIONS,
  SEARCH_CV_BANK,
  GET_ALL_APPLICANTS_CV_BANK_PAGINATION
} from "../../../Api/employer_api";
export default {
  name: "main-page",
  components: {
    Applicant
  },
  data: function() {
    return {
      drawer: null,
      institutions: null,
      degrees: null,
      scores: null,
      experiences: null,
      majors: null,
      job_title_filter: null,
      job_status_filter: null,
      institution_name: [],
      major_name: [],
      degree_name: [],
      experience: [],
      score_item: [],
      job_title_filter_item: [],
      job_status_filter_item: [],
      institution_name_temp: [],
      major_name_temp: [],
      offset: null,
      degree_name_temp: [],
      experience_temp: [],
      score_item_temp: [],
      job_title_filter_item_temp: [],
      job_status_filter_item_temp: [],
      filter_string: "",
      items: [
        {
          name: 1,
          display_name: "1 year (1 person)"
        }
      ],
      applicants: [],
      hasActive: false,
      change: 0,
      page_count: 0,
      pagination_page: 1,
      total_applicant: 0,
      showing_applicant: 0,
      search_key: "",
      no_result: false,
      filter_offset: 0,
      current_pagination: "all",
      timeout:null
    };
  },
  methods: {
    changeActive(value) {
      const self = this;
      self.hasActive = value;
    },
    filterOpen() {
      this.drawer = !this.drawer;
      if (this.drawer) {
        GET_CV_BANK_FILTER_OPTIONS()
          .then(response => {
            this.institutions = response.filter_options[11]
              ? response.filter_options[11]
              : null;
            this.degrees = response.filter_options[12]
              ? response.filter_options[12]
              : null;
            this.majors = response.filter_options[19]
              ? response.filter_options[19]
              : null;
            this.scores = response.filter_options[38]
              ? response.filter_options[38]
              : null;
            this.experiences = response.filter_options[39]
              ? response.filter_options[39]
              : null;
            this.job_title_filter = response.filter_options["job_title_filter"]
              ? response.filter_options["job_title_filter"]
              : null;
            this.job_status_filter = response.filter_options[
              "job_status_filter"
            ]
              ? response.filter_options["job_status_filter"]
              : null;
          })
          .catch(err => {});
      }
    },
    clear_filter() {
      (this.institution_name = null),
        (this.major_name = null),
        (this.degree_name = null),
        (this.experience = null),
        (this.job_title_filter_item = this.null),
        (this.job_status_filter_item = this.null),
        (this.score_item = this.null),
        this.getAllApplicants();
      this.drawer = false;
    },
    filter_action(params) {
      const self = this;
      self.current_pagination = "filter";
      clearTimeout(self.timeout)
      FILTER_CV_BANK(params, self.filter_offset)
        .then(function(response) {
          if (response.status === self.$constants.RESPONSE_CODE.PROCESSING) {
            self.timeout=setTimeout(()=>{
              self.filter_action(params);
            },self.$constants.DELAY.SEARCH_TIMEOUT);
          } else if (
            response.status === self.$constants.RESPONSE_CODE.SUCCESS
          ) {
            self.drawer = false;
            self.applicants = [];
            let i;
            for (i = 0; i < response.data.candidates.length; i++) {
              if (!response.data.candidates[i].image_url) {
                if (response.data.candidates[i].gender === "female")
                  response.data.candidates[
                    i
                  ].image_url = require("@/assets/female_user.svg");
                else
                  response.data.candidates[
                    i
                  ].image_url = require("@/assets/male_user.svg");
              }
              self.applicants.push(response.data.candidates[i]);
            }
            self.total_applicant = response.data.count;
            self.showing_applicant = self.applicants.length;
            self.no_result = self.showing_applicant <= 0;
            self.page_count = Math.ceil(self.total_applicant / 10);
            self.change++;
          } else {
            self.no_result = true;
          }
        })
        .catch(function() {
          self.no_result = true;
        });
    },
    apply_filter() {
      const self = this;
      let params = {};
      if (self.institution_name && self.institution_name.length > 0) {
        params[11] = self.institution_name;
        self.institution_name_temp = self.institution_name;
      }
      if (self.degree_name && self.degree_name.length > 0) {
        params[12] = self.degree_name;
        self.degree_name_temp = self.degree_name;
      }
      if (self.major_name && self.major_name.length > 0) {
        params[19] = self.major_name;
        self.major_name_temp = self.major_name;
      }
      if (self.score_item && self.score_item.length > 0) {
        params[38] = self.score_item;
        self.score_item_temp = self.score_item;
      }
      if (self.experience && self.experience.length > 0) {
        params[39] = self.experience;
        self.experience_temp = self.experience;
      }
      if (self.job_title_filter_item && self.job_title_filter_item.length > 0) {
        params["job_title_filter"] = self.job_title_filter_item;
        self.job_title_filter_item_temp = self.job_title_filter_item;
      }
      if (
        self.job_status_filter_item &&
        self.job_status_filter_item.length > 0
      ) {
        params["job_status_filter"] = self.job_status_filter_item;
        self.job_status_filter_item_temp = self.job_status_filter_item;
      }
      if (!IsEmptyObject(params)) {
        // console.log(params)
        self.filter_action(params);
      }
    },
    getAllApplicants() {
      const self = this;
      self.current_pagination = "all";
      self.applicants = [];
      GET_ALL_APPLICANTS_CV_BANK_PAGINATION(self.filter_offset)
        .then(function(data) {
          let i;
          for (i = 0; i < data.candidates.length; i++) {
            if (!data.candidates[i].image_url) {
              if (data.candidates[i].gender === "female")
                data.candidates[
                  i
                ].image_url = require("@/assets/female_user.svg");
              else
                data.candidates[
                  i
                ].image_url = require("@/assets/male_user.svg");
            }
            self.applicants.push(data.candidates[i]);
          }
          self.total_applicant = data.count;
          self.showing_applicant = self.applicants.length;
          self.no_result = self.showing_applicant <= 0;
          self.page_count = Math.ceil(self.total_applicant / 10);
          self.change++;
        })
        .catch(function() {
          self.no_result = true;
        });
    },
    searchApplicants() {
      const self = this;
      clearTimeout(self.timeout)
      if (self.search_key) {
        self.current_pagination = "search";
        self.applicants = [];
        SEARCH_CV_BANK(self.search_key, self.filter_offset)
          .then(function(response) {
            if (response.status === self.$constants.RESPONSE_CODE.PROCESSING) {
              self.timeout=setTimeout(
                ()=>{self.searchApplicants()}
              , self.$constants.DELAY.SEARCH_TIMEOUT);
            } else if (
              response.status === self.$constants.RESPONSE_CODE.SUCCESS
            ) {
              self.applicants = [];
              let i;
              for (i = 0; i < response.data.candidates.length; i++) {
                if (!response.data.candidates[i].image_url) {
                  if (response.data.candidates[i].gender === "female")
                    response.data.candidates[
                      i
                    ].image_url = require("@/assets/female_user.svg");
                  else
                    response.data.candidates[
                      i
                    ].image_url = require("@/assets/male_user.svg");
                }
                self.applicants.push(response.data.candidates[i]);
              }
              self.total_applicant = response.data.count;
              self.showing_applicant = self.applicants.length;
              self.no_result = self.showing_applicant <= 0;
              self.page_count = Math.ceil(self.total_applicant / 10);
              self.change++;
            } else {
              self.no_result = true;
            }
          })
          .catch(function() {
            self.no_result = true;
          });
      }
    },
    clear_result() {
      const self = this;
      self.search_key = "";
      self.getAllApplicants();
    },
    pagination() {
      const self = this;
      self.hasActive = false;
      self.filter_offset = (self.pagination_page - 1) * 10;
      switch (self.current_pagination) {
        case "all":
          self.getAllApplicants();
          break;
        case "filter":
          self.apply_filter();
          break;
        case "search":
          self.searchApplicants();
          break;
        default:
          self.getAllApplicants();
          break;
      }
    }
  },
  mounted() {
    const self = this;
    self.getAllApplicants();
  },
  beforeDestroy(){
    clearTimeout(this.timeout)
  }
};
</script>

<style scoped>
.marB {
  margin-bottom: 10rem;
}
.main-page {
  position: relative;
}
.sub-main {
  height: 90vh;
  overflow-y: scroll;
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.form-control {
  border-radius: 0.4rem;
  border: solid 1px #c0c0c0;
  background-color: white;
  font-size: 1.4rem;
  max-width: 50rem;
}
.form-control:focus {
  border: solid 1px #c0c0c0;
  box-shadow: none;
}
.btn-primary {
  background-color: #00adf6;
  border: none;
  outline: none !important;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
}
.btn-primary:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.no-result {
  margin-top: 5.5rem !important;
  height: 60vh;
  padding: 15vh;
}
.no-result-color {
  margin-top: 1rem;
  font-size: 2.4rem;
  color: var(--button-delete-color);
}
.no-result-image {
  width: 30rem;
}
</style>
