<template>
  <div class="container">
    <div v-if="showConfirmationBox === false">
      <loader></loader>
    </div>
    <div v-if="showConfirmationBox">
      <popup-box
        v-on:box-closed="onClosing"
        v-on:button-clicked="onConfirmSuccess"
        v-on:resend-email="resendConfirmationMail"
        v-bind="confirmationPagePopupProps"
        :key="check"
      ></popup-box>
    </div>
  </div>
</template>

<script>
import * as SYSTEM_CONSTANT from "../../globalConstants";
import PopupBox from "../global-components/pop-up-box";
import Loader from "../global-components/loader";
export default {
  name: "confirmation",
  components: {
    PopupBox,
    Loader
  },
  data: function() {
    return {
      showConfirmationBox: false,
      confirmationPagePopupProps: {
        open: true,
        title: "",
        message: "",
        resendMail: false,
        persist: true
      },
      check: 0
    };
  },
  methods: {
    confirmCallBack: function() {
      const self = this;
      const route = this.$route;
      let token = JSON.stringify({
        token: route.query.token
      });
      this.$http({
        method: SYSTEM_CONSTANT.METHOD.POST,
        url: SYSTEM_CONSTANT.BASE_URL.CONFIRM_EMAIL_API_URL,
        headers: {
          "content-type": SYSTEM_CONSTANT.HEADERS.TYPE.APPLICATION_JSON
        },
        data: token
      })
        .then(function(response) {
          if (response.status === 200) {
            self.showConfirmationBox = true;
            self.confirmationPagePopupProps.message =
              SYSTEM_CONSTANT.EMAIL_VERIFICATION.SUCCESS;
            self.confirmationPagePopupProps.title =
              SYSTEM_CONSTANT.POPUP.SUCCESS_MESSAGE;
            self.confirmationPagePopupProps.resendMail = false;
            self.check++;
          } else {
            self.showConfirmationBox = true;
            self.confirmationPagePopupProps.message =
              SYSTEM_CONSTANT.EMAIL_VERIFICATION.FAILURE;
            self.confirmationPagePopupProps.title =
              SYSTEM_CONSTANT.POPUP.FAILURE_MESSAGE;
            self.confirmationPagePopupProps.resendMail = true;
            self.check++;
          }
        })
        .catch(function() {
          self.showConfirmationBox = true;
          self.confirmationPagePopupProps.message = "Please resend email";
          self.confirmationPagePopupProps.resendMail = true;
          self.check++;
        });
    },
    onClosing: function() {
      const self = this;
      const route = self.$route;
      let user_type = parseInt(route.query.user_type);
      localStorage.setItem("message", JSON.stringify("Email Confirmed"));
      if (user_type === 3)
        self.$router.push({ name: "candidate" }).catch(function() {});
      else if (user_type === 2)
        self.$router.push({ name: "employer" }).catch(function() {});
      else self.$router.push({ name: "landingPage" }).catch(function() {});
    },
    onConfirmSuccess: function() {
      const self = this;
      const route = self.$route;
      let user_type = parseInt(route.query.user_type);
      localStorage.setItem("message", JSON.stringify("Email Confirmed"));
      if (user_type === 2)
        self.$router.push({ name: "employer" }).catch(function() {});
      else self.$router.push({ name: "candidate" }).catch(function() {});
    },
    resendConfirmationMail: function(email) {
      const self = this;
      let data = JSON.stringify({
        email: email,
        email_type: 'verification'
      });
      self.showConfirmationBox = false;
      self
        .$http({
          method: SYSTEM_CONSTANT.METHOD.POST,
          url: SYSTEM_CONSTANT.BASE_URL.RESEND_EMAIL_API_URL,
          headers: {
            "content-type": SYSTEM_CONSTANT.HEADERS.TYPE.APPLICATION_JSON
          },
          data: data
        })
        .then(function(response) {
          if (response.status === 200) {
            self.showConfirmationBox = true;
            self.confirmationPagePopupProps.message =
              SYSTEM_CONSTANT.RESEND_EMAIL.SUCCESS;
            self.confirmationPagePopupProps.title =
              SYSTEM_CONSTANT.POPUP.SUCCESS_MESSAGE;
            self.confirmationPagePopupProps.resendMail = false;
            self.check++;
          } else {
            self.showConfirmationBox = true;
            self.confirmationPagePopupProps.message =
              SYSTEM_CONSTANT.RESEND_EMAIL.FAILURE;
            self.confirmationPagePopupProps.title =
              SYSTEM_CONSTANT.POPUP.FAILURE_MESSAGE;
            self.confirmationPagePopupProps.resendMail = false;
            self.check++;
          }
        })
        .catch(function() {
          self.showConfirmationBox = true;
          self.confirmationPagePopupProps.message =
            SYSTEM_CONSTANT.RESEND_EMAIL.FAILURE;
          self.confirmationPagePopupProps.title =
            SYSTEM_CONSTANT.POPUP.FAILURE_MESSAGE;
          self.confirmationPagePopupProps.resendMail = false;
          self.check++;
        });
    }
  },

  mounted: function() {
    this.confirmCallBack();
  }
};
</script>

<style scoped></style>
