<template>
  <div class="">
    <div v-if="!noData" class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 no-padding job-list-page-wrapper"
      >
        <div class="job-list-wrapper">
          <!-- <div class="row header-text">Applied Jobs</div> -->
          <div class="row job-list" :key="changeJob">
            <div
              v-bind:class="{ activeJob: isActive(index) }"
              class="job"
              :key="index"
              v-for="(job, index) in jobs"
            >
              <job-single
                v-bind:job="job"
                v-on:view="viewThisJob(job, index)"
                v-on:favorite="changeFavJobStatus(true, index)"
                v-on:remove="changeFavJobStatus(false, index)"
              >
              </job-single>
            </div>
          </div>
        </div>
        <div class="loadMore-wrapper" v-if="lastKey">
          <div v-if="lastKey">
            <span v-if="!loading" @click="loadMoreJobs" class="loadMore"
              >Load More</span
            >
            <v-progress-circular
              v-else
              :size="20"
              :width="2"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-9 col-xl-9 job-preview-wrapper"
        v-if="!phone"
      >
        <div :key="changeView" class="job-preview">
          <job-preview
            v-bind="viewJobProps"
            v-on:applied="changeStatus"
            v-on:saved="changeSaveJobStatus"
          ></job-preview>
        </div>
      </div>
    </div>
    <div v-if="noData && errMsg" class="row no-padding">
      <div
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 no-padding job-list-page-wrapper"
      >
        <div class="job-list-wrapper"></div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-9 col-xl-9 job-preview-wrapper">
        <div class="job-preview absolute-center-column" style="width:100%;heigth:100%;">
          <img class="no-result-image" src="@/assets/newDesign/noInfo.gif" />
          <div class="no-result-color">
            <b>Sorry {{ errMsg }}</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JobSingle from "../job-single-view";
import JobPreview from "../job-preview";
import { CANDIDATE_ACTION_GET } from "../../../../Api/candidate_api";
import { GET_JOB_DETAILS } from "../../../../Api/common_api";
import { PHONE } from "../../../../globalFunctions";
export default {
  name: "applied-jobs",
  components: {
    JobSingle,
    JobPreview,
  },
  data: function () {
    return {
      phone: PHONE(),
      noData: true,
      errMsg: "",
      jobs: [],
      viewJobProps: {},
      changeView: 0,
      changeJob: 0,
      currentIndex: null,
      lastKey: null,
      loading: false,
    };
  },

  methods: {
    loadMoreJobs: function () {
      const self = this;
      self.loading = true;
      let action = "applied";
      CANDIDATE_ACTION_GET(action, self.lastKey)
        .then(function (data) {
          let i;
          if (data.jobs) {
            for (i = 0; i < data.jobs.length; i++) {
              self.jobs.push(data.jobs[i]);
            }
          }
          if (data.last_evaluated_key) {
            self.lastKey = data.last_evaluated_key;
          } else {
            self.lastKey = null;
          }
          self.noData = false;
          self.loading = false;
          self.changeJob++;
        })
        .catch(function (err) {
          self.noData = true;
          self.errMsg = err.message;
        });
    },
    getAllAppliedJobs: function () {
      const self = this;
      let action = "applied";
      CANDIDATE_ACTION_GET(action)
        .then(function (data) {
          self.jobs = data.jobs;
          if (self.jobs.length > 0) {
            self.viewThisJob(self.jobs[0], 0);
            self.noData = false;
            if (data.last_evaluated_key) {
              self.lastKey = data.last_evaluated_key;
            }
          } else {
            self.noData = true;
            self.errMsg = "You have no applied jobs";
          }
        })
        .catch(function (err) {
          self.noData = true;
          self.errMsg = err.message;
        });
    },
    viewThisJob: function (job, index) {
      const self = this;
      GET_JOB_DETAILS(job.job_id)
        .then(function (data) {
          self.viewJobProps.appliedJob = true;
          self.viewJobProps.job = data;
          self.changeView++;
          self.currentIndex = index;
        })
        .catch(function () {
          // alert(err);
        });
    },
    changeStatus() {
      let changedIndex = this.currentIndex;
      if (this.jobs.length === changedIndex + 1) {
        changedIndex = 0;
      }
      if (this.jobs.length === 2) {
        if (this.lastKey) {
          this.loadMoreJobs();
        }
      }
      this.jobs.splice(this.currentIndex, 1);
      if (this.jobs.length === 0) {
        this.noData = true;
        this.errMsg = "You have no applied jobs";
      } else {
        this.viewThisJob(this.jobs[changedIndex], changedIndex);
        this.changeJob++;
      }

      // this.getAllAppliedJobs();
    },
    changeSaveJobStatus(status) {
      this.jobs[this.currentIndex].favorite = status;
      this.changeJob++;
    },
    changeFavJobStatus(status, index) {
      this.jobs[index].favorite = status;
      if (this.currentIndex === index) {
        this.viewJobProps.job.favorite = status;
        this.changeView++;
      }
      this.changeJob++;
    },
    isActive(index) {
      return this.currentIndex === index;
    },
  },
  mounted() {
    const self = this;
    self.getAllAppliedJobs();
  },
};
</script>

<style scoped>
.no-result {
  margin: 2.5rem !important;
  height: 80vh;
  /*border: 1px solid #fc3832;*/
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.16);
}
.no-result-color {
  margin-top: 1rem;
  font-size: 2.4rem;
  color: var(--button-delete-color);
  text-align: center;
}
.no-result-image {
  width: 40rem;
}
.applied-jobs {
  margin: 2rem !important;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.header-text {
  background-color: #fafafa;
  padding: 1.5rem;
  position: absolute;
  top: -1px;
  z-index: 2;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #050405;
}
.job-list-wrapper {
  height: 100%;
  overflow: auto;
  background-color: white;
  width: 100%;
  border-radius: 0.7rem;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid #d9d9d9;
}
.job-list-page-wrapper {
  height: calc(100vh - 16rem);
  position: relative;
}
.job-list-wrapper::-webkit-scrollbar {
  width: 0.3rem;
}
.job-list {
  background-color: #ffffff;
}
.job {
  width: 100%;
  cursor: pointer;
}
.job-preview-wrapper {
  padding-left: 2rem;
}
.job-preview {
  height: 100%;
  background-color: white;
  border: 1px solid #d9d9d9;
  height: calc(100vh - 16rem);
  overflow: hidden;
  border-radius: 0.7rem;
}
.job-preview::-webkit-scrollbar {
  width: 0.3rem;
}
.loadMore-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 0 0 0.7rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loadMore {
  background-color: var(white);
  padding: 1rem;
  color: var(--link-color);
  font-size: 1.4rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .applied-jobs {
    margin: 0px !important;
  }
  .top-bar {
    padding-right: 2rem;
  }
  .page-container {
    padding-top: 1.5rem;
  }
  .search-results {
    margin-top: 0px !important;
  }
  .job-preview-wrapper {
    height: 100vh;
  }
  .container {
    width: 100%;
  }
}
</style>
