<template>
  <div class="">
     <div class="jobPageH">
        Jobs from {{ company_name }}
      </div>
      <div class="jobPageP" style="margin-bottom:3rem">
        All Jobs from {{ company_name }}
      </div>
    <div v-if="!noData" class="row">
     
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-padding">
        <div class="job-list-wrapper">
          <!-- <div class="row header-text">Jobs from {{ company_name }}</div> -->
          <div class="row job-list" :key="changeJob">
            <div
              v-bind:class="{ activeJob: isActive(index) }"
              class="job"
              :key="index"
              v-for="(job, index) in jobs"
            >
              <job-single
                v-bind:job="job"
                v-on:view="viewThisJob(job, index)"
                v-on:favorite="changeFavJobStatus(true, index)"
                v-on:remove="changeFavJobStatus(false, index)"
              >
              </job-single>
            </div>
          </div>
        </div>
        <div class="loadMore-wrapper">
          <div v-if="lastKey">
            <span v-if="!loading" @click="loadMoreJobs" class="loadMore"
              >Load More</span
            >
            <v-progress-circular
              v-else
              :size="20"
              :width="2"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-9 col-xl-9 job-preview-wrapper"
        v-if="!phone"
      >
        <div :key="changeView" class="job-preview">
          <job-preview
            v-bind="viewJobProps"
            v-on:applied="changeStatus"
            v-on:saved="changeSaveJobStatus"
          ></job-preview>
        </div>
      </div>
    </div>
    <div v-if="noData && errMsg" class="row no-result no-padding">
      <div class="mx-auto my-auto">
        <img src="../../../../assets/newDesign/notFound.svg" />
        <div class="no-result-color">
          <b>Sorry {{ errMsg }}</b>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JobSingle from "../job-single-view";
import JobPreview from "../job-preview";
import {
  GET_JOB_DETAILS,
  JOBS_FROM_SAME_COMPANY
} from "../../../../Api/common_api";
import { PHONE } from "../../../../globalFunctions";
export default {
  name: "applied-jobs",
  components: {
    JobSingle,
    JobPreview
  },
  data: function() {
    return {
      phone: PHONE(),
      company_name: null,
      company_id: null,
      noData: true,
      errMsg: "",
      jobs: [],
      viewJobProps: {},
      changeView: 0,
      changeJob: 0,
      currentIndex: null,
      lastKey: null,
      loading: false
    };
  },

  methods: {
    loadMoreJobs: function() {
      const self = this;
      self.loading = true;
      JOBS_FROM_SAME_COMPANY(self.company_id, self.lastKey)
        .then(function(data) {
          let i;
          if (data.jobs) {
            for (i = 0; i < data.jobs.length; i++) {
              self.jobs.push(data.jobs[i]);
            }
          }
          if (data.last_evaluated_key) {
            self.lastKey = data.last_evaluated_key;
          } else {
            self.lastKey = null;
          }
          self.noData = false;
          self.loading = false;
          self.changeJob++;
        })
        .catch(function(err) {
          self.noData = true;
          self.errMsg = err.message;
        });
    },
    getAllAppliedJobs: function() {
      const self = this;
      JOBS_FROM_SAME_COMPANY(self.company_id)
        .then(function(data) {
          self.jobs = data.jobs;
          if (self.jobs.length > 0) {
            self.viewThisJob(self.jobs[0], 0);
            self.noData = false;
            if (data.last_evaluated_key) {
              self.lastKey = data.last_evaluated_key;
            }
          } else {
            self.noData = true;
            self.errMsg = "You have no applied jobs";
          }
        })
        .catch(function(err) {
          self.noData = true;
          self.errMsg = err.message;
        });
    },
    viewThisJob: function(job, index) {
      const self = this;
      GET_JOB_DETAILS(job.job_id)
        .then(function(data) {
          self.viewJobProps.sameComp = true;
          self.viewJobProps.job = data;
          self.changeView++;
          self.currentIndex = index;
        })
        .catch(function() {
          // alert(err);
        });
    },
    changeStatus() {
      this.jobs[this.currentIndex].applied = status;
      this.changeJob++;
    },
    changeSaveJobStatus(status) {
      this.jobs[this.currentIndex].favorite = status;
      this.changeJob++;
    },
    changeFavJobStatus(status, index) {
      this.jobs[index].favorite = status;
      if (this.currentIndex === index) {
        this.viewJobProps.job.favorite = status;
        this.changeView++;
      }
      this.changeJob++;
    },
    isActive(index) {
      return this.currentIndex === index;
    }
  },
  mounted() {
    const self = this;
    let company = self.$route.params;
    self.company_name = company.cn;
    self.company_id = company.cid;
    self.getAllAppliedJobs();
  }
};
</script>

<style scoped>
.no-result {
  margin-top: 2.5rem !important;
  height: 80vh;
  background-color: #ffffff;
}
.no-result-color {
  color: #bbbec1;
}
.applied-jobs {
  border-radius: 0.8rem;

  background-color: #ffffff;
}
.header-text {
  background-color: #fafafa;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #050405;
}
.job-list-wrapper {
  height: calc(100vh - 16rem);
  overflow: auto;
  background-color: #ffffff;
  border-radius: 0.7rem;
  padding-bottom:50px;
  border: 1px solid #d9d9d9;
}
.job-list-wrapper::-webkit-scrollbar {
  width: 0.3rem;
}
.job-list {
  padding: 0 0 4rem 0;
  background-color: #ffffff;
}
.job {
  width: 100%;
  cursor: pointer;
}
.job-preview-wrapper {
  height: calc(100vh - 16rem);
}
.job-preview {
  background-color: white;
  border: 1px solid #d9d9d9;
  height: calc(100vh - 16rem);
  overflow: hidden;
  border-radius: 0.7rem;
}
.job-preview::-webkit-scrollbar {
  width: 0.3rem;
}
.loadMore-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: 0;
  padding: 0.2remx 0;
  background-color: white;
}
.loadMore {
  border: 0.1rem transparent;
  border-radius: 0.3rem;
  background-color: var(--button-color);
  padding: 1rem;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .job-preview-wrapper {
    height: auto;
    padding: 0;
  }
  .job-list-wrapper {
    height: auto;
  }
}
</style>
