<template>
  <div>
    <div v-if="!showForm">
      <div class="text-left p-3">
        <button @click="openFormAdmin" class="btn btn-prv-outline">Add New Admin</button>
      </div>
      <div>
        <div :key="index" v-for="(admin, index) in admins">
          <admin-card
            v-bind:admin="admin"
            v-bind:adminActions="admin_actions"
          ></admin-card>
        </div>
      </div>
    </div>
    <div v-else>
      <admin-add
        :key="check"
        v-bind:adminActions="admin_actions"
        v-on:close-form="closeFormAdmin"
      ></admin-add>
    </div>
  </div>
</template>

<script>
    import {GET_ALL_ADMINS} from "../../../Api/admin_api";
    import AdminCard from "./admin-card";
    import AdminAdd from "./admin-add";
    export default {
        name: "main",
        components: {
            AdminCard,
            AdminAdd
        },
        data: function () {
            return {
                admins: [],
                admin_actions: {},
                check: 0,
                showForm: false
            }
        },
        methods: {
            openFormAdmin(){
              const self = this;
              self.showForm = true;
            },
            closeFormAdmin(){
                const self = this;
                self.showForm = false;
            },
            getAdmins(){
                const self = this;
                GET_ALL_ADMINS().then(function (resp) {
                    self.admins = resp.data.users;
                    self.admin_actions = resp.data.actions
                    self.check++;
                }).catch(function () {
                })
            }
        },
        mounted(){
            const self = this;
            self.getAdmins();
        }
    }
</script>

<style scoped>

</style>