<template>
  <div>
    <v-dialog
      v-model="openBox"
      max-width="82.0rem"
      @keydown.esc="closeBox"
      :persistent="persistBox"
    >
      <!-- <v-card class="card-padding" max-width="100%">
        <div class="heading-text">
          Submit Application
        </div>
        <div v-if="profileCompletionStatus.percentages < 100" class="">
          <div
            style="font-size: 1.6rem; text-align: left; margin-top: 1rem; color: #050505"
          >
            Your profile is
            <b>{{ profileCompletionStatus.percentages + "%" }}</b> complete.
          </div>
          <div class="info-text">
            An incomplete profile appears on the bottom of the list. Check your
            dashboard to see what is missing.
          </div>
        </div>
        <div
          v-if="
            profile_status_items[0].toLowerCase() !==
              profile_status.toLowerCase()
          "
          class=""
        >
          <div
            style="font-size: 1.6rem; text-align: left; margin-top: 1rem; color: #050505"
          >
            Your profile status is set to <b>{{ profile_status }}</b
            >.
          </div>
          <div class="info-text">
            Setting your profile status to
            <b>{{ profile_status_items[0] }}</b> increases your chance to get
            hired while setting your profile status to
            <b>{{ profile_status }}</b> decreases your chance to appear top on
            the list. You can change your profile status from the dropdown
            below:
          </div>
        </div>
        <div class="row" style="margin-top: 2rem !important;">
          <div class="col-6" style="padding-left: 0">
            <v-text-field
              v-model="phone"
              label="Contact Number"
              prepend-inner-icon="mdi-phone"
              :error-messages="phoneErrors"
            >
            </v-text-field>
          </div>
          <div class="col-6">
            <v-select
              :items="profile_status_items"
              v-model="profile_status"
              label="Profile Status"
              :error-messages="statusErrors"
            ></v-select>
          </div>
        </div>
        <div class="info-text">
          *Remember this action will update your current profile status and
          contact number.
        </div>
        <div style="text-align: left; padding-right: 1.5rem; margin-top: 2rem">
          <button @click="closeBox" class="btn btn-close">Cancel</button>
          <button
            style="margin-left: 1rem"
            @click="onButtonClick"
            class="btn btn-next"
          >
            Submit
          </button>
        </div>
      </v-card> -->
      <div class="row align-items-center customPopup" style="  background-color: #f2f3f8;">
        <div class="col-sm-6 popUpInd popUpLeft">
          <div class="popUpHeader">Your profile is {{profileCompletionStatus.percentages}}% complete</div>
          <div class="popUpText">
           An incomplete profile appears on the bottom of the list. Check your dashboard to see what is missing.
          </div>
        </div>
        <div class="col-sm-6 popUpInd" style="background-color:white">
          <div class="popUpH">Submit Job Application</div>
          <div style="margin-top:4rem;margin-bottom:3rem">
            <v-text-field
              v-model="phone"
              label="Contact Number"
              prepend-inner-icon="mdi-phone"
              :error-messages="phoneErrors"
            >
            </v-text-field>
            <v-select
              :items="profile_status_items"
              v-model="profile_status"
              label="Profile Status"
              :error-messages="statusErrors"
            ></v-select>
          </div>
          <div class="row">
            <button @click="onButtonClick" class="btn btn-save">
            Submit
          </button>
          <button @click="closeBox" class="btn btn-outline" style="margin-left:1rem">
            Cancel
          </button>
          </div>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import * as SYSTEM_CONST from "../../globalConstants";
import { required, helpers } from "vuelidate/lib/validators";
import { SAVE_USER_DEMOGRAPHIC_INFO } from "../../Api/candidate_api";
const phone_validator = helpers.regex(
  "phone_validator",
  /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/
);
export default {
  name: "notification-box",
  validations: {
    phone: {
      required,
      phone_validator
    },
    profile_status: {
      required
    }
  },
  props: {
    open: Boolean,
    persist: Boolean
  },
  data: function() {
    return {
      openBox: this.open,
      persistBox: this.persist || false,
      user: this.$constants.getOwnerInfo(),
      phone: "",
      profile_status: "",
      profile_status_items: [
        "Actively searching",
        "Casually searching",
        "Not searching, but open to inquiry",
        "Not searching"
      ],
      prev_phone: null,
      prev_profile_status: null,
      profileCompletionStatus: {}
    };
  },
  methods: {
    closeBox: function() {
      const self = this;
      self.openBox = false;
      self.$emit("close");
    },
    onButtonClick: function() {
      const self = this;
      self.$v.$touch();
      if (!self.$v.$anyError) {
        if (
          self.prev_profile_status.toLowerCase() !==
          self.profile_status.toLowerCase()
        ) {
          let data = {
            profile_status:
              self.profile_status_items.indexOf(self.profile_status) + 1
          };
          SAVE_USER_DEMOGRAPHIC_INFO(data)
            .then(function() {
              let user = JSON.parse(localStorage.getItem("user"));
              user.profile_status =
                self.profile_status_items.indexOf(self.profile_status) + 1;
              localStorage.setItem("user", JSON.stringify(user));
            })
            .catch();
        }
        if (self.phone.toLowerCase() !== self.prev_phone.toLowerCase()) {
          let data2 = {
            phone: self.phone
          };
          SAVE_USER_DEMOGRAPHIC_INFO(data2)
            .then(function() {
              let user = JSON.parse(localStorage.getItem("user"));
              user.phone = self.phone;
              localStorage.setItem("user", JSON.stringify(user));
            })
            .catch();
        }
        self.openBox = false;
        self.$emit("apply");
      }
    }
  },
  mounted() {
    const self = this;
    self.phone = self.user.phone || "";
    self.prev_phone = self.phone;
    self.profile_status =
      self.profile_status_items[self.user.profile_status - 1];
    self.prev_profile_status = self.profile_status;
    self.profileCompletionStatus = JSON.parse(
      localStorage.getItem("completeness")
    );
  },
  computed: {
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.phone_validator &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.PHONE_INVALID);
      !this.$v.phone.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    statusErrors() {
      const errors = [];
      if (!this.$v.profile_status.$dirty) return errors;
      !this.$v.profile_status.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    }
  }
};
</script>

<style scoped>
.card-padding {
  border: 0.1rem solid #cccccc !important;
  padding: 3rem;
}
.heading-text {
  font-size: 3.6rem;
  line-height: 1.5;
  text-align: left;
  color: #050405;
}
.info-text {
  font-size: 1.2rem;
  text-align: left;
  color: #3d4249;
}
.email-box-padding {
  margin-top: 1.6rem !important;
}
.next {
  color: #fff !important;
  width: 10.6rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  background-color: var(--button-color);
  box-shadow: none !important;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.next-button {
  margin-top: 0.4rem;
  text-align: right;
}
.dont-acc {
  opacity: 0.7;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #050505;
}
.sign-up {
  cursor: pointer;
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0766ff;
}
</style>
