<template>
  <div class="info-card">
    <!--<div class="menu">-->
    <!--<v-menu left>-->
    <!--<template v-slot:activator="{ on }">-->
    <!--<v-btn dark icon v-on="on">-->
    <!--<v-icon color="#3d4249" size="32">more_horiz</v-icon>-->
    <!--</v-btn>-->
    <!--</template>-->

    <!--<v-list>-->
    <!--<v-list-tile v-for="(item, i) in items" :key="i">-->
    <!--<v-list-tile-title>{{ item.title }}</v-list-tile-title>-->
    <!--</v-list-tile>-->
    <!--</v-list>-->
    <!--</v-menu>-->
    <!--</div>-->
    <div
      class="pc"
      style="padding-left: 1.8rem; width: 6.5rem"
      v-if="title === `Search Appearance`"
    >
      <img
        src="@/assets/newContent/search-ai.svg"
        style="width: 100%; heigth: auto"
      />
    </div>
    <div
      class="pc"
      style="padding-left: 1.8rem"
      v-else-if="title === `Profile Viewed`"
    >
      <CustomIcon name="all-seeing-eye" size="4" color="#00ADEE" />
    </div>
    <div class="pc" style="padding-left: 1.8rem; margin-left: 1rem" v-else>
      <CustomIcon name="nav-applied-jobs" size="4.2" color="#f57979" />
    </div>

    <div class="info-info-container" >
      <div class="info-card-header">{{ title }}</div>
      <div class="info-card-number">
        <animated-number
          :value="count"
          :duration="1000"
          :formatValue="format"
        />
      </div>
    </div>
    <!--<div class="info-card-header-under">(this year)</div>-->
  </div>
</template>

<script>
import AnimatedNumber from "animated-number-vue";
import CustomIcon from "../global-components/customIcon";
export default {
  name: "dashboard-card",
  components: {
    AnimatedNumber,
    CustomIcon,
  },
  props: {
    title: String,
    count: Number,
  },
  data: function () {
    return {};
  },
  methods: {
    format(value) {
      return value.toFixed(0);
    },
  },
};
</script>

<style scoped>
.info-card {
  width: 24rem;
  border-radius: 70px;
  border: solid 1px #e0e0e0;
  margin: 1.5rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}
.info-card-header {
  padding: 0rem 1rem 1rem 1.8rem;
  padding-bottom: 0.5rem;

  font-size: 1.4rem;
  line-height: 1.25;
  letter-spacing: -0.5px;
  text-align: left;
  color: #707070;
}
/* .info-card-header-under {
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: left;
  color: #050505;
} */
.info-card-number {
  padding: 0rem 0rem 0rem 1.8rem;
  padding-top: 0rem;
  font-size: 1.8rem;
  line-height: 1.25;
  text-align: left;
  color: #172b4d;
}
.info-info-container {
  border-left: 1px solid #e2e2e2;
  margin: 1.4rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .pc{
    display: none;
  }
  .info-card {
    border-radius: none;
    border: none;
  }
  .info-info-container{
    flex-direction: column-reverse;
  }
}
</style>
