
<template>
  <div>
    <transition name="fade">
      <div class="dropdown-new" v-if="val" v-click-outside="onClickOutside">
        <slot> </slot>
      </div>
    </transition>
  </div>
</template>


<script>
import vClickOutside from "v-click-outside";
export default {
  directives: {
    clickOutside: vClickOutside.directive,
  },
  data() {
    return {
      val: false,
    };
  },
  methods: {
    onClickOutside() {
      if (this.val) this.val = false;
    },
    open() {
      this.val = true;
    },
    close() {
      this.val = false;
    },
  },
};
</script>

<style scoped>
.dropdown-new {
  background: white;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.16);
  padding: 2rem;;
}
.show {
  display: flex;
  transition: width 2s linear 1s;
}
.hide {
  display: none;
  transition: width 2s linear 1s;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>