<template>
  
    <div class="loaderComp">
      <img src="@/assets/static_content/loader.svg" />
    </div>
  
</template>

<script>
export default {
  name: "loader"
};
</script>

<style scoped>
  .loaderComp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
