<template>
  <div class="noInfo absolute-center-column">
      <img src="@/assets/newDesign/noInfo.gif" style="width:35rem;height:auto"/>
      <div class="btn btn-outline" @click="clickEvent">
          <span style="margin-right:1rem;"><CustomIcon name="plus-add" size="0.87" genericColor/></span>
          <span>{{Name}}</span>
      </div>
  </div>
</template>

<script>
import CustomIcon from "./customIcon"
export default {
    components:{
        CustomIcon
    },
    props:{
        name:{
            type:String,
            default:"Add"
        }
    },
    data:()=>({
        Name:""
    }),
    methods:{
        clickEvent(){
            this.$emit("click")
        }
    },
    mounted() {
        this.Name="Add "+this.name
    }
}
</script>

<style scoped>
    .noInfo{
        width: 100%;
        height: 100%;
    }
</style>