<template>
  <div>
    <v-dialog
      v-model="openBox"
      max-width="54.0rem"
      @keydown.esc="closeBox"
      :persistent="persistBox"
    >
      <v-card class="card-padding" max-width="100%">
        <div class="heading-text">
          {{ header }}
        </div>
        <div class="body-text">
          {{ body }}
        </div>
        <div v-if="isResendEmailProp">
          <div class="row email-box-padding">
            <div class="col-12 no-padding">
              <v-text-field
                v-model="email"
                label="Email address"
                type="email"
                :error-messages="emailErrors"
                prepend-inner-icon="mail"
              >
              </v-text-field>
            </div>
            <div class="col-3 next-button">
              <!--<button @click="onResendEmail" class="btn next">NEXT</button>-->
            </div>
          </div>
          <div class="next-button">
            <button @click="onResendEmail" class="btn next">SUBMIT</button>
          </div>
          <!--<div class="row"><span class="dont-acc">Don't have an account?</span><span @click="" class="sign-up">SIGN UP</span></div>-->
        </div>
        <div style="margin-top: 3.2rem" v-if="isResendEmailProp === false">
          <button @click="onButtonClick" class="btn next">OK</button>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import * as SYSTEM_CONST from "../../globalConstants";
import {
  required,
  email,
  minLength,
  maxLength
} from "vuelidate/lib/validators";
export default {
  name: "notification-box",
  validations: {
    email: {
      required,
      email,
      minLength: minLength(4),
      maxLength: maxLength(64)
    }
  },
  props: {
    open: Boolean,
    title: String,
    message: String,
    resendMail: Boolean,
    isConfirmationMail: Boolean,
    persist: Boolean
  },
  data: function() {
    return {
      email: "",
      openBox: this.open,
      header: this.title,
      body: this.message,
      isResendEmailProp: this.resendMail,
      persistBox: this.persist || false
    };
  },
  methods: {
    closeBox: function() {
      const self = this;
      self.openBox = false;
      self.$emit("box-closed");
    },
    onButtonClick: function() {
      const self = this;
      self.openBox = false;
      self.$emit("button-clicked");
    },
    onResendEmail: function() {
      const self = this;
      self.$v.$touch();
      if (!self.$v.$anyError) {
        self.$emit("resend-email", self.email);
      }
    },
    resetMail: function() {
      this.email = "";
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.EMAIL_INVALID);
      !this.$v.email.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.email.minLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.EMAIL_INVALID);
      !this.$v.email.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.EMAIL_INVALID);
      return errors;
    }
  },

  watch: {
    openBox(val) {
      !val && this.resetMail();
    }
  }
};
</script>

<style scoped>
.card-padding {
  border: 0.1rem solid #cccccc !important;
  padding: 4.8rem 3rem;
  height: 31.4rem;
}
.heading-text {
  font-size: 3.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #050405;
}
.body-text {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #050505;
}
.email-box-padding {
  margin-top: 1.6rem !important;
}
.next {
  color: #fff !important;
  width: 10.6rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  background-color: var(--button-color);
  box-shadow: none !important;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}
.next-button {
  margin-top: 0.4rem;
  text-align: right;
}
.dont-acc {
  opacity: 0.7;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #050505;
}
.sign-up {
  cursor: pointer;
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0766ff;
}
</style>
