<template>
  <div class="search-tab" @click="search">
    {{ capitalize(capsule) }}
  </div>
</template>

<script>
import { FIRST_LETTER_CAPITAL } from "../../filters";

export default {
  name: "search-capsule",
  props: {
    capsule: String,
    value: Number
  },
  data: function() {
    return {
      capitalize: FIRST_LETTER_CAPITAL
    };
  },
  methods: {
    search() {
      this.$router
        .push({ name: "publicSearch", params: { q: this.capsule } })
        .catch(function() {});
    }
  }
};
</script>

<style scoped>
.search-tab {
  float: left;
  height: 3.2rem;
  padding: 0rem 2.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 14.5rem;
  border: 1px solid var(--tab-border);
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color:var(--header-font);
  transition:0.4s;
}
.capsule {
  font-size: 1.4rem;
}
.search-tab:hover {
  background-color: var(--new-secondary-color);
  transition:0.4s;
  color:var(--header-font-light);
}
</style>
