<template>
  <div style="width: 100%; position: relative">
    <v-form ref="form" @submit.prevent="onSubmitSearch">
      <span class="search-icon"
        ><v-icon style="font-size: 2rem; color: var(--action-button-color)"
          >fa-search</v-icon
        ></span
      >
      <div class="input-group search-job-input-field">
        <input
          v-model="key"
          type="text"
          class="form-control"
          :placeholder="placeholder"
        />
        <div @click="onSubmitSearch" class="input-group-append">
          <div class="find-jobs-button" align="middle">
            <!-- <v-icon style="color:white;font-size:2.5rem" v-if="phone"
              >search</v-icon> -->
            <b>SEARCH</b>
          </div>
        </div>
      </div>
      <!-- <div v-bind:class="{errS: key.length === 50}" style="margin-left: 3.6rem; padding: 0.2rem;position:absolute; text-align: left; font-size: 1.2rem; color: #cccccc">{{key.length}}/50</div> -->
    </v-form>
    <div style="position: absolute; top: 7rem; left: 4rem">
      <tips-wrapper ref="tips">
        <div>
          Please type a keyword to start a search. For example, you can search
          for "Software Engineer" or "Senior Merchandiser" etc.
        </div>
      </tips-wrapper>
    </div>
  </div>
</template>

<script>
import { PHONE } from "../../globalFunctions";
import TipsWrapper from "../global-components/tipswrapper";
export default {
  name: "search-component",
  components: {
    TipsWrapper,
  },
  props: {
    placeholder: {
      type: String,
      default: "Job title, keywords, or company",
    },
    value: {
      type: String,
      default: "",
    },
  },
  data: function () {
    return {
      phone: PHONE(),
      key: "",
    };
  },
  methods: {
    onSubmitSearch() {
      if (this.key === "") this.searchtips();
      else if (
        this.key.trim() &&
        this.key.trim().length > 0 &&
        this.key.trim().length <= 50
      ) {
        this.$emit("search", this.key.trim());
      }
    },
    searchtips() {
      this.$refs.tips.open();
    },
  },
  watch: {
    key(newQ, oldQ) {
      if (newQ.length > 50) {
        this.key = oldQ;
      }
    },
  },
  mounted() {
    this.key = this.value;
  },
};
</script>

<style scoped>
.errS {
  color: var(--button-delete-color) !important;
}
.search-icon {
  position: absolute;
  color: var(--action-button-color);
  top: 2.1rem;
  left: 1.3rem;
  z-index: 80;
  padding-left: 2.69rem;
  padding-right: 2.01rem;
  border-right: 1px solid #c2c2c2;
}
.form-control {
  padding-left: 10rem;
  max-width: 79.8rem;
  height: 6.1rem;
  position: relative;
  border-radius: 1rem !important;
  border: 1px solid #c5c5c5 !important;
  background-color: #fff !important;
  font-size: 2rem;
}
.form-control:focus {
  box-shadow: none !important;
  /*outline: none !important;*/
  /*border: none !important;*/
}
.find-jobs-button {
  margin-left: -17rem;
  cursor: pointer;
  width: 14.6rem;
  height: 4.2rem;
  border-radius: 2.4rem;
  background-color: var(--button-color);
  color: white;
  z-index: 80;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
@media (max-width: 800px) {
  .form-control {
    width: 100%;
    max-width: 100%;
    font-size: 1.4rem;
    height: 4.6rem;
    padding-left: 5.5rem;
  }
  .find-jobs-button {
    width: 8rem;
    height: 3rem;
    font-size: 1.4rem;
    margin-left: -9rem;
  }
  .search-icon {
    position: absolute;
    color: var(--action-button-color);
    top: 1.2rem;
    left: 0rem;
    z-index: 80;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px solid #c2c2c2;
  }
  /* .find-jobs-button {
    width: 4.5rem;
    margin-left: -6rem;
  } */
}
</style>
