<template>
  <div class="row job_card" @click="view">
    <div class="logoWrapper">
      <img class="logo" :src="image_url" />
    </div>
    <div class="col-10 no-padding">
      <div class="details">
        <div class="job_card_header uper">{{ Designation }}</div>
        <div class="job_card_header under">{{ Company }}</div>
        <div class="job_card_header under_under">{{ Location }}</div>
        <div class="apply_button" @click="view">View</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    job: {
      default: function() {
        return {
          job_tittle: "",
          company_name: "",
          location_name: "",
          image_url: ""
        };
      },
      type: Object
    }
  },
  data: function() {
    return {
      Designation: "",
      Company: "",
      Location: "",
      image_url: require("@/assets/newDesign/logo2.svg")
    };
  },
  methods: {
    view: function() {
      this.$router
        .push({ name: "topJobView", params: { q: this.job.job_id } })
        .catch(function() {});
    }
  },
  mounted() {
    this.Designation = this.job.job_title ? this.job.job_title : "";
    this.Company = this.job.company_name ? this.job.company_name : "";
    this.Location = this.job.location_name ? this.job.location_name : "";
    this.image_url = this.job.image_url ? this.job.image_url : this.image_url;
  }
};
</script>
<style scoped>
.job_card {
  padding: 1.5rem;
  border-bottom: 0.1rem solid #d9d9d9;
  cursor: pointer;
 
}
.details {
  padding: 0 1.5rem;
}
.job_card_header {
  font-size: 1.8rem;
  text-align: left;
  color: #121212;
  line-height: 1.5;
  overflow: hidden;
}
.uper {
  font-weight: bold;
  height: 2.5rem;
}
.under {
  margin-top: 1rem;
  line-height: 1.25;
  color: #050505;
  font-size: 1.4rem;
}
.under_under {
  font-size: 1.2rem;
  line-height: 1.33;
  color: rgba(5, 5, 5, 0.74);
  margin-bottom: 2.2rem;
}
.apply_button {
  font-size: 1.4rem;
  line-height: 1.25;
  cursor: pointer;
  text-align: left;
  color: var(--link-color);
  margin-bottom: 1rem;
}
.logo {
  width:100%;
  height: auto;
}
.logoWrapper{
  width:9rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  overflow: hidden;
}
</style>
