<template>
  <div class="no-padding">
    <v-icon class="up-bubble" @click="goTop"> keyboard_arrow_up </v-icon>
    <!--eslint-disable-next-line-->
    <div v-if="pub">
      <div :key="changeKey" v-if="showPopup">
        <confirmation-popup
          v-on:on-click-cancel="showPopup = false"
          v-on:on-click-ok="goToSignIn"
          v-bind="popUpProps"
          :title="popUpTittle"
          :ok="(value = `Sign in`)"
        ></confirmation-popup>
      </div>
    </div>
    <div v-if="job" class="job-preview" v-bind:class="[{ pubView: pub }]">
      <div class="row job-preview-header">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-6 job-details-in-short">
          <div class="row top-ttl">
            <div class="job-title">{{ title }}</div>
          </div>
          <div class="company-name">
            {{ company }}
            <span
              @click="removeFromFollowingCompanies"
              v-if="followed"
              class="follow ing"
              >Following</span
            >
            <span @click="followThisJob" v-else class="follow">+ Follow</span>
          </div>
          <div class="company-email" @click="gotolink">{{ website }}</div>
          <!-- <div class="deadline">
            <v-icon
              style="margin-bottom: .3rem; margin-right:.5rem; color: var(--icon-grey-scale-color); font-size:1.3rem;"
              color="#43a046"
              >fa-clock</v-icon
            >
            <span style="margin-right: .5rem">Posted</span>
            <span class="deadline-text">{{ openingDate }}</span>
            <v-icon
              style="margin-bottom: .3rem; margin-right: .5rem; color: var(--icon-grey-scale-color); font-size:1.3rem"
              >fa-clock</v-icon
            >
            <span style="margin-right: .5rem">Deadline</span>
            <span class="deadline-text">{{ deadLine }}</span>
          </div> -->
          <!-- <div v-if="!expired" class="row" style="text-align: left">
            <div style="padding-right: 1.0rem">
              <button
                v-if="applied"
                class="btn btn-close"
                @click="cancelApplication"
              >
                Cancel Application
              </button>
              <button v-else class="btn btn-application" @click="apply">
                Apply
              </button>
            </div>
            <div>
              <button
                v-if="saved"
                class="btn btn-save-new"
                @click="removeFromSavedJobs"
              >
                <v-icon class="icon-color" style="margin-bottom: 0.3rem"
                  >mdi-bookmark</v-icon
                >Saved
              </button>
              <button v-else @click="saveThisJob" class="btn btn-save-new">
                Save
              </button>
            </div>
          </div> -->
          <!--<div-->
          <!--@click="showSameCompaniesJob"-->
          <!--v-if="company_id &&!sameComp&& !public"-->
          <!--class="sim-comp"-->
          <!--&gt;-->
          <!--<a>Show other jobs from this company</a>-->
          <!--</div>-->
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-7 col-xl-6 job-details-in-short phone-view" style="margin-top:1rem"
        >
          <!-- <div
            style="text-align: right"
            class="message-box"
            v-show="applied && allowMessage"
          >
            <v-icon
              @click="onClickContact"
              style="color: var(--button-color); font-size: 3.2rem"
              >mdi-email</v-icon
            >
        
          </div> -->
          <div style="float: right; margin-left: 1rem">
            <div v-if="!expired" class="row" style="text-align: left">
              <div>
                <div
                  v-if="saved"
                  class="bubbleButton"
                  @click="removeFromSavedJobs"
                >
                  <CustomIcon
                    name="nav-saved-jobs"
                    key="1"
                    size="1.7"
                    genericColor
                  />
                </div>
                <div v-else @click="saveThisJob" class="bubbleButton">
                  <CustomIcon
                    name="not-saved"
                    key="2"
                    size="1.7"
                    genericColor
                  />
                </div>
              </div>
              <div style="margin-left: 2rem">
                <button
                  v-if="applied"
                  class="btn btn-close"
                  @click="cancelApplication"
                >
                  Cancel Application
                </button>
                <button v-else class="btn btn-application" @click="apply">
                  Apply
                </button>
              </div>
            </div>
            <div v-else style="padding:1.8rem;border:1px solid #ff0000; color:#ff0000;height:2rem;border-radius:0.5rem" class="absolute-center-column">
              Expired
            </div>
          </div>
          <div style="float: right;margin-left:1rem">
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <div class="bubbleButton" v-on="on" @click="copyToClipboard">
                  <CustomIcon name="job-share" size="1.7" genericColor />
                </div>
              </template>
              <span>{{ shareUrl }}</span>
            </v-tooltip>
          </div>
          <div style="float:right">
              <div
                  class="bubbleButton"
                  v-show="applied && allowMessage"
                  @click="onClickContact"
                >
                  <CustomIcon
                    name="messenger"
                    key="1"
                    size="1.7"
                    genericColor
                  />
                </div>
          </div>
          <!--eslint-disable-next-line-->
        </div>
      </div>
      <div class="job-preview-info">
        <div class="deadline">
          <!-- <v-icon
              style="margin-bottom: .3rem; margin-right:.5rem; color: var(--icon-grey-scale-color); font-size:1.3rem;"
              color="#43a046"
              >fa-clock</v-icon
            > -->
          <span style="margin-right: 0.5rem">Posted</span>
          <span class="deadline-text">{{ openingDate }}</span>
          <!-- <v-icon
              style="margin-bottom: .3rem; margin-right: .5rem; color: var(--icon-grey-scale-color); font-size:1.3rem"
              >fa-clock</v-icon
            > -->
          <span style="margin-right: 0.5rem" class="expire"
            >Job expires on</span
          >
          <span class="deadline-text">{{ deadLine }}</span>
        </div>
        <div
          @click="showSameCompaniesJob"
          v-if="company_id && !sameComp && !pub"
          class="sim-comp"
        >
          <a>Show other jobs from this company</a>
        </div>
      </div>
      <div class="job-preview-content">
        <div v-if="no_of_vacancy">
          <div class="row salary">Vacancy</div>
          <div class="row salary-content">{{ no_of_vacancy }}</div>
        </div>
        <div v-if="jobType">
          <div class="row job-type">Job Nature</div>
          <div class="row job-type-content">{{ jobType }}</div>
        </div>
        <div v-if="seniorityLevel">
          <div class="row seniority-level">Seniority Level</div>
          <div class="row seniority-level-content">{{ seniorityLevel }}</div>
        </div>
        <div v-if="details">
          <div class="row job-detail">Details</div>
          <div v-html="details" class="row job-detail-content"></div>
        </div>
        <div v-if="jobresp">
          <div class="row nice-to-have">Job Responsibilities</div>
          <div v-html="jobresp" class="row nice-to-have-content"></div>
        </div>

        <div v-if="degrees.length > 0">
          <div class="row skill">Degrees</div>
          <div class="row skill-content">
            <span
              :key="index"
              style="padding-right: 0.5rem"
              v-for="(degree, index) in degrees"
            >
              {{ degree.degree_name }}
              <span v-if="degree.major_name">in {{ degree.major_name }}</span>
              <span v-if="index < degrees.length - 1">,</span
              ><span v-else>.</span>
            </span>
          </div>
        </div>
        <div v-if="skillsText">
          <div class="row skill">Skills</div>
          <div class="row skill-content">{{ skillsText }}</div>
        </div>
        <div v-if="niceToHaveText">
          <div class="row nice-to-have">Nice to Have</div>
          <div v-html="niceToHaveText" class="row nice-to-have-content"></div>
        </div>
        <div v-if="req_id">
          <div class="row nice-to-have">Req ID</div>
          <div class="row nice-to-have-content">
            {{ req_id }}
          </div>
        </div>
        <div v-if="location">
          <div class="row nice-to-have">Location</div>
          <div class="row nice-to-have-content">
            {{ location }}
          </div>
        </div>
        <div v-if="benefits">
          <div class="row nice-to-have">Benefits</div>
          <div v-html="benefits" class="row nice-to-have-content"></div>
        </div>
        <div v-if="salaryText">
          <div class="row salary">Salary</div>
          <div class="row salary-content">{{ salaryText }}</div>
        </div>
        <div class="safe-area"></div>
        <div class="safe-area"></div>
        <div class="safe-area"></div>
      </div>
    </div>
    <div v-bind:key="changeApply" v-if="showApplyPopUp">
      <confirm-apply
        v-on:cancel="showApplyPopUp = false"
        v-on:apply="finallyApply"
        v-bind="confirmApplyProps"
      >
      </confirm-apply>
    </div>
    <message-box
      :key="messageChange"
      v-bind:open="openMessageBox"
      v-bind:receiver="job"
      v-bind:jobId="job_id"
      v-bind:candidate="true"
      v-on:send-message="sendMessage"
    ></message-box>
    <v-snackbar
      :color="bgColor"
      :timeout="timeOut"
      top
      v-model="snackbar"
      class="snack"
    >
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import ConfirmationPopup from "../../global-components/confirmation-pop-up";
import ConfirmApply from "../../global-components/confirm-apply-box";
import * as SYSTEM_FUNCTIONS from "../../../globalFunctions";
import * as FILTERS from "../../../filters";
import MessageBox from "../../global-components/message-box";
import {
  CANDIDATE_ACTION_POST,
  CANDIDATE_ACTION_DELETE,
  FOLLOW_COMPANY,
  UNFOLLOW_COMPANY,
} from "../../../Api/candidate_api";
import { SEND_NEW_MESSAGE } from "../../../Api/common_api";
import { DateDiff } from "../../../globalFunctions";
import { MONTH_DATE_FORMAT } from "../../../globalFunctions";
import { GET_LOCAL_TIME_FROM_UTC } from "../../../globalFunctions";
import { getUrl } from "../../../globalConstants";
import CustomIcon from "../../global-components/customIcon";
export default {
  name: "job-preview",
  components: {
    MessageBox,
    ConfirmationPopup,
    ConfirmApply,
    CustomIcon,
  },
  props: {
    job: Object,
    appliedJob: Boolean,
    savedJob: Boolean,
    sameComp: Boolean,
    public: {
      type: Boolean,
      default: false,
    },
  },
  data: function () {
    return {
      pub: this.public,
      phone: SYSTEM_FUNCTIONS.PHONE(),
      popUpProps: {
        open: true,
        message: "You have to Sign in to use this feature",
      },
      popUpTittle: "",
      changeKey: 0,
      jobresp: null,
      benefits: null,
      no_of_vacancy: null,
      job_id: null,
      title: null,
      company: null,
      company_id: null,
      website: null,
      details: null,
      degrees: [],
      skillsText: null,
      niceToHaveText: null,
      salaryText: null,
      openingDate: null,
      deadLine: null,
      jobType: null,
      seniorityLevel: null,
      allowMessage: 0,
      applied: this.appliedJob || null,
      saved: this.savedJob || null,
      applicationStatus: null,
      statusColor: null,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      viewed: null,
      showPopup: false,
      req_id: null,
      location: null,
      candidate_details: null,
      openMessageBox: false,
      messageChange: 0,
      showApplyPopUp: false,
      confirmApplyProps: {
        open: false,
        persist: true,
      },
      changeApply: 0,
      followed: null,
      expired: false,
      shareUrl: "www.facebook.com",
    };
  },
  methods: {
    copyToClipboard() {
      const self = this;
      const el = document.createElement("textarea");
      el.value = self.shareUrl;
      document.body.appendChild(el);
      el.select();
      document.execCommand("copy");
      document.body.removeChild(el);
      self.snackbar = true;
      self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
      self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
      self.snackMessage = "Copied to clipboard";
    },
    goTop: function () {
      window.scrollTo(0, 0);
    },
    goToSignIn: function () {
      this.$router
        .push({ name: "signin", params: { tab: 0, job_id: this.job_id } })
        .catch(function () {});
    },
    showSameCompaniesJob() {
      this.$router
        .push({
          name: "candidateJobsFromSameCompany",
          params: { cid: this.company_id, cn: this.company },
        })
        .catch(function () {});
    },
    finallyApply() {
      const self = this;
      let action = "applied";
      CANDIDATE_ACTION_POST(this.job_id, action)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.applied = true;
          self.$emit("applied", self.applied);
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          if (err.response.data) {
            self.snackMessage =
              err.response.data.description || err.response.data.title;
          } else {
            self.snackMessage = self.$constants.ERROR_MESSAGES.DEFAULT;
          }
        });
    },
    apply() {
      const self = this;
      if (this.public) {
        self.changeKey++;
        self.showPopup = true;
        self.popUpTittle = "Apply";
      } else {
        let verified = self.$constants.getOwnerInfo().email_confirmed;
        if (verified) {
          self.showApplyPopUp = true;
          self.changeApply++;
          self.confirmApplyProps = {
            open: true,
            persist: true,
          };
        } else {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = "Please verify your email account first";
        }
      }
    },
    cancelApplication() {
      const self = this;
      let action = "applied";
      CANDIDATE_ACTION_DELETE(this.job_id, action)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.applied = false;
          self.$emit("applied", self.applied);
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          if (err.response.data) {
            self.snackMessage =
              err.response.data.description || err.response.data.title;
          } else {
            self.snackMessage = self.$constants.ERROR_MESSAGES.DEFAULT;
          }
        });
    },
    saveThisJob() {
      const self = this;
      if (this.public) {
        self.changeKey++;
        self.showPopup = true;
        self.popUpTittle = "Save";
      } else {
        let action = "favorite";
        CANDIDATE_ACTION_POST(this.job_id, action)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.saved = true;
            self.$emit("saved", self.saved);
          })
          .catch(function (err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            if (err.response.data) {
              self.snackMessage =
                err.response.data.description || err.response.data.title;
            } else {
              self.snackMessage = self.$constants.ERROR_MESSAGES.DEFAULT;
            }
          });
      }
    },
    removeFromSavedJobs() {
      const self = this;
      let action = "favorite";
      CANDIDATE_ACTION_DELETE(this.job_id, action)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.saved = false;
          self.$emit("saved", self.saved);
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          if (err.response.data) {
            self.snackMessage =
              err.response.data.description || err.response.data.title;
          } else {
            self.snackMessage = self.$constants.ERROR_MESSAGES.DEFAULT;
          }
        });
    },
    followThisJob() {
      const self = this;
      if (this.public) {
        self.changeKey++;
        self.showPopup = true;
        self.popUpTittle = "Follow";
      } else {
        FOLLOW_COMPANY(self.company_id)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.followed = true;
            self.$emit("followed", self.followed);
          })
          .catch(function (err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
          });
      }
    },
    removeFromFollowingCompanies() {
      const self = this;
      UNFOLLOW_COMPANY(this.company_id)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.followed = false;
          self.$emit("followed", self.followed);
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    gotolink() {
      window.open("http://" + this.website, "_blank");
    },
    onClickContact() {
      const self = this;
      self.messageChange++;
      self.openMessageBox = true;
    },
    sendMessage(message) {
      const self = this;
      self.openMessageBox = false;
      self.messageChange++;
      SEND_NEW_MESSAGE(message)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
  },
  mounted: function () {
    const self = this;
    self.align = self.phone ? "left" : "right";

    if (self.job) {
      let date1 = new Date();
      let date2 = self.job.close_date
        ? new Date(
            MONTH_DATE_FORMAT(GET_LOCAL_TIME_FROM_UTC(self.job.close_date))
          )
        : null;
      if (date2) {
        let closingIn = DateDiff.inDays(date1, date2);
        if (closingIn < 0 || self.job.job_status === 5) {
          self.expired = true;
        }
      } else {
        self.expired = true;
      }
      self.title = FILTERS.FIRST_LETTER_CAPITAL(self.job.job_title);
      self.job_id = self.job.job_id;
      self.shareUrl = getUrl() + "/jobdetails/" + self.job_id;
      self.details = self.job.rich_job_description;
      self.seniorityLevel = SYSTEM_FUNCTIONS.GET_STRING_FROM_ARRAY(
        self.job.seniority_level,
        ", ",
        true
      );
      self.jobType = SYSTEM_FUNCTIONS.GET_STRING_FROM_ARRAY(
        self.job.position_type,
        ", "
      );
      self.deadLine = SYSTEM_FUNCTIONS.MONTH_DATE_FORMAT(self.job.close_date);
      self.openingDate = SYSTEM_FUNCTIONS.MONTH_DATE_FORMAT(self.job.open_date);
      self.skillsText = SYSTEM_FUNCTIONS.GET_STRING_FROM_LIST_OF_SKILLS(
        self.job.skills,
        ", "
      );
      if (self.job.degrees) {
        self.degrees = self.job.degrees;
      }
      self.company = self.job.company_name ? self.job.company_name : null;
      self.viewed = self.job.viewed ? self.job.viewed : false;
      self.company_id = self.job.company_id ? self.job.company_id : null;
      self.website = self.job.website ? self.job.website : null;
      if (self.job.rich_nice_to_have) {
        self.niceToHaveText = self.job.rich_nice_to_have;
      }
      if (self.job.req_id) {
        self.req_id = self.job.req_id;
      }
      if (self.job.location_name) {
        self.location = self.job.location_name;
      }
      if (self.job.min_salary && self.job.max_salary) {
        self.salaryText = SYSTEM_FUNCTIONS.SALARY_TEXT(
          self.job.min_salary,
          self.job.max_salary,
          self.job.negotiable,
          self.job.salary_basis
        );
      } else {
        if (self.job.min_salary || self.job.max_salary) {
          self.salaryText = self.job.min_salary || self.job.max_salary;
        }
        if (self.job.negotiable) {
          self.salaryText = self.salaryText
            ? (self.salaryText += " (Negotiable)")
            : "Negotiable";
        }
      }
      if (self.job.rich_job_responsibilities) {
        self.jobresp = self.job.rich_job_responsibilities;
      }
      if (self.job.rich_job_benefits) {
        self.benefits = self.job.rich_job_benefits;
      }
      if (self.job.no_of_vacancy) {
        self.no_of_vacancy = self.job.no_of_vacancy;
      }
      self.applied = self.job.applied ? self.job.applied : 0;
      self.saved = self.job.favorite ? self.job.favorite : 0;
      self.followed = self.job.following ? self.job.following : false;
      self.allowMessage = self.job.allow_message;
      if (self.job.job_status === 5) self.allowMessage = 0;
    }
  },
};
</script>

<style scoped>
.top-ttl {
  position: relative;
}
.float-button {
  margin-left: 1rem;
  margin-top: 1rem;
}
.up-bubble {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--button-color);
  color: white;
  font-size: 4rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #999;
  display: none;
  cursor: pointer;
}
.margin {
  margin-bottom: 10rem;
}
.snack {
  box-shadow: none !important;
  outline: none;
}
a:hover {
  text-decoration: underline !important;
}
.icon-color {
  color: var(--button-save-color);
  transition: 0.5s;
}
.btn-save-new:hover .icon-color {
  color: white;
  transition: 0.5s;
}
.job-preview {
  padding: 0rem;
  position: relative;
  /* border-radius: 0.7rem;
  border:1px solid #d9d9d9; */
}
.job-text-header {
}
.job-preview-header {
  padding: 2.9rem;
  border-bottom: 0.1rem solid #d9d9d9;
  position: relative;
}
.job-preview-content {
  padding: 2.9rem;
  height: calc(100vh - 31rem);
  overflow: auto;
}
.job-preview-content::-webkit-scrollbar {
  width: 0.3rem;
}
.job-preview-info {
  width: 100%;
  padding: 0.7rem 2.9rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pubView {
}
.expire {
  border-left: 1px solid #d9d9d9;
  padding-left: 1.65rem;
  margin-left: 1.65rem;
}
@media (max-width: 600px) {
  /* .job-preview {
    padding: 1rem 0rem;
  } */
  /* .up-bubble{
      display: block;
    } */
  .message-box {
    position: absolute;
    right: 0px;
    top: -17rem;
  }
  .sim-comp {
    position: absolute;
    bottom: 1rem;
    left: 0;
    text-align: right;
    padding: 1.5rem 0 0 0;
    color: var(--link-color);
  }
  .phone-view {
    height: 3rem;
  }
}

.job-details-in-short {
  padding: 0;
}
.btn-application {
  min-width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--btn-color-primary);
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff !important;
  box-shadow: none !important;
}
.job-title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #000000;
}
.company-name {
  position: relative;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}
.company-email {
  font-size: 1.4rem;
  text-align: left;
  color: var(--link-color);
  cursor: pointer;
}
.company-email:hover {
  text-decoration: underline;
}
.sim-comp {
  font-size: 1.2rem;
  text-align: right;
  padding: 0rem 0 0 0;
  color: var(--link-color);
}
.deadline {
  color: #666666;
  font-size: 1.2rem;
  line-height: 1.25;
}
.deadline-text {
  font-size: 1.2rem;
  color: #666666;
  text-align: left;
}
.seniority-level {
  padding: 1rem 0 0rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.seniority-level-content {
  font-size: 1.4rem;
  color: #666666;
}
.job-type {
  padding: 1rem 0 0rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.job-type-content {
  font-size: 1.4rem;
  color: #666666;
}
.job-detail {
  padding: 1rem 0 0rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.job-detail-content {
  font-size: 1.4rem;
  text-align: left;
  color: #666666;
}
.skill {
  padding: 2rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.skill-content {
  font-size: 1.4rem;
  text-align: left;
}
.nice-to-have {
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.nice-to-have-content {
  font-size: 1.4rem;
  text-align: left;
}
.salary {
  padding: 1rem 0 0rem 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.salary-content {
  font-size: 1.4rem;
  color: #666666;
}
.follow {
  position: absolute;
  top: 0rem;
  font-size: 1.1rem;
  color: white;
  background-color: var(--secondary-color-new);
  padding: 0.2rem 1rem;
  border-radius: 0.4rem;
  margin-left: 1rem;
  cursor: pointer;
}
.ing {
  background-color: var(--success);
}
</style>
