<template>
  <!-- eslint-disable -->
  <div class="row job-content-wrapper">
    <div @click="viewJob" class="job-content">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-2 col-3">
          <div class="image-wrapper">
            <img class="image" :src="image" />
          </div>
        </div>
        <div class=" short-description">
          <div id="jb-ttl" class="job-title">{{ title }}</div>
          <div class="company-name">{{ companName }}</div>
          <div class="location">{{ location }}</div>
          <div style="padding-bottom: 0.5rem">
            <div class="deadline">
              <!-- <v-icon
                style="
                  margin-bottom: 0.2rem;
                  margin-right: 0.5rem;
                  color: var(--icon-grey-scale-color);
                  font-size: 1.3rem;
                "
                >fa-clock</v-icon
              > -->
              <span>{{ closingIn }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-1 save-icon" v-if="!pub && !expired">
      <v-icon
        @click="removeFromSavedJobs"
        v-if="favorite"
        style="float: right; font-size: 2rem"
        class="saved"
        >mdi-bookmark</v-icon
      >
      <v-icon
        @click="saveThisJob"
        v-else
        style="float: right; font-size: 2rem"
        class="save"
        >mdi-bookmark-plus-outline</v-icon
      >
    </div> -->
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem"
          ><v-icon color="white">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import {
  CANDIDATE_ACTION_DELETE,
  CANDIDATE_ACTION_POST,
} from "../../../Api/candidate_api";
import {
  GET_LOCAL_TIME_FROM_UTC,
  MONTH_DATE_FORMAT,
  DateDiff,
  PHONE,
} from "../../../globalFunctions";
import { FIRST_LETTER_CAPITAL } from "../../../filters";
export default {
  name: "job-single-view",
  props: {
    job: Object,
    saved: Boolean,
    public: {
      type: Boolean,
      default: false,
    },
  },
  data: function () {
    return {
      pub: this.public,
      phone: PHONE(),
      time: "",
      jobObj: this.job,
      title: "",
      companName: "",
      location: "",
      closingIn: "",
      image: "",
      favorite: 0,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      expired: false,
    };
  },
  methods: {
    viewJob() {
      if (this.phone && !this.public) {
        this.$router
          .push({ name: "topJobView", params: { q: this.jobObj.job_id } })
          .catch(function () {});
      } else if (this.phone && this.public) {
        this.$router
          .push({
            name: "topJobViewPublic",
            params: { q: this.jobObj.job_id, public: true },
          })
          .catch(function () {});
      } else this.$emit("view");
    },
    saveThisJob() {
      const self = this;
      let action = "favorite";
      CANDIDATE_ACTION_POST(this.jobObj.job_id, action)
        .then(function () {
          self.$emit("favorite");
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    removeFromSavedJobs() {
      const self = this;
      let action = "favorite";
      CANDIDATE_ACTION_DELETE(this.jobObj.job_id, action)
        .then(function () {
          self.$emit("remove");
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    date: function () {
      if (this.jobObj.close_date) {
        let value = this.jobObj.close_date.substring(0, 10);
        let day = value.substring(0, 2);
        let month = value.substring(3, 5);
        let year = value.substring(6, 10);
        let utcDate1 = new Date(Date.UTC(year, month - 1, day));
        let time = utcDate1.toUTCString();
        return time.substring(5, time.length - 12);
      }
    },
  },
  mounted() {
    const self = this;
    if (self.job) {
      self.title = self.job.job_title
        ? FIRST_LETTER_CAPITAL(self.job.job_title)
        : "";
      if (self.title.length > 30) {
        self.title = self.title.substring(0, 29) + " ...";
      }
      self.companName = self.job.company_name
        ? FIRST_LETTER_CAPITAL(self.job.company_name)
        : "";
      self.location = self.job.location_name ? self.job.location_name : "";
      if (self.saved) {
        self.favorite = 1;
      } else {
        self.favorite = self.job.favorite ? self.job.favorite : 0;
      }
      self.image = self.job.image_url
        ? self.job.image_url
        : require("@/assets/newDesign/logo2.svg");
      let date1 = new Date();
      let date2 = self.job.close_date
        ? new Date(
            MONTH_DATE_FORMAT(GET_LOCAL_TIME_FROM_UTC(self.job.close_date))
          )
        : null;
      let suffix = " days";
      // let color = "#e7472e";
      if (date2) {
        let closingIn = DateDiff.inDays(date1, date2);
        if (parseInt(closingIn) < 0) {
          self.closingIn = "Job expired";
          self.expired = true;
        } else {
          if (closingIn > 6) {
            closingIn = DateDiff.inWeeks(date1, date2);
            suffix = " weeks";
            // color = "#ff7722";
            if (closingIn > 4) {
              closingIn = DateDiff.inMonths(date1, date2);
              suffix = " months";
              // color = "#D4EDDA";
              if (closingIn > 12) {
                closingIn = DateDiff.inYears(date1, date2);
                suffix = " years";
                // color = "#058795";
              }
            }
          }
          self.closingIn = "Closing in: " + closingIn + suffix;
        }
      } else {
        self.expired = true;
        self.closingIn = "Job expired";
      }
    }
  },
};
</script>

<style scoped>
.save {
  background-color: var(--button-save-unfocus);
  color: var(--button-save-color);
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.saved {
  background-color: var(--button-save-unfocus);
  color: var(--button-save-color);
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.save-icon {
  padding: 1.2rem 0.5rem;
}
.image-wrapper {
  height: 4rem;
  width: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  overflow: hidden;
}
.image {
  width: 100%;
  height: auto;
}
.job-content-wrapper {
  width: 100%;
  border-bottom: 0.1rem solid #d9d9d9;
  transition:0.4s
}
.job-content-wrapper :hover {
  background-color: #f2f3f8;
  transition: 0.4s;
}
.job-content {
  padding: 1.2rem 1rem;
  width: 100%;
}
.job-title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
  text-align: left;
  color: black;
}
.company-name {
  margin: 0.4rem 0;
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: left;
  color:#666666
}
.location {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  line-height: 1.33;
  text-align: left;
  color:#666666
}
.company-image {
  padding: 0;
}
.short-description {
  padding: 0 0 0 2rem !important
}
.deadline {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color:#8f8f8f
}
</style>
