<template>
  <div align="left">
    <div style="margin-bottom: 3.5rem">
      <div class="jobPageH">My Jobs</div>
      <div class="jobPageP">
        Here you will find all the jobs that you have applied and saved so far
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-padding"
        style="position: relative; background: transparent"
      ><div class="row justify-content-center align-items-center tabs">
        <router-link key="applied" to="applied" class="tab" active-class="active">Applied Jobs</router-link>
        <router-link key="saved" to="saved" class="tab" active-class="active">Saved Jobs</router-link>
        </div>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
  .tabs{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    height: 5rem;
    background: white;
    border-top-left-radius: 0.7rem;
    border-top-right-radius:0.7rem;
    z-index: 70;
    border: 0.1rem solid #d9d9d9;
    
  }
  .tab{
    flex: 1;
    cursor: pointer;
    height: 4.9rem;
    display:flex;
    font-size: 1.4rem;
 
    flex-direction: column;
    align-items:center;
    justify-content: center;color:var(--action-button-color);
    text-decoration: none;
  }
  .active{
    border-bottom: 0.1rem solid var(--action-button-color);
    box-sizing: border-box;
    font-weight: bold;
  }
</style>