<template>
  <div style="background-color:white">
    <div class="landing-wrapper">
      <div class="landing-container">
        <div class="nav">
          <div class="nav-left" @click="goHome">
            <img src="@/assets/static_content/workd.svg" class="logo" />
          </div>

          <div class="nav-right pc-mode">
            <div
              class="nav-right-content"
              @click="goToEmployer"
              style="color: var(--link-color); cursor: pointer"
              id="btn-c-accnt-emp"
            >
              Company Sign in
            </div>
            <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
              |
            </div>
            <div
              id="btn-c-accnt-cn"
              class="nav-right-button-alt"
              @click="goToSignUp"
            >
              Create account
            </div>
            <div
              id="btn-sgn-in-cn"
              class="nav-right-button"
              style="margin-left: 1rem"
              @click="goToSignIn"
            >
              Sign in
            </div>
          </div>
          <div class="nav-right phone-mode">
            <!-- <div
                class="nav-right-content"
                style="color:var(--link-color);cursor:pointer"
                @click="goToSignIn"
              >Sign in</div>-->
            <div style="color: var(--link-color)" @click="goToEmployer">
              Company Sign in
            </div>
            <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
              |
            </div>
            <div
              class="nav-right-button"
              @click="drawer = !drawer"
              :class="{ dropInactive: !drawer, dropActive: drawer }"
            >
              Sign In
              <div
                class="menu-box"
                v-if="drawer"
                style="
                  right: 0rem;
                  top: 3.5rem;
                  z-index: 100;
                  padding: 0.5rem 1rem;
                  position: absolute;
                  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.55);
                  background-color: #f5f5f5;
                  width: 16rem;
                "
              >
                <div
                  class="menuitem"
                  id="btn-sgn-in-cn-phn"
                  @click="
                    () => {
                      drawer = !drawer;
                      goToSignIn();
                    }
                  "
                  style="color: var(--link-color)"
                >
                  Sign in
                </div>

                <div
                  class="menuitem"
                  @click="
                    () => {
                      drawer = !drawer;
                      goToSignUp();
                    }
                  "
                  style="color: var(--link-color)"
                >
                  Create new account
                </div>
              </div>
            </div>

            <div
              class="dropdown-wrapper"
              v-if="drawer"
              style="background-color: rgba(0, 0, 0, 0.1); z-index: 50"
              @click="drawer = false"
            ></div>
            <!--<div-->
            <!--class="menu-box"-->
            <!--v-if="drawer"-->
            <!--style="border: solid 1px #707070;right:0rem;top:7rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"-->
            <!--&gt;-->
            <!--<div class="menuitem" @click="goToSignIn" id="btn-sgn-in-cn-phn">Candidate</div>-->
            <!--<div class="separator"></div>-->
            <!--<div class="menuitem" @click="goToEmployer" id="btn-c-accnt-emp-phn">Employer</div>-->
            <!--</div>-->
            <!--<div-->
            <!--class="dropdown-wrapper"-->
            <!--v-if="drawer"-->
            <!--style="background-color:rgba(0,0,0,0.1);z-index:50"-->
            <!--@click="drawer=false"-->
            <!--&gt;</div>-->
          </div>
        </div>
      </div>
    </div>
     <div class="h-help">
      <div class="h-help-up">
        Who we are
      </div>
      <div class="h-help-un">
        The story behind Workd
      </div>
    </div>
    <div class="section-gap">
    </div>
    <div class="landing-wrapper">
      <div class="landing-container">
        <div class="aboutUs">
          <div class="row align-items-center">
            <div class="col-12 col-lg-5 pr-lg-5 text-center my-5">
              <img
                alt="Make Your Job Search Count"
                src="@/assets/newContent/fishy.svg"
                class="img-fluid fishy"
              />
            </div>
            <div class="col-12 col-lg-7 pl-md-5">
              <h3 class="text-center text-lg-left">
                Make your job search count
              </h3>
              <p class="mt-4">
                We are Bangladesh’s first AI-powered job search platform. Workd
                uses intuitive search-and-apply features to filter jobs and
                effortlessly connect applicants to their suitable jobs with one
                click. The most notable feature of our platform is that we
                generate a unique matching profile for each candidate based on
                their choices, searches and queries. <br /><br />
                Workd is also a portal for employees and employers to
                effectively communicate and schedule interviews and meetings.
                The platform automatically alerts passively active applicants
                when there is a suitable job opening matching their profile,
                this helps them from missing out on any career changing
                opportunities.
              </p>
            </div>
          </div>

          <h1 class="mx-auto">leadership team</h1>

          <div class="leadership--cont">
            <div class="row">
              <div class="col-lg-3 text-center text-lg-left pr-lg-5 mb-4 mb-md-0">
                <img
                  src="@/assets/newContent/tareq.png"
                  alt="Tareq Hossain, Ph.D"
                  class="img-fluid"
                />
              </div>
              <div class="col-lg-9 px-0 pl-md-5">
                <div class="lead--name text-center text-lg-left mt-3 mt-lg-0">
                  <h2>Tareq Hossain, Ph.D</h2>
                  <span>Co-Founder, Chairman/CEO</span>
                  <hr />
                  <p>
                    Expertise: Startup, Machine Learning, Big Data and Network
                    Optimization Mr. Tareq is our visionary leader. He has over
                    10 years of industry experience working on cutting-edge
                    technologies in the field of networking, machine learning,
                    big data, IoT, and serverless computing in Silicon Valley,
                    USA. In addition to workd, Mr. Tareq currently leads the
                    Smart Home Insights team as Engineering Director at Asurion,
                    one of the largest phone insurance companies in the world.
                    Before Asurion, he led the engineering team at Catalina Labs
                    that focused on IoT. The successful launch and deployment of
                    Catalina’s network analytics product led to the company
                    being acquired by Asurion. Before Catalina, Mr. Tareq was a
                    founding engineering team member in one of the earliest
                    AI-based recruiting startups in the USA. He was also a core
                    member of a team that developed a cloud network optimization
                    solution (SaaS Accelerator) at Riverbed Technology. The
                    product currently has annual sales of over $100M.
                    <br /><br />Mr. Tareq received his Ph.D. in Computer Science
                    from Vanderbilt University, USA; M.Sc. in Electrical
                    Engineering from ETH Zurich, Switzerland; and B.Sc in
                    Computer Science from University of Arizona, USA.
                  </p>
                </div>
              </div>
            </div>

            <div class="section-gap" style="height: 5rem"></div>

            <div class="row">
              <div class="col-lg-3 text-center text-lg-left pr-lg-5 mb-4 mb-md-0">
                <img
                  src="@/assets/newContent/farhan.png"
                  alt="Farhan Anwar"
                  class="img-fluid"
                />
              </div>
              <div class="col-lg-9 px-0 pl-md-5">
                <div class="lead--name text-center text-lg-left mt-3 mt-lg-0">
                  <h2>Farhan Anwar</h2>
                  <span>Co-Founder, Managing Director</span>
                  <hr />
                  <p>
                    Mr. Farhan Anwar is the driving force behind the company, as
                    the Managing director of Workd he is responsible for running
                    all the operational activities of the company. Farhan is a
                    graduate in Marketing and International Business from
                    Macquarie University, Sydney, Australia. From a very early
                    age he always had a dream of contributing to the growth and
                    development of his home country, Bangladesh and with that
                    dream he came back to the country on 2017 and joined his
                    family business Kojima Lyric Group (Garment Manufacturing
                    Company) as a Director. As an aspiring entrepreneur, Farhan
                    aims to bring changes in his company through his passion and
                    drive for success. Also working as the Director at SQL
                    Engineers (one of the leading dredging companies in
                    Bangladesh) he along with his team is working towards making
                    it a more quality-focused firm. <br /><br />
                    With Workd Farhan envisions to reshape and change the
                    dynamics of the job market. He firmly believes the AI
                    technology will bring positive changes in the industry as it
                    will add more value for job seekers and employers alike.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-gap"></div>
    <div class="section-gap"></div>
    <Footer />
  </div>
</template>

<script>
import Footer from "./footer";
import { PHONE } from "../../globalFunctions";
export default {
  components: {
    Footer,
  },
  name: "About Us",
  data:()=>{
    return{
       phone: PHONE(),
       drawer: false,
    }
  },
  methods: {
    goHome: function () {
      this.$router
        .push({ name: "landingPage"})
        .catch(function () {})
    },
    goToSignIn: function () {
      this.$router
        .push({ name: "signin", params: { tab: 0 } })
        .catch(function () {});
    },
    goToSignUp: function () {
      this.$router
        .push({ name: "signin", params: { tab: 1 } })
        .catch(function () {});
    },
    goToEmployer() {
      this.$router.push({ name: "employersignup" }).catch(function () {});
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.nav {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 5.2rem 0px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-left-content > .image > img {
  height: 2.7rem;
  width: auto;
}
.left-content {
  padding-left: 8.7rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.nav-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.2rem;
}
.nav-left-content > .content > div {
  color: var(--link-color);
  white-space: nowrap;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-right-content {
  padding-right: 1rem;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.4rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.nav-right-button-alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 0.1rem solid #3069b3;
  border-radius: 0.4rem;
  color: #3069b3;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.h-help {
  background-color: #f2f3f8;
  padding: 4rem 2rem;
}
.h-help-un {
  font-size: 2rem;
  line-height: 1.75;
  letter-spacing: 6px;
  text-align: center;
  color: #acacac;
}
.h-help-up {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}
.logo {
  width: 18.5rem;
  cursor: pointer;
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
.dropInactive {
  position: relative;
  top: 0px;
  padding: 1.5rem;
  z-index: 9999;
}
.dropActive{
  position: relative;
  top: 0px;
  padding: 1.5rem;
  z-index: 9999;
  box-shadow: 0 0px 0 2px 2px rgba(0, 0, 0, 0.55);
  background-color: #F5F5F5;
}
.dropdown-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1010;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: var(--disable-color);
}
.menu-box {
  position: absolute;
  border-radius: 0.4rem;
  background-color: white;
  top: -100rem;
  color: black;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  width: 15rem;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
}
.menuitem {
  min-width: 15rem;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: left;
  border-radius: 0.4rem;
  color: #050405;
  
}
@media (max-width: 800px) {
  .phone-mode {
    display: flex;
  }
  .pc-mode {
    display: none;
  }
}

.aboutUs {
	 text-align: left;
}
 .aboutUs .fishy {
	 max-width: 500px;
}
 .aboutUs h1 {
	 font-size: 2.4rem;
	 margin: 4rem 0 10rem 0;
	 text-transform: uppercase;
	 text-align: center;
	 padding: 15px 0;
	 font-weight: 800;
	 border-top: 1px solid #c7c7c7;
	 border-bottom: 1px solid #c7c7c7;
	 width: 320px;
}
 .aboutUs h3 {
	 font-size: 2.5rem;
	 font-weight: 800;
}
 .aboutUs p {
	 font-size: 1.4rem;
	 line-height: 2.5rem;
	 color: #666;
	 margin-bottom: 0;
}
 .aboutUs .leadership--cont img {
	 border: 1px solid #c7c7c7;
	 padding: 10px;
}
 .aboutUs .leadership--cont .lead--name {
	 
}
 .aboutUs .leadership--cont .lead--name h2 {
	 font-size: 2.5rem;
	 font-weight: 800;
	 margin: 0;
}
 .aboutUs .leadership--cont .lead--name span {
	 font-size: 1.5rem;
	 color: #8e8e8e;
	 line-height: 3.3rem;
}
 
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (max-width: 1366px) {
  
    .aboutUs h1 {
    font-size: 2.35rem;
    margin: 8rem 0 5rem 0;
  }
  .aboutUs p {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    margin-top: 2rem;

  
  }
  .slide {
    width: 100vw;
    overflow-x: scroll;
  }
  .slide .testimonial {
    width: 1200px;
  }
  .slide .testimonial .tm-block {
    width: 100% !important;
  }
  
  .aboutUs .leadership--cont .lead--name span{
    font-size: 2rem;
    line-height: 4rem;
  }
    
  }

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
 

    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    

    .slide {
      width: 100vw;
      overflow-x: scroll;
    }
    .slide .testimonial {
      width: 1200px;
    }
    .slide .testimonial .tm-block {
      width: 100% !important;
    }


    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .slide {
      width: 100vw;
      overflow-x: scroll;
    }
    .slide .testimonial {
      width: 1200px;
    }
    .slide .testimonial .tm-block {
      width: 100% !important;
    }

  .aboutUs h1 {
    font-size: 2.35rem;
    margin: 8rem 0 5rem 0;
  }
  .aboutUs p {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    margin-top: 2rem;

    color: rgb(141, 141, 141);
  }
  .slide {
    width: 100vw;
    overflow-x: scroll;
  }
  .slide .testimonial {
    width: 1200px;
  }
  .slide .testimonial .tm-block {
    width: 100% !important;
  }
  
  .aboutUs .leadership--cont .lead--name span{
    font-size: 2rem;
    line-height: 4rem;
  }
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
   
  .aboutUs h1 {
	 font-size: 2.35rem;
	 margin: 8rem 0 5rem 0;
  }
  .aboutUs p {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    margin-top: 2rem;

    color: rgb(141, 141, 141);
  }
  .slide {
    width: 100vw;
    overflow-x: scroll;
  }
  .slide .testimonial {
    width: 1200px;
  }
  .slide .testimonial .tm-block {
    width: 100% !important;
  }
  
  .aboutUs .leadership--cont .lead--name span{
    font-size: 2rem;
    line-height: 4rem;
  }
 
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
  .aboutUs h1 {
	 font-size: 2.35rem;
	 margin: 8rem 0 5rem 0;
  }
  .aboutUs p {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    margin-top: 2rem;

    color: rgb(141, 141, 141);
  }
  .slide {
    width: 100vw;
    overflow-x: scroll;
  }
  .slide .testimonial {
    width: 1200px;
  }
  .slide .testimonial .tm-block {
    width: 100% !important;
  }
  
  .aboutUs .leadership--cont .lead--name span{
    font-size: 2rem;
    line-height: 4rem;
  }

  }

  </style>