<template>
  <div class="page">
    <div class="nav-top">
      <div class="landing-wrapper">
        <div class="landing-container" style="position:relative;">
          <div style="padding-top:0rem;padding-bottom:0rem">
            <div class="nav-align">
              <img
                @click="goToHomePage"
                src="@/assets/static_content/logo-employer.svg"
                style="height: 5rem; cursor:pointer"
              />
              <div class="nav-right phone-mode">
                <div class="nav-right-button" @click="drawer = !drawer">
                  <img src="@/assets/static_content/menu-icon.svg" />
                </div>
                <div
                  class="menu-box"
                  v-if="drawer"
                  style="border: solid 1px #707070;right:2rem;top:5rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"
                >
                  <div class="menuitem" @click="pricing">Pricing</div>
                  <div
                    class="menuitem"
                    @click="
                      () => {
                        drawer = !drawer;
                        goToHomePage();
                      }
                    "
                  >
                    Login
                  </div>
                </div>
                <div
                  class="dropdown-wrapper"
                  v-if="drawer"
                  style="background-color:rgba(0,0,0,0.1);z-index:50"
                  @click="drawer = false"
                ></div>
              </div>
              <div class="nav-right pc-mode">
                <div style="cursor:pointer;" id="sub" @click="pricing">
                  <img
                    src="@/assets/static_content/dollar.svg"
                    class="top-icon"
                  />Pricing
                </div>
                <div
                  @click="goToHomePage"
                  style="cursor:pointer"
                  id="btn-top-login-emp"
                >
                  <img
                    src="@/assets/static_content/ico-sign-up.svg"
                    class="top-icon"
                  />Login
                </div>
              </div>
            </div>
          </div>
          <div class="breadCrumbs">
            <span
              class="crumbs"
              style="color:var(--link-color)"
              @click="landing"
              >Home</span
            >/
            <span
              class="crumbs"
              style="color:var(--link-color)"
              @click="goToHomePage"
              >For Employers</span
            >/
            <span class="crumbs">Contact us</span>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-wrapper" v-if="!sent">
      <div class="landing-container" style="max-width:80rem">
        <div class="grey-header">Have A Question?</div>
        <div class="big-header-2">WRITE TO US</div>
        <div class="" style="padding-top:6rem">
          <div class="row justify-content-between">
            <div class="col-5 no-padding">
              <v-text-field
                v-model="name"
                label="Name"
                style="font-size:1.6rem;"
                :error-messages="nameErrors"
              ></v-text-field>
            </div>
            <div class="col-6 no-padding">
              <v-text-field
                :value="emailState"
                v-model="email"
                label="Email"
                required
                style="font-size:1.6rem;"
                :error-messages="emailErrors"
              ></v-text-field>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-5 no-padding">
              <v-text-field
                v-model="phone"
                :value="phoneState"
                label="Phone"
                style="font-size:1.6rem;"
              ></v-text-field>
            </div>
            <div class="col-6 no-padding">
              <v-text-field
                v-model="subject"
                :value="subjectState"
                label="Subject"
                style="font-size:1.6rem;"
                :error-messages="subjectErrors"
              ></v-text-field>
            </div>
          </div>

          <v-text-field
            v-model="message"
            :value="messageState"
            label="Message"
            style="font-size:1.6rem;"
          ></v-text-field>
          <div class="horizontal-center">
            <div
              class="post-job-button vertical-center"
              style="margin-top:5rem;width:13.3rem"
              @click="sendMail"
            >
              Send
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-wrapper" v-else>
      <div class="landing-container" align="middle">
        <img src="@/assets/static_content/confirmation.svg" />
        <div class="big-header-2" style="font-size:2.4rem;margin:2rem 0">
          Thank you for getting in touch with us. We will get back to you
          shortly.
        </div>
        <div class="grey-header" style="font-size:1.8rem;margin:2rem 0">
          In the meantime would you like to look at our pool of candidates?
        </div>
        <div
          class="post-job-button vertical-center"
          style="margin:2rem 0;width:13.3rem"
          @click="goToHomePage"
        >
          Got It
        </div>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
// import * as MESSAGE from "../../globalConstants";
import Footer from "./footer";
import * as SYSTEM_CONST from "../../globalConstants";
import { mapGetters, mapActions } from "vuex";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import firebase from "firebase/app"
import "firebase/database"
export default {
  name: "contact-us",
  components: {
    Footer
  },
  data: function() {
    return {
      drawer: false,
      signin: true,
      name: "",
      email: "",
      phone: "",
      subject: "",
      message: "",
      sent: false,
      messageState: "",
      phoneState: "",
      subjectState: "",
      emailState: ""
    };
  },

  mixins: [validationMixin],
  validations: {
    email: {
      required,
      email
    },
    subject: {
      required
    },
    name: {
      required
    }
  },
  methods: {
    sendMail() {
      this.$v.$touch();
      const self = this;
      if (!this.$v.$anyError) {
        let database = firebase.database();
        firebase
          .database()
          .ref("root/")
          .push(
            {
              name: this.name,
              email: this.email,
              phone: this.phone,
              subject: this.subject,
              message: this.message
            },
            err => {
              if (err) {
                // console.log(err);
              } else self.sent = true;
            }
          );
      }
    },
    pricing() {
      this.$router.push({ name: "pricing" }).catch(function() {});
    },
    change() {
      this.signin = !this.signin;
      this.key++;
    },
    goToHomePage() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    },
    landing() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.EMAIL_INVALID);
      !this.$v.email.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    subjectErrors() {
      const errors = [];
      if (!this.$v.subject.$dirty) return errors;
      !this.$v.subject.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    }
  }
};
</script>

<style scoped>
.breadCrumbs {
  position: absolute;
  bottom: -5rem;
  cursor: pointer;
}
.crumbs {
  margin: 0 1rem;
}
.nav-top {
  width: 100%;

  background-color: var(--employer-nav);
}
.grey-header {
  font-size: 1.6rem;
  color: #8d8d8d;
  text-align: center;
}
.big-header-2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.13rem;
  line-height: 1.35;
}
.post-job-button {
  height: 4rem;
  padding: 0 3.6rem;
  background-color: #00adee;
  border-radius: 2rem;
  white-space: wrap;
  max-width: 14.4rem;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
}
.nav-align {
  height: 7.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--employer-nav-font-color);
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
.top-icon {
  height: 1.8rem;
  margin-right: 1.1rem;
  padding-bottom: 0.3rem;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  background-color: white;
}
#btn-top-sgn-up-emp {
  background-image: linear-gradient(to left, #8552a1, #3069b3);
  height: 7.4rem;
  width: 11.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#btn-top-login-emp {
  background-image: linear-gradient(to left, #8552a1, #3069b3);
  height: 7.4rem;
  width: 11.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sub {
  height: 7.4rem;
  width: 15.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .phone-mode {
    display: flex;
  }
  .first-section {
    min-height: auto;
  }
  .pc-mode {
    display: none;
  }
  .styled-header {
    max-width: 100%;
  }
  video {
    width: 40rem;
  }
}
</style>
