<template>
  <div>
    <div class="nav-top">
      <div class="container-fluid" style="padding-top:0rem;padding-bottom:0rem">
        <div class="nav-align">
          <img
            @click="goToLanding"
            src="@/assets/static_content/logo-employer.svg"
            style="height: 5rem; cursor:pointer"
          />
          <div class="nav-right">
            <div
              @click="goToLanding"
              style="cursor:pointer"
              id="btn-top-login-emp"
            >
              <img
                src="@/assets/static_content/ico-sign-up.svg"
                class="top-icon"
              />Login
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="signin-page">
      <div class="right-side">
        <search-result-component></search-result-component>
      </div>
      <div class="left-side vertical-center pc-mode">
        <div class="container-fluid" align="left">
          <h2 style="font-size: 2.4rem">
            Post your jobs online to attract candidates from our talent
            database.
          </h2>
          <div style="color:#707070; font-size:1.6rem">
            Want to try now? Create an account and enter your job description.
            Review applications, manage candidates and schedule interviews from
            your workd account.
          </div>
          <div class="row mid-align-section">
            <div
              style="padding: .5rem 0;  font-size: 2rem; line-height: 1.36; text-align: left; color: #000000; margin-right: 2rem;"
            >
              Unlock the full potential of <b>workd.ai</b>
            </div>
            <button
              class="capsule-button"
              @click="goToSignUp"
              id="btn-sgn-up-cn"
            >
              Sign up now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SearchResultComponent from "./resume-result-component";
import { PHONE } from "../../globalFunctions";
export default {
  name: "sign-in",
  components: {
    SearchResultComponent
  },
  data: function() {
    return {
      phone: PHONE()
    };
  },
  methods: {
    goToSignUp: function() {
      this.$router
        .push({ name: "employersignup", params: { sign_up: true } })
        .catch(function() {});
    },
    goToLanding: function() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    }
  }
};
</script>

<style scoped>
.signin-page {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left-side {
  flex: 1;
  background-color: #ececec;
  height: calc(100vh - 7.4rem);
}
.right-side {
  flex: 1;
  height: calc(100vh - 7.4rem);
  overflow: auto;
  background-color: #ffffff;
}
.capsule-button {
  min-width: 8rem;
  padding: 0.5rem 2rem;
  background-color: #00adee;
  border-radius: 20rem;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  box-shadow: none !important;
  cursor: pointer;
}
.mid-align-section {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}
.nav-top {
  width: 100%;

  background-color: var(--employer-nav);
}
.nav-align {
  height: 7.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--employer-nav-font-color);
}
.top-icon {
  height: 1.8rem;
  margin-right: 1.1rem;
  padding-bottom: 0.3rem;
}
</style>
