<template>
  <div>
    <div v-if="!showLoader" class="sign-in-box-padding">
      <div>
        <div class="row" align="left">
          <div
            style="background-color: #3069b3; border-radius: 50%; width: 4.1rem; height: 4.1rem; margin-right: 0.5rem"
          >
            <img
              style="padding: 1rem; width: 100%; height: auto"
              src="@/assets/static_content/briefcase.png"
            />
          </div>
          <h2 style="margin: 0.5rem; font-size: 2.6rem;">Company Sign in</h2>
        </div>
        <v-form ref="form" @submit.prevent="userSignIn" lazy-validation>
          <div class="vertical-gap"></div>
          <div class="row">
            <div class="col-md-12 no-padding">
              <v-text-field
               @keydown.space.prevent
                v-model="email"
                label="Email"
                :error-messages="emailErrors"
                @input="email=removeWhiteSpace($event)"
                style="font-size:1.6rem;"
                solo
                outline
              ></v-text-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 no-padding">
              <v-text-field
                v-model="password"
                :append-icon="showIcon ? 'visibility' : 'visibility_off'"
                label="Password"
                :type="showIcon ? 'text' : 'password'"
                :error-messages="passwordErrors"
                @click:append="showIcon = !showIcon"
                style="font-size:1.6rem;"
                solo
                outline
              ></v-text-field>
            </div>
          </div>
          <div class="row no-padding">
            <div class="col-6 col-md-6 col-lg-6 col-xl-6 no-padding">
              <div class="row">
                <span>
                  <v-checkbox v-model="checkbox" :ripple="false"></v-checkbox>
                </span>
                <span class="stay-signed-in">Remember Me</span>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6 col-xl-6 no-padding">
              <div class="forgot-password">
                <a @click="onForgotPasswordClick">Forgot Password?</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="button-sign-in-loader" v-if="showLoader">
              <v-progress-circular
                style="margin-top: 1.0rem;font-size:1.8rem"
                indeterminate
                width="2"
                color="#fff"
                size="16"
              ></v-progress-circular>
            </div>
            <div style="padding-bottom: 2rem !important; width: 100%" v-else>
              <button class="button-sign-in" id="btn-log-in-cn">Sign in</button>
            </div>
          </div>
          <div v-if="error" class="error-text">{{ errorMessage }}</div>
        </v-form>
        <div
          style="text-align:left; font-size:1.3rem; color:#4b4b4b;margin-top:2.0rem"
        >
          <div style="color: #000000">
            Don't have an account?
            <span @click="goToSignUp" class="signup"><b>Create now</b></span>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <img src="@/assets/static_content/loader.svg" />
    </div>
    <div v-if="openPopup">
      <popup-box
        v-on:box-closed="openPopup = false"
        v-on:resend-email="resendEmailForResetPass"
        v-bind="popupBoxProps"
        v-bind:key="check"
      ></popup-box>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  email
} from "vuelidate/lib/validators";
import * as SYSTEM_CONST from "../../globalConstants";
import PopupBox from "../global-components/pop-up-box";
import * as FILTER from "../../filters";

export default {
  /* eslint-disable */
  name: "login",
  components: {
    PopupBox
  },
  mixins: [validationMixin],
  validations: {
    email: {
      required,
      email,
      minLength: minLength(4),
      maxLength: maxLength(64)
    },
    password: { required, minLength: minLength(8), maxLength: maxLength(12) }
  },

  data: function() {
    return {
      email: "",
      password: "",
      showIcon: false,
      checkbox: false,
      showLoader: false,
      openPopup: false,
      popupBoxProps: {
        open: false,
        message: SYSTEM_CONST.FORGET_PASSWORD.MESSAGE,
        title: SYSTEM_CONST.FORGET_PASSWORD.TITLE,
        resendMail: true
      },
      check: 0,
      error: null,
      errorMessage: null
    };
  },
  methods: {
    removeWhiteSpace(text) {
      return text.replace(/[\s\/]/g, "");
    },
    logInByFacebook(data) {
      const self = this;
      if (data) {
        self.$store
          .dispatch("signUp", data)
          .then(response => {
            if (response.status === 201 || response.status === 200) {
              switch (response.data.user_type) {
                case self.$constants.USER_TYPE.CANDIDATE:
                  self.$router.push({ name: "candidate" }).catch(function () {});
                  break;
                case self.$constants.USER_TYPE.HIRING_MANAGER:
                  self.$router.push({ name: "employer" }).catch(function () {});
                  break;
                default:
                  self.$router.push({ name: "landingPage" }).catch(function () {});
                  break;
              }
            }
          })
          .catch(function() {
            // alert("Something went wrong");
          });
      } else {
        // alert("Something went wrong");
      }
    },
    logInUsingFacebook() {
      const self = this;
      let data = null;
      FB.getLoginStatus(function(response) {
        if (response.status === "connected") {
          FB.api("/me", "GET", { fields: "id,name,email" }, function(response) {
            if (response.email && response.name) {
              data = {
                oauth: {
                  email: response.email,
                  user_name: response.name
                }
              };
              self.logInByFacebook(data);
            } else {
              // alert("Something went wrong");
            }
          });
        } else {
          FB.login(function(response) {
            if (response.authResponse) {
              FB.api("/me", "GET", { fields: "id,name,email" }, function(
                response
              ) {
                if (response.email && response.name) {
                  data = {
                    oauth: {
                      email: response.email,
                      user_name: response.name
                    }
                  };
                  self.logInByFacebook(data);
                } else {
                  // alert("Something went wrong");
                }
              });
            }
          });
        }
      });
    },
    // googleSignIn() {
    //   const self = this;
    //   self.$gAuth
    //     .signIn()
    //     .then(authCode => {
    //       let data = {
    //         oauth: {
    //           id_token: authCode.getAuthResponse().id_token
    //         }
    //       };
    //       self.$gAuth
    //         .signOut()
    //         .then(() => {})
    //         .catch(function() {});
    //       return self.$store.dispatch("signUp", data);
    //     })
    //     .then(response => {
    //       if (response.status === 201 || response.status === 200) {
    //         switch (response.data.user_type) {
    //           case self.$constants.USER_TYPE.CANDIDATE:
    //             self.$router.push({ name: "candidate" }).catch(function () {});
    //             break;
    //           case self.$constants.USER_TYPE.HIRING_MANAGER:
    //             self.$router.push({ name: "employer" }).catch(function () {});
    //             break;
    //           default:
    //             self.$router.push({ name: "landingPage" }).catch(function () {});
    //             break;
    //         }
    //       } else {
    //         // alert("Something went wrong");
    //       }
    //     })
    //     .catch(function() {
    //       // alert("Something went wrong");
    //     }) ;
    // },
    goToSignUp: function() {
      this.$emit("change")
    },
    userSignIn: function() {
      const self = this;
      let rem = 0;
      self.error = null;
      self.errorMessage = null;
      self.$v.$touch();
      if (self.checkbox) {
        rem = 1;
      }

      let user = {
        email: self.email,
        password: self.password,
        remember: rem
      };
      if (!self.$v.$anyError) {
        let token = JSON.parse(localStorage.getItem("token"));
        if (token) {
          self.openPopup = true;
          self.popupBoxProps = {
            open: true,
            message:
              "Already logged in from another account. You need to log out first.",
            title: SYSTEM_CONST.POPUP.FAILURE_MESSAGE,
            resendMail: false,
            persist: true
          };
        } else {
          self.showLoader = true;
          self.$store
            .dispatch("signIn", JSON.stringify(user))
            .then(function(response) {
              if (response.status === 201 || response.status === 200) {
                switch (response.data.user_type) {
                  case self.$constants.USER_TYPE.CANDIDATE:
                    self.$router.push({ name: "candidate" }).catch(function () {});
                    break;
                  case self.$constants.USER_TYPE.HIRING_MANAGER:
                    self.$router.push({ name: "employer" }).catch(function () {});
                    break;
                  case self.$constants.USER_TYPE.ADMIN:
                    self.$router.push({ name: "admin" }).catch(function () {});
                    break;
                  default:
                    self.$router.push({ name: "landingPage" }).catch(function () {});
                    break;
                }
              } else {
                self.showLoader = false;
                self.error = true;
                self.errorMessage =
                  SYSTEM_CONST.SIGN_IN.FAILURE +
                  FILTER.FIRST_LETTER_CAPITAL(response.data.message);
              }
            })
            .catch(function(err) {
              self.showLoader = false;
              self.error = true;
              self.errorMessage = SYSTEM_CONST.SIGN_IN.FAILURE + err.message;
            });
        }
      }
    },
    onForgotPasswordClick: function() {
      const self = this;
      self.openPopup = true;
      self.popupBoxProps = {
        open: true,
        message: SYSTEM_CONST.FORGET_PASSWORD.MESSAGE,
        title: SYSTEM_CONST.FORGET_PASSWORD.TITLE,
        resendMail: true
      };
      self.check++;
    },
    resendEmailForResetPass: function(email) {
      const self = this;
      let data = JSON.stringify({
        email: email
      });
      self.popupBoxProps.open = false;
      self.check++;
      self
        .$http({
          method: SYSTEM_CONST.METHOD.POST,
          url: SYSTEM_CONST.BASE_URL.FORGOT_PASSWORD_API_URL,
          headers: {
            "content-type": SYSTEM_CONST.HEADERS.TYPE.APPLICATION_JSON
          },
          data: data
        })
        .then(function(response) {
          if (response.status === 200) {
            self.showLoader = false;
            self.popupBoxProps.open = true;
            self.popupBoxProps.title = SYSTEM_CONST.POPUP.SUCCESS_MESSAGE;
            self.popupBoxProps.message = SYSTEM_CONST.RESEND_EMAIL.SUCCESS;
            self.popupBoxProps.resendMail = false;
            self.check++;
          } else {
            self.showLoader = false;
            self.popupBoxProps.open = true;
            self.popupBoxProps.title = SYSTEM_CONST.POPUP.FAILURE_MESSAGE;
            self.popupBoxProps.message = SYSTEM_CONST.RESEND_EMAIL.FAILURE;
            self.popupBoxProps.resendMail = false;
            self.check++;
          }
        })
        .catch(function(err) {
          self.showLoader = false;
          self.popupBoxProps.open = true;
          self.popupBoxProps.title = err.response.statusText;
          self.popupBoxProps.message = SYSTEM_CONST.RESEND_EMAIL.FAILURE;
          self.popupBoxProps.resendMail = false;
          self.check++;
        });
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.email.email &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.EMAIL_INVALID);
      !this.$v.email.minLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_SHORT);
      !this.$v.email.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.password.minLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.PASSWORD_LENGTH);
      !this.$v.password.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.PASSWORD_LENGTH);
      return errors;
    }
  },
  // created: function() {
  //   window.fbAsyncInit = function() {
  //     FB.init({
  //       appId: "202037577797334",
  //       cookie: true,
  //       xfbml: true,
  //       version: "v7.0"
  //     });
  //   };
  //   (function(d, s, id) {
  //     var js,
  //       fjs = d.getElementsByTagName(s)[0];
  //     if (d.getElementById(id)) {
  //       return;
  //     }
  //     js = d.createElement(s);
  //     js.id = id;
  //     js.src = "https://connect.facebook.net/en_US/sdk.js";
  //     fjs.parentNode.insertBefore(js, fjs);
  //   })(document, 'script', 'facebook-jssdk');
  // }
};
</script>

<style scoped>
/* .home {
  position: absolute;
  color: white;
  top: 2.0rem;
  left: -9.0rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
} */
.log-in {
  border-radius: .4rem;
  padding: .5rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color:white;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.google {
  border: solid .2rem #eeeeee;
  background-color: #eeeeee;
}
.facebook {
  border: solid .2rem #4267b2;
  background-color: #4267b2;
}
.sign-in-box-padding {
  padding: 4.0rem;
  background-color: #ffffff;
  max-width: 45rem;
  margin: auto;
}
.signup {
color:var(--link-color);
cursor: pointer;
}
.logo {
  position: fixed;
  left: 10vw;
  top: 25vh;
  font-size: 6.0rem;
  font-weight: bold;
  color: white;
}
.content {
  font-size: 2.0rem;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 100;
}
@media (max-width: 600px) {
  .sign-in-box-padding {
    width: 100% !important;
    padding: 4.4rem 3.0rem;
  }
}

/* .check-box {
  color: black !important;
} */
.forgot-password {
  text-align: right;
  padding-top: 2.2rem;
  font-size: 1.2rem;
  color: var(--link-color);
}
.stay-signed-in {
  margin-left: -.4rem;
  padding-top: 2.2rem;
  font-size: 1.2rem;
  color: #3d4249;
}
.header-text {
  font-size: 2.0rem;
  text-align: center;
  font-weight: bold;
  color: #050405;
}
.button-sign-in-loader {
  margin: auto;
  width: 100%;
  height: 3.8rem;
  border-radius: .4rem;
  background-color: var(--landing-color);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
.v-input__control>.v-input__slot{
  background-color: red !important
}
.v-input {
  text-align: right !important;
}
</style>
