<template>
  <div>
    <div v-if="!loading" class="msg">
      <div class="row" align="left">
        <div
          style="background-color: #3069b3; border-radius: 50%; width: 4.1rem; height: 4.1rem; margin-right: 0.5rem"
        >
          <img
            style="padding: 1rem; width: 100%; height: auto"
            src="@/assets/static_content/briefcase.png"
          />
        </div>
        <h2 style="margin: 0.5rem; font-size: 2.6rem;">Company Sign Up</h2>
      </div>
      <div class="vertical-gap"></div>
      <v-form ref="form" @submit.prevent="sendMessage">
        <div class="col-md-12 no-padding">
          <v-text-field v-model="name" solo outline label="Your name*" :error-messages="nameErrors"></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <v-text-field
            v-model="companyName"
            solo
            outline
            label="Company name*"
            :error-messages="companyErrors"
          ></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <v-text-field
            @keydown.space.prevent
            v-model="email"
            @input="email=removeWhiteSpace($event)"
            solo
            outline
            label="Email*"
            :error-messages="emailErrors"
          ></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <v-text-field v-model="phone" solo outline label="Phone *" :error-messages="phoneErrors"></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <v-text-field
            v-model="location_name"
            solo
            outline
            label="Address*"
            :error-messages="locationErrors"
          ></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <v-text-field
            ref="password"
            :append-icon="showIcon ? 'visibility' : 'visibility_off'"
            v-model="password"
            :type="showIcon ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            :error-messages="passwordErrors"
            :hint="hint"
            @click:append="showIcon = !showIcon"
            style="font-size:1.6rem"
            solo
            outline
          ></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <v-text-field
            v-model="repeatPassword"
            :append-icon="showIcon2 ? 'visibility' : 'visibility_off'"
            label="Re-type Password"
            :type="showIcon2 ? 'text' : 'password'"
            :error-messages="repeatPasswordErrors"
            @click:append="showIcon2 = !showIcon2"
            style="font-size:1.6rem"
            solo
            outline
          ></v-text-field>
        </div>
        <div class="col-md-12 no-padding">
          <button class="button-sign-in" id="btn-log-in-cn">Sign Up</button>
        </div>
      </v-form>
      <div
        style="text-align:left; font-size:1.6rem; font-weight:500; color: #050505; margin-top: 2rem"
      >
        Already have an account?
        <span
          @click="goToSignIn"
          style="font-weight: bold; color: #3555DF; cursor: pointer;"
        >Login</span>
        here.
      </div>
      <div :key="check">
        <pop-up v-bind="props" v-on:button-clicked="goToHomePage" v-on:box-closed="reset"></pop-up>
      </div>
    </div>
    <div v-else>
      <img src="@/assets/static_content/loader.svg" />
    </div>
  </div>
</template>

<script>
import MenuForm from "./menu-form";
import { PHONE } from "../../globalFunctions";
import PopUp from "../global-components/pop-up-box";
import { validationMixin } from "vuelidate";
import { REQUIRED_MESSAGE } from "../../globalConstants"
import {
  required,
  email,
  helpers,
  maxLength,
  minLength,
  sameAs
} from "vuelidate/lib/validators";
import { CONTACT_US } from "../../Api/public_api";
import { REMOVE_WHITE_SPACES } from "../../filters";

const phone_validator = helpers.regex(
  "phone_validator",
  /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/
);
export default {
  name: "sign-in",
  components: {
    MenuForm,
    PopUp
  },
  mixins: [validationMixin],
  validations: {
    name: {
      required,
      minLength: minLength(4),
      maxLength: maxLength(64)
    },
    companyName: {
      required,
      maxLength: maxLength(255)
    },
    email: {
      required,
      email
    },
    phone: {
      required,
      phone_validator
    },
    location_name: {
      required,
      maxLength: maxLength(300)
    },
    password: { required, minLength: minLength(8), maxLength: maxLength(12) },
    repeatPassword: { sameAsPassword: sameAs("password") }
  },
  data: function() {
    return {
      phoneCheck: PHONE(),
      name: "",
      email: "",
      phone: "",
      comments: "",
      companyName: "",
      location_name: "",
      loading: false,
      props: {
        open: false
      },
      check: 0,
      showIcon: false,
      showIcon2: false,
      password: "",
      repeatPassword: "",
      hint: REQUIRED_MESSAGE.PASSWORD_LENGTH
    };
  },
  methods: {
    removeWhiteSpace(text) {
      return text.replace(/[\s\/]/g, "");
    },
    goToSignIn: function() {
      this.$emit("change");
    },
    goToSignUp: function() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    },
    goToHomePage() {
      this.props.open = false;
      this.$router.push({ name: "employersignup" }).catch(function() {});
    },
    reset() {
      const self = this;
      self.name = null;
      self.companyName = null;
      self.email = null;
      self.phone = null;
      self.location_name = null;
      self.loading = null;
    },
    sendMessage() {
      const self = this;
      self.props.open = false;
      self.name = REMOVE_WHITE_SPACES(self.name);
      self.$v.$touch();
      if (!self.$v.$anyError) {
        self.loading = true;
        let data = {
          user_name: self.name,
          email: self.email,
          phone: self.phone,
          company_name: self.companyName,
          location_name: self.location_name,
          password: self.password
        };
        self.$store
          .dispatch("empSignUp", data)
          .then(function(response) {
            if (response.status === 201 || response.status === 200) {
              self.loading = false;
              switch (response.data.user_type) {
                case self.$constants.USER_TYPE.CANDIDATE:
                  if (self.job_id) {
                    self.$router
                      .push({
                        name: "topJobView",
                        params: { q: self.job_id }
                      })
                      .catch(function() {});
                  } else {
                    self.$router
                      .push({ name: "candidate" })
                      .catch(function() {});
                  }
                  break;
                case self.$constants.USER_TYPE.HIRING_MANAGER:
                  self.$router.push({ name: "employer" }).catch(function() {});
                  break;
                default:
                  self.$router
                    .push({ name: "landingPage" })
                    .catch(function() {});
                  break;
              }
            } else {
              self.loading = false;
              self.props.open = true;
              self.props.title = "Oops!";
              self.props.message =
                response.message || "Sorry ! Something went wrong";
              self.check++;
            }
          })
          .catch(function(err) {
            self.loading = false;
            self.props.open = true;
            self.props.title = "Oops!";
            self.props.message =
              err.response.data.message;
            self.check++;
          });
      }
    }
  },
  computed: {
    nameErrors() {
     const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.minLength &&
        errors.push(REQUIRED_MESSAGE.NAME);
      !this.$v.name.maxLength &&
        errors.push(REQUIRED_MESSAGE.NAME);
      !this.$v.name.required &&
        errors.push(REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    companyErrors() {
      const errors = [];
      if (!this.$v.companyName.$dirty) return errors;
      !this.$v.companyName.maxLength &&
        errors.push(REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      !this.$v.companyName.required &&
        errors.push(REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email &&
        errors.push(REQUIRED_MESSAGE.EMAIL_INVALID);
      !this.$v.email.required &&
        errors.push(REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.phone_validator &&
        errors.push(REQUIRED_MESSAGE.PHONE_INVALID);
      !this.$v.phone.required &&
        errors.push(REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    locationErrors() {
      const errors = [];
      if (!this.$v.location_name.$dirty) return errors;
      !this.$v.location_name.maxLength &&
        errors.push(REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      !this.$v.location_name.required &&
        errors.push(REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength &&
        errors.push(REQUIRED_MESSAGE.PASSWORD_LENGTH);
      !this.$v.password.maxLength &&
        errors.push(REQUIRED_MESSAGE.PASSWORD_LENGTH);
      !this.$v.password.required &&
        errors.push(REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    repeatPasswordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.repeatPassword.sameAsPassword &&
        errors.push(REQUIRED_MESSAGE.PASSWORD_NOT_MATCH);
      return errors;
    }
  }
};
</script>

<style scoped>
.page {
  width: 100%;
  height: 100%;
  background-color: white;
}

.msg {
  padding: 4rem;
  background-color: #ffffff;
  max-width: 45rem;
  margin: auto;
  text-align: left;
}
.msg > div {
  padding-bottom: 0.5rem;
}
.wrapper {
  margin-top: 16vh;
  padding: 0;
}
.v-input {
  text-align: right !important;
}
.header {
  font-size: 3.6rem;
  letter-spacing: 0;
  line-height: 3.5rem;
  color: #050405;
  text-align: left;
  margin-bottom: 2rem;
}

.bottom-text {
  padding: 2rem 0 0 0;
}
.message {
  padding: 1rem;
  margin-top: 4rem;
}
@media (max-width: 60rem) {
  .msg {
    width: 100%;
    padding: 2.5rem;
  }
  .wrapper {
    margin-top: 18vh;
  }
  .header {
    font-size: 3rem;
  }
  .bottom-text {
    left: 2.5rem;
  }
  .background {
    background: url("../../assets/newDesign/background-pattern.svg") repeat,
      linear-gradient(190deg, #a179ff, #829aff);
  }
}
</style>
