<template>
  <div class="page">
    <div class="nav-top">
      <div class="landing-wrapper">
        <div class="landing-container">
          <div style="padding-top:0rem;padding-bottom:0rem">
            <div class="nav-align">
              <img
                @click="goToHomePage"
                src="@/assets/static_content/logo-employer.svg"
                style="height: 5rem; cursor:pointer"
              />
              <div class="nav-right phone-mode">
                <div class="nav-right-button" @click="drawer = !drawer">
                  <img src="@/assets/static_content/menu-icon.svg" />
                </div>
                <div
                  class="menu-box"
                  v-if="drawer"
                  style="border: solid 1px #707070;right:2rem;top:5rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"
                >
                  <div
                    class="menuitem"
                    id="btn-sgn-in-cn-phn"
                    @click="scrollTOPlan"
                  >
                    Pricing
                  </div>
                  <div
                    v-if="!signin"
                    class="menuitem"
                    @click="
                      () => {
                        drawer = !drawer;
                        change();
                      }
                    "
                    id="btn-sgn-in-cn-phn"
                  >
                    Login
                  </div>
                  <template v-else>
                    <div class="separator"></div>
                    <div
                      class="menuitem"
                      @click="
                        () => {
                          drawer = !drawer;
                          change();
                        }
                      "
                      id="btn-c-accnt-emp-phn"
                    >
                      Sign up
                    </div>
                  </template>
                </div>
                <div
                  class="dropdown-wrapper"
                  v-if="drawer"
                  style="background-color:rgba(0,0,0,0.1);z-index:50"
                  @click="drawer = false"
                ></div>
              </div>
              <div class="nav-right pc-mode">
                <div style="cursor:pointer" @click="scrollTOPlan" id="sub">
                  <img
                    src="@/assets/static_content/dollar.svg"
                    class="top-icon"
                  />Pricing
                </div>
                <div
                  v-if="!signin"
                  @click="change"
                  style="cursor:pointer"
                  id="btn-top-login-emp"
                >
                  <img
                    src="@/assets/static_content/ico-sign-up.svg"
                    class="top-icon"
                  />Login
                </div>
                <div
                  v-else
                  @click="change"
                  style="cursor:pointer"
                  id="btn-top-sgn-up-emp"
                >
                  <img
                    src="@/assets/static_content/ico-sign-up.svg"
                    class="top-icon"
                  />Sign Up
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-gap pc-mode" style="padding: 5rem 0"></div>
    <div class="first-section">
      <div class="landing-wrapper">
        <div class="landing-container">
          <div class="row change-position">
            <div
              class="col-sm-12 col-md-6 col-lg-8 col-xl-8 no-padding font-align"
            >
              <video autoplay muted loop id="myVideo" @click="searchFocus">
                <source
                  src="@/assets/static_content/final.mp4"
                  type="video/mp4"
                />
              </video>
            </div>
            <div class="vertical-gap phone-mode"></div>
            <div
              class="col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding vertical-center"
            >
              <!-- <video autoplay muted loop id="myVideo" style="width:51.2rem">
                <source src="@/assets/static_content/final.mp4" type="video/mp4" />
              </video> -->
              <EmployerSignin v-if="signin" @change="change" />
              <EmployerSignup v-else @change="change" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-gap pc-mode" style="padding: 5rem 0"></div>
    <div class="vertical-gap pc-mode"></div>
    <!-- <div class="landing-wrapper">
      <div class="landing-container">
        <div class="row" style="width:100%">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 no-padding" style="position:relative">
            <img
              src="@/assets/static_content/employer-hero-round.svg"
              style="width:100%;height:auto;z-index:10;"
            />
            <img
              src="@/assets/static_content/halftone.svg"
              style="width:50%;height:auto;position:absolute;left:-4rem;bottom:-5rem;z-index:1"
            />
          </div>
          <div
            class="col-sm-12 col-md-6 col-lg-6 col-xl-6 vertical-center"
            style="text-align:left;max-width:48.6rem;margin-left:5rem"
          >
            <div class="big-header-2">
              Searching for
              the right candidate has
              never been
              <span
                style="color:#4b5db7"
              >so easy!</span>
            </div>
            <div
              class="post-job-button vertical-center"
              style="margin-top:3rem;margin-bottom:6rem"
            >Post A JOb</div>
            <div style="font-size:1.6rem;color:#8d8d8d">Want To Know More?</div>
            <div style="font-size:2.4rem;font-weight:bold;color:#000">LET'S GET IN TOUCH</div>
            <v-form @submit.prevent="searchResume" ref="form">
              <div class="input-group search-job-input-field">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Drop Your Number Here"
                  v-model="searchKey"
                />
                <img
                  src="@/assets/static_content/phone_call.svg"
                  style="position:absolute;left:2rem;top:2.2rem"
                />
              </div>
            </v-form>
          </div>
        </div>
      </div>
    </div> -->

    <div class="section-gap"></div>
    <div class="landing-wrapper" style="background-color: #f2f3f8;">
      <div class="landing-container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 no-padding">
            <div class="third-section vertical-center ">
              <!-- <div class="big-header-2" style="text-transform: uppercase;">
                How it
                <span style="color:#4b5db7">works?</span>
              </div>
              <div
                style="color:#787878;font-size: 16px;text-align:left;margin:2.5rem 0rem"
              >Workd uses its AI-powered software to sort out candidates for your organization. It helps you connect with the best applicants based on your organizational requirements.</div>
              <div class="post-job-button vertical-center" style="max-width:17rem;">Sign Up Now</div> -->
              <div class="styled-header font-align">Looking for a talent?</div>
              <div class="big-header font-align">
                Explore qualified candidates
              </div>
              <div class="no-padding">
                <h2
                  style="text-align: left;font-size:2.5rem;font-weight:bold;margin-top:5rem"
                >
                  Search Candidates
                </h2>
                <div
                  style="color:var(--link-color); text-align: left;margin-bottom:0.5rem"
                >
                  skill, designation, institution or any keyword
                </div>
                <v-form
                  style="margin: 1rem 0"
                  @submit.prevent="searchResume"
                  ref="form"
                >
                  <div class="input-group search-job-input-field">
                    <input
                      type="text"
                      class="form-control"
                      id="searchbox"
                      placeholder="e.g. Software Engineer"
                      v-model="searchKey"
                    />
                    <button
                      @click="searchResume"
                      class="input-group-append"
                      id="btn-srch-rsm-emp"
                    >
                      <div
                        class="find-jobs-button vertical-center"
                        align="middle"
                      >
                        <b>Search</b>
                      </div>
                    </button>
                  </div>
                  <div
                    v-bind:class="{ errS: searchKey.trim().length === 50 }"
                    style="
                    padding: 0.2rem;
                    text-align: left;
                    font-size: 1.2rem;
                    color: #cccccc;"
                  >
                    {{ searchKey.trim().length }}/50
                  </div>
                </v-form>
                <div style="color: #525252; text-align: left">
                  We use
                  <span style="color: #ff6000">Artificial intelligence</span> to
                  present you with targeted applicants
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 pc-mode">
            <div class="third-section">
              <div class="help-card" style="top:-3.9rem">
                <img src="@/assets/static_content/test1.svg" />
                <h4>Easy Signup</h4>
                <p>
                  Just give us a few details and we will help you find the best
                  employees
                </p>
              </div>
              <div class="help-card" style="bottom:3.9rem">
                <img src="@/assets/static_content/help2.svg" />
                <h4>Appropriate Candidates</h4>
                <p>Find the right person for your team, right away</p>
              </div>
              <div class="help-card" style="left:31rem;top:3.9rem">
                <img src="@/assets/static_content/help3.svg" />
                <h4>Personalized Dashboard</h4>
                <p>
                  You will never miss out again with your own personalized
                  dashboard
                </p>
              </div>
              <div class="help-card" style="left:31rem;bottom:-3.9rem">
                <img src="@/assets/static_content/help4.svg" />
                <h4>AI Based Resume Search</h4>
                <p>Our AI powered search engine sorts out the best resumes</p>
              </div>
            </div>
          </div>
          <div class="horizontal-slide phone-mode">
            <div class="slide-content">
              <img src="@/assets/static_content/test1.svg" />
              <h4>Easy Signup</h4>
              <p>
                Just give us a few details and we will help you find the best
                employees
              </p>
            </div>
            <div class="slide-content">
              <img src="@/assets/static_content/help2.svg" />
              <h4>Appropriate Candidates</h4>
              <p>Find the right person for your team, right away</p>
            </div>
            <div class="slide-content">
              <img src="@/assets/static_content/help3.svg" />
              <h4>Personalized Dashboard</h4>
              <p>
                You will never miss out again with your own personalized
                dashboard
              </p>
            </div>
            <div class="slide-content">
              <img src="@/assets/static_content/help4.svg" />
              <h4>AI Based Resume Search</h4>
              <p>Our AI powered search engine sorts out the best resumes</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="section-gap"></div>
    <div class="section-gap"></div> -->
    <!-- <div class="landing-wrapper">
      <div class="landing-container">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 no-padding">
            <div class="grey-header">Companies That Use Our Services</div>
            <div class="big-header-2">OUR CUSTOMERS</div>

            <div v-if="featuredCompanies.length > 0" style="margin-top:7.4rem">
              <div class="row">
                <div v-for="company in featuredCompanies" :key="company.company_id">
                  <div v-if="company.image_url" class="row f-image-wrapper">
                    <img class="f-image" :src="company.image_url" />
                  </div>
                  <div v-else>
                    <div class="row f-image-wrapper-2">
                      <div class="col-12 no-padding">
                        <div
                          class="row"
                          style="height: 5rem; text-align: left; font-weight: bold"
                        >{{company.company_name}}</div>
                        <img class="f-image-2" src="@/assets/newDesign/exp.svg" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 no-padding">
            <div class="grey-header">Have A Question?</div>
            <div class="big-header-2">WRITE TO US</div>
            <div class="row justify-content-between" style="padding-top:6rem">
              <div class="col-5 no-padding">
                <v-text-field
                  :value="nameState"
                  label="Name"
                
                  style="font-size:1.6rem;"
                  @change="(val)=>changeNameTemp(val)"
                ></v-text-field>
              </div>
              <div class="col-6 no-padding">
                <v-text-field
                  :value="emailState"
                  label="Email"
                  @change="(val)=>changeEmailTemp(val)"
                  style="font-size:1.6rem;"
                 
                ></v-text-field>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-5 no-padding">
                <v-text-field
                  :value="phoneState"
                  label="Phone"
             
                  style="font-size:1.6rem;"
                  @change="e=>changePhonetemp(e)"
                ></v-text-field>
              </div>
              <div class="col-6 no-padding">
                <v-text-field
                  :value="reasonState"
                  label="Choose a reason"
          
                  style="font-size:1.6rem;"
                  @change="e=>changeReasontemp(e)"
                ></v-text-field>
              </div>
            </div>
            <v-text-field
              :value="subjectState"
              label="Subject"
       
              style="font-size:1.6rem;"
              @change="e=>changeSubjectTemp(e)"
            ></v-text-field>
            <v-text-field
              :value="messageState"
            
              label="Message"
           
              style="font-size:1.6rem;"
              @change="e=>changeMesssageTemp(e)"
            ></v-text-field>
            <div class="post-job-button vertical-center" style="margin-top:1rem" @click="sendMail">Send</div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="section-gap"></div>
    <!-- <div id="plan" class="fifth-section">
      <plans v-on:scroll-to-top="scrollToTop"></plans>
    </div>-->
    <div class="section-gap"></div>
    <!--<div class="fifth-section">-->
    <!--<h2 align="middle">Companies who are using Workd.ai</h2>-->
    <!--<div class="container-fluid horizontal-center">-->
    <!--<div>-->
    <!--<img class="float f-image" src="@/assets/live_images/f-1.png" />-->
    <!--<img class="float f-image" src="@/assets/live_images/f-2.png" />-->
    <!--<img class="float f-image" src="@/assets/live_images/f-4.jpg" />-->
    <!--<img class="float f-image" src="@/assets/live_images/f-5.png" />-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="section-gap"></div>-->
    <!-- <div class="sixth-section landing-wrapper">
      <div class="landing-container" style="margin:4.5rem 0">
        <div class="row">
          <div class="col-sm-8 no-padding" align="left">
            <h3 style="color:white;padding-bottom:1.5rem">Follow us on</h3>
            <img
              src="@/assets/static_content/facebook.svg"
              @click="goToFb"
              style="width:4.2rem"
              class="float"
            />
            <img
              src="@/assets/static_content/linkedin.svg"
              @click="goToIn"
              style="width:4.2rem"
              class="float"
            />
            <img
              src="@/assets/static_content/instagram.svg"
              @click="goToInsta"
              style="width:4.2rem"
              class="float"
            />
            <img
              src="@/assets/static_content/youtube.svg"
              @click="goToYoutube"
              style="width:4.2rem"
              class="float"
            />
          </div>
          <div class="col-sm-4 pc-mode no-padding">
            <div class="row justify-content-end">
              <img class="footer-logo" src="@/assets/static_content/logo-graphics.svg" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <Footer></Footer>
    <div class="container-fluid footer">
      Copyright © 2018 workd. All Rights Reserved
    </div>
  </div>
</template>

<script>
import EmployerSignup from "./employer-sign-up";
import EmployerSignin from "./employer-sign-in";
import Plans from "./product-services";
import { PHONE } from "../../globalFunctions";
import { GET_FEATURED_COMPANY_IMAGES } from "../../Api/public_api";
import { mapGetters, mapActions } from "vuex";

import Footer from "./footer";
export default {
  name: "sign-in",
  components: {
    EmployerSignin,
    EmployerSignup,
    Plans,
    Footer
  },
  data: function() {
    return {
      signin: true,
      searchKey: "",
      key: 0,
      phone: PHONE(),
      drawer: false,
      featuredCompanies: []
    };
  },
  watch: {
      searchKey(newQ, oldQ) {
          if (newQ.trim().length > 50) {
              this.searchKey = oldQ.trim();
          }
      },
  },
  methods: {
    // ...mapActions(["changeName","changePhone","changeReason","changeSubject","changeEmail"]),
    searchFocus() {
      document.getElementById("searchbox").focus();
    },
    change() {
      this.signin = !this.signin;
      this.key++;
    },
    sendMail() {
      // console.log(this.allState);
      // let database=firebase.database();
      //  firebase.database().ref('root/').push({
      //     username: "test",
      //     email: "hello",
      //   },(err)=>{
      //     if(err)console.log(err);
      //     else console.log("sent")
      //   });
    },
    changeNameTemp(val) {
      this.$store.dispatch("changeName", val);
    },
    changePhoneTemp(val) {
      this.$store.dispatch("changePhone", val);
    },
    changeSubjectTemp(val) {
      this.$store.dispatch("changeSubject", val);
    },
    changeReasonTemp(val) {
      this.$store.dispatch("changeReason", val);
    },
    changeEmailTemp(val) {
      this.$store.dispatch("changeEmail", val);
    },

    goToSignUp: function() {
      this.$router.push({ name: "signup" }).catch(function() {});
    },
    goToHomePage() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    },
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
    scrollTOPlan() {
      this.$router.push({ name: "pricing" }).catch(function() {});
    },
    searchResume() {
        const self = this;
        if (self.searchKey.trim() &&
            self.searchKey.trim().length > 0 &&
            self.searchKey.trim().length <= 50) {
            self.$router
                .push({ name: "publicResumeSearch", params: { q: this.searchKey } })
                .catch(function() {});
        }
    },
  },
  computed: {
    ...mapGetters([
      "nameState",
      "phoneState",
      "reasonState",
      "subjectState",
      "messageState",
      "allState",
      "emailState"
    ])
  },
  mounted() {
    const self = this;
    if (self.$route.params.sign_up) {
      self.signin = false;
    }
    GET_FEATURED_COMPANY_IMAGES()
      .then(function(data) {
        self.featuredCompanies = data.companies;
      })
      .catch(function(err) {});
  }
};
</script>

<style scoped>
  .errS {
    color: var(--button-delete-color) !important;
  }
.styled-header {
  background-image: linear-gradient(to right, #3069b3, #8552a1);
  font-size: 25px;
  letter-spacing: 1rem;
  padding: 0.7rem 2.5rem;
  color: white;
  font-weight: bold;

  max-width: 54rem;
  text-transform: uppercase;
}
.big-header {
  font-size: 5rem;
  font-weight: bold;

  margin-top: 3rem;
}
.grey-header {
  font-size: 1.6rem;
  color: #8d8d8d;
  text-align: left;
}
.big-header-2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.13rem;
  line-height: 1.35;
}
.post-job-button {
  height: 4rem;
  padding: 0 3.6rem;
  background-color: #00adee;
  border-radius: 2rem;
  white-space: wrap;
  max-width: 14.4rem;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.4s;
}
video {
  width: 100%;
  max-width: 60rem;
}
#btn-top-sgn-up-emp {
  background-image: linear-gradient(to left, #8552a1, #3069b3);
  height: 7.4rem;
  width: 11.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#btn-top-login-emp {
  background-image: linear-gradient(to left, #8552a1, #3069b3);
  height: 7.4rem;
  width: 11.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sub {
  height: 7.4rem;
  width: 15.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.post-job-button:hover {
  background-color: #24bdf4;
  transition: 0.4s;
}
.page {
  width: 100%;
  background-color: white;
  line-height: 1.17;
}
.f-image-wrapper {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  cursor: auto;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin-right: 2rem !important;
  margin-bottom: 2rem !important;
  float: left;
}
.f-image {
  width: 100%;
  margin: auto !important;
}
.nav-top {
  width: 100%;

  background-color: var(--employer-nav);
}
.nav-align {
  height: 7.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--employer-nav-font-color);
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shadow-text {
  color: white;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.29);
}
/* .float {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
} */
.second-section {
  /* background: url("../../assets/static_content/layer.png"),
    url("../../assets/static_content/cropped.jpg"); */

  position: relative;
}
.capsule-button {
  cursor: pointer;
  padding: 0rem 4.3rem;
  height: 5.8rem;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2.9rem;
}
.third-section {
  width: 100%;
  height: 49.6rem;
  position: relative;
}
.help-card {
  background-color: #ffffff;
  height: 23rem;
  position: absolute;
  text-align: left;
  padding: 2.6rem;
  width: 28rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
}
.help-card > img {
  width: 4.5rem;
  margin-bottom: 2rem;
}
.help-card > h4 {
  color: #3069b3;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  text-align: left;
}
.help-card > p {
  font-size: 1.4rem;
  text-align: left;
  color: #7a7a7a;
}
.form-control {
  height: 4rem;
  border-radius: 0.4rem;
  border: solid 1px #c0c0c0;
  background-color: white;
  font-size: 1.4rem;
  max-width: 55rem;
  padding-left: 2rem;
}
.form-control:focus {
  box-shadow: none;
}
.find-jobs-button {
  margin-left: -12rem;
  cursor: pointer;
  width: 14.6rem;
  height: 4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background-image: linear-gradient(to left, #15843c, #8dbe49);
  color: white;
  z-index: 10;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.right-image {
  width: 100%;
}
.sixth-section {
  background-color: var(--landing-color-new);
}

.top-icon {
  height: 1.8rem;
  margin-right: 1.1rem;
  padding-bottom: 0.3rem;
}
.f-image {
  width: 10rem;
  height: 10rem;
}
.horizontal-slide {
  width: calc(100vw - 65px);
  white-space: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
  display: none;
}
.horizontal-slide::-webkit-scrollbar {
  display: none;
}
.slide-content {
  margin: 5rem 2rem;
  display: inline-block;
  white-space: normal;
  padding: 2.9rem;
  width: 280px !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  height: 23rem;
  text-align: left;
}
.slide-content > img {
  width: 4.5rem;
  margin-bottom: 2rem;
}
.slide-content > h4 {
  color: #3069b3;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  text-align: left;
}
.slide-content > p {
  font-size: 1.4rem;
  text-align: left;
  color: #7a7a7a;
  width: 28rem;
  margin-right: 2rem;
}

@media (max-width: 800px) {
  .phone-mode {
    display: flex;
  }
  .first-section {
    min-height: auto;
  }
  .pc-mode {
    display: none;
  }
  .styled-header {
    max-width: 100%;
  }
  /* video{
    width:40rem;
  } */
}
@media (max-width: 600px) {
  /* video{
    width:35rem;
  } */
  .change-position {
    flex-direction: column-reverse;
  }
}
</style>
