<template>
  <div style="background-color: white; height: 100vh">
    <div class="landing-wrapper">
      <div class="landing-container">
        <div class="nav">
          <div class="nav-left">
            <img
              @click="goToHomePage"
              src="@/assets/static_content/workd.svg"
              class="logo"
            />
            <!--<div class="left-content pc-mode">-->
            <!--<div class="nav-left-content">-->
            <!--<div class="image">-->
            <!--<img src="@/assets/static_content/find-job.svg" />-->
            <!--</div>-->
            <!--<div class="content" id="btn-fndjb-cn">-->
            <!--Find Job-->
            <!--<div>use our AI-powered platform</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="left-content pc-mode">-->
            <!--<div class="nav-left-content">-->
            <!--<div class="image">-->
            <!--<img src="@/assets/static_content/upload-resume.svg" />-->
            <!--</div>-->
            <!--<div class="content" id="btn-uprsm-cn">-->
            <!--Upload Resume-->
            <!--<div>don't have a resume? Build in 3 steps</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
          <div class="nav-right pc-mode">
            <div
              id="btn-c-accnt-cn"
              class="nav-right-content"
              style="color:var(--link-color);cursor:pointer"
              @click="goToSignUp"
            >
              Create account
            </div>
            <div class="nav-right-content">Or</div>
            <div
              id="btn-sgn-in-cn"
              class="nav-right-content"
              style="color:var(--link-color);cursor:pointer"
              @click="goToSignIn"
            >
              Sign in
            </div>
            <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
              |
            </div>
            <div
              class="nav-right-button"
              @click="goToEmployer"
              id="btn-c-accnt-emp"
            >
              FOR EMPLOYER
            </div>
          </div>
          <div class="nav-right phone-mode">
            <div class="nav-right-button" @click="drawer = !drawer">
              SIGN IN
            </div>
            <div
              class="menu-box"
              v-if="drawer"
              style="border: solid 1px #707070;right:0rem;top:7rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"
            >
              <div class="menuitem" @click="goToSignIn" id="btn-sgn-in-cn-phn">
                Candidate
              </div>
              <div class="separator"></div>
              <div
                class="menuitem"
                @click="goToEmployer"
                id="btn-c-accnt-emp-phn"
              >
                Employer
              </div>
            </div>
            <div
              class="dropdown-wrapper"
              v-if="drawer"
              style="background-color:rgba(0,0,0,0.1);z-index:50"
              @click="drawer = false"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-help">
      <div class="h-help-up">
        How Can We Help?
      </div>
      <div class="h-help-un">
        Frequently Asked Questions
      </div>
    </div>
    <div class="landing-wrapper">
      <div class="landing-container" style="background-color: white">
        <div class="row tab-head justify-content-center">
          <div
            @click="changeContent('can')"
            class="col-3"
            style="cursor: pointer"
          >
            <div class="tab-content">Candidates</div>
            <div
              v-bind:class="{ active: isCandidates }"
              class="horizontal-line"
            ></div>
          </div>
          <div
            @click="changeContent('emp')"
            class="col-3"
            style="cursor: pointer"
          >
            <div class="tab-content">Employers</div>
            <div
              v-bind:class="{ active: !isCandidates }"
              class="horizontal-line"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-wrapper">
      <div class="landing-container" style="margin-top: 6rem">
        <div v-for="item in faqs">
          <div class="row qst-back">{{ item.question }}</div>
          <div class="row ans-back">{{ item.answer }}</div>
        </div>
      </div>
    </div>
    <div class="section-gap"></div>
    <Footer />
    <div class="footer landing-wrapper">
      <div class="landing-container">
        Copyright © 2018 workd. All Rights Reserved
      </div>
    </div>
  </div>
</template>

<script>
import { PHONE } from "../../globalFunctions";
import { FAQ_CANDIDATES, FAQ_EMPLOYERS } from "../../faq";
import Footer from "./footer";
export default {
  name: "faq",
  components: {
    Footer
  },
  data: function() {
    return {
      drawer: false,
      phone: PHONE(),
      faqs: [],
      isCandidates: true
    };
  },
  methods: {
    changeContent(check) {
      const self = this;
      if (check === "can" && !self.isCandidates) {
        self.isCandidates = true;
        self.faqs = FAQ_CANDIDATES;
      } else if (check === "emp" && self.isCandidates) {
        self.isCandidates = false;
        self.faqs = FAQ_EMPLOYERS;
      }
    },
    goToHomePage() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    },
    goToSignIn: function() {
      this.$router.push({ name: "signin" }).catch(function() {});
    },
    goToSignUp: function() {
      this.$router.push({ name: "signup" }).catch(function() {});
    },
    goToEmployer() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    }
  },
  mounted() {
    const self = this;
    self.faqs = FAQ_CANDIDATES;
    self.isCandidates = true;
  }
};
</script>

<style scoped>
.logo {
  width: 18.5rem;
  cursor: pointer;
}
.nav {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 5.2rem 0px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-left-content > .image > img {
  height: 2.7rem;
  width: auto;
}
.nav-left-content > .content > div {
  color: var(--link-color);
  white-space: nowrap;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-right-content {
  padding-right: 1rem;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 1.7rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.h-help {
  background-color: #f2f3f8;
  padding: 4rem 2rem;
}
.h-help-un {
  font-size: 2rem;
  line-height: 1.75;
  letter-spacing: 6px;
  text-align: center;
  color: #acacac;
}
.h-help-up {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}
.tab-head {
  margin-top: 10rem !important;
}
.tab-content {
  font-size: 1.8rem;
  line-height: 1.11;
  text-align: center;
  color: #000000;
  margin-bottom: 1rem;
}
.horizontal-line {
  background-color: #f7f7f7;
  height: 0.4rem;
}
.active {
  background-color: #00adee;
}
.qst-back {
  background-color: #f2f3f8;
  padding: 1.5rem 3rem;
  line-height: 2.69;
  border-left: 0.4rem solid #00adee;
  text-align: left;
}
.ans-back {
  background-color: #ffffff;
  padding: 1.5rem 3rem;
  text-align: left;
  line-height: 1.69;
  color: #666666;
}
.footer {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #00304d;
  color: #87939a;
}
@media (max-width: 600px) {
  .logo {
    width: 13.89rem;
  }
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
@media (max-width: 800px) {
  .phone-mode {
    display: flex;
  }
  .pc-mode {
    display: none;
  }
}
</style>
