<template>
  <div id="find" ref="lavContainer"></div>
</template>

<script>
import lottie from "lottie-web";

import * as animationData from "@/assets/animation/find.json";

export default {
  name: "story",
  data() {
    return {
      anim: {}
    };
  },
  mounted() {
    this.anim = lottie.loadAnimation({
      container: document.getElementById("find"),
      renderer: "svg",
      loop: true,
      autoplay: true,
      animationData: animationData.default
    });
  }
};
</script>

<style>
#story {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}
</style>
