<template>
  <div class="footer">
    <div class="copy-right-text">
      Copyrights &#169; 2018-19 | All rights reserved
    </div>
  </div>
</template>

<script>
export default {
  name: "fixed-footer"
};
</script>

<style scoped>
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 0;
  margin-top: 5rem;
  width: 100%;
  color: #ffffff;
}
.copy-right-text {
  font-size: 1.2rem;
}
</style>
