<template>
  <div class="sixth-section landing-wrapper">
    <div class="landing-container" style="margin:4.5rem 0">
      <div class="row">
        <div class="col-sm-4 no-padding font-align">
          <h3 style="color:white;padding-bottom:1.5rem">Follow us on</h3>
          <div class="row align">
            <img
              src="@/assets/static_content/facebook.svg"
              @click="goToFb"
              style="width:4.2rem"
              class="float"
            />
            <img
              src="@/assets/static_content/linkedin.svg"
              @click="goToIn"
              style="width:4.2rem"
              class="float"
            />
            <img
              src="@/assets/static_content/instagram.svg"
              @click="goToInsta"
              style="width:4.2rem"
              class="float"
            />
            <img
              src="@/assets/static_content/youtube.svg"
              @click="goToYoutube"
              style="width:4.2rem"
              class="float"
            />
          </div>
        </div>
        <div class="col-sm-4 no-padding font-align">
          <h3 style="color:white;padding-bottom:1.5rem">Quick Links</h3>
          <router-link style="cursor:pointer;color:white" to="/about">
            About us</router-link
          ><br />
          <router-link style="cursor:pointer;color:white" to="/faq">
            FAQ </router-link
          ><br />
          <router-link style="cursor:pointer;color:white" to="/privacy-policy">
            Privacy Policy </router-link
          ><br />
          <router-link style="cursor:pointer;color:white" to="/pricing">
            Pricing </router-link
          ><br />
          <router-link style="cursor:pointer;color:white" to="/contact">
            Contact us </router-link
          ><br />
        </div>
        <div class="col-sm-4 pc-mode no-padding">
          <div class="row justify-content-end">
            <img
              class="footer-logo"
              src="@/assets/static_content/logo-graphics.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goToFb() {
      window.open("https://www.facebook.com/workdai/", "_blank");
    },
    goToIn() {
      window.open(" https://www.linkedin.com/company/workdai/", "_blank");
    },
    goToInsta() {
      window.open("https://www.instagram.com/workd.ai/", "_blank");
    },
    goToYoutube() {
      window.open(
        "https://www.youtube.com/channel/UCUEeszcZb_-FEgvIQEu2LoQ?view_as=subscriber",
        "_blank"
      );
    }
  }
};
</script>

<style>
.sixth-section {
  background-color: var(--landing-color-new);
}
.footer-logo {
  width: 8.6rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 2.2rem;
}
.footer {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #00304d;
  color: #87939a;
}
.float {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.align {
  justify-content: flex-start;
}
@media (max-width: 600px) {
  .align {
    justify-content: center;
  }
}
</style>
