<template>
  <div class="landing-page" style="overflow-x: hidden">
    <div class="first-section">
      <div class="landing-wrapper">
        <div class="landing-container">
          <div class="nav">
            <div class="nav-left">
              <img src="@/assets/static_content/workd.svg" class="logo" />
              <!--<div class="left-content pc-mode">-->
              <!--<div class="nav-left-content">-->
              <!--<div class="image">-->
              <!--<img src="@/assets/static_content/find-job.svg" />-->
              <!--</div>-->
              <!--<div class="content" id="btn-fndjb-cn">-->
              <!--Find Job-->
              <!--<div>use our AI-powered platform</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--<div class="left-content pc-mode">-->
              <!--<div class="nav-left-content">-->
              <!--<div class="image">-->
              <!--<img src="@/assets/static_content/upload-resume.svg" />-->
              <!--</div>-->
              <!--<div class="content" id="btn-uprsm-cn">-->
              <!--Upload Resume-->
              <!--<div>don't have a resume? Build in 3 steps</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            </div>
            <div class="nav-right pc-mode">
              <div
                class="nav-right-content"
                @click="goToAbout"
                style="color: var(--link-color); cursor: pointer"
                id="btn-c-accnt-emp"
              >
                About us
              </div>
              <div
                style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb"
              >
                |
              </div>
              <div
                class="nav-right-content"
                @click="goToEmployer"
                style="color: var(--link-color); cursor: pointer"
                id="btn-c-accnt-emp"
              >
                Company Sign in
              </div>
              <div
                style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb"
              >
                |
              </div>
              <div
                id="btn-c-accnt-cn"
                class="nav-right-button-alt"
                @click="goToSignUp"
              >
                Create account
              </div>
              <div
                id="btn-sgn-in-cn"
                class="nav-right-button"
                style="margin-left: 1rem"
                @click="goToSignIn"
              >
                Sign in
              </div>
            </div>
            <div class="nav-right phone-mode">
              <!-- <div
                class="nav-right-content"
                style="color:var(--link-color);cursor:pointer"
                @click="goToSignIn"
              >Sign in</div>-->
              <div style="color: var(--link-color)" @click="goToEmployer">
                Company Sign in
              </div>
              <div
                style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb"
              >
                |
              </div>
              <div
                class="nav-right-button"
                @click="drawer = !drawer"
                :class="{ dropInactive: !drawer, dropActive: drawer }"
              >
                Sign In
                <div
                  class="menu-box"
                  v-if="drawer"
                  style="
                    right: 0rem;
                    top: 3.5rem;
                    z-index: 100;
                    padding: 0.5rem 1rem;
                    position: absolute;
                    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.55);
                    background-color: #f5f5f5;
                    width: 16rem;
                  "
                >
                  <div
                    class="menuitem"
                    id="btn-sgn-in-cn-phn"
                    @click="
                      () => {
                        drawer = !drawer;
                        goToSignIn();
                      }
                    "
                    style="color: var(--link-color)"
                  >
                    Sign in
                  </div>

                  <div
                    class="menuitem"
                    @click="
                      () => {
                        drawer = !drawer;
                        goToSignUp();
                      }
                    "
                    style="color: var(--link-color)"
                  >
                    Create new account
                  </div>
                </div>
              </div>

              <div
                class="dropdown-wrapper"
                v-if="drawer"
                style="background-color: rgba(0, 0, 0, 0.1); z-index: 50"
                @click="drawer = false"
              ></div>
              <!--<div-->
              <!--class="menu-box"-->
              <!--v-if="drawer"-->
              <!--style="border: solid 1px #707070;right:0rem;top:7rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"-->
              <!--&gt;-->
              <!--<div class="menuitem" @click="goToSignIn" id="btn-sgn-in-cn-phn">Candidate</div>-->
              <!--<div class="separator"></div>-->
              <!--<div class="menuitem" @click="goToEmployer" id="btn-c-accnt-emp-phn">Employer</div>-->
              <!--</div>-->
              <!--<div-->
              <!--class="dropdown-wrapper"-->
              <!--v-if="drawer"-->
              <!--style="background-color:rgba(0,0,0,0.1);z-index:50"-->
              <!--@click="drawer=false"-->
              <!--&gt;</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="landing-wrapper">
        <div
          class="landing-container"
          style="text-align: left; padding-bottom: 0"
        >
          <span style="cursor: pointer" @click="openDialog">
            <v-icon style="margin-right: 1rem" color="#166bff"
              >mdi-help-circle</v-icon
            >
            <span style="color: #166bff">
              Resources for
              <span style="font-weight: bold">COVID-19</span>
            </span>
          </span>
        </div>
      </div>
      <div class="landing-wrapper">
        <div class="landing-container">
          <div class="row align-items-center top-section">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 no-padding">
              <!-- <div style="height:50rem" class="vertical-center">
                <div class="banner-text-small font-align">LOOKING FOR</div>
                <div class="banner-text-large font-align">Career upgrade?</div>
              </div>-->

              <h2
                style="
                  font-size: 2.4rem !important;
                  margin-top: 2rem;
                  text-align: left;
                "
              >
                Make your job search count
              </h2>
              <div
                style="
                  color: var(--link-color);
                  font-size: 1.4rem;
                  text-align: left;
                "
              >
                job tittle, keywords or company
              </div>
              <v-form
                style="margin: 1rem 0"
                ref="form"
                @submit.prevent="search"
              >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="e.g. business analyst"
                    v-model="searchKey"
                  />
                  <button
                    class="input-group-append"
                    @click="search"
                    id="btn-srch-land"
                  >
                    <div
                      class="find-jobs-button vertical-center pc-mode"
                      align="middle"
                    >
                      <b class="pc-mode">Search Jobs</b>
                      <v-icon class="phone-mode" color="white">search</v-icon>
                    </div>
                    <div class="find-jobs-icon vertical-center phone-mode">
                      <v-icon
                        class="phone-mode"
                        style="font-size: 3rem"
                        color="white"
                        >search</v-icon
                      >
                    </div>
                  </button>
                </div>
                <div
                  v-bind:class="{ errS: searchKey.trim().length === 50 }"
                  style="
                    padding: 0.2rem;
                    text-align: left;
                    font-size: 1.2rem;
                    color: #cccccc;
                  "
                >
                  {{ searchKey.trim().length }}/50
                </div>
              </v-form>

              <h3
                style="
                  margin-top: 4rem;
                  margin-bottom: 2rem;
                  font-size: 2rem;
                  text-align: left;
                "
              >
                popular searches...
              </h3>
              <div
                style="max-width: 56.6rem !important"
                v-for="(value, name) in searchCapsule"
                :key="name"
              >
                <search-capsule :capsule="name" :value="value"></search-capsule>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-6 col-lg-6 col-xl-6 cover-photo pc-mode"
              style="position: relative; height: 100%"
            >
              <img
                src="@/assets/static_content/fishy.svg"
                class="banner-image"
              />
            </div>
            <div
              class="col-sm-12 col-md-6 col-lg-6 col-xl-6 cover-photo phone-mode"
              style="margin-top: 5rem"
            >
              <img
                src="@/assets/static_content/fish-mobile.svg"
                style="width: 100%; height: auto; margrin-bottom: 10rem"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="landing-wrapper phone-mode">
        <div class="landing-container" style="text-align: center; padding-bottom: 0;">
          <button @click="goToSignUp" class="btn crt-btn">Create Account</button>
        </div>
      </div>-->
    </div>

    <div class="landing-wrapper" style="margin-top: 2rem">
      <div class="landing-container">
        <div v-if="!hideTopJobs">
          <h2
            style="margin-bottom: 5.7rem; font-size: 3.4rem; font-weight: bold"
          >
            Trending Jobs
          </h2>
          <top-job v-on:no-data="hideTopJobs = true"></top-job>
        </div>
      </div>
    </div>
    <!-- <div class="section-gap" /> -->
    <!-- <div class="second-section landing-wrapper">
      <div class="landing-container-resp">
        <div class="find-job-section">
          <div class="row justify-content-between">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 no-padding">
              <h2 style="color:var(--header-font-light);font-size:3rem">
                Make your job search count
              </h2>
              <div style="color:var(--header-font-dim-light);font-size:1.4rem">
                job tittle, keywords or company
              </div>
              <v-form
                style="margin: 1rem 0"
                ref="form"
                @submit.prevent="onSubmitSearch"
              >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="e.g. business analyst"
                    v-model="searchKey"
                  />
                  <button
                    class="input-group-append"
                    @click="search"
                    id="btn-srch-land"
                  >
                    <div
                      class="find-jobs-button vertical-center pc-mode"
                      align="middle"
                    >
                      <b class="pc-mode">Search Jobs</b>
                      <v-icon class="phone-mode" style color="white">search</v-icon>
                    </div>
                    <div class="find-jobs-icon vertical-center phone-mode">
                      <v-icon
                        class="phone-mode"
                        style="font-size:3rem"
                        color="white"
                        >search</v-icon
                      >
                    </div>
                  </button>
                </div>
              </v-form>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 no-padding">
              <h3 style="margin-bottom:1.8rem;color:var(--header-font-light)">
                popular searches...
              </h3>
              <div
                style="max-width:56.6rem !important;"
                v-for="(value, name) in searchCapsule"
                :key="name"
              >
                <search-capsule :capsule="name" :value="value"></search-capsule>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->

    <!-- <div class="pc-mode" style="margin: 20rem 0rem; margin-top: 30rem">
      <div class="landing-wrapper app-section-container">
        <div class="landing-container">
          <div class="flex-resp" style="height: 100%; align-items: center">
            <div
              class="col-sm-12 col-md-4 col-lg-4 col-xl-4 no-padding"
              style="position: relative"
            >
              <img
                src="@/assets/static_content/app-features-2.svg"
                class="app-section-img"
              />
            </div>
            <div
              class="col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding"
              style="height: 100%"
            >
              <div class="row" style="height: 100%; align-items: center">
                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 no-padding">
                  <div class="app-section-text">
                    <div class="app-section-text-top">Its your career!</div>
                    Don't miss out on important updates
                    <div class="app-section-text-bottom">
                      Get Workd App today
                    </div>
                  </div>
                </div>
                <a
                  href="https://play.google.com/store/apps/details?id=com.workd.workd"
                  class="col-2 no-padding"
                >
                  <img
                    src="@/assets/static_content/google-play-badge.svg"
                    class="download-btn"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="phone-mode">
      <div class="landing-wrapper">
        <div class="app-section-phone">
          <div class="app-section-text-top-phone">Its your career!</div>
          <div class="app-section-text-phone">
            Don't miss out on important updates
          </div>
          <div class="app-section-text-bottom-phone">Get Workd App today</div>
          <a
            href="https://play.google.com/store/apps/details?id=com.workd.workd"
            class="col-2 no-padding"
          >
            <img
              src="@/assets/static_content/google-play-badge.svg"
              class="download-btn"
              style="max-width: 8rem; margin-top: 2rem"
            />
            <div style="font-size: 1rem; color: #00adee"></div>
          </a>
          <img
            src="@/assets/static_content/app-features-2.svg"
            class="app-section-img-phone"
          />
        </div>
      </div>
    </div> -->

    <div class="section-gap"></div>
    <div class="third-section pc-mode landing-wrapper">
      <div class="landing-container">
        <div class="row">
          <div class="col-5 no-padding">
            <div class="left-panel">
              <div>
                <div style="width: 100%">
                  <div>
                    <div
                      style="color: var(--header-font-light)"
                      class="vertical-center"
                    >
                      <h2
                        style="
                          font-size: 4rem;
                          font-weight: bold;
                          margin-bottom: 3rem;
                        "
                        align="left"
                      >
                        How can we help
                      </h2>
                    </div>
                  </div>
                </div>
                <div
                  class="left-panal-content"
                  @click="tab = 1"
                  :class="{ active: tab === 1 }"
                >
                  <img src="@/assets/static_content/icon-find.svg" />
                  <div>
                    <h3>Find Jobs</h3>
                    <div>
                      Our AI-powered platform, makes the process of finding jobs
                      that match your qualifications simple, efficient and
                      effective.
                    </div>
                  </div>
                </div>
                <div
                  class="left-panal-content"
                  @click="tab = 2"
                  :class="{ active: tab === 2 }"
                >
                  <img
                    src="@/assets/static_content/icon-apply.svg"
                    style="padding-right: 0.5rem"
                  />
                  <div>
                    <h3>Apply</h3>
                    <div>
                      Unlike conventional job sites, our intuitive search and
                      apply feature allows you to effortlessly apply for jobs
                      with one click.
                    </div>
                  </div>
                </div>
                <div
                  class="left-panal-content"
                  @click="tab = 3"
                  :class="{ active: tab === 3 }"
                >
                  <img src="@/assets/static_content/icon-connect.svg" />
                  <div>
                    <h3>Connect</h3>
                    <div>
                      Our portal facilitates effective communication between job
                      seekers and employers, allowing you to receive messages
                      from employers and schedule interviews on the platform
                      itself.
                    </div>
                  </div>
                </div>
                <div
                  class="left-panal-content"
                  @click="tab = 4"
                  :class="{ active: tab === 4 }"
                >
                  <img src="@/assets/static_content/icon-stay-current.svg" />
                  <div>
                    <h3>Stay Current</h3>
                    <div>
                      Even if you are not actively seeking a job, our AI-driven
                      job-search engine will periodically send you jobs that
                      best matches your profile - ensuring that you don’t miss
                      out on potentially career changing opportunities.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div v-if="tab === 1" class="back-bubble1 tab-content">
              <img
                src="@/assets/static_content/find.jpg"
                style="z-index: 100"
              />
            </div>
            <div v-if="tab === 2" class="back-bubble2 tab-content">
              <img
                src="@/assets/static_content/apply.jpg"
                style="z-index: 100"
              />
            </div>
            <div v-if="tab === 3" class="back-bubble3 tab-content">
              <img
                src="@/assets/static_content/connect.jpg"
                style="z-index: 100"
              />
            </div>
            <div v-if="tab === 4" class="back-bubble4 tab-content">
              <img
                src="@/assets/static_content/stay-current.jpg"
                style="z-index: 100"
              />
            </div>
          </div>
        </div>
      </div>
      <img
        style="
          position: absolute;
          bottom: 0px;
          right: -7.5rem;
          width: 40rem;
          opacity: 0.25;
        "
        src="@/assets/static_content/logo-graphics.svg"
      />
    </div>
    <div
      class="horizontal-center phone-mode"
      style="
        background-color: var(--landing-color-new);
        padding-top: 3.6rem;
        color: white;
        margin-bottom: -1rem;
      "
    >
      <h2>How we can help</h2>
    </div>
    <div style="background-color: var(--landing-color-new)" class="phone-mode">
      <div class="horizontal-slide" id="slider-help">
        <div class="slide-content">
          <div class="container-new" style="padding-bottom: 0; padding-top: 0">
            <img
              src="@/assets/static_content/find.jpg"
              class="phone-screen-shot"
            />
          </div>
          <div class="help-phone container-new">
            <img
              src="@/assets/static_content/icon-find.svg"
              class="phone-icon"
            />
            <div class="vertical-center">
              <h3>Find Jobs</h3>
              <div style>
                Our AI-powered platform, makes the process of finding jobs that
                match your qualifications simple, efficient and effective.
              </div>
            </div>
          </div>
        </div>

        <div class="slide-content">
          <div class="container-new" style="padding-bottom: 0; padding-top: 0">
            <img
              src="@/assets/static_content/apply.jpg"
              class="phone-screen-shot"
            />
          </div>
          <div class="help-phone container-new">
            <img
              src="@/assets/static_content/icon-apply.svg"
              class="phone-icon"
            />
            <div class="vertical-center">
              <h3>Apply</h3>
              <div>
                Unlike conventional job sites, our intuitive search and apply
                feature allows you to effortlessly apply for jobs with one
                click.
              </div>
            </div>
          </div>
        </div>

        <div class="slide-content">
          <div class="container-new" style="padding-bottom: 0; padding-top: 0">
            <img
              src="@/assets/static_content/connect.jpg"
              class="phone-screen-shot"
            />
          </div>
          <div class="help-phone container-new">
            <img
              src="@/assets/static_content/icon-connect.svg"
              class="phone-icon"
            />
            <div class="vertical-center">
              <h3>Connect</h3>
              <div>
                Our portal facilitates effective communication between job
                seekers and employers, allowing you to receive messages from
                employers and schedule interviews on the platform itself.
              </div>
            </div>
          </div>
        </div>

        <div class="slide-content">
          <div class="container-new" style="padding-bottom: 0; padding-top: 0">
            <img
              src="@/assets/static_content/stay-current.jpg"
              class="phone-screen-shot"
            />
          </div>
          <div class="help-phone container-new">
            <img
              src="@/assets/static_content/icon-stay-current.svg"
              class="phone-icon"
            />
            <div class="vertical-center">
              <h3>Stay Current</h3>
              <div>
                Even if you are not actively seeking a job, our AI-driven
                job-search engine will periodically send you jobs that best
                matches your profile - ensuring that you don’t miss out on
                potentially career changing opportunities.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-wrapper phone-mode">
      <div @click="slideLeft" class="slide-arrow">
        <v-icon class="slide-arrow" size="22">arrow_back</v-icon>
      </div>
      <div @click="slideRight" class="slide-arrow">
        <v-icon class="slide-arrow" size="22">arrow_forward</v-icon>
      </div>
    </div>
    <Testimonial />

    <div class="section-gap"></div>
    <div class="section-gap"></div>
    <div v-if="featuredCompanies.length > 0" class="fifth-section">
      <h2 align="middle">Companies hiring at workd</h2>
      <div class="row container-fluid horizontal-center">
        <div v-for="company in featuredCompanies" :key="company.company_id">
          <div
            @click="goToCompanyDetailsPage(company.company_id)"
            class="row f-image-wrapper"
          >
            <img
              v-if="company.image_url"
              class="f-image"
              :src="company.image_url"
            />
            <img v-else class="f-image" src="../../assets/newDesign/exp.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="section-gap"></div>
    <Footer />
    <div class="footer landing-wrapper">
      <div class="landing-container">
        Copyright © 2018 workd. All Rights Reserved
      </div>
    </div>
    <v-dialog
      persistent
      max-width="120rem"
      style="margin: 0 2rem !important; z-index: 9999"
      v-model="openBox"
      @keydown.esc="closeBox"
    >
      <v-card
        class="card-padding"
        max-width="100%"
        style="
          background-color: transparent;
          position: relative;
          padding: 2rem !important;
        "
      >
        <div style="position: relative">
          <img
            @click="closeBox"
            style="
              cursor: pointer;
              position: absolute;
              bottom: -1.5rem;
              right: -1.5rem;
              z-index: 99999;
              border: 3px solid white;
              border-radius: 50%;
              background-color: white;
            "
            src="@/assets/banner/icon_close.svg"
          />
        </div>
        <div style="background-color: white; padding: 1rem">
          <img
            class="banner-img"
            src="@/assets/banner/corona-virus-awareness.png"
          />
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Login from "./login";
import Testimonial from "./testimonial";
import MenuBar from "./menu-bar";
import SearchCapsule from "../global-components/search-capsule";
import TopJob from "./top-job";
import { PHONE } from "../../globalFunctions";
import MenuForm from "./menu-form";
import {
  GET_FEATURED_COMPANY_IMAGES,
  GET_RECENT_SEARCHES,
} from "../../Api/public_api";
import Footer from "./footer";
// import Story from "./storyline";
// import Find from "./find-job";
// import Apply from "./apply";
// import Connect from "./connect";
// import Current from "./current";
export default {
  components: {
    Login,
    MenuBar,
    MenuForm,
    SearchCapsule,
    TopJob,
    Footer,
    Testimonial,
    // Story,
    // Find,
    // Apply,
    // Connect,
    // Current
  },
  data: function () {
    return {
      openBox: false,
      phone: PHONE(),
      slickOptions: {
        slidesToShow: 3,
        // Any other options that can be got from plugin documentation
      },
      dropdown_font: [
        { text: "list", callback: () => console.log("list") },
        { text: "favorite", callback: () => console.log("favorite") },
        { text: "delete", callback: () => console.log("delete") },
      ],
      tab: 1,
      hideTopJobs: false,
      drawer: false,
      searchKey: "",
      searchCapsule: {},
      scroll: 0,
      offset: 400,
      scrollEnd: 0,
      featuredCompanies: [],
      parsedObject: {},
      search_length_error: false,
    };
  },
  methods: {
    openDialog() {
      const self = this;
      self.openBox = true;
    },
    closeBox() {
      const self = this;
      self.openBox = false;
    },
    goToSignIn: function () {
      this.$router
        .push({ name: "signin", params: { tab: 0 } })
        .catch(function () {});
    },
    goToSignUp: function () {
      this.$router
        .push({ name: "signin", params: { tab: 1 } })
        .catch(function () {});
    },
    goToEmployer() {
      this.$router.push({ name: "employersignup" }).catch(function () {});
    },
    goToProductAndServices() {
      this.$router.push({ name: "services" }).catch(function () {});
    },
    goToFb() {
      window.open("https://www.facebook.com/workdai/", "_blank");
    },
    goToAbout() {
      this.$router.push({ name: "about" }).catch(function () {});
    },
    goToIn() {
      window.open(" https://www.linkedin.com/company/workdai/", "_blank");
    },
    goToInsta() {
      window.open("https://www.instagram.com/workd.ai/", "_blank");
    },
    goToYoutube() {
      window.open(
        "https://www.youtube.com/channel/UCUEeszcZb_-FEgvIQEu2LoQ?view_as=subscriber",
        "_blank"
      );
    },
    goToCompanyDetailsPage(id) {
      this.$router
        .push({ name: "publicCompany", query: { id: id } })
        .catch(function () {});
    },
    search() {
      const self = this;
      if (
        self.searchKey.trim() &&
        self.searchKey.trim().length > 0 &&
        self.searchKey.trim().length <= 50) {
        self.$router
          .push({
            name: "publicSearch",
            params: { q: self.searchKey.trim() },
          })
          .catch(function () {});
      }
    },
    slideLeft() {
      const self = this;
      let elmnt = document.getElementById("slider-help");
      if (self.scroll <= 0 + self.offset) {
        self.scroll = 0;
      } else {
        self.scroll -= self.offset;
      }

      elmnt.scrollLeft = self.scroll;
    },
    slideRight() {
      const self = this;
      let elmnt = document.getElementById("slider-help");
      if (self.scroll >= self.scrollEnd - self.offset) {
        self.scroll = self.scrollEnd;
      } else {
        self.scroll += self.offset;
      }
      elmnt.scrollLeft = self.scroll;
    },
  },
  watch: {
    searchKey(newQ, oldQ) {
      if (newQ.trim().length > 50) {
        this.searchKey = oldQ.trim();
      }
    },
  },
  mounted() {
    const self = this;
    self.scrollEnd =
      4 * (self.offset - 1) - document.getElementById("slider").clientWidth;

    GET_RECENT_SEARCHES()
      .then(function (data) {
        self.searchCapsule = data.capsules;
      })
      .catch(function () {
        self.searchCapsule = {};
      });
    GET_FEATURED_COMPANY_IMAGES()
      .then(function (data) {
        self.featuredCompanies = data.companies;
      })
      .catch(function (err) {});
  },
};
</script>

<style scoped>
.errS {
  color: var(--button-delete-color) !important;
}
.banner-img {
  max-width: 100rem;
}
h2 {
  font-size: 3.4rem !important;
  font-weight: bold;
  padding: 0;
}
.phone-screen-shot {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
}
.logo {
  width: 18.5rem;
}
.landing-page {
  background-color: white;
}
.first-section {
  width: 100%;
  /* background-image: linear-gradient(to top, #f8f6f1, #ffffff); */
  position: relative;
}
.find-job-section {
  border-radius: 0.8rem;
  background-image: linear-gradient(to right, #4e62ad 44%, #6ca3dd 99%);
  padding: 3.7rem 6rem;
  text-align: left;
}
.nav {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 5.2rem 0px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-content {
  padding-left: 8.7rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.nav-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.2rem;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.2rem;
  flex: 1;
  border-right: 1px solid #cccccc;
}
.nav-left-content > .image > img {
  height: 2.7rem;
  width: auto;
}
.left-panal-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 1.4rem 2.5rem;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}
.left-panal-content > img {
  width: 8.2rem;
}
.phone-icon {
  width: 5.63rem;
}
.help-phone {
  display: flex;
  flex-direction: row;
}
.help-phone > div {
  padding-top: 0rem !important;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  padding-left: 2rem;
  border-left: 1px solid #264a5d;
  margin-left: 1rem;
  height: 15rem;
  overflow: hidden;
}

.banner-image {
  height: 100%;
  position: absolute;
  right: -8rem;
  width: auto;
  top: 2rem;
}
.left-panal-content > div {
  padding-top: 0rem !important;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  padding-left: 2rem;
  border-left: 1px solid #013d5d;
  margin-left: 2rem;
}
.left-panal-content > div > h3 {
  color: white;
}
.slide-arrow {
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}
.slide-arrow:hover {
  background-color: #0a5075;
  border-radius: 50%;
}
.arrow-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: -7rem;
}
.tab-content {
  margin-left: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.tab-content > img {
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.14);
}
.active {
  background-color: var(--landing-color-new-light);
}
.content {
  padding-left: 1.2rem;
  flex: 5;
  font-size: 1.6rem;
  text-align: left;
}
.nav-left-content > .content > div {
  color: var(--link-color);
  white-space: nowrap;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-right-content {
  padding-right: 1rem;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.4rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.nav-right-button-alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 0.1rem solid #3069b3;
  border-radius: 0.4rem;
  color: #3069b3;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.crt-btn {
  padding: 0.5rem 2rem;
  border-radius: 1.7rem;
  background-color: #00adee;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: white;
  box-shadow: none !important;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.5s;
}
.form-control {
  height: 4rem;
  border-radius: 0.4rem;
  border: solid 1px #c0c0c0;
  background-color: white;
  font-size: 1.4rem;
  max-width: 56.4rem;
  padding: 0;
  padding-left: 1rem;
}
.form-control:focus {
  border: solid 1px #c0c0c0;
  box-shadow: none;
}
.find-jobs-button {
  margin-left: -12rem;
  cursor: pointer;
  width: 14.6rem;
  height: 4rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(to left, #8dbe49, #15843c);
  color: white;
  z-index: 10;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  align-items: center;
}
.find-jobs-icon {
  margin-left: -4rem;
  cursor: pointer;
  width: 6rem;
  height: 4rem;
  border-radius: 0.4rem;
  background-image: linear-gradient(to left, #8dbe49, #15843c);
  color: white;
  z-index: 10;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.search-box {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  text-align: left;
}
.left-panel {
  /* background-color: var(--landing-color-new); */
}
.third-section {
  background-color: var(--landing-color-new);
  padding: 4.5rem 0rem;
  position: relative;
}
.app-section-img {
  height: 70rem;

  width: auto;
  left: 0;
  top: -40rem;
  position: absolute;
}
.download-btn {
  width: 100%;
  height: auto;
}
.app-section-text {
  position: relative;
  padding: 1.5rem 0;
  text-align: left;
  font-size: 4rem;
  font-weight: bold;
  color: #4e4098;
  display: inline;
  border-bottom: 1px solid #166bff;
}
.app-section-text-phone {
  padding: 1.5rem 0;

  font-size: 3rem;

  color: #4e4098;
}
.app-section-text-top {
  font-size: 2.4rem;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: -2rem;
  color: #000000;
}
.app-section-text-bottom {
  font-weight: 500;
  position: absolute;
  right: 0;
  bottom: -1rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.654rem;
  text-align: left;
  color: #166bff;
  background-color: #f5f4fb;
}
.app-section-text-top-phone {
  font-size: 2rem;
  color: #000000;
}
.app-section-text-bottom-phone {
  font-size: 1.8rem;
  letter-spacing: 0.654rem;

  color: #166bff;
}
.app-section-container {
  height: 38.2rem;
  background-color: #f5f4fb;
}
.app-section-phone {
  background-color: #f5f4fb;
  padding: 5rem;
  margin: 10rem 0rem;
  width: 100%;
}
.float {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.sixth-section {
  background-color: var(--landing-color-new);
}
.footer-logo {
  width: 8.6rem;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 2.2rem;
}
.footer {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #00304d;
  color: #87939a;
}
.f-image-wrapper {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin: 1rem !important;
  cursor: pointer;
}
.f-image {
  width: 100%;
  margin: auto !important;
}
.horizontal-slide {
  width: calc(100vw - 20px);
  white-space: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
}
.horizontal-slide::-webkit-scrollbar {
  display: none;
}
.slide-content {
  width: 40rem;
  margin: 5rem 2rem;
  display: inline-block;
  white-space: normal;
}
.f-image-wrapper-2 {
  width: 15rem;
  height: 15rem;
  padding: 1rem;
  cursor: auto;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin: 1rem !important;
}
.f-image {
  width: 100%;
  margin: auto !important;
}
.f-image-2 {
  float: left;
  width: 60%;
  margin: auto !important;
}
.flex-resp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 600px) {
  .find-job-section {
    text-align: left;
    padding: 3.6rem;
    margin: 0rem;
    border-radius: 0px;
  }
  .cover-photo {
    display: none;
  }

  .search-box {
    text-align: center;
  }
  .logo {
    width: 13.89rem;
  }
  .nav {
    padding: 3.1rem 0px;
  }
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
.reverse {
}
.app-section-img-phone {
  max-width: 30.3rem;

  height: auto;
}
.top-section {
  height: 50rem;
}
option {
  background-color: #f5f5f5;
  color: var(--link-color);
  padding: 1rem;
  position: absolute;
  left: -10rem !important;
}
option::selection {
  background-color: #f5f5f5;
}
.dropInactive {
  position: relative;
  top: 0px;
  padding: 1.5rem;
  z-index: 9999;
}
.dropActive {
  position: relative;
  top: 0px;
  padding: 1.5rem;
  z-index: 9999;
  box-shadow: 0 0px 0 2px 2px rgba(0, 0, 0, 0.55);
  background-color: #f5f5f5;
}
.dropdown-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1010;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: var(--disable-color);
}
.menu-box {
  position: absolute;
  border-radius: 0.4rem;
  background-color: white;
  top: -100rem;
  color: black;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  width: 15rem;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
}
.menuitem {
  min-width: 15rem;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: left;
  border-radius: 0.4rem;
  color: #050405;
}

@media (max-width: 800px) {
  .form-control {
    max-width: 100%;
  }
  .top-section {
    height: auto;
  }
  .phone-mode {
    display: flex;
  }
  .pc-mode {
    display: none;
  }
}
</style>
