<template>
  <div class="container" style="margin-top:3.2rem">
    <div style="float:left">
      <router-link :to="{ name: 'landingPage' }" class="navbar-brand">
        <div>
          <img :src="image" style="width:16.0rem" />
        </div>
      </router-link>
    </div>

    <div style="float:right;margin-top:.3rem;" v-if="phone">
      <button @click="goToSignIn" class="btn btn-save sign-up">
        <b>Login</b>
      </button>
    </div>
    <div style="float:right;margin-top:.3rem;" v-else-if="employerSignUp">
      <button @click="goToEsignUp" class="btn btn-save sign-up">
        <b>Employer Home</b>
      </button>
    </div>
    <div style="float:right;margin-top:.3rem;" v-else>
      <button @click="goToSignUp" class="btn btn-save sign-up">
        <b>Sign Up</b>
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: "landing-page-menubar",
  props: {
    color: {
      default: false,
      type: Boolean
    },
    phone: {
      default: false,
      type: Boolean
    },
    employerSignUp: Boolean
  },
  data: function() {
    return {
      logoColor: null,
      image: require("@/assets/newDesign/logo-light.svg"),
      Changekey: 0,
      ShowPopUp: false,
      items: [
        {
          title: "Candidate Sign Up",
          action: this.goToSignUp
        },
        {
          title: "Employer Sign Up",
          action: this.goToEsignUp
        }
      ]
    };
  },
  methods: {
    goToSignIn: function() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    },
    goToSignUp: function() {
      this.$router.push({ name: "signup" }).catch(function() {});
    },
    goToEsignUp: function() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    }
  },
  mounted() {
    this.color && (this.image = require("@/assets/newDesign/logo_color.svg"));
  }
};
</script>

<style scoped>
.navbar-brand {
  width: 8.5rem;
  height: 3.9rem;
  font-family: Poppins;
  font-size: 2.8rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -1.4rem;
  text-align: left;
  color: #111b34 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--link-color) !important;
  padding-bottom: 1.6rem !important;
  padding-top: 1rem !important;
}
/* .navbar-nav a:hover {
  box-sizing: border-box;
  border-bottom: .4rem solid #11998e;
} */
.ul_padding_height {
  height: 9rem;
  padding-right: 2rem;
}
.nav-item {
  padding: 1.9rem 1.5rem 1rem 1.5rem;
}

.nav-padding {
  padding: 1rem 0rem;
}

.button_padding {
  padding-top: 0.9rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.sign-up {
  text-align: center;
  color: var(--button-color);
  background-color: #ffffff;
  transition: 0.5s;
}
.sign-up:hover {
  text-align: center;
  color: #ffffff;
  background-color: var(--button-color);
  transition: 0.5s;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--link-color);
}
/* .sign-up:hover {
  background-color: transparent;
} */
</style>
