<template>
  <div class="container" style="margin-top:3.2rem">
    <div style="float:left">
      <router-link :to="{ name: 'landingPage' }" class="navbar-brand">
        <div>
          <img :src="color" class="logo" />
        </div>
      </router-link>
    </div>

    <div style="float:right;">
      <button @click="goToSignIn" class="btn sign-up"><b>Login</b></button>
    </div>
    <div style="float:right" @click="goToSignUp" class="phone-signup">
      Sign Up
    </div>
  </div>
</template>
<script>
import { PHONE } from "../../globalFunctions";
export default {
  name: "landing-page-menubar",
  props: {
    home: {
      default: false,
      type: Boolean
    }
  },
  data: function() {
    return {
      phone: PHONE(),
      Changekey: 0,
      color: null,
      ShowPopUp: false,
      items: [
        {
          title: "Candidate Sign Up",
          action: this.goToSignUp
        },
        {
          title: "Employer Sign Up",
          action: this.goToEsignUp
        }
      ]
    };
  },
  methods: {
    goToSignIn: function() {
      if (this.phone)
        this.$router.push({ name: "signin" }).catch(function() {});
      else this.$router.push({ name: "landingPage" }).catch(function() {});
    },
    goToSignUp: function() {
      this.$router.push({ name: "signup" }).catch(function() {});
    },
    goToEsignUp: function() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    }
  },
  mounted() {
    this.color = !this.home
      ? require("@/assets/newDesign/logo_color.svg")
      : require("@/assets/newDesign/logo-light.svg");
  }
};
</script>

<style scoped>
.navbar-brand {
  width: 8.5rem;
  height: 3.9rem;
  font-family: Poppins;
  font-size: 2.8rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -1.4rem;
  text-align: left;
  color: #050505 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  padding-bottom: 1.6rem !important;
  padding-top: 1rem !important;
}
/* .navbar-nav a:hover {
  box-sizing: border-box;
  border-bottom: .4rem solid #11998e;
} */
.ul_padding_height {
  height: 7rem;
  padding-right: 2rem;
}
.nav-item {
  padding: 1.9rem 1.5rem 1rem 1.5rem;
}

.nav-padding {
  padding: 1rem;
}
.brand-logo-padding {
  color: #050505;
  padding: 0;
}
.button_padding {
  padding-top: 0.9rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.sign-up {
  padding-top: 0.5rem;
  width: 9.8rem;
  height: 4.4rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--link-color);
  background-color: #ffffff;
  margin-top: 0.3rem;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.logo {
  width: 18rem;
}
.phone-signup {
  display: none;
}
@media (max-width: 60rem) {
  .logo {
    width: 12rem;
  }
  .sign-up {
    padding: 0.5rem;
    height: 3.5rem;
    width: 8rem;
    margin-top: -0.3rem;
  }
  .phone-signup {
    display: block;
    color: white;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 0.2rem;
    font-size: 1.6rem;
  }
}
/* .sign-up:hover {
  background-color: transparent;
} */
</style>
