<template>
  <div>
    <div class="nav container-fluid">
      <div class="nav-left">
        <img src="@/assets/static_content/workd.svg" class="logo" />
      </div>
      <div class="nav-right pc-mode">
        <div
          class="nav-right-content"
          @click="goToAbout"
          style="color: var(--link-color); cursor: pointer"
          id="btn-c-accnt-emp"
        >
          About us
        </div>
        <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
          |
        </div>
        <div
          class="nav-right-content"
          @click="goToEmployer"
          style="color: var(--link-color); cursor: pointer"
          id="btn-c-accnt-emp"
        >
          Company Sign in
        </div>
        <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
          |
        </div>
        <div
          id="btn-c-accnt-cn"
          class="nav-right-button-alt"
          @click="goToSignUp"
        >
          Create account
        </div>
        <div
          id="btn-sgn-in-cn"
          class="nav-right-button"
          style="margin-left: 1rem"
          @click="goToSignIn"
        >
          Sign in
        </div>
      </div>
      <div class="nav-right phone-mode">
        <!-- <div
                class="nav-right-content"
                style="color:var(--link-color);cursor:pointer"
                @click="goToSignIn"
              >Sign in</div>-->
        <div style="color: var(--link-color)" @click="goToEmployer">
          Company Sign in
        </div>
        <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
          |
        </div>
        <div
          class="nav-right-button"
          @click="drawer = !drawer"
          :class="{ dropInactive: !drawer, dropActive: drawer }"
        >
          Sign In
          <div
            class="menu-box"
            v-if="drawer"
            style="
              right: 0rem;
              top: 3.5rem;
              z-index: 100;
              padding: 0.5rem 1rem;
              position: absolute;
              box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.55);
              background-color: #f5f5f5;
              width: 16rem;
            "
          >
            <div
              class="menuitem"
              id="btn-sgn-in-cn-phn"
              @click="
                () => {
                  drawer = !drawer;
                  goToSignIn();
                }
              "
              style="color: var(--link-color)"
            >
              Sign in
            </div>

            <div
              class="menuitem"
              @click="
                () => {
                  drawer = !drawer;
                  goToSignUp();
                }
              "
              style="color: var(--link-color)"
            >
              Create new account
            </div>
          </div>
        </div>

        <div
          class="dropdown-wrapper"
          v-if="drawer"
          style="background-color: rgba(0, 0, 0, 0.1); z-index: 50"
          @click="drawer = false"
        ></div>
      </div>
    </div>
    <div class="top-text container-fluid">
      <div class="row justify-content-start">
        <div style="margin-right: 2rem">
          <CustomIcon
            name="light-bulb"
            color="var(--action-button-color)"
            size="4.2"
          />
        </div>
        <div>
          <div class="jobPageH">Workd Timeline</div>
          <div class="jobPageP">
            Get job suggestions, career tips and all that trending in the job
            market in one place!
          </div>
        </div>
      </div>
    </div>
    <div class="row container-fluid">
      <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <news-single-view
                :key="news.lookup_id"
                v-bind:newsObj="news"
        ></news-single-view>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pc-only">
        <div class="row combo-component-wrapper">
          <div class="combo-component">
            <div v-if="showSignUp">
              <sign-up-component></sign-up-component>
              <div style="text-align: left">
                Already have an account?
                <span
                  @click="changetoSignIn"
                  style="color: #166bff; cursor: pointer"
                  >Sign in</span
                >
                and apply.
              </div>
            </div>
            <div v-else>
              <login-component></login-component>
              <div style="text-align: left">
                New to workd?
                <span
                  @click="changetoSignIn"
                  style="color: #166bff; cursor: pointer"
                  >Create account</span
                >
                and apply.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import CustomIcon from "../global-components/customIcon";
import SignUpComponent from "./sign-up-component";
import LoginComponent from "./login";
import Footer from "./footer";
import NewsSingleView from "../admin/News/news-single-view"
import {GET_NEWS_PUBLIC} from "../../Api/public_api";

export default {
  components: {
    CustomIcon,
    SignUpComponent,
    LoginComponent,
    Footer,
    NewsSingleView
  },
  data: function () {
    return {
      drawer: false,
      showSignUp: true,
      news: {}
    };
  },
  methods: {
    changetoSignIn() {
      this.showSignUp = !this.showSignUp;
    },
    goToSignIn: function () {
      this.$router
        .push({ name: "signin", params: { tab: 0 } })
        .catch(function () {});
    },
    goToSignUp: function () {
      this.$router
        .push({ name: "signin", params: { tab: 1 } })
        .catch(function () {});
    },
    goToEmployer() {
      this.$router.push({ name: "employersignup" }).catch(function () {});
    },
    goToAbout() {
      this.$router.push({ name: "about" }).catch(function () {});
    },
  },
  mounted() {
    const self = this;
    let id = self.$route.query.news_id;
    let source = self.$route.query.source;
    let params = {
      lookup_id: id,
      source: source
    };
    GET_NEWS_PUBLIC(params).then(function (resp) {
      self.news = resp;
      console.log(resp)
    }).catch(function (err) {
      console.log(err)
    })
  }
};
</script>

<style scoped>
.nav {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 5.2rem 0px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-right-content {
  padding-right: 1rem;
}
.top-text {
  background-color: #f2f3f8;
  padding: 5.6rem 0rem;
}
.top-text > div > div {
  color: #172b4d;
  font-size: 1.4rem;
  font-weight: bold;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.4rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.nav-right-button-alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 0.1rem solid #3069b3;
  border-radius: 0.4rem;
  color: #3069b3;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.4rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.nav-right-button-alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border: 0.1rem solid #3069b3;
  border-radius: 0.4rem;
  color: #3069b3;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.logo {
  width: 18.5rem;
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
.container-fluid {
  padding: 4rem 6.5rem;
}
.combo-component-wrapper {
  margin-top: 7rem !important;
}
.combo-component {
  border-radius: 1rem;
  box-shadow: 0 0 2.7rem 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 3rem;
}
@media (max-width: 600px) {
  .logo {
    width: 13.89rem;
  }
  .nav {
    padding: 3.1rem 0px;
  }
  .phone-mode {
    display: flex;
  }
  .pc-mode {
    display: none;
  }
  .container-fluid {
    padding: 2rem 2rem;
  }
}
@media (min-width: 1400px) {
  .container-fluid {
    padding: 3rem 8.5rem;
  }
}
</style>