<template>
  <div class="page">
    <div class="nav-top">
      <div class="landing-wrapper">
        <div class="landing-container">
          <div style="padding-top:0rem;padding-bottom:0rem">
            <div class="nav-align">
              <img
                @click="goToHomePage"
                src="@/assets/static_content/logo-employer.svg"
                style="height: 5rem; cursor:pointer"
              />

              <div class="nav-right ">
                <div
                  @click="goToHomePage"
                  style="cursor:pointer"
                  id="btn-top-login-emp"
                >
                  <img
                    src="@/assets/static_content/ico-sign-up.svg"
                    class="top-icon"
                  />Login
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-wrapper">
      <div class="landing-container">
        <img src="@/assets/static_content/pricing.png" class />
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
// import * as MESSAGE from "../../globalConstants";
import Footer from "./footer";

export default {
  data: function() {
    return {
      drawer: false
    };
  },
  components: {
    Footer
  },
  methods: {
    goToHomePage() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    },
    pricing() {
      this.$router.push({ name: "pricing" }).catch(function() {});
    }
  }
};
</script>

<style scoped>
.nav-top {
  width: 100%;

  background-color: var(--employer-nav);
}
img {
  max-width: 80rem;
}
.grey-header {
  font-size: 1.6rem;
  color: #8d8d8d;
  text-align: left;
}
.big-header-2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.13rem;
  line-height: 1.35;
}
.post-job-button {
  height: 4rem;
  padding: 0 3.6rem;
  background-color: #00adee;
  border-radius: 2rem;
  white-space: wrap;
  max-width: 14.4rem;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
}
.nav-align {
  height: 7.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: var(--employer-nav-font-color);
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
.top-icon {
  height: 1.8rem;
  margin-right: 1.1rem;
  padding-bottom: 0.3rem;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  background-color: white;
}
#btn-top-sgn-up-emp {
  background-image: linear-gradient(to left, #8552a1, #3069b3);
  height: 7.4rem;
  width: 11.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#btn-top-login-emp {
  background-image: linear-gradient(to left, #8552a1, #3069b3);
  height: 7.4rem;
  width: 11.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#sub {
  height: 7.4rem;
  width: 15.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  img {
    max-width: 50rem;
  }
}
@media (max-width: 600px) {
  img {
    max-width: 40rem;
  }
}
</style>
