<template>
  <div style="background-color: white; height: 100vh">
    <div class="landing-wrapper">
      <div class="landing-container">
        <div class="nav">
          <div class="nav-left">
            <img
              @click="goToHomePage"
              src="@/assets/static_content/workd.svg"
              class="logo"
            />
            <!--<div class="left-content pc-mode">-->
            <!--<div class="nav-left-content">-->
            <!--<div class="image">-->
            <!--<img src="@/assets/static_content/find-job.svg" />-->
            <!--</div>-->
            <!--<div class="content" id="btn-fndjb-cn">-->
            <!--Find Job-->
            <!--<div>use our AI-powered platform</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="left-content pc-mode">-->
            <!--<div class="nav-left-content">-->
            <!--<div class="image">-->
            <!--<img src="@/assets/static_content/upload-resume.svg" />-->
            <!--</div>-->
            <!--<div class="content" id="btn-uprsm-cn">-->
            <!--Upload Resume-->
            <!--<div>don't have a resume? Build in 3 steps</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </div>
          <div class="nav-right pc-mode">
            <div
              id="btn-c-accnt-cn"
              class="nav-right-content"
              style="color:var(--link-color);cursor:pointer"
              @click="goToSignUp"
            >
              Create account
            </div>
            <div class="nav-right-content">Or</div>
            <div
              id="btn-sgn-in-cn"
              class="nav-right-content"
              style="color:var(--link-color);cursor:pointer"
              @click="goToSignIn"
            >
              Sign in
            </div>
            <div style="margin: 0 2rem 0 1rem; font-size: 2rem; color: #e0dbdb">
              |
            </div>
            <div
              class="nav-right-button"
              @click="goToEmployer"
              id="btn-c-accnt-emp"
            >
              FOR EMPLOYER
            </div>
          </div>
          <div class="nav-right phone-mode">
            <div class="nav-right-button" @click="drawer = !drawer">
              SIGN IN
            </div>
            <div
              class="menu-box"
              v-if="drawer"
              style="border: solid 1px #707070;right:0rem;top:7rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"
            >
              <div class="menuitem" @click="goToSignIn" id="btn-sgn-in-cn-phn">
                Candidate
              </div>
              <div class="separator"></div>
              <div
                class="menuitem"
                @click="goToEmployer"
                id="btn-c-accnt-emp-phn"
              >
                Employer
              </div>
            </div>
            <div
              class="dropdown-wrapper"
              v-if="drawer"
              style="background-color:rgba(0,0,0,0.1);z-index:50"
              @click="drawer = false"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-help">
      <div class="h-help-up">
        Privacy Policy
      </div>
      <div class="h-help-un">
        Your Privacy Rights
      </div>
    </div>
    <div class="landing-wrapper">
      <div class="landing-container" style="margin-top: 6rem">
        <div class="ttl-sub">
          Workd is committed to protecting the privacy of its users and strives
          to provide a safe user experience. The privacy policy describes how
          your personal information is collected, used, shared, and secured, as
          well as your choices regarding use, access, and correction of your
          personal information. By creating an account on our website you agree
          to the collection, use, and transfer of your data as described in this
          Privacy Policy. If you want you may revoke your consent to this
          policy. To do so, please contact us. If you revoke your consent, your
          account and profile information will be removed from our website and
          database.
        </div>
        <div class="mt-2">
          <div class="ttl-top">The Information we collect</div>
          <div class="ttl-sub">
            We collect and store information when you choose to give it to us.
            This includes:
          </div>
          <ul class="ttl-sub">
            <li>
              Contact information like name, email address, street address, and
              phone number.
            </li>
            <li>
              Your resume or cv including job experience, skills and other
              information.
            </li>
            <li>The information you use to apply to jobs on Workd.</li>
            <li>
              Information imported by you from third party applications;
              Facebook and Google.
            </li>
            <li>Information you provide to us when you contact Workd.</li>
            <li>
              Credit card number and billing information (for services requiring
              payment).
            </li>
            <li>
              Personal information about your race, ethnicity and gender, if you
              choose to provide it. Some employers are required by law to
              collect this information on a voluntary basis.
            </li>
            <li>
              Information about your business, such as company name, size, and
              business type.
            </li>
            <li>Information about your previous jobs and work history.</li>
            <li>
              Your activity on Workd, including the jobs you search for, view,
              and apply to.
            </li>
          </ul>
        </div>
        <div class="mt-2">
          <div class="ttl-top">Why we use this information</div>
          <div class="ttl-sub">
            We use personal information and data for our legitimate interests,
            namely:
          </div>
          <ul class="ttl-sub">
            <li>To operate Workd and other related services.</li>
            <li>To contact and communicate with you when you contact us.</li>
            <li>To analyze, improve and optimize Workd services.</li>
            <li>To protect Workd Services and the rights of its users.</li>
            <li>
              To help potential employers find your resume and contact you.
            </li>
            <li>
              To enforce terms of Workd’s services and prevent fraud and abuse
              of Workd systems.
            </li>
            <li>
              To provide personalized or targeted content, services, and
              advertisement from Workd.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-gap"></div>
    <Footer />
    <div class="footer landing-wrapper">
      <div class="landing-container">
        Copyright © 2018 workd. All Rights Reserved
      </div>
    </div>
  </div>
</template>

<script>
import { PHONE } from "../../globalFunctions";
import Footer from "./footer";
export default {
  name: "faq",
  components: {
    Footer
  },
  data: function() {
    return {
      drawer: false,
      phone: PHONE()
    };
  },
  methods: {
    goToHomePage() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    },
    goToSignIn: function() {
      this.$router.push({ name: "signin" }).catch(function() {});
    },
    goToSignUp: function() {
      this.$router.push({ name: "signup" }).catch(function() {});
    },
    goToEmployer() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    }
  }
};
</script>

<style scoped>
.logo {
  width: 18.5rem;
  cursor: pointer;
}
.nav {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 5.2rem 0px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-left-content > .image > img {
  height: 2.7rem;
  width: auto;
}
.nav-left-content > .content > div {
  color: var(--link-color);
  white-space: nowrap;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-right-content {
  padding-right: 1rem;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 1.7rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.h-help {
  background-color: #f2f3f8;
  padding: 4rem 2rem;
}
.h-help-un {
  font-size: 2rem;
  line-height: 1.75;
  letter-spacing: 6px;
  text-align: center;
  color: #acacac;
}
.h-help-up {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
}
.ttl-top {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-top: 4rem;
}
.ttl-sub {
  text-align: left;
  font-size: 1.6rem;
  color: #666666;
  margin-top: 3rem;
}
.footer {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #00304d;
  color: #87939a;
}
@media (max-width: 600px) {
  .logo {
    width: 13.89rem;
  }
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
@media (max-width: 800px) {
  .phone-mode {
    display: flex;
  }
  .pc-mode {
    display: none;
  }
}
</style>
