<template>
  <div class="page">
    <div style="font-size: 4rem; font-weight: bold; margin-bottom: 3rem">
      Subscription Plans
    </div>
    <div v-if="plans.length > 0">
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-xl-4 price-card-wrapper"
          :key="index"
          v-for="(plan, index) in plans"
        >
          <plan-template
            v-bind:index="index"
            v-bind:plan-obj="plan"
            v-bind:action="buttonText"
            v-on:edit-plan="goToSignUp"
          ></plan-template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MenuBar from "./menu-bar";
import PlanTemplate from "../global-components/plan-template";
import { PHONE } from "../../globalFunctions";
import { SUBSCRIPTION_PLANS_PUBLIC } from "../../Api/public_api";

export default {
  name: "services",
  components: {
    MenuBar,
    PlanTemplate
  },
  data: function() {
    return {
      phoneCheck: PHONE(),
      planConstrains: {
        306: "Number of jobs",
        307: "Number of Cv view"
      },
      plans: [],
      buttonText: "Contact us"
    };
  },
  methods: {
    goToHomePage() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    },
    goToSignUp: function() {
      this.$emit("scroll-to-top");
    }
  },
  mounted() {
    const self = this;
    SUBSCRIPTION_PLANS_PUBLIC()
      .then(function(response) {
        self.plans = response.data.plans;
        self.plans.sort((a, b) =>
          parseInt(a.price) > parseInt(b.price) ? 1 : -1
        );
      })
      .catch(function(err) {});
  }
};
</script>

<style scoped>
.page {
  padding: 2rem;
}
.price-card-wrapper {
  border-radius: 0.8rem;
  max-width: 36rem;
  margin-bottom: 5rem !important;
}
.nav-top {
  width: 100%;

  background-color: var(--employer-nav);
}
.nav-align {
  height: 7.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
</style>
