<template>
  <div :key="searchKey" style="background-color:white;">
    <!-- <div class="top">
      <header class="menu-bar-top-margin">
        <menu-bar></menu-bar>
      </header>
    </div>-->
    <!-- eslint-disable -->

    <div
      v-if="!initLoading"
      class="container page-container"
    >
      <div class="row top-bar" style="padding-bottom:1.5rem;" >
        <div class="col-3" align="left" style="z-index:20">
          <router-link :to="{ name: 'landingPage' }" class="navbar-brand">
            <div>
              <img src="@/assets/newDesign/logo_color.svg" style="width:18.0rem;margin-top:.8rem" />
            </div>
          </router-link>
        </div>
        <div class="col-6 no-padding" style="z-index:20;margin-top:1.0rem;">
          <search-component v-if="!tab" v-on:search="searchJobs" :value="searchKey"></search-component>
        </div>
        <div class="col-3" align="right" style="z-index:20;margin-top:1.5rem;">
          <div v-on:click="goToSignUp" class="btn btn-save">
            <b>Sign Up</b>
          </div>
        </div>
      </div>
      <div v-if="!noData" class="row search-results">
        <div class="col-12 col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 no-padding">
          <div class="job-list-wrapper">
            <div class="header-rectangle">
              <div class="header-text">{{searchKey.charAt(0).toUpperCase() + searchKey.slice(1)}}</div>
              <div class="header-text-count">{{jobCount}} jobs found</div>
            </div>
            <div style="height: 100%" class="row" v-if="loading">
              <div class="my-auto mx-auto">
                <!-- <img src="../../../../assets/trimatra_img/loader.gif" /> -->
              </div>
            </div>
            <div :key="jobSingle" v-else class="row job-list">
              <div
                class="job"
                v-bind:class="{ activeJob: isActive(index) }"
                :key="index"
                v-for="(job, index) in jobs"
              >
                <job-single
                  v-bind:job="job"
                  v-on:view="viewThisJob(job, index)"
                  v-on:favorite="changeFavJobStatus(true, index)"
                  v-on:remove="changeFavJobStatus(false, index)"
                  :public="true"
                ></job-single>
              </div>
            </div>
          </div>
          <div class="pagination-wrapper">
            <div class="pagination">
              <v-pagination
                v-if="pageCount > 1"
                v-model="page"
                :length="pageCount"
                total-visible="7"
                @input="pagination"
              ></v-pagination>
            </div>
          </div>
        </div>
       
        <div
          v-if="!loading&&!phone"
          class="col-12 col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 job-preview-wrapper"
        >
          <div :key="changeView" class="job-preview">
            <job-preview
              v-bind="viewJobProps"
              v-on:applied="changeApplicationStatus"
              v-on:saved="changeSaveJobStatus"
              :public="true"
            ></job-preview>
          </div>
        </div>
      </div>
      <div class="row no-result no-padding" v-if="noData && errMsg">
        <div class="col-5">
          <img src="@/assets/newDesign/notFound.svg" style="width:100%;height:auto" />
        </div>
        <div class="col-7">
          <div style="text-align:left; margin-top:20vh;margin-left:2.0rem;color:#050405">
            <div
              style="font-size: 2.4rem;line-height: 1.25;"
            >Oops! We couldn’t find results for your search:</div>
            <div style="line-height: 1.25;font-size: 5.2rem;font-weight:500 !important;height: 7.2rem;">
              <h1>{{searchKey}}</h1>
            </div>
          <!--<div style="margin-top:.0rem;">-->
              <!--Try searching For-->
              <!--<div style="margin-top:1.0rem;">-->
                <!--<div class="cube-chips">Software Engineer</div>-->
                <!--<div class="cube-chips">Product Designer</div>-->
                <!--<div class="cube-chips">UX Consultant</div>-->
                <!--<div class="cube-chips">iOS Developer</div>-->
                <!--<div class="cube-chips">Front-end Developer</div>-->
                <!--<div class="cube-chips">User Experience Designer</div>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
    <div
      style="height:100vh; width:100vw;position:fixed;top:.0rem; left:.0rem;padding-top:calc(25% - 9.6rem);background-color:white"
      class="row justify-content-center my-auto"
      v-if="initLoading"
    >
      <loader></loader>
    </div>

    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right:1.0rem">
          <v-icon color="#fff">{{ snackIcon }}</v-icon>
        </span>You have to sign in to see more jobs
      </div>
    </v-snackbar>

    <div :key="changeKey" v-if="showPopup">
      <confirmation-popup
        v-on:on-click-cancel="showPopup = false"
        v-on:on-click-ok="goToSignIn"
        v-bind="popUpProps"
        :title="popUpTittle"
        :ok="value=`Sign in`"
      ></confirmation-popup>
    </div>
  </div>
</template>

<script>
import JobSingle from "../candidate/jobs/job-single-view";
// import SearchFilter from "./search-filter";
import JobPreview from "../candidate/jobs/job-preview";
// import FilterJob from "../../filter/job-filter";
// import ClickOutside from "vue-click-outside";
// import { SEARCH_JOBS_CB } from "@/Api/candidate_api";
// import {GET_JOB_DETAILS} from "@/Api/common_api";
import Loader from "../global-components/loader"
import { PHONE, TAB } from "../../globalFunctions";
import { SEARCH_JOBS_PUBLIC, GET_JOB_DETAILS } from "../../Api/public_api";
import SearchComponent from "../global-components/search-component";
import ConfirmationPopup from "../global-components/confirmation-pop-up";
export default {
  name: "publicsearch-job",
  components: {
    JobSingle,
    // SearchFilter,
    JobPreview,
    // FilterJob
    Loader,
    SearchComponent,
    ConfirmationPopup
  },
  data: function() {
    return {
      phone: PHONE(),
      tab: TAB(),
      popUpProps: {
        open: true,
        message: "You have to Sign in to use this feature"
      },
      popUpTittle: "",
      changeKey: 0,
      showPopup: false,
      showFilter: false,
      hideMe: 0,
      page: 1,
      jobCount: 0,
      pageCount: 5,
      noData: true,
      errMsg: "",
      jobs: [],
      jobViewControler: [],
      searchKey: "",
      viewJobProps: {},
      changeView: 0,
      jobSingle: 0,
      pageStart: 0,
      // filter: {},
      loading: false,
      initLoading: true,
      currentJobIndex: null,
      exp: [],
      jbn: [],
      skl: [],
      mSal: "",
      nSal: "",
      drtn: "",
      showChips: false,
      timeOut: 2000,
      snackbar: false,
      snackIcon: this.$constants.SNACKBAR_ICON.ERROR,
      bgColor: this.$constants.SNACKBAR_COLOR.ERROR,
      searchDelay: 0,
      previousKey: "",
      duplicateSearch: 0,
      timeInterval: null
    };
  },

  methods: {
    // clearFilter() {
    //   this.showChips = false;
    //   this.filter = {};
    //   this.searchAction("", this.filter);
    // },
    goToSignIn: function() {
      // this.$emit("clicked");
      this.$router.push({ name: "signin" ,params: { tab:0, search_key: this.searchKey }}).catch(function() {});
    },
    goToSignUp: function() {
     this.$router.push({ name: "signin" ,params: { tab:1 }}).catch(function() {});
    },
    searchJobs(key) {
      // this.$router.push({ name: "publicSearch", params: { q: key } });
      if (key) {
        if (
          this.previousKey !== "" &&
          this.previousKey.toUpperCase() === key.toUpperCase()
        ) {
          this.duplicateSearch = (this.duplicateSearch + 1) % 2;
          let newKey = key + this.duplicateSearch;
          this.$router
            .push({
              name: "publicSearch",
              params: { q: newKey },
              query: { key: key }
            })
            .catch(function() {});
        } else {
          this.previousKey = key;
          this.activeTab = "";
          this.showJobMenu = false;
          this.$router.push({ name: "publicSearch", params: { q: key } })
            .catch(function() {});
        }
      }
    },
    searchActionTemp: function(key) {
      this.pageStart = 0;
      this.searchKey = key;
      this.searchAction(key);
    },
     searchAction: function(key) {
      const self = this;
      clearTimeout(self.timeInterval)
      // clearTimeout(self.time)
      self.jobs = [];
      self.loading = true;
      let params = {
        q: key || ""
      };
      SEARCH_JOBS_PUBLIC(params)
        .then((response)=> {
          if (response.status === self.$constants.RESPONSE_CODE.PROCESSING) {
            self.searchDelay++;
            if (self.searchDelay < self.$constants.DELAY.SEARCH_RESULT_MAX_DELAY) {
              self.timeInterval = setTimeout(() => {
                self.searchAction(key)
              }, self.$constants.DELAY.SEARCH_TIMEOUT);
            } else {
              self.searchDelay = 0;
              self.loading = false;
              self.noData = true;
              self.errMsg = "No result found";
              self.initLoading = false;
            }
          } else {
            self.initLoading = false;
            // self.searchKey = data.query;
            if (response.data.count > 0) {
              self.jobs = response.data.data;
              self.jobs.sort((a, b) =>
                parseInt(a.index) > parseInt(b.index) ? 1 : -1
              );
              self.viewThisJob(self.jobs[0], 0);
              self.jobCount = response.data.count;
              self.pageCount = Math.ceil(response.data.count / 10);
              self.noData = false;
              self.loading = false;
            } else {
              self.loading = false;
              self.noData = true;
              self.errMsg = "No result found";
            }
          }
        })
        .catch(function(err) {
          self.initLoading = false;
          self.loading = false;
          self.noData = true;
          self.errMsg = err.message;
        });
    },
    pagination: function() {
      if (this.page === 1);
      else {
        this.changeKey++;
        this.showPopup = true;
        this.popUpTittle = "View more";
      }
    },
    viewThisJob: function(job, index) {
      const self = this;
      GET_JOB_DETAILS(job.job_id,true)
        .then(function(data) {
          self.viewJobProps.job = data;
          self.changeView++;
          self.currentJobIndex = index;
        })
        .catch(function() {
          // alert(err);
        });
    },
    isActive(index) {
      return this.currentJobIndex === index;
    },
    changeApplicationStatus(status) {
      this.jobs[this.currentJobIndex].applied = status;
    },
    changeSaveJobStatus(status) {
      this.jobs[this.currentJobIndex].favorite = status;
      this.jobSingle++;
    },
    changeFavJobStatus(status, index) {
      this.jobs[index].favorite = status;
      if (this.currentJobIndex === index) {
        this.viewJobProps.job.favorite = status;
        this.changeView++;
      }
      this.jobSingle++;
    }
  },
  beforeDestroy(){
    clearTimeout(this.timeInterval)
  },
  mounted() {
    const self = this;
    if (self.$route.query.key) {
      self.searchKey = self.$route.query.key;
    } else {
      self.searchKey = self.$route.params.q;
    }
    self.pageStart = 0;
    self.page = 1;
    self.searchAction(self.searchKey);
  },

  watch: {
    "$route.params.q"(newQ, oldQ) {
      if (newQ !== oldQ) {
        if (this.$route.query.key) {
          this.searchKey = this.$route.query.key;
        } else {
          this.searchKey = newQ;
        }
        this.pageStart = 0;
        this.page = 1;
        this.searchAction(this.searchKey);
      }
    }
  }
};
</script>

<style scoped>
.filter-items {
  margin-top: 4rem !important;
}
.chips {
  /*background-color: #05344c;*/
  color: #05344c;
  padding: 0.2rem 1rem;
  margin: 0.1rem 0.2rem;
  border: 0.1rem solid #11998e;
  border-radius: 5rem;
}
.search-top {
  /*background-color: #ffffff;*/
}
.search-container {
  width: 100%;
  height: 5vh;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 0.1rem solid #05344c;
  border-radius: 0.5rem 0 0 0.5rem;
  /*box-shadow: .1rem .3rem .2rem #cccccc !important;*/
}
.searchInput {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 1rem 1.5rem;
}
.search-button {
  padding: 0;
}
/* .filter-button {
  font-size: 1.6rem;
  height: 100%;
  width: 12.0rem;
  padding: 1.2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 5.0rem;
  box-shadow: .1rem .3rem .2rem #cccccc !important;
  float: right;
  margin-right: 10%;
}
.filter-button-wrapper {
  width: 100%;
  height: 5vh;
  font-size: 1.6rem;
  padding: 0;
}
.filter-ico {
  padding: 0 .5rem 0 0;
} */
.margin {
  margin-bottom: 5rem;
}
.btn-find-job {
  width: 100%;
  height: 5vh;
  font-size: 1.6rem;
  color: #ffffff !important;
  background-color: #05344c;
  border-radius: 0 0.5rem 0.5rem 0;
  /*box-shadow: .1rem .3rem .2rem #cccccc !important;*/
  box-shadow: none !important;
  text-align: center;
  padding-right: 2rem;
}
.search-results {
  margin-top: 2rem !important;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.pagination-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  background-color: #fafafa;
  border-radius: 0 0 0.5rem 0.5rem;
}
.pagination {
  display: flex;
  justify-content: center;
}
.no-result {
  margin-top: 2.5rem !important;
  height: 80vh;
  background-color: #ffffff;
}
.no-result-color {
  color: #bbbec1;
}
.header-rectangle {
  position: absolute;
  width: 100%;
  height: 8.2rem;
  background-color: #fafafa;
  padding: 1.5rem;
  top: 0;
  z-index: 2;
  border-bottom: 0.1rem solid #efefef;
  border-radius: 0.5rem 0.5rem 0 0;
}
.header-text {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #050405;
}
.header-text-count {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: rgba(5, 5, 5, 0.6);
}
.job-list-wrapper {
  padding: 8.2rem 0 6.8rem 0;
  height: 80vh;
  overflow: scroll;
  background-color: white;
  width: 100%;
  border-radius: 0.8rem;
}
.job-list {
  background-color: #ffffff;
}
.job {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.3rem;
  cursor: pointer;
}

/* .activeJob {
  cursor: pointer;
  background-color: var(--synop-select-color);
  border-left: .3rem solid var(--link-color);
  box-sizing: border-box;
  padding-left: 0 !important;
} */
.job-preview-wrapper {
  height: 80vh;
  padding: 0;
}
.job-preview {
  height: 100%;
  background-color: white;
  overflow: auto;
}
.cube-chips {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #eeeeee;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0766ff;
  float: left;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.page-container {
  padding-top: 3rem;
  height: 100vh;
  background-color: white;
}
@media (max-width: 600px) {
  .top-bar {
    padding-right: 2rem;
  }
  .page-container {
    padding-top: 1.5rem;
  }
  .job-list-wrapper {
    height: 85vh;
  }
  .search-results {
    margin-top: 0rem !important;
  }
  .job-preview-wrapper {
    height: 100vh;
  }
  .container {
    width: 100%;
  }
  .btn-save {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
</style>
