<template>
  <div class="container-fluid">
    <div class="result-top">
      <h2 style="text-align: left">Find the right candidate</h2>
      <div style="color:var(--link-color); text-align: left">
        skill, designation, institution or any keyword
      </div>
      <v-form style="margin: 1rem 0" @submit.prevent="searchResume" ref="form">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="e.g. Software Engineer"
            v-model="searchKey"
          />
          <button
            @click="searchResume"
            class="input-group-append"
            id="btn-srch-rsm-emp"
          >
            <div class="find-jobs-button vertical-center" align="middle">
              <!-- <v-icon style="color:white;font-size:2.5rem" v-if="phone">search</v-icon> -->
              <b>Search Resume</b>
            </div>
          </button>
        </div>
        <div
          v-bind:class="{ errS: searchKey.trim().length === 50 }"
          style="
                    padding: 0.2rem;
                    text-align: left;
                    font-size: 1.2rem;
                    color: #cccccc;"
        >
          {{ searchKey.trim().length }}/50
        </div>
      </v-form>
    </div>
    <div>
      <div v-if="!loading" class="result-mid" style="margin-top: 2rem;">
        <div v-if="!noData" style="padding-bottom: 10rem">
          <div class="row" style="margin: 1rem 0 !important;">
            Showing ({{ totalCount }}) results for '{{ displayKey }}'
          </div>
          <div style="background-color: #959595" class="horizontal-line"></div>
          <div v-for="(result, index) in results">
            <div @click="showModal" class="row result-wrapper">
              <div class="col-xl-2 image-wrapper">
                <img class="image" :src="images[index % 4]" />
              </div>
              <div class="col-xl-10 desc">
                <h3 class="">{{ result.title }}</h3>
                <div>{{ result.institution_name }}</div>
                <div v-if="result.skill.length > 0">
                  Skills:
                  <span v-for="skill in result.skill">
                    <span style="font-size: 1.2rem">{{
                      skill.skill_name + ","
                    }}</span>
                  </span>
                </div>
                <div style="font-size: 1.2rem">
                  Experience: {{ result.year_of_exp }} year(s)
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-wrapper">
            <div class="pagination">
              <v-pagination
                v-if="pageCount > 1"
                v-model="page"
                :length="pageCount"
                total-visible="7"
                @input="showModal"
              ></v-pagination>
            </div>
          </div>
        </div>
        <div v-else>
          <div>
            <img
              src="@/assets/newDesign/notFound.svg"
              style="width:100%; height: 40vh"
            />
            <div>{{ errMsg }}</div>
          </div>
        </div>
      </div>
      <div class="row" style="height: 50vh" v-else>
        <div class="mx-auto my-auto">
          <img src="@/assets/static_content/loader.svg" />
        </div>
      </div>
    </div>
    <div v-if="showPopup">
      <confirmation-popup
        v-on:on-click-cancel="showPopup = false"
        v-on:on-click-ok="goToSignIn"
        v-bind="popUpProps"
        :title="popUpTittle"
        :ok="(value = `Sign in`)"
      ></confirmation-popup>
    </div>
  </div>
</template>

<script>
import { SEARCH_RESUME_PUBLIC } from "../../Api/public_api";
import ConfirmationPopup from "../global-components/confirmation-pop-up";
export default {
  name: "resume-result-component",
  components: {
    ConfirmationPopup
  },
  data: function() {
    return {
      page: 0,
      pageCount: 10,
      searchKey: "",
      displayKey: "",
      searchDelay: 0,
      results: [],
      totalCount: 0,
      loading: false,
      noData: false,
      errMsg: "",
      images: [
        require("@/assets/avatar-male.png"),
        require("@/assets/avatar-male-1.png"),
        require("@/assets/avatar-female.png"),
        require("@/assets/avatar-male-2.png")
      ],
      showPopup: false,
      popUpProps: {
        open: true,
        message: "You have to Sign in to use this feature"
      },
      popUpTittle: "Please Sign in"
    };
  },
  watch: {
      searchKey(newQ, oldQ) {
          if (newQ.trim().length > 50) {
              this.searchKey = oldQ.trim();
          }
      },
  },
  methods: {
    goToSignIn() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    },
    showModal() {
      const self = this;
      self.showPopup = true;
    },
    searchResume() {
      const self = this;
      if(self.searchKey.trim() && self.searchKey.trim().length > 0 &&
          self.searchKey.trim().length <= 50){
        self.loading = true;
        self.results = [];
        self.displayKey = self.searchKey.trim();
        SEARCH_RESUME_PUBLIC(self.searchKey.trim()).then(function(response) {
          if (response.status === self.$constants.RESPONSE_CODE.PROCESSING) {
            self.searchDelay++;
            if (
                    self.searchDelay < self.$constants.DELAY.SEARCH_RESULT_MAX_DELAY
            ) {
              setTimeout(
                      self.searchResume(self.searchKey),
                      self.$constants.DELAY.SEARCH_TIMEOUT
              );
            } else {
              self.searchDelay = 0;
              self.loading = false;
              self.noData = true;
              self.errMsg = "No result found";
              self.initLoading = false;
            }
          } else {
            if (response.data.count > 0) {
              self.totalCount = response.data.count;
              self.results = response.data.data;
              self.noData = false;
              self.loading = false;
            } else {
              self.loading = false;
              self.noData = true;
              self.errMsg = "No result found";
            }
          }
        })
                .catch(function(err) {
                  self.loading = false;
                  self.noData = true;
                  self.errMsg = "No result found";
                });
      }
    }
  },
  mounted() {
    const self = this;
    if (self.$route.query.q) {
      self.searchKey = self.$route.query.q;
    } else {
      self.searchKey = self.$route.params.q;
    }
    if (self.searchKey) self.searchResume();
    else {
      self.loading = false;
      self.noData = true;
      self.errMsg = "No result found";
    }
  }
};
</script>

<style scoped>
  .errS {
    color: var(--button-delete-color) !important;
  }
.form-control {
  height: 4rem;
  border-radius: 0.4rem;
  border: solid 1px #c0c0c0;
  background-color: white;
  font-size: 1.4rem;
  max-width: 60rem;
}
.form-control:focus {
  box-shadow: none;
}
.find-jobs-button {
  margin-left: -12rem;
  cursor: pointer;
  width: 14.6rem;
  height: 4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background-image: linear-gradient(to left, #15843c, #8dbe49);
  color: white;
  z-index: 10;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
.result-mid {
  height: 100%;
  overflow-y: auto;
  position: relative;
}
.result-wrapper {
  margin: 1rem 0 !important;
  min-height: 10rem;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}
.image-wrapper {
  padding: 1.5rem 1rem 1rem;
}
.image {
  width: 100%;
}
.desc {
  text-align: left;
  margin: auto;
}
.pagination-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  background-color: #fafafa;
  border-radius: 0 0 0.5rem 0.5rem;
}
.pagination {
  display: flex;
  justify-content: center;
}
</style>
