<template>
  <div class="signin-page">
    <div class="left-side vertical-center pc-mode">
      <div class="container-fluid" align="left">
        <img
          src="@/assets/static_content/logo-solid-white.svg"
          style="width:27.8rem; cursor:pointer"
          @click="goToLanding"
        />
        <div class="horizontal-line" style="margin:3rem 0"></div>
        <h2 style="color:white">
          Already have an account?
        </h2>
        <div style="color:#9bb6dc;font-size:1.6rem">
          Sign in to find your perfect job match here at
          <b style="color:white">workd</b>.
        </div>
        <div
          class="capsule-button horizontal-center"
          @click="goToSignIn"
          id="btn-sign-up-pg-sign-in"
        >
          Sign in
        </div>
      </div>
    </div>
    <div class="right-side vertical-center">
      <div style="position: absolute; top: 0; right: 0">
        <v-icon @click="goToLanding" size="50" color="grey">mdi-close</v-icon>
      </div>
      <div class="horizontal-center">
        <sign-up></sign-up>
      </div>
    </div>
  </div>
</template>

<script>
import SignUp from "./sign-up-component";
// import MenuForm from "./menu-bar";
import { PHONE } from "../../globalFunctions";
export default {
  name: "index-sign-up",
  components: {
    SignUp
    // MenuForm
  },
  data: function() {
    return {
      phone: PHONE()
    };
  },
  methods: {
    goToSignUp: function() {
      this.$router.push({ name: "signup" }).catch(function() {});
    },
    goToSignIn: function() {
      this.$router.push({ name: "signin" }).catch(function() {});
    },
    goToLanding: function() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    }
  }
};
</script>

<style scoped>
.signin-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.left-side {
  height: 100vh;
  flex: 1;
  background-image: linear-gradient(to top, #001844, #294c8b);
}
.right-side {
  height: 100vh;
  flex: 1;
  background-image: url("../../assets/static_content/login-bg.svg");
  background-color: white;
  background-position: bottom;
}
.capsule-button {
  margin-top: 3.1rem;
  background-color: var(--landing-button-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  border-radius: 20rem;
  width: 12rem;
  height: 4rem;
  cursor: pointer;
}
</style>
