<template>
  <div class="testimonial--container">
    <h2 data-v-35afd3d0="" align="middle">Client Testimonial</h2>

    <div class="testimonial">
      <div class="cheap-scroll--fix">
        <div class="tm-block">
          <div class="tm--comment">
            <img src="@/assets/newContent/ico-quote.svg" alt="" />
            <p>
              The best part of Workd is its AI powered platform show you how a
              candidate will perform the job before they get the job. Which
              means we hire based on merit not background.
            </p>
          </div>
          <div class="tm--person">
            <img src="@/assets/newContent/testimonial-1.jpg" alt="" />
            <span>Shakilah Binte Hasan</span>
            <span
              >Learning and Dev incharge at
              <strong>Partex Star Group</strong></span
            >
          </div>
        </div>

        <div class="tm-block">
          <div class="tm--comment">
            <img src="@/assets/newContent/ico-quote-active.svg" alt="" />
            <p>
              We are using Workd for our hiring at Sheba.xyz. I must say it’s
              the new way to build teams. Faster and more effective than
              traditional recruitment sites.
            </p>
          </div>
          <div class="tm--person">
            <img src="@/assets/newContent/testimonial-2.jpg" alt="" />
            <span>Aflatun Kaisar</span>
            <span>Chief People Officer at <strong>Sheba.xyz</strong></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
</script>

<!-- Add "scoped" attribute to .tm-blockmit CSS to this component only -->
<style scoped>
.testimonial--container {
  width: 1410px;
  margin: 15rem auto 0;
}
.testimonial--container h2 {
  display: inline-block;
}
.testimonial--container .testimonial .cheap-scroll--fix {
  margin-top: 6rem;
  display: flex;
}
.testimonial--container .testimonial .cheap-scroll--fix .tm-block {
  margin: 0 1rem;
  width: 50%;
}
.testimonial--container .testimonial .cheap-scroll--fix .tm-block .tm--comment {
  background: #f5f4fb;
  border-radius: 15px;
  padding: 1.8rem 5rem 3rem;
  text-align: center;
  min-height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial--container
  .testimonial
  .cheap-scroll--fix
  .tm-block
  .tm--comment
  img {
  margin-bottom: 1.3rem;
}
.testimonial--container
  .testimonial
  .cheap-scroll--fix
  .tm-block
  .tm--comment
  p {
  color: #666;
  font-size: 1.3rem;
  line-height: 24px;
}
.testimonial--container .testimonial .cheap-scroll--fix .tm-block .tm--person {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -36px;
}
.testimonial--container
  .testimonial
  .cheap-scroll--fix
  .tm-block
  .tm--person
  img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  object-fit: cover;
  object-position: top;
  margin: 0 0 0.7rem 0;
}
.testimonial--container
  .testimonial
  .cheap-scroll--fix
  .tm-block
  .tm--person
  span {
  font-size: 1.3rem;
  color: #666;
}
.testimonial--container
  .testimonial
  .cheap-scroll--fix
  .tm-block
  .tm--person
  span:first-of-type {
  font-weight: 800;
  color: #000;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (max-width: 1366px) {
  .testimonial--container {
    width: initial;
  }
  .testimonial--container .testimonial {
    width: initial;
  }
  .testimonial--container .testimonial::-webkit-scrollbar {
    display: none;
  }
  .testimonial--container .testimonial .cheap-scroll--fix .tm-block {
    padding: 0 2rem;
  }
  .testimonial--container
    .testimonial
    .cheap-scroll--fix
    .tm-block
    .tm--person
    span {
    font-size: 1.7rem;
  }
  .testimonial--container
    .testimonial
    .cheap-scroll--fix
    .tm-block
    .tm--comment
    p {
    font-size: 1.8rem;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media  (max-width: 480px) {
  .testimonial--container {
    width: initial;
  }
  .testimonial--container .testimonial {
    overflow-x: scroll;
    /* has to be scroll, not auto */
    width: initial;
    -ms-overflow-style: none;
    /* IE and Edge */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* Firefox */
  }
  .testimonial--container .testimonial::-webkit-scrollbar {
    display: none;
  }
  .testimonial--container .testimonial .cheap-scroll--fix {
    width: 750px;
  }
  .testimonial--container .testimonial .cheap-scroll--fix .tm-block {
    padding: 0 2rem;
  }
  .testimonial--container
    .testimonial
    .cheap-scroll--fix
    .tm-block
    .tm--person
    span {
    font-size: 1.7rem;
  }
  .testimonial--container
    .testimonial
    .cheap-scroll--fix
    .tm-block
    .tm--comment
    p {
    font-size: 1.8rem;
  }
}
</style>
