<template>
  <div
    style="position: relative;"
    @mouseenter="clear"
    @mouseleave="checkInt"
    @touchstart="clear"
    @touchend="checkInt"
  >
    <div class="horizontal-slide" id="slider">
      <div
        v-for="(job, index) in jobs"
        :key="index"
        style="display:inline-block;margin-right:2.0rem"
      >
        <top-synopsis :job="job" :key="index"></top-synopsis>
      </div>
    </div>
    <div
      class="container-fluid"
      style="display:flex;flex-direction:row;justify-content:center"
    >
      <!-- <div class="top-button">
        <div>See More</div>
        <div @click="slideLeftonClick()">
          <v-icon :class="{ slide_button: start, slide_button_dis: !start }" size="22">arrow_back</v-icon>
        </div>
        <div @click="slideRightonClick()">
          <v-icon :class="{ slide_button: end, slide_button_dis: !end }" size="22">arrow_forward</v-icon>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import TopSynopsis from "./top-synopsis";
import { SEARCH_JOBS_PUBLIC } from "../../Api/public_api";
export default {
  components: {
    TopSynopsis
  },
  data: function() {
    return {
      end: true,
      start: false,
      jobs: [],
      scroll: 0,
      offset: 275,
      scrollEnd: 0,
      width: window.innerWidth,
      interval: null,
      timeout: null
    };
  },
  methods: {
    checkInt() {
      this.clear();
      this.slide();
    },
    clear() {
      clearInterval(this.interval);
      clearTimeout(this.timeout);
    },
    slideRightonClick() {
      this.clear();
      this.slideRight();
      this.timeout = setTimeout(this.slide, 2000);
    },
    slideLeftonClick() {
      this.clear();
      this.slideLeft();
      this.timeout = setTimeout(this.slide, 2000);
    },
    slide() {
      let elmnt = document.getElementById("slider");
      this.interval = setInterval(() => {
        this.slideRight();
        if (this.scroll >= this.scrollEnd) {
          this.scroll = 0;
          elmnt.scrollLeft = this.scroll;
        }
      }, 2000);
    },
    slideRight: function() {
      let elmnt = document.getElementById("slider");
      if (this.scroll >= this.scrollEnd - this.offset) {
        this.scroll = this.scrollEnd;

        this.end = false;
      } else {
        this.scroll += this.offset;
        this.start = true;
      }
      elmnt.scrollLeft = this.scroll;
    },
    slideLeft: function() {
      let elmnt = document.getElementById("slider");
      if (this.scroll <= 0 + this.offset) {
        this.scroll = 0;
        this.start = false;
      } else {
        this.scroll -= this.offset;
        this.end = true;
      }
      elmnt.scrollLeft = this.scroll;
    }
  },
  mounted: function() {
    const self = this;
    let elmnt = document.getElementById("slider");
    SEARCH_JOBS_PUBLIC({ top: true })
      .then(response => {
        if (response.data.jobs.length > 0) {
          self.jobs = response.data.jobs;
          self.scrollEnd =
            self.jobs.length * (self.offset - 1) -
            document.getElementById("slider").clientWidth;
          self.interval = setInterval(() => {
            self.slideRight();
            if (this.scroll >= this.scrollEnd) {
              this.scroll = 0;
              elmnt.scrollLeft = this.scroll;
            }
          }, 2000);
        } else self.$emit("no-data");
      })
      .catch(function() {
        self.$emit("no-data");
      });
  },
  beforeDestroy() {
    clearInterval(this.interval);
    clearTimeout(this.timeout);
  }
};
</script>

<style scoped>
@media (max-width: 57.6rem) {
  .top-button {
    display: none;
  }
}
.horizontal-slide {
  white-space: normal;
  height: auto;
  width: 100%;
}
@media (max-width: 800px) {
  .horizontal-slide {
    width: calc(100vw - 30px);
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
  }
}
.horizontal-slide::-webkit-scrollbar {
  display: none;
}
.top-button {
}
.top-button > div {
  float: left;
  margin: 0 1rem;
  color: var(--button-color);
  font-size: 1.6rem;
  font-weight: bold;
}
.slide_button {
  font-size: 2rem;
  color: var(--button-color) !important;
  float: right;
  cursor: pointer;
}
.slide_button_dis {
  font-size: 2rem;
  color: #8e8e93 !important;
  float: right;
  cursor: pointer;
}
</style>
