<template>
  <div v-if="changeKey !== 0" class="public-job-wrapper">
    <div class="nav container-fluid">
      <div class="nav-left">
        <img
          @click="goToHomePage"
          src="@/assets/static_content/workd.svg"
          class="logo"
        />
        <!--<div class="left-content pc-mode">-->
        <!--<div class="nav-left-content">-->
        <!--<div class="image">-->
        <!--<img src="@/assets/static_content/find-job.svg" />-->
        <!--</div>-->
        <!--<div class="content" id="btn-fndjb-cn-job-prev">-->
        <!--Find Job-->
        <!--<div>use our AI-powered platform</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="left-content pc-mode">-->
        <!--<div class="nav-left-content">-->
        <!--<div class="image">-->
        <!--<img src="@/assets/static_content/upload-resume.svg" />-->
        <!--</div>-->
        <!--<div class="content" id="btn-uprsm-cn-job-prev">-->
        <!--Upload Resume-->
        <!--<div>don't have a resume? Build in 3 steps</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
      <div class="nav-right pc-mode">
        <div
          id="btn-c-accnt-cn-job-prev"
          class="nav-right-content"
          style="color:var(--link-color);cursor:pointer"
          @click="goToSignUp"
        >
          Create account
        </div>
        <div class="nav-right-content">Or</div>
        <div
          id="btn-sgn-in-cn-job-prev"
          class="nav-right-content"
          style="color:var(--link-color);cursor:pointer"
          @click="goToSignIn"
        >
          Sign in
        </div>
        <div
          class="nav-right-button"
          @click="goToEmployer"
          id="btn-c-accnt-emp-job-prev"
        >
          EMPLOYER
        </div>
      </div>
      <div class="nav-right phone-mode">
        <div class="nav-right-button" @click="drawer = !drawer">SIGN IN</div>
        <div
          class="menu-box"
          v-if="drawer"
          style="border: solid 1px #707070;right:0rem;top:7rem;z-index:100;padding:0.5rem 1rem;position:absolute;box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.55);"
        >
          <div
            class="menuitem"
            @click="goToSignIn"
            id="btn-sgn-in-cn-job-prev-phn"
          >
            Candidate Login
          </div>
          <div class="separator"></div>
          <div
            class="menuitem"
            @click="goToEmployer"
            id="btn-c-accnt-emp-job-prev-phn"
          >
            Company Sign in
          </div>
        </div>
        <div
          class="dropdown-wrapper"
          v-if="drawer"
          style="background-color:rgba(0,0,0,0.1);z-index:50"
          @click="drawer = false"
        ></div>
      </div>
    </div>
    <div class="">
      <job-preview
        :job="viewJobProps"
        :public="true"
        :fullview="true"
      ></job-preview>
    </div>
  </div>
</template>

<script>
import JobPreview from "./top-job-preview";
import { GET_JOB_DETAILS } from "../../Api/public_api";
// import MenuBar from "./menu-bar";
// import SearchCapsule from "../global-components/search-capsule";
import { PHONE } from "../../globalFunctions";
export default {
  components: {
    JobPreview
    // MenuBar,
    // SearchCapsule
  },
  data: function() {
    return {
      drawer: false,
      phone: PHONE(),
      viewJobProps: {},
      changeKey: 0,
      searchKey: "",
      searchCapsule: [
        "Software Engineer",
        "Product Designer",
        "UX Designer",
        "iOS Developer",
        "Front-end Developer"
      ]
    };
  },
  methods: {
    search() {
      this.$router
        .push({
          name: "publicSearch",
          params: { q: this.searchKey }
        })
        .catch(function() {});
    },
    goToHomePage() {
      this.$router.push({ name: "landingPage" }).catch(function() {});
    },
    goToSignIn: function() {
      this.$router.push({ name: "signin", params: { tab:0,job_id: this.viewJobProps.job_id } }).catch(function() {});
    },
    goToSignUp: function() {
      this.$router.push({ name: "signin", params: { tab:1,job_id: this.viewJobProps.job_id } }).catch(function() {});
    },
    goToEmployer() {
      this.$router.push({ name: "employersignup" }).catch(function() {});
    }
  },
  mounted() {
    const self = this;
    GET_JOB_DETAILS(this.$route.params.q)
      .then(function(data) {
        self.viewJobProps = data;
        self.changeKey++;
      })
      .catch(function() {
        // alert(err);
      });
  }
};
</script>

<style scoped>
.public-job-wrapper {
  background-color: #ffffff;
  padding-bottom: 2rem;
  height: 100vh;
}
.logo {
  cursor: pointer;
  width: 18.5rem;
}
.nav {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-content {
  padding-left: 8.7rem;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.nav-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.2rem;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.2rem;
  flex: 1;
  border-right: 1px solid #cccccc;
}
.nav-left-content > .image > img {
  height: 2.7rem;
  width: auto;
}
.content {
  padding-left: 1.2rem;
  flex: 5;
  font-size: 1.6rem;
  text-align: left;
}
.nav-left-content > .content > div {
  color: var(--link-color);
  white-space: nowrap;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.nav-right-content {
  padding-right: 1rem;
}
.nav-right-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 1.7rem;
  background-image: linear-gradient(to left, #3069b3, #8552a1);
  color: white;
  padding: 0rem 2.4rem;
  height: 3.4rem;
}
.phone-mode {
  display: none;
}
.pc-mode {
  display: flex;
}
@media (max-width: 800px) {
  .phone-mode {
    display: flex;
  }
  .pc-mode {
    display: none;
  }
}
</style>
