<template>
  <div class="job_card" @click="view">
    <div align="left">
      <img class="logo" :src="image_url" />
    </div>
    <div>
      <div class="details">
        <div class="job_card_header" style="height:2.5rem">
          {{ Designation }}
        </div>
        <div class="job_card_header under">{{ Company }}</div>
        <!-- <div class="job_card_header under_under">{{Location}}</div> -->
        <div class="apply_button" @click="view">View</div>
      </div>
    </div>
    <!-- <div :key="changeKey" v-if="showPopup">
      <confirmation-popup
        v-on:on-click-cancel="showPopup = false"
        v-on:on-click-ok="goToSignIn"
        v-bind="popUpProps"
        :title="popUpTittle"
        :ok="value=`Sign in`"
      ></confirmation-popup>
    </div> -->
  </div>
</template>

<script>
export default {
  props: {
    job: {
      default: function() {
        return {
          job_tittle: "",
          company_name: "",
          location_name: "",
          image_url: ""
        };
      },
      type: Object
    }
  },
  data: function() {
    return {
      Designation: "",
      Company: "",
      Location: "",
      image_url: require("@/assets/newDesign/logo2.svg"),
      showPopup: false,
      popUpProps: {
        open: true,
        message: "You have to Sign in to use this feature"
      },
      popUpTittle: "",
      changeKey: 0
    };
  },
  methods: {
    view: function() {
      this.$router
        .push({
          name: "topJobViewPublic",
          params: { q: this.job.job_id }
        })
        .catch(function() {});
    },
    goToSignIn: function() {
      // this.$emit("clicked");
      //   this.$router.push({ name: "signin" });
      this.showPopup = false;
      window.scrollTo(0, 0);
    },
    linemaker() {
      let token = [];
      token = this.Designation.split(" ");
      let temp = 0;
      let tempString = "";
      for (let i in token) {
        temp += token[i].length + 1;
        if (temp >= 18) {
          tempString += token[i] + ". . . ";
          break;
          // this.divheight=tempHeight*count;
          // temp=token[i].length+1;
        } else {
          tempString += token[i] + " ";
        }
      }
      this.divheight = 25;
      this.Designation = tempString;
    }
  },
  mounted() {
    this.Designation = this.job.job_title ? this.job.job_title : "";
    this.Company = this.job.company_name ? this.job.company_name : "";
    this.Location = this.job.location_name ? this.job.location_name : "";
    this.image_url = this.job.image_url ? this.job.image_url : this.image_url;
    this.linemaker();
  }
};
</script>
<style scoped>
.job_card {
  width: 238px;
  border: 0.1rem solid #f0f0f0;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
  height: 21rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.details {
  padding: 0 2.2rem;
  height: 15rem;
}
.job_card_header {
  font-size: 1.8rem;
  text-align: left;
  color: #121212;
  line-height: 1.5;
  overflow: hidden;
  /* white-space: normal;
 overflow: hidden; */
}
.under {
  margin-top: 1rem;
  line-height: 1.25;
  color: #050505;
  font-size: 1.4rem;
  height: auto;
  min-height: auto;
}
.under_under {
  font-size: 1.2rem;
  line-height: 1.33;
  color: rgba(5, 5, 5, 0.74);
  margin-bottom: 2.2rem;
  height: auto;
  min-height: auto;
}
.apply_button {
  font-size: 1.4rem;
  line-height: 1.25;
  cursor: pointer;
  text-align: left;
  color: var(--link-color);
  position: absolute;
  bottom: 0.8rem;
  left: 2.2rem;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0rem;
}
.logo {
  margin: 2.2rem;

  height: 4.7rem;

  border-radius: 0.4rem;
}
</style>
