<template>
  <div class="no-padding">
    <v-icon class="up-bubble" @click="goTop">
      keyboard_arrow_up
    </v-icon>
    <div v-if="pub">
      <div :key="changeKey" v-if="showPopup">
        <confirmation-popup
          v-on:on-click-cancel="showPopup = false"
          v-on:on-click-ok="goToSignIn"
          v-bind="popUpProps"
          :title="popUpTittle"
          :ok="(value = `Sign in`)"
        ></confirmation-popup>
      </div>
    </div>
    <div v-if="job" class="job-preview" v-bind:class="[{ pubView: pub }]">
      <div class="row preview-content-top">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 no-padding">
          <div class="job-title">{{ title }}</div>
          <div class="company-name">{{ company }}</div>
          <div class="company-email" @click="gotolink">{{ website }}</div>
          <div class="deadline">
            <v-icon style="margin-right:.5rem; color: #00adee;"
              >mdi-clock-outline</v-icon
            >
            <span style="margin-right: .5rem">Posted</span>
            <span class="deadline-text">{{ openingDate }}</span>
            <v-icon style="margin-right: .5rem; color: #00adee;"
              >mdi-timer-sand</v-icon
            >
            <span style="margin-right: .5rem">Deadline</span>
            <span class="deadline-text">{{ deadLine }}</span>
            <v-icon style="margin-right: .5rem; color: #00adee;"
              >mdi-briefcase-outline</v-icon
            >
            <span style="margin-right: .5rem">Job Nature:</span>
            <span class="deadline-text">{{ jobType }}</span>
            <v-icon style="margin-right: .5rem; color: #00adee;"
              >mdi-currency-bdt</v-icon
            >
            <span style="margin-right: .5rem">Salary</span>
            <span class="deadline-text">{{ salaryText }}</span>
          </div>
        </div>
        <div
          class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 company-image-wrapper-wrapper pc-only"
        >
          <div class="row justify-content-center">
            <div class="company-image-wrapper vertical-center">
              <img class="company-image" :src="image_url" />
            </div>
          </div>
        </div>
      </div>
      <div class="details-wrapper">
        <div class="row">
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 pr-sm-0 pr-md-0"
            style="padding-left: 0; padding-right: 10rem"
          >
            <div style="float: right; margin-top: 2rem; margin-right: 5rem">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <button
                    class="btn btn-cancel"
                    v-on="on"
                    @click="copyToClipboard"
                    style="margin-top: 1rem; cursor: pointer"
                  >
                    <v-icon>mdi-content-copy</v-icon> Click to copy link
                  </button>
                </template>
                <span>{{ shareUrl }}</span>
              </v-tooltip>
            </div>
            <!--<div style="float: right; margin-top: 2rem; margin-right: 1rem">-->
            <!--<v-tooltip bottom>-->
            <!--<template v-slot:activator="{ on }">-->
            <!--<button class="btn btn-cancel" v-on="on" @click="shareJobFacebook" style="margin-top: 1rem; cursor: pointer">-->
            <!--<v-icon size="20" style="color: #4267b2; margin-right: 0.5rem">mdi-facebook-box</v-icon>Share on Facebook-->
            <!--</button>-->
            <!--</template>-->
            <!--<span>{{shareUrl}}</span>-->
            <!--</v-tooltip>-->
            <!--</div>-->
            <div v-if="no_of_vacancy">
              <div class="row salary">Vacancy</div>
              <div class="row salary-content">{{ no_of_vacancy }}</div>
            </div>
            <div v-if="seniorityLevel">
              <div class="row seniority-level">Seniority Level</div>
              <div class="row seniority-level-content">
                {{ seniorityLevel }}
              </div>
            </div>
            <div v-if="details">
              <div class="row job-detail">Details</div>
              <div v-html="details" class="row job-detail-content"></div>
            </div>
            <div v-if="jobresp">
              <div class="row nice-to-have">Job Responsibilities</div>
              <div v-html="jobresp" class="row nice-to-have-content"></div>
            </div>
            <div v-if="degrees.length > 0">
              <div class="row skill">Degrees</div>
              <div class="row skill-content">
                <span
                  :key="index"
                  style="padding-right: .5rem"
                  v-for="(degree, index) in degrees"
                >
                  {{ degree.degree_name
                  }}<span v-if="index < degrees.length - 1">,</span
                  ><span v-else>.</span>
                </span>
              </div>
            </div>
            <div v-if="skillsText">
              <div class="row skill">Skills</div>
              <div class="row skill-content">{{ skillsText }}</div>
            </div>
            <div v-if="niceToHaveText">
              <div class="row nice-to-have">Nice to Have</div>
              <div
                v-html="niceToHaveText"
                class="row nice-to-have-content"
              ></div>
            </div>
            <div v-if="req_id">
              <div class="row nice-to-have">
                Req ID
              </div>
              <div class="row nice-to-have-content">
                {{ req_id }}
              </div>
            </div>
            <div v-if="location">
              <div class="row nice-to-have">
                Location
              </div>
              <div class="row nice-to-have-content">
                {{ location }}
              </div>
            </div>
            <div v-if="benefits">
              <div class="row nice-to-have">Benefits</div>
              <div v-html="benefits" class="row nice-to-have-content"></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pc-only">
            <div class="row combo-component-wrapper">
              <div class="combo-component">
                <div v-if="showSignUp">
                  <sign-up-component
                    v-bind:job_id="job_id"
                    v-bind:header_title="'Apply to this job'"
                  ></sign-up-component>
                  <div style="text-align: left;">
                    Already have an account?
                    <span
                      @click="changetoSignIn"
                      style="color: #166bff; cursor: pointer"
                      >Sign in</span
                    >
                    and apply.
                  </div>
                </div>
                <div v-else>
                  <login-component
                    v-bind:job_id="job_id"
                    v-bind:header_title="'Apply to this job'"
                  ></login-component>
                  <div style="text-align: left;">
                    New to workd?
                    <span
                      @click="changetoSignIn"
                      style="color: #166bff; cursor: pointer"
                      >Create account</span
                    >
                    and apply.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-bind:key="changeApply" v-if="showApplyPopUp">
      <confirm-apply
        v-on:cancel="showApplyPopUp = false"
        v-on:apply="finallyApply"
        v-bind="confirmApplyProps"
      >
      </confirm-apply>
    </div>
    <message-box
      :key="messageChange"
      v-bind:open="openMessageBox"
      v-bind:receiver="job"
      v-bind:jobId="job_id"
      v-bind:candidate="true"
      v-on:send-message="sendMessage"
    ></message-box>
    <v-snackbar
      :color="bgColor"
      :timeout="timeOut"
      top
      v-model="snackbar"
      class="snack"
    >
      <div style="text-align: center; width: 100%;">
        <span style="padding-right:1.0rem;">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import ConfirmationPopup from "../global-components/confirmation-pop-up";
import ConfirmApply from "../global-components/confirm-apply-box";
import * as SYSTEM_FUNCTIONS from "../../globalFunctions";
import * as FILTERS from "../../filters";
import MessageBox from "../global-components/message-box";
import {
  CANDIDATE_ACTION_POST,
  CANDIDATE_ACTION_DELETE,
  FOLLOW_COMPANY,
  UNFOLLOW_COMPANY
} from "../../Api/candidate_api";
import { SEND_NEW_MESSAGE } from "../../Api/common_api";
import SignUpComponent from "./sign-up-component";
import LoginComponent from "./login";
export default {
  name: "job-preview",
  components: {
    MessageBox,
    ConfirmationPopup,
    ConfirmApply,
    SignUpComponent,
    LoginComponent
  },
  props: {
    job: Object,
    appliedJob: Boolean,
    savedJob: Boolean,
    sameComp: Boolean,
    public: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      pub: this.public,
      phone: SYSTEM_FUNCTIONS.PHONE(),
      popUpProps: {
        open: true,
        message: "You have to Sign in to use this feature"
      },
      popUpTittle: "",
      changeKey: 0,
      jobresp: null,
      benefits: null,
      no_of_vacancy: null,
      job_id: null,
      title: null,
      company: null,
      company_id: null,
      website: null,
      details: null,
      degrees: [],
      skillsText: null,
      niceToHaveText: null,
      salaryText: null,
      openingDate: null,
      deadLine: null,
      jobType: null,
      seniorityLevel: null,
      allowMessage: 0,
      applied: this.appliedJob || null,
      saved: this.savedJob || null,
      applicationStatus: null,
      statusColor: null,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      viewed: null,
      showPopup: false,
      req_id: null,
      location: null,
      candidate_details: null,
      openMessageBox: false,
      messageChange: 0,
      showApplyPopUp: false,
      confirmApplyProps: {
        open: false,
        persist: true
      },
      changeApply: 0,
      followed: null,
      image_url: require("../../assets/newDesign/company.svg"),
      showSignUp: true,
      shareUrl: ""
    };
  },
  methods: {
    changetoSignIn() {
      this.showSignUp = !this.showSignUp;
    },
    goTop: function() {
      window.scrollTo(0, 0);
    },
    goToSignIn: function() {
      this.$router.push({ name: "signin" }).catch(function() {});
    },
    showSameCompaniesJob() {
      this.$router
        .push({
          name: "candidateJobsFromSameCompany",
          params: { cid: this.company_id, cn: this.company }
        })
        .catch(function() {});
    },
    finallyApply() {
      const self = this;
      let action = "applied";
      CANDIDATE_ACTION_POST(this.job_id, action)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.applied = true;
          self.$emit("applied", self.applied);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    apply() {
      const self = this;
      if (this.public) {
        self.changeKey++;
        self.showPopup = true;
        self.popUpTittle = "Apply";
      } else {
        let verified = self.$constants.getOwnerInfo().email_confirmed;
        if (verified) {
          self.showApplyPopUp = true;
          self.changeApply++;
          self.confirmApplyProps = {
            open: true,
            persist: true
          };
        } else {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = "Please verify your email account first";
        }
      }
    },
    cancelApplication() {
      const self = this;
      let action = "applied";
      CANDIDATE_ACTION_DELETE(this.job_id, action)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.applied = false;
          self.$emit("applied", self.applied);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    saveThisJob() {
      const self = this;
      if (this.public) {
        self.changeKey++;
        self.showPopup = true;
        self.popUpTittle = "Save";
      } else {
        let action = "favorite";
        CANDIDATE_ACTION_POST(this.job_id, action)
          .then(function(response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.saved = true;
            self.$emit("saved", self.saved);
          })
          .catch(function(err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
          });
      }
    },
    removeFromSavedJobs() {
      const self = this;
      let action = "favorite";
      CANDIDATE_ACTION_DELETE(this.job_id, action)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.saved = false;
          self.$emit("saved", self.saved);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    followThisJob() {
      const self = this;
      if (this.public) {
        self.changeKey++;
        self.showPopup = true;
        self.popUpTittle = "Follow";
      } else {
        FOLLOW_COMPANY(self.company_id)
          .then(function(response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.followed = true;
            self.$emit("followed", self.followed);
          })
          .catch(function(err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
          });
      }
    },
    removeFromFollowingCompanies() {
      const self = this;
      UNFOLLOW_COMPANY(this.company_id)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.followed = false;
          self.$emit("followed", self.followed);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    gotolink() {
      window.open("http://" + this.website, "_blank");
    },
    onClickContact() {
      const self = this;
      self.messageChange++;
      self.openMessageBox = true;
    },
    sendMessage(message) {
      const self = this;
      self.openMessageBox = false;
      self.messageChange++;
      SEND_NEW_MESSAGE(message)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    shareJobFacebook() {
      const self = this;
      FB.ui(
        {
          method: "share",
          href: self.shareUrl
        },
        function(response) {}
      );
    },
    copyToClipboard() {
      const self = this;
      const el = document.createElement("textarea");
      el.value = self.shareUrl;
      document.body.appendChild(el);
      el.select();
      document.execCommand("copy");
      document.body.removeChild(el);
      self.snackbar = true;
      self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
      self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
      self.snackMessage = "Copied to clipboard";
    }
  },
  mounted: function() {
    this.align = this.phone ? "left" : "right";
    if (this.job) {
      this.title = FILTERS.FIRST_LETTER_CAPITAL(this.job.job_title);
      this.job_id = this.job.job_id;
      this.image_url = this.job.image_url ? this.job.image_url : this.image_url;
      this.details = this.job.rich_job_description;
      this.seniorityLevel = SYSTEM_FUNCTIONS.GET_STRING_FROM_ARRAY(
        this.job.seniority_level,
        ", ",
        true
      );
      this.jobType = SYSTEM_FUNCTIONS.GET_STRING_FROM_ARRAY(
        this.job.position_type,
        ", "
      );
      this.deadLine = SYSTEM_FUNCTIONS.MONTH_DATE_FORMAT(this.job.close_date);
      this.openingDate = SYSTEM_FUNCTIONS.MONTH_DATE_FORMAT(this.job.open_date);
      this.skillsText = SYSTEM_FUNCTIONS.GET_STRING_FROM_LIST_OF_SKILLS(
        this.job.skills,
        ", "
      );
      if (this.job.degrees) {
        this.degrees = this.job.degrees;
      }
      this.company = this.job.company_name ? this.job.company_name : null;
      this.viewed = this.job.viewed ? this.job.viewed : false;
      this.company_id = this.job.company_id ? this.job.company_id : null;
      this.website = this.job.website ? this.job.website : null;
      if (this.job.rich_nice_to_have) {
        this.niceToHaveText = this.job.rich_nice_to_have;
      }
      if (this.job.req_id) {
        this.req_id = this.job.req_id;
      }
      if (this.job.location_name) {
        this.location = this.job.location_name;
      }
      if (this.job.min_salary && this.job.max_salary) {
        this.salaryText = SYSTEM_FUNCTIONS.SALARY_TEXT(
          this.job.min_salary,
          this.job.max_salary,
          this.job.negotiable,
          this.job.salary_basis
        );
      } else {
        this.salaryText = "Negotiable";
      }
      if (this.job.rich_job_responsibilities) {
        this.jobresp = this.job.rich_job_responsibilities;
      }
      if (this.job.rich_job_benefits) {
        this.benefits = this.job.rich_job_benefits;
      }
      if (this.job.no_of_vacancy) {
        this.no_of_vacancy = this.job.no_of_vacancy;
      }
      this.applied = this.job.applied ? this.job.applied : 0;
      this.saved = this.job.favorite ? this.job.favorite : 0;
      this.followed = this.job.following ? this.job.following : false;
      this.allowMessage = this.job.allow_message;
      this.shareUrl = window.location.href;
    }
  }
};
</script>

<style scoped>
.float-button {
  margin-left: 1rem;
  margin-top: 1rem;
}
.up-bubble {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--button-color);
  color: white;
  font-size: 4rem;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #999;
  display: none;
  cursor: pointer;
}
.margin {
  margin-bottom: 10rem;
}
.snack {
  box-shadow: none !important;
  outline: none;
}
a:hover {
  text-decoration: underline !important;
}
.icon-color {
  color: var(--button-save-color);
  transition: 0.5s;
}
.btn-save-new:hover .icon-color {
  color: white;
  transition: 0.5s;
}
.job-preview {
  padding: 2rem;
}
.pubView {
  padding: 0 !important;
}
@media (max-width: 600px) {
  .job-preview {
    padding: 1rem 0rem;
  }
  /* .up-bubble{
      display: block;
    } */
  .message-box {
    position: absolute;
    right: 0px;
    top: -17rem;
  }
  .sim-comp {
    position: absolute;
    bottom: 1rem;
    left: 0;
    text-align: left;
    padding: 1.5rem 0 0 0;
    color: var(--link-color);
  }
  .phone-view {
    height: 3rem;
  }
}
.preview-content-top {
  background-color: #ececec;
  padding: 2rem 8.5rem;
}
.btn-application {
  min-width: 9rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--button-color);
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff !important;
  box-shadow: none !important;
}
.job-title {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.07;
  text-align: left;
  color: #000000;
}
.company-name {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: left;
  color: #000000;
}
.company-email {
  font-size: 1.4rem;
  text-align: left;
  color: var(--link-color);
  cursor: pointer;
}
.company-email:hover {
  text-decoration: underline;
}
.company-image-wrapper-wrapper {
  position: relative;
  padding: 0;
}
.company-image-wrapper {
  position: absolute;
  width: 17rem;
  height: 17rem;
  background-color: white;
  border: 10px solid #ececec;
  border-radius: 50%;
  overflow: hidden;
}
.company-image {
  width: 100%;
}
.details-wrapper {
  padding: 2rem 8.5rem;
}
.deadline {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.25;
  text-align: left;
}
.deadline-text {
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: left;
  margin-right: 1rem;
}
.seniority-level {
  padding: 2rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.seniority-level-content {
  font-size: 1.4rem;
}
.job-detail {
  padding: 2rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.job-detail-content {
  font-size: 1.4rem;
  text-align: left;
}
.skill {
  padding: 2rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.skill-content {
  font-size: 1.4rem;
  text-align: left;
}
.nice-to-have {
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.nice-to-have-content {
  font-size: 1.4rem;
  text-align: left;
}
.salary {
  padding: 2rem 0 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.salary-content {
  font-size: 1.4rem;
}
.combo-component-wrapper {
  margin-top: 7rem !important;
}
.combo-component {
  border-radius: 1rem;
  box-shadow: 0 0 2.7rem 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 3rem;
}
@media (max-width: 800px) {
  .preview-content-top {
    background-color: #ececec;
    padding: 1rem;
  }
  .pc-only {
    display: none;
  }
  .details-wrapper {
    padding: 1rem;
  }
}
</style>
