<template>
  <post-a-job-form v-on:cancel-job-posting="cancel"></post-a-job-form>
</template>

<script>
import PostAJobForm from "../post-a-job/post-a-job-form";
export default {
  name: "job-post-form",
  components: {
    PostAJobForm
  },
  methods: {
    cancel() {
      this.$router.push({ name: "employer" }).catch(function() {});
    }
  }
};
</script>

<style scoped></style>
