<template>
  <div class="row synopsis">
    <div class="col-1 no-padding no-padding">
      <div v-if="imageUrl" class="image-wrapper">
        <img class="image" :src="imageUrl" />
      </div>
      <div class="name-initial" v-else>
        {{ getInitials(threadObject.user_name) }}
      </div>
    </div>
    <div class="col-10">
      <div class="sender name">{{ threadObject.user_name }}</div>
      <div class="sender subject">
        {{ threadObject.subject || "No Subject" }}
      </div>
    </div>
    <div class="col-1 no-padding">
      <v-icon
        style="margin-top: .2rem; color: var(--button-color); float: right;font-size:1.4rem"
        v-if="thread.Unread"
        >mdi-circle</v-icon
      >
      <v-icon style="margin-top: .2rem; float: right;font-size:1.4rem" v-else
        >mdi-circle-outline</v-icon
      >
    </div>
  </div>
</template>

<script>
import { GET_INITIALS } from "../../../globalFunctions";

export default {
  name: "message-synopsis",
  props: {
    image: String,
    thread: Object
  },
  data: function() {
    return {
      threadObject: this.thread,
      imageUrl: this.image || null,
      actions: [
        {
          title: "Delete"
          // action: this.gotoChangePasswordPage
        }
      ]
    };
  },
  methods: {
    getInitials(name) {
      if (name) {
        return GET_INITIALS(name);
      }
    }
  }
};
</script>

<style scoped>
.synopsis {
  padding: 1.5rem;
}
.image-wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: auto
}
.sender {
  line-height: 1.25;
  text-align: left;
}
.name {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #050505;
}
.subject {
  font-size: 1.2rem;
}
.unread {
  font-size: 1.2rem;
}
.name-initial {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fe6b03;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
}
</style>
