<template>
  <div class="applied-jobs">
    <div class="jobPageH">
      Inbox
    </div>
    <div class="jobPageP" style="margin-bottom:2rem;">
      All Messages
    </div>
    <div @click="toggle = true" v-if="phone && !toggle" style="padding-top:0px;" class="back">
      <v-icon style="color:var(--button-color);" size="24">keyboard_arrow_left</v-icon>Back
    </div>
    <div v-if="!noThread" class="row applied-jobs">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 no-padding" v-if="toggle">
        <div class="job-list-wrapper">
          <!-- <div class="row header-text">Messages</div> -->
          <div :key="changeSynops" class="row job-list">
            <div
              :key="index"
              @click="openThisThread(thread, index)"
              v-for="(thread, index) in threads"
              class="job"
              v-bind:class="{ activeJob: isActive(index) }"
            >
              <message-synopsis
                v-bind:image="
                  thread.is_company ? '' : recipients[thread.person_id]
                "
                v-bind:thread="thread"
              ></message-synopsis>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 job-preview-wrapper"
        v-if="!phone || !toggle"
      >
        <div :key="changeMessageViewKey" class="job-preview">
          <message-thread v-bind:thread="currentActiveInbox"></message-thread>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center" style="height:100%" v-else>
      <div class="col-4">
        <img
            src="@/assets/newDesign/noInfo.gif"
            style="width: 100%; height: auto"
          />
        <div
          style="color:#050405; font-size: 2.4rem"
        >You don't have any messages yet</div>
      </div>
    </div>
  </div>
</template>

<script>
import MessageSynopsis from "./message-synopsis";
import MessageThread from "./message-thread";
import { PHONE } from "../../../globalFunctions";
export default {
  name: "messages",
  components: {
    MessageSynopsis,
    MessageThread
  },
  data: function() {
    return {
      phone: PHONE(),
      toggle: true,
      threads: [],
      recipients: [],
      totalMessage: null,
      unreadMessage: null,
      currentActiveInbox: {},
      currentIndex: 0,
      changeSynops: 0,
      changeMessageViewKey: 0,
      noThread: false,
      interval: null
    };
  },

  methods: {
    isActive(index) {
      return this.currentIndex === index;
    },
    openThisThread(thread, index) {
      const self = this;
      this.$router
        .push({
          name: "candidateMessages",
          query: { t_id: thread.thread_id }
        })
        .catch(function() {});
      self.$store
        .dispatch("getCountUpdate")
        .then()
        .catch();
      self.phone && (self.toggle = false);
      self.currentIndex = index;
      self.currentActiveInbox = thread;
      self.changeMessageViewKey++;
    },
    getThreadById(threads, key) {
      let i;
      for (i = 0; i < threads.length; i++) {
        if (threads[i].thread_id === key) {
          return i;
        }
      }
      return 0;
    },
    updateCounter() {
      const self = this;
      self.interval = setInterval(() => {
        let data = self.$store.getters.getThreads;
        if (data.total_message_count > 0) {
          self.noThread = false;
        } else {
          self.noThread = true;
        }
        if (data.threads && self.unreadMessage !== data.total_unread_count) {
          let check = self.totalMessage !== data.total_message_count;
          self.threads = [];
          self.threads = data.threads;
          self.totalMessage = data.total_message_count;
          self.unreadMessage = data.total_unread_count;
          if (self.$route.query && self.$route.query.t_id) {
            self.currentIndex = self.getThreadById(
              self.threads,
              self.$route.query.t_id
            );
            self.currentActiveInbox = self.threads[self.currentIndex];
          } else {
            self.currentIndex = 0;
            self.currentActiveInbox = self.threads[self.currentIndex];
          }
          self.changeSynops++;
          if (check) self.changeMessageViewKey++;
        }
      }, 3000);
    }
  },
  mounted() {
    const self = this;
    let data = self.$store.getters.getThreads;
    self.$route.query.toggle && (self.toggle = self.$route.query.toggle);
    if (data.threads) {
      if (data.total_message_count > 0) {
        self.noThread = false;
      } else {
        self.noThread = true;
      }
      self.threads = data.threads;
      self.recipients = data.recipients;
      self.totalMessage = data.total_message_count;
      self.unreadMessage = data.total_unread_count;
      self.currentActiveInbox = self.threads[0];
      if (self.$route.query && self.$route.query.t_id) {
        self.currentIndex = self.getThreadById(
          self.threads,
          self.$route.query.t_id
        );
        self.currentActiveInbox = self.threads[self.currentIndex];
      }
      self.changeMessageViewKey++;
    } else {
      self.$store
        .dispatch("getAlltheThreads")
        .then(function(data) {
          self.threads = data.threads;
          if (data.total_message_count > 0) {
            self.noThread = false;
          } else {
            self.noThread = true;
          }
          self.recipients = data.recipients;
          self.totalMessage = data.total_message_count;
          self.unreadMessage = data.total_unread_count;
          self.currentActiveInbox = self.threads[0];
          if (self.$route.query && self.$route.query.t_id) {
            self.currentIndex = self.getThreadById(
              self.threads,
              self.$route.query.t_id
            );
            self.currentActiveInbox = self.threads[self.currentIndex];
          }
          self.changeSynops++;
          self.changeMessageViewKey++;
        })
        .catch(function() {});
    }
    self.updateCounter();
  },
  watch: {
    "$route.query.t_id"(newQ, oldQ) {
      if (newQ !== oldQ) {
        this.currentIndex = this.getThreadById(this.threads, newQ);
        this.currentActiveInbox = this.threads[this.currentIndex];
        this.changeMessageViewKey++;
      }
    }
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
};
</script>

<style scoped>
.applied-jobs {

  border-radius: 0.8rem;
  background-color: #ffffff;
}
.header-text {
  background-color: #fafafa;
  padding: 1.5rem;
  position: absolute;
  top: -1px;
  z-index: 2;
  width: 100%;
  font-size: 2rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #050405;
}
.job-list-wrapper {
  padding: 0rem 0 2rem 0;
   height: calc(100vh - 16rem);
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
   border-radius: 0.7rem;
}
.job-list {
  padding: 0 0 4rem 0;
  background-color: #ffffff;
}
.job {
  width: 100%;
  cursor: pointer;
}
.job-preview-wrapper {
  height: calc(100vh - 16rem);
}
.job-preview {
  height: 100%;
  background-color: white;
 
  border: 1px solid #d9d9d9;
   border-radius: 0.7rem;
   position: relative;
}
.loadMore-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  background-color: white;
}
.loadMore {
  border: 0.1rem transparent;
  border-radius: 0.3rem;
  background-color: var(--button-color);
  padding: 1rem;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}
/* .activeJob {
        background-color:var(--synop-select-color);
        border-left: 2px solid var(--link-color);
    } */
.no-result {
  margin-top: 2.5rem !important;
  height: 80vh;
  background-color: #ffffff;
}
@media (max-width: 600px) {
  /* .job-list-wrapper {
    height: auto;
  } */
  .job-preview-wrapper {
    padding: 0;
  }
  .applied-jobs {
    margin-top: 4rem !important;
    border-radius: 0.8rem;
    background-color: #ffffff;
  }
  
}
</style>
