<template>
  <div style="height: 100%">
    <div class="t-head">
      <div>{{ user_name }}</div>
    </div>
    <div id="container" class="t-body">
      <div :key="index" v-for="(thread, index) in threads">
        <div id="ctnr" class="msg-box">
          <div v-if="thread.Inbox" class="sender">
            <div class="sender-time">{{ user_name }}</div>
            <div class="sender-text">
              <div v-html="thread.body"></div>
              <div class="sender-time">{{ getTime(thread.updated_at) }}</div>
            </div>
          </div>
          <div v-if="thread.Sent" class="receiver">
            <!--<div class="receiver-time">You</div>-->
            <div class="receiver-text">
              <div v-html="thread.body" style="text-align: right"></div>
              <div class="receiver-time">{{ getTime(thread.updated_at) }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="safe-area phone"></div>
      <div class="safe-area phone"></div>
      <div class="safe-area phone"></div>
    </div>
    <div class="t-editor">
      <div align="left">
        <quill-editor
          ref="myTextEditor"
          v-model="content"
          :options="editorOption"
        ></quill-editor>
      </div>
      <div class="reply-button">
        <button v-if="sending" class="btn btn-save">
          <span>Sending . . .</span>
        </button>
        <button v-else @click="sendMessage" class="btn btn-save">
          <span>Send</span>
          <v-icon
            style="margin-bottom: 0.2rem; margin-left: 0.4rem"
            color="#ffffff"
            >mdi-send</v-icon
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {
  GET_MESSAGES_BY_THREAD_ID,
  SEND_NEW_MESSAGE,
} from "../../../Api/common_api";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";
import {
  GET_TIME_FROM_TIMESTAMP,
  IsEmptyObject,
  PHONE,
} from "../../../globalFunctions";
import { FIRST_LETTER_CAPITAL, REMOVE_WHITE_SPACES } from "../../../filters";
export default {
  name: "message-thread",
  components: {
    quillEditor,
  },
  props: {
    thread: Object,
  },
  data: function () {
    return {
      phone: PHONE(),
      newMsg: false,
      user_name: "",
      threads: [],
      content: "",
      editorOption: {
        placeholder: "",
        modules: {
          toolbar: [
            ["bold", "italic", "underline"],
            ["link"],
            [{ list: "ordered" }, { list: "bullet" }],
          ],
        },
      },
      emptyText: false,
      sending: false,
      timeout: null,
    };
  },
  methods: {
    getTime(stamp) {
      let time = GET_TIME_FROM_TIMESTAMP(stamp);
      return time.time;
    },
    filterContent: function () {
      const self = this;
      let text = self.content.trim();
      text = text.replace(/script/gi, "");
      return text;
    },
    scrollToEnd: function () {
      let container = this.$el.querySelector("#container");
      container.scrollTop = container.scrollHeight;
    },
    getMessages() {
      const self = this;
      self.threads = [];
      GET_MESSAGES_BY_THREAD_ID(self.thread.thread_id)
        .then(function (data) {
          self.threads = data;
          self.timeout = setTimeout(() => {
            self.scrollToEnd;
          }, 300);
        })
        .catch(function () {});
    },
    sendMessage() {
      const self = this;
      self.content = REMOVE_WHITE_SPACES(self.content);
      if (self.content.length > 0) {
        self.sending = true;
        let data = {
          thread_id: self.thread.thread_id,
          receiver_id: self.thread.person_id,
          receiver_name: self.thread.user_name,
          body: self.filterContent(),
          allow_my_name: !self.thread.is_company,
        };
        if (self.job_id) data.job_id = self.job_id;
        if (self.subject) data.subject = self.subject;
        SEND_NEW_MESSAGE(data)
          .then(function () {
            self.content = "";
            self.sending = false;
            self.getMessages();
          })
          .catch(function () {
            self.sending = false;
            self.getMessages();
          });
      } else {
        self.emptyText = true;
      }
    },
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
  mounted() {
    const self = this;
    if (!IsEmptyObject(self.thread)) {
      self.user_name = FIRST_LETTER_CAPITAL(self.thread.user_name);
      if (self.thread.thread_id) {
        self.getMessages();
      }
    }
  },
};
</script>

<style scoped>
#ctnr {
  display: flex;
}
.t-head {
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: black;
  border-bottom: 1px solid #d9d9d9;
}
.t-body {
  margin: 5.5rem 0 19vh 0;
  height: calc(100% - 25rem);
  overflow-y: auto;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.btn-save {
  border-radius: 2.6rem;
  padding: 0.2rem 1.6rem;
}
.t-editor {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  text-align: left;
  color: #050405;
  height: 20rem;
  background-color: #ffffff;
}
.reply-button {
  position: absolute;
  width: calc(100% - 0.3rem);
  bottom: 0;
  right: 0.1rem;
  text-align: right;
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 0.1rem;
}
.msg-box {
  background-color: #ffffff;
  /*width: 100%;*/
}
.sender {
  padding: 1rem;
  margin-top: 1rem !important;
}
.sender-text {
  text-align: left;
  padding: 1.9rem 2.7rem;
  border-radius: 0 0.8rem 0.8rem 0;
  background-color: #f2f3f8;
  font-size: 1.4rem;
  border-radius: 0rem 2rem 2rem 2rem;
}
.sender-time {
  font-size: 1.2rem;
  text-align: left;

  color: #a1a1a1;
}
.receiver {
  padding: 1rem;
  margin-top: 1rem !important;
  margin-left: auto;
}
.receiver-text {
  text-align: left;
  padding: 1.9rem 2.7rem;
  border-radius: 2rem 0 2rem 2rem;
  font-size: 1.4rem;
  border: solid 1px #aab9d1;
}
.receiver-time {
  font-size: 1.2rem;
  text-align: right;

  color: #a1a1a1;
}
.job-preview {
  height: 100%;
  background-color: white;
  overflow: auto;
  border: 1px solid #d9d9d9;
  border-radius: 0.7rem;
  position: relative;
}
@media (max-width: 600px) {
  /* .job-list-wrapper {
    height: auto;
  } */
  .job-preview-wrapper {
    padding: 0;
  }
  .t-editor {
    position: fixed;
  }
}
</style>
