<template>
  <div>
    <div v-if="editCurrent">
      <edit-experience
        :changeBack="indexNum"
        :job="work"
        v-on:save-exp="onSaveCurrentExperience"
        v-on:cancel-exp="onCancelCurrentExperience"
      >
      </edit-experience>
    </div>
    <div v-if="editCurrent === false" id="experience" class="row single-exp">
      <div class="image-wrapper">
        <CustomIcon name="training" size="2.8" color="#64C983" />
      </div>
      <div class="col-xl-9 col-lg-10 exp-details">
        <div class="designation">{{ work.training_title }}</div>
        <div class="row company">
          <div>{{ work.institution_name }}</div>
          <div v-if="work.location_name">
            {{ ", " + work.location_name + "." }}
          </div>
        </div>
        <div class="exp-details-years">
          {{ work.training_year }}
          <span>({{ work.training_duration + " Months" }})</span>
        </div>
        <div v-if="truncateView" class="description">
          <span>{{ calculateEllipsesText() }}</span>
          <span v-if="overflowed" class="more-less"
            ><a @click="onMore">{{ "see more..." }}</a></span
          >
        </div>
        <div v-if="truncateView === false" class="description">
          <span>{{ work.training_description }}</span>
          <!--eslint-disable-next-line-->
          <span class="more-less"
            ><a @click="onLess">{{ "...see less" }}</a></span
          >
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 no-padding row justify-content-end" align="right">
        <!--options<v-icon>more_vert</v-icon>-->
        <span @click="onEditExperience"
          ><v-icon class="icon-class-new">edit</v-icon></span
        >
        <span @click="onDeleteExperience"
          ><v-icon class="icon-class-new" style="margin-left: 1rem"
            >delete_outline</v-icon
          ></span
        >
      </div>
    </div>
  </div>
</template>

<script>
import EditExperience from "./training-card-edit";
import CustomIcon from "../../../global-components/customIcon";
export default {
  name: "experience-card",
  components: {
    EditExperience,
    CustomIcon,
  },
  props: {
    firstItem: Number,
    job: Object,
  },
  data: function () {
    return {
      indexNum: this.firstItem % 2 !== 0 ? true : false,
      editCurrent: false,
      work: this.job || {},
      isFirst: this.firstItem === 0 ? true : false,
      overflowed: false,
      truncateView: true,
    };
  },
  methods: {
    calculateEllipsesText: function () {
      const self = this;
      const maxLength = 60;
      if (self.work.training_description) {
        let description = self.work.training_description;
        let length = description.length;
        if (length <= maxLength) {
          this.overflowed = false;
          return description;
        } else {
          let line1 = description.substring(0, 60) + "\n";
          let line2, line3;
          if (length / maxLength < 3) {
            this.overflowed = false;
            if (length / maxLength < 2) {
              line2 = description.substring(60, length) + "\n";
              line1 += line2;
            } else {
              line2 = description.substring(60, 120) + "\n";
              line3 = description.substring(120, length) + "\n";
              line1 = line1 + line2 + line3;
            }
          } else {
            this.overflowed = true;
            line2 = description.substring(60, 120) + "\n";
            line3 = description.substring(120, 160) + "\n";
            line1 = line1 + line2 + line3;
          }
          return line1;
        }
      } else {
        return;
      }
    },
    onMore: function () {
      this.truncateView = false;
    },
    onLess: function () {
      this.truncateView = true;
    },
    onEditExperience: function () {
      const self = this;
      if (!self.$parent.addNewExp && !self.$parent.currentlyEditing) {
        self.editCurrent = true;
        self.$emit("editing-existing-one");
      } else {
        self.$emit("show-warning");
      }
    },
    onDeleteExperience: function () {
      let id = this.work.attrib_id;
      this.$emit("delete-exp", id);
    },
    onSaveCurrentExperience: function (newWork) {
      this.editCurrent = false;
      this.$emit("save-exp", newWork);
    },
    onCancelCurrentExperience: function () {
      this.editCurrent = false;
      this.$emit("cancel-exp", "child");
    },
  },
};
</script>

<style scoped>
#experience:hover .expEdit {
  display: block;
}
.image-wrapper {
  margin-right: 1.8rem;
}
.image {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
}
.expEdit {
  display: none;
  padding: 2.5rem 0 0 0;
  text-align: right;
  color: #207688;
}
.editFixed {
  text-align: right;
  display: block;
}
.single-exp {
  border-bottom: 1px solid #d9d9d9;
  padding: 2rem;
  margin: 1.2rem 0 !important;
}
.exp-details {
  padding: 0;
  text-align: left;
}
.designation {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #050405;
}
.company {
  font-size: 1.4rem;
  padding-bottom:1.3rem
}
.exp-details-years {
  font-size: 1.2rem;
  line-height: 1.33;
  text-align: left;
 color:#8a8a8a;
}
.location {
 color:#8a8a8a;
  font-weight: 400;
}
.description {
  font-size: 1.2rem;
  max-width: 80rem;
  color:#8a8a8a;
  overflow: hidden;
}
.more-less {
  color: #207688;
  padding-left: 0.5rem;
}
.btn-padding-btwn {
  padding: 0 0 0 1.5rem;
}
.btn-delete {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color);
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
.edit {
  margin-right: 1.2rem;
  color: var(--button-color) !important;
}
</style>
