<template>
  <div v-bind:class="{ backC: changeBack }" class="ex-edit">
    <div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 left-col-name">
          <v-text-field
            v-model="training_title"
            label="Training Title"
            :error-messages="titleErrors"
          
          ></v-text-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 right-col-position">
          <v-text-field
            v-model="institution_name"
            label="Institution Name"
            :error-messages="institutionErrors"
           
          ></v-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 left-col-name">
          <v-autocomplete
            validate-on-blur
            v-model="training_year"
            :items="years"
            label="Training Year"
            :error-messages="trainingYearErrors"
            prepend-inner-icon="mdi-calendar"
          ></v-autocomplete>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 right-col-position">
          <v-text-field
            v-model="training_duration"
            label="Duration (In Months)"
            mask="##########"
            :error-messages="durationErrors"
            prepend-inner-icon="mdi-calendar"
          ></v-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-text-field
            v-model="location_name"
            label="Location"
          
            :error-messages="locationLengthErrors"
          ></v-text-field>
        </div>
      </div>
      <div class="row" style="padding: 2.0rem 0">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-textarea
            no-resize
            outline
            label="Description"
            v-model="training_description"
            :error-messages="descriptionLengthErrors"
       
          ></v-textarea>
          <div class="btn-left-padding">
            <span class="btn-padding-btwn">
              <button @click="onSave" class="btn btn-save">Save</button>
            </span>
            <button @click="$emit('cancel-exp', 'parent')" class="btn btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, minLength } from "vuelidate/lib/validators";
import * as SYSTEM_CONST from "../../../../globalConstants";
import * as FILTERS from "../../../../filters";
import { GET_YEARS } from "../../../../globalFunctions";
export default {
  name: "experience-single-edit",
  mixins: [validationMixin],
  validations: {
    training_title: {
      required,
      isLengthInBound() {
        let val = this.training_title;
        if (val === "" || val === null) return true;
        return val.trim().length > 3 && val.trim().length < 127;
      }
    },
    institution_name: {
      required,
      isLengthInBound() {
        let val = this.institution_name;
        if (val === "" || val === null) return true;
        return val.trim().length > 2 && val.trim().length < 64;
      }
    },
    training_year: { required },
    training_duration: {
      required,
      maxMonths(){
        if (this.training_duration > 100) return false;
        else return true;
      }
    },
    training_description: { maxLength: maxLength(4095) },
    location_name: { maxLength: maxLength(64) }
  },
  props: {
    job: Object,
    changeBack: Boolean
  },
  data: function() {
    return {
      training_title: "",
      institution_name: "",
      training_year: "",
      training_duration: "",
      location_name: "",
      training_description: "",
      years: GET_YEARS()
    };
  },
  methods: {
    onSave: function() {
      const self = this;
      self.$v.$touch();
      if (!self.$v.$anyError) {
        let work = {};
        if (self.job) {
          work.attrib_id = self.job.attrib_id;
        }
        work.training_title = self.training_title;
        work.institution_name = self.institution_name;
        work.training_year = parseInt(self.training_year, 10);
        work.training_duration = parseInt(self.training_duration, 10);
        work.location_name =
          FILTERS.REMOVE_WHITE_SPACES(self.location_name) || "";
        work.training_description =
          FILTERS.REMOVE_WHITE_SPACES(self.training_description) || "";
        self.$emit("save-exp", work);
      }
    }
  },
  computed: {
    titleErrors() {
      const errors = [];
      if (!this.$v.training_title.$dirty) return errors;
      !this.$v.training_title.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.training_title.isLengthInBound &&
        errors.push('Length must be between 4 to 127 characters');
      return errors;
    },
    institutionErrors() {
      const errors = [];
      if (!this.$v.institution_name.$dirty) return errors;
      !this.$v.institution_name.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.institution_name.isLengthInBound &&
        errors.push('Length must be between 3 to 63 characters');
      return errors;
    },
    trainingYearErrors() {
      const errors = [];
      if (!this.$v.training_year.$dirty) return errors;
      !this.$v.training_year.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    durationErrors() {
      const errors = [];
      if (!this.$v.training_duration.$dirty) return errors;
      !this.$v.training_duration.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.training_duration.maxMonths&&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.MAX_MONTHS)
      return errors;
    },
    descriptionLengthErrors() {
      const errors = [];
      if (!this.$v.training_description.$dirty) return errors;
      !this.$v.training_description.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    locationLengthErrors() {
      const errors = [];
      if (!this.$v.location_name.$dirty) return errors;
      !this.$v.location_name.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    }
  },
  mounted: function() {
    const self = this;
    if (self.job) {
      self.training_title = self.job.training_title;
      self.institution_name = self.job.institution_name;
      self.training_year = self.job.training_year;
      self.training_duration = self.job.training_duration;
      self.location_name = self.job.location_name || "";
      self.training_description = self.job.training_description || "";
    }
  }
};
</script>

<style scoped>
.backC {
  background-color: rgba(5, 52, 76, 0.01);
  margin: 2rem 0 !important;
  border-radius: 0.5rem;
}
.ex-edit {
  padding: 2rem;
}
.left-col-name {
  padding: 0 3% 0 0;
}
.right-col-position {
  padding: 0 0 0 3%;
}
.mini-col-padding {
  padding: 0 5% 0 0;
}
.btn-left-padding {
  text-align: right;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn-padding-btwn {
  padding: 0 1rem 0 0;
}
.check-box {
  padding-left: 2rem;
  color: #3d4249;
}
.current_work_label {
  margin-left: -0.4rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  color: #3d4249;
}
.v-input {
  font-size: 1.4rem !important;
  text-align: right !important;
}
@media (max-width: 600px) {
  .left-col-name {
    padding: 0rem;
  }
  .right-col-position {
    padding: 0rem;
  }
  .current_work_label {
    margin-left: -0.4rem;
    padding-top: 2rem;
    font-size: 1.4rem;
    color: #3d4249;
  }
  .mini-col-padding {
    padding: 0rem;
  }
  .check-box {
    padding-left: 0rem;
  }
}
</style>
