<template>
  <div class="experience-full">
    <NoInfo name="Training" v-if="noData && addNewExp === false" @click="onAddExperience"/>
    <div class="experience-content">
      <!-- <div class="nc" v-if="noData && addNewExp === false">
        <div>
          <img src="@/assets/newDesign/experience.svg" />
        </div>
        <div class="nc-txt nc-h">You have not added any trainings yet!</div>
        <div class="nc-txt nc-sh">
          Add Trainings to increase the chance of getting hired.
        </div>
        <button @click="onAddExperience" class="btn btn-save">
          <span><v-icon size="18" class="add-ico-class">add_box</v-icon></span>
          <span>Training</span>
        </button>
      </div> -->
      <div
        style="text-align: left;margin-left:2rem"
        v-if="
          addNewExp === false && currentlyEditing === false && noData === false
        "
      >
        <button  @click="onAddExperience" class="btn btn-outline">
          <span style="margin-right:1rem;"><CustomIcon name="plus-add" size="0.87" genericColor/></span>
          <span>Add Training</span>
        </button>
      </div>
      <div v-if="addNewExp">
        <div class="header-text add-exp">New Training</div>
        <edit-experience-card
          v-on:save-exp="onSaveExperience"
          v-on:cancel-exp="onCancelExperience"
        ></edit-experience-card>
      </div>
      <div v-bind:key="update" v-bind:class="{ paddingList: addNewExp }">
        <div v-bind:key="index" v-for="(work, index) in jobs">
          <experience-card
            :job="work"
            :firstItem="index"
            v-on:editing-existing-one="setCurrentlyEditing"
            v-on:save-exp="onSaveExperience"
            v-on:cancel-exp="onCancelExperience"
            v-on:delete-exp="deleteUserExperienceInfo"
            v-on:show-warning="showWarning"
          ></experience-card>
        </div>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right:1.0rem"
          ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import ExperienceCard from "./training-card";
import EditExperienceCard from "./training-card-edit";
import {
  GET_CANDIDATE_TRAININGS,
  SAVE_CANDIDATE_TRAINING,
  DELETE_CANDIDATE_TRAINING
} from "../../../../Api/candidate_api";
import CustomIcon from "../../../global-components/customIcon";
import NoInfo from "../../../global-components/noInfo"
export default {
  name: "experience",
  components: {
    ExperienceCard,
    EditExperienceCard,
    CustomIcon,
    NoInfo
  },
  data: function() {
    return {
      addNewExp: false,
      currentlyEditing: false,
      jobs: [],
      update: 0,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      noData: null
    };
  },
  methods: {
    showWarning() {
      const self = this;
      self.snackbar = true;
      self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
      self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
      self.snackMessage =
        self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
    },
    getUserExperienceInfo: function() {
      const self = this;
      GET_CANDIDATE_TRAININGS()
        .then(function(data) {
          self.jobs = data.sort(function(a, b) {
            return b.training_year - a.training_year;
          });
          self.noData = self.jobs.length === 0;
          self.update++;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    saveUserExperienceInfo: function(newExp) {
      const self = this;
      SAVE_CANDIDATE_TRAINING(newExp)
        .then(function(response) {
          self.addNewExp = false;
          self.currentlyEditing = false;
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.getUserExperienceInfo();
        })
        .catch(function(err) {
          self.addNewExp = false;
          self.currentlyEditing = false;
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    deleteUserExperienceInfo: function(id) {
      const self = this;
      self.addNewExp = false;
      self.currentlyEditing = false;
      DELETE_CANDIDATE_TRAINING(id)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.getUserExperienceInfo();
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
          self.getUserExperienceInfo();
        });
    },
    onAddExperience: function() {
      if (!this.currentlyEditing) {
        this.addNewExp = true;
      } else {
        this.showWarning();
      }
    },
    onSaveExperience(newEx) {
      this.saveUserExperienceInfo(newEx);
      // update the jobs
    },
    onCancelExperience() {
      this.addNewExp = false;
      this.currentlyEditing = false;
    },
    setCurrentlyEditing() {
      this.currentlyEditing = true;
    }
  },
  created() {
    this.getUserExperienceInfo();
  }
};
</script>

<style scoped>
.experience-full {
  padding: 3rem 0;
  width: 100%;
  height: 100%;
}
.experience-content {
  /* padding: 0 1.5rem 0 1.5rem !important; */
}
.add-exp-btn {
  border: 0.1rem solid #0766ff;
}
.exp-text {
  font-size: 1.6rem;
  text-align: left;
  padding: 0 2rem;
}
.add-exp {
  text-align: left;
  padding: 0 2rem 0 2rem;
}
.add-reorder {
  margin-top: -0.5rem;
  padding: 0 0 0 0;
  text-align: right;
}
.paddingList {
  padding: 1rem 0 0 0;
}
@media (max-width: 600px) {
  .header-text {
    display: none;
  }
  .experience-full {
    padding: 0rem;
  }
  .experience-content {
    padding: 0rem !important;
  }
}
</style>
