<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:url" content="https://workd.ai" />
    <meta property="og:title" content="Workd" />
    <meta property="og:description"content="Make your job search count." />
    <meta property="og:image" content="https://workd.ai/preview.png" />
    <meta property="fb:app_id" content="202037577797334" />
    <link rel="icon" href="<%= BASE_URL %>icon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

    <!-- owl carousel style -->

    <link rel="stylesheet" href="/node_modules/owl.carousel2/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/bower_components/owl.carousel2/dist/assets/owl.carousel.min.css" />


    <title>workd</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NPHV3LS');</script>
    <!-- End Google Tag Manager -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=GTM-NPHV3LS"></script>-->
    <!--<script>-->
      <!--window.dataLayer = window.dataLayer || [];-->
      <!--function gtag(){dataLayer.push(arguments);}-->
      <!--gtag('js', new Date());-->
      <!--gtag('config', 'GTM-NPHV3LS');-->
    <!--</script>-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPHV3LS"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div id="app">
    </div>
  </body>
<style>
  html {
    scroll-behavior: smooth;
  }
</style>

</html>
