<template>
  <div class="container">
    <!--<approve-pending-jobs></approve-pending-jobs>-->
  </div>
</template>

<script>
// import ApprovePendingJobs from "./pending-jobs";
export default {
  name: "dashboard",
  components: {
    // ApprovePendingJobs
  }
};
</script>

<style scoped></style>
