<template>
  <div :key="searchKey">
    <!-- eslint-disable -->
    <div v-if="!initLoading">
      <div class="row justify-content-between">
        <div>
          <div class="header-text">
            {{ searchKey.charAt(0).toUpperCase() + searchKey.slice(1) }}
          </div>
          <div class="header-text-count">{{ jobCount }} jobs found</div>
        </div>
        <div class="row align-items-center">
          <div
            style="margin-right: 1rem; margin-top: 1rem"
            v-if="showLoadFilter"
          >
            <v-select
              v-model="selected_filter"
              :items="existingFilter"
              item-value="filters"
              item-text="filter_name"
              label="Load Filter"
              clearable
              @change="openWithLoadedFilter"
            >
              <template v-slot:item="{ index, item }">
                <v-list-tile-content>
                  <div style="color: #707070">{{ item.filter_name }}</div>
                </v-list-tile-content>
                <v-spacer></v-spacer>
                <v-list-tile-action @click.stop>
                  <span
                    class="ed-btn"
                    @click.stop.prevent="editFilter(index, item)"
                    >edit</span
                  >
                </v-list-tile-action>
                <v-list-tile-action @click.stop>
                  <span
                    class="ed-btn"
                    @click.stop.prevent="deleteFilter(index, item)"
                    >delete</span
                  >
                </v-list-tile-action>
              </template>
            </v-select>
          </div>

          <div>
            <div v-if="currentFilter" class="row justify-content-end">
              <div
                class="filter-capsule"
                v-if="currentFilter.position_type"
                v-for="(item, index) in currentFilter.position_type"
                :key="item"
              >
                {{ item }}
                <div
                  @click="() => removeFilter(`position_type`, index)"
                  class="close-capsule"
                >
                  <CustomIcon name="close-cross" size="1.4" genericColor />
                </div>
              </div>
              <div
                class="filter-capsule"
                v-if="currentFilter.seniority_level"
                v-for="(item, index) in currentFilter.seniority_level"
                :key="item"
              >
                {{ item }}
                <div
                  @click="removeFilter(`seniority_level`, index)"
                  class="close-capsule"
                >
                  <CustomIcon name="close-cross" size="1.4" genericColor />
                </div>
              </div>
              <div
                class="filter-capsule"
                v-if="currentFilter.companies"
                v-for="(item, index) in currentFilter.companies"
                :key="item"
              >
                {{ item }}
                <div
                  @click="removeFilter(`companies`, index)"
                  class="close-capsule"
                >
                  <CustomIcon name="close-cross" size="1.4" genericColor />
                </div>
              </div>
              <div class="filter-capsule" v-if="currentFilter.min_salary">
                min salary: {{ currentFilter.min_salary }}
                <div @click="removeFilter(`min_salary`)" class="close-capsule">
                  <CustomIcon name="close-cross" size="1.4" genericColor />
                </div>
              </div>
              <div class="filter-capsule" v-if="currentFilter.max_salary">
                max salary: {{ currentFilter.max_salary }}
                <div @click="removeFilter(`max_salary`)" class="close-capsule">
                  <CustomIcon name="close-cross" size="1.4" genericColor />
                </div>
              </div>
              <div
                class="filter-capsule"
                v-if="currentFilter.duration"
                :key="currentFilter.duration"
              >
                {{ currentFilter.duration }} days
                <div @click="removeFilter(`duration`)" class="close-capsule">
                  <CustomIcon name="close-cross" size="1.4" genericColor />
                </div>
              </div>
            </div>
            <div
              v-if="currentFilter && !isEdit"
              class="row justify-content-end"
              style="height: 4rem"
            >
              <button
                v-if="!onSaveState"
                @click="changeToSaveState"
                class="clear-button"
              >
                Save This Filter
              </button>
              <div v-else class="row">
                <!-- <input
                    v-model="filter_name"
                    class="form-control"
                    placeholder="Name"
                    type="text"
                  /> -->
                <v-text-field
                  v-model="filter_name"
                  placeholder="Filter name"
                  type="text"
                >
                </v-text-field>

                <button @click="saveThisFilter" class="clear-button">
                  Save
                </button>
              </div>
              <button
                @click="openFilter"
                style="margin-left: 1rem"
                class="clear-button"
              >
                Edit
              </button>
              <button
                @click="clearFilter"
                style="margin-left: 1rem"
                class="clear-button"
              >
                Reset
              </button>
            </div>
            <div v-else align="right" style="margin-top: 1rem">
              <div
                @click="openFilter"
                class="btn btn-outline"
                style="max-width: 19rem"
              >
                <span style="margin-right: 1rem; transform: rotate(90deg)"
                  ><CustomIcon name="filter" size="2" genericColor
                /></span>
                <span> Advance Filter</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!noData" class="row search-results">
        <div
          class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-padding job-list-page-wrapper"
        >
          <div class="job-list-wrapper">
            <div style="height: 100%" v-if="loading">
              <loader></loader>
            </div>
            <div :key="jobSingle" v-else class="row job-list">
              <div
                class="job"
                v-bind:class="{ activeJob: isActive(index) }"
                :key="index"
                v-for="(job, index) in jobs"
              >
                <job-single
                  v-bind:class="[{ marB: index === jobs.length - 1 }]"
                  v-bind:job="job"
                  v-on:view="viewThisJob(job, index)"
                  v-on:favorite="changeFavJobStatus(true, index)"
                  v-on:remove="changeFavJobStatus(false, index)"
                ></job-single>
              </div>
            </div>
          </div>
          <div class="pagination-wrapper" v-if="pageCount > 1">
            <div class="pagination">
              <v-pagination
                v-model="page"
                :length="pageCount"
                circle
                total-visible="7"
                @input="pagination"
              ></v-pagination>
            </div>
          </div>
        </div>
        <div
          v-if="!loading && !phone"
          class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-9 col-xl-9 job-preview-wrapper"
        >
          <div :key="changeView" class="job-preview">
            <job-preview
              v-bind="viewJobProps"
              v-on:applied="changeApplicationStatus"
              v-on:saved="changeSaveJobStatus"
            ></job-preview>
          </div>
        </div>
      </div>
      <div
        class="no-result no-padding absolute-center-column"
        v-if="noData && errMsg"
      >
        <div class="col-4">
          <img
            src="@/assets/newDesign/noInfo.gif"
            style="width: 100%; height: auto"
          />
        </div>

        <div style="text-align: center; color: #050405">
          <div style="font-size: 2.4rem; line-height: 1.25">
            Oops! We couldn’t find results for your search:
          </div>
          <div
            style="
              color: var(--button-color);
              line-height: 1.25;
              font-size: 52px;
              font-weight: 500 !important;
              height: 72px;
            "
          >
            <h1>{{ searchKey }}</h1>
          </div>
          <div v-if="currentFilter">
            <span
              @click="openFilter"
              style="color: var(--button-color); cursor: pointer"
              >Edit Filter</span
            >
            <span
              @click="clearFilter"
              style="
                margin-left: 2rem;
                color: var(--button-delete-color);
                cursor: pointer;
              "
              >Clear Filter</span
            >
          </div>
        </div>
      </div>
    </div>
    <div style="height: 90vh; width: 100%" v-if="initLoading">
      <loader></loader>
    </div>
    <v-dialog
      transition="dialog-bottom-transition"
      max-width="83.6rem"
      persistent
      v-model="openBox"
      @keydown.esc="openBox = false"
    >
      <div
        :key="changeBox"
        style="max-height: 90vh; overflow-y: scroll; background-color: #ffffff"
      >
        <job-filter
          v-bind:query="searchKey"
          v-bind:open="openBox"
          v-bind:edit="isEdit"
          v-bind:currentFilter="currentFilter"
          v-bind:attid="attribID"
          v-on:close-box="closeBox"
          v-on:apply-filter="searchActionTemp"
          v-on:update-filter="getSavedFilterData"
        ></job-filter>
      </div>
    </v-dialog>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import JobSingle from "../job-single-view";
import JobPreview from "../job-preview";
import JobFilter from "../../../global-components/filter/job-filter";
import Loader from "../../../global-components/loader";
import CustomIcon from "../../../global-components/customIcon";
import Vue from "vue";
import {
  DELETE_FILTER,
  GET_SAVED_FILTER_DATA,
  SAVE_FILTER,
  SEARCH_JOBS_CB,
} from "../../../../Api/candidate_api";
import { GET_JOB_DETAILS } from "../../../../Api/common_api";

import { IsEmptyObject, PHONE } from "../../../../globalFunctions";
export default {
  name: "search-job",
  components: {
    JobSingle,
    JobPreview,
    JobFilter,
    Loader,
    CustomIcon,
  },
  data: function () {
    return {
      phone: PHONE(),
      page: 1,
      jobCount: 0,
      pageCount: 5,
      noData: true,
      errMsg: "",
      jobs: [],
      searchKey: "",
      viewJobProps: {},
      changeView: 0,
      jobSingle: 0,
      pageStart: 0,
      loading: false,
      initLoading: true,
      currentJobIndex: null,
      searchDelay: 0,
      changeBox: 0,
      openBox: false,
      currentFilter: null,
      selected_filter: {},
      existingFilter: [],
      onSaveState: false,
      filter_name: "",
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      isEdit: false,
      attribID: "",
      timeout: null,
      showLoadFilter: true,
    };
  },

  methods: {
    closeBox() {
      const self = this;
      self.openBox = false;
    },
    removeFilter(param, index) {
      const self = this;
      if (typeof self.currentFilter[param] === "object") {
        self.currentFilter[param].splice(index, 1);
        if (self.currentFilter[param].length === 0)
          Vue.delete(self.currentFilter, param);
      } else Vue.delete(self.currentFilter, param);

      let temp=Object.assign({},self.currentFilter);
      if(Object.keys(temp).length===0)self.clearFilter();
      else self.searchActionTemp(self.searchKey, self.currentFilter);
    },
    deleteFilter(index, item) {
      const self = this;
      DELETE_FILTER(item.attrib_id)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.currentFilter = null;
          self.selected_filter = {};
          self.clearFilter();
          self.getSavedFilterData();
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    editFilter(index, item) {
      const self = this;
      self.currentFilter = item.filters;
      self.attribID = item.attrib_id;
      self.isEdit = true;
      self.openBox = true;
      self.changeBox++;
    },
    changeToSaveState() {
      const self = this;
      self.onSaveState = true;
    },
    saveThisFilter() {
      const self = this;
      if (self.currentFilter && !IsEmptyObject(self.currentFilter)) {
        if (self.filter_name) {
          if (self.currentFilter.max_salary) {
            self.currentFilter.max_salary = self.currentFilter.max_salary.toString();
          }
          if (self.currentFilter.min_salary) {
            self.currentFilter.min_salary = self.currentFilter.min_salary.toString();
          }
          SAVE_FILTER(self.currentFilter, self.filter_name)
            .then(function (response) {
              self.snackbar = true;
              self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
              self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
              self.snackMessage = response.message;
              self.currentFilter = null;
              self.selected_filter = {};
              self.clearFilter();
              self.getSavedFilterData();
            })
            .catch(function (err) {
              self.snackbar = true;
              self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
              self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
              self.snackMessage = err.message;
            });
        } else {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = "Please select a name for your filter";
        }
      }
    },
    clearFilter() {
      const self = this;
      self.showLoadFilter = true; 
      self.currentFilter = null;
      self.isEdit = false;
      self.selected_filter = {};
      self.openBox = false;
      self.changeBox++;
      self.filter_name = "";
      self.searchAction(self.searchKey);
    },
    openWithLoadedFilter() {
      const self = this;
      self.isEdit = true;
      self.currentFilter = self.selected_filter;
      if (!IsEmptyObject(self.selected_filter)) {
        self.searchActionTemp(self.searchKey, self.currentFilter);
      } else {
        self.clearFilter();
      }
    },
    openFilter() {
      const self = this;
      self.isEdit = false;
      self.openBox = true;
      self.changeBox++;
    },
    searchActionTemp: function (key, filter) {
      const self = this;
      self.pageStart = 0;
      self.searchKey = key;
      self.currentFilter = filter;
      self.searchAction(key, filter);
      self.showLoadFilter = false;
    },
    searchAction: function (key, filters) {
      const self = this;
      self.openBox = false;
      self.changeBox++;
      self.jobs = [];
      self.loading = true;
      self.initLoading = true;
      let params = {
        q: key || "",
        offset: self.pageStart,
      };
      clearTimeout(self.timeout);
      SEARCH_JOBS_CB(params, filters)
        .then(function (response) {
          if (self.openBox) {
            self.openBox = false;
            self.changeBox++;
          }
          if (response.status === self.$constants.RESPONSE_CODE.PROCESSING) {
            self.searchDelay++;
            if (
              self.searchDelay < self.$constants.DELAY.SEARCH_RESULT_MAX_DELAY
            ) {
              self.timeout = setTimeout(() => {
                self.searchAction(key, filters);
              }, self.$constants.DELAY.SEARCH_TIMEOUT);
              // setTimeout(self.searchAction(key, filters), self.$constants.DELAY.SEARCH_TIMEOUT);
            } else {
              self.initLoading = false;
              self.searchDelay = 0;
              self.loading = false;
              self.noData = true;
              self.errMsg = "No result found";
            }
          } else {
            self.initLoading = false;
            // self.searchKey = data.query;
            if (response.data.count > 0) {
              self.jobs = response.data.data;
              self.jobs.sort((a, b) =>
                parseInt(a.index) > parseInt(b.index) ? 1 : -1
              );
              self.viewThisJob(self.jobs[0], 0);
              self.jobCount = response.data.count;
              self.pageCount = Math.ceil(response.data.count / 10);
              self.noData = false;
              self.loading = false;
            } else {
              self.jobCount = 0;
              self.loading = false;
              self.noData = true;
              self.errMsg = "No result found";
            }
            self.searchDelay = 0;
          }
        })
        .catch(function (err) {
          self.initLoading = false;
          self.loading = false;
          self.noData = true;
          self.errMsg = err.message;
          self.searchDelay = 0;
        });
    },
    pagination: function () {
      const self = this;
      self.pageStart = (self.page - 1) * 10;
      self.searchAction(self.searchKey, self.currentFilter);
    },
    viewThisJob: function (job, index) {
      const self = this;
      GET_JOB_DETAILS(job.job_id, true)
        .then(function (data) {
          self.viewJobProps.job = data;
          self.changeView++;
          self.currentJobIndex = index;
        })
        .catch(function () {
          // alert(err);
        });
    },
    isActive(index) {
      return this.currentJobIndex === index;
    },
    changeApplicationStatus(status) {
      this.jobs[this.currentJobIndex].applied = status;
    },
    changeSaveJobStatus(status) {
      this.jobs[this.currentJobIndex].favorite = status;
      this.jobSingle++;
    },
    changeFavJobStatus(status, index) {
      this.jobs[index].favorite = status;
      if (this.currentJobIndex === index) {
        this.viewJobProps.job.favorite = status;
        this.changeView++;
      }
      this.jobSingle++;
    },
    getSavedFilterData() {
      const self = this;
      GET_SAVED_FILTER_DATA()
        .then(function (data) {
          self.existingFilter = data;
          // console.log(data)
        })
        .catch(function () {
          // console.log(err)
        });
    },
  },
  mounted() {
    const self = this;
    if (self.$route.query.key) {
      self.searchKey = self.$route.query.key;
    } else {
      self.searchKey = self.$route.params.q;
    }
    self.pageStart = 0;
    self.page = 1;
    self.currentFilter = null;
    self.searchAction(self.searchKey);
    self.getSavedFilterData();
  },

  watch: {
    "$route.params.q"(newQ, oldQ) {
      if (newQ !== oldQ) {
        if (this.$route.query.key) {
          this.searchKey = this.$route.query.key;
        } else {
          this.searchKey = newQ;
        }
        this.pageStart = 0;
        this.page = 1;
        this.searchAction(this.searchKey);
        this.currentFilter = null;
      }
    },
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
};
</script>

<style scoped>
.marB {
  margin-bottom: 6.8rem !important;
}
.filter-items {
  margin-top: 4rem !important;
}
.chips {
  /*background-color: #05344c;*/
  color: #05344c;
  padding: 0.2rem 1rem;
  margin: 0.1rem 0.2rem;
  border: 0.1rem solid #11998e;
  border-radius: 5rem;
}
.search-top {
  /*background-color: #ffffff;*/
}
.search-container {
  width: 100%;
  height: 5vh;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 0.1rem solid #05344c;
  border-radius: 0.5rem 0 0 0.5rem;
  /*box-shadow: 1px 3px 2px #cccccc !important;*/
}
.searchInput {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 1rem 1.5rem;
}
.search-button {
  padding: 0;
}
.filter-button {
  font-size: 1.6rem;
  height: 100%;
  width: 12rem;
  padding: 1.2rem 1.5rem;
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0.1rem 0.3rem 0.2rem #cccccc !important;
  float: right;
  margin-right: 10%;
}
.filter-button-wrapper {
  width: 100%;
  height: 5vh;
  font-size: 1.6rem;
  padding: 0;
}
.filter-ico {
  padding: 0 0.5rem 0 0;
}
.btn-find-job {
  width: 100%;
  height: 5vh;
  font-size: 1.6rem;
  color: #ffffff !important;
  background-color: #05344c;
  border-radius: 0 0.5rem 0.5rem 0;
  /*box-shadow: 1px 3px 2px #cccccc !important;*/
  box-shadow: none !important;
  text-align: center;
  padding-right: 2rem;
}
.search-results {
  margin-top: 2rem !important;
  border-radius: 0.8rem;
  /* box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.16); */
  background-color: #ffffff;
}
.pagination-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: 0;
  padding: 2rem 0;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 0 0 0.7rem 0.7rem;
}
.pagination {
  display: flex;
  justify-content: center;
}
.no-result {
  margin-top: 2.5rem !important;
  height: 85vh;
  background-color: #ffffff;
}
.no-result-color {
  color: #bbbec1;
}
.header-rectangle {
  background-color: #fafafa;
}
.header-text {
  font-size: 2rem;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #050405;
}
.header-text-count {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.job-list-wrapper {
  height: 100%;
  overflow: auto;
  background-color: white;
  width: 100%;
  border-radius: 0.7rem;
  padding-bottom: 50px;
  border: 1px solid #d9d9d9;
}
.job-list-wrapper::-webkit-scrollbar {
  width: 0.3rem;
}
.job-list-page-wrapper {
  height: calc(100vh - 16rem);
  position: relative;
}
.job-list {
  background-color: #ffffff;
}
.job {
  width: 100%;
  /* box-sizing: border-box; */
}
.job:hover {
  cursor: pointer;
}
/* .activeJob {
  cursor: pointer;
  background-color: var(--synop-select-color);
  border-left: 3px solid var(--link-color);
  box-sizing: border-box;
  padding-left: 0 !important;
} */
.job-preview-wrapper {
  /* height: 80vh; */
  padding-left: 2rem;
}
.job-preview {
  height: 100%;
  background-color: white;
  border: 1px solid #d9d9d9;
  height: calc(100vh - 16rem);
  overflow: hidden;
  border-radius: 0.7rem;
}
.job-preview::-webkit-scrollbar {
  width: 0.3rem;
}
.cube-chips {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  background-color: #eeeeee;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #0766ff;
  float: left;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.filter-advance {
  background-color: #f5e1c7;
  color: #3d4249 !important;
  width: 100%;
}
.form-control {
  height: 3.4rem;
  border: 0.1rem solid #e0dbdb;
  background-color: white;
  font-size: 1.4rem;
  border-radius: 0.4rem;
  border-right: none;
}
.form-control:focus {
  box-shadow: none !important;
}
.input-group-append {
  background-color: transparent !important;
}
.btn-primary {
  background-color: var(--button-save-unfocus);
  color: var(--button-save-color);
  border: none;
  font-size: 1.4rem;
  padding: 0 1rem;
}
.ed-btn {
  color: var(--link-color);
  padding: 0 1rem;
  border-radius: 0.4rem;
}
.ed-btn:hover {
  background-color: var(--link-color);
  color: white;
}
.filter-capsule {
  padding: 0.5rem 2rem;
  max-width: 22rem;
  border-radius: 2rem;
  margin: 1rem 1rem 0 0;
  background-color: #f2f3f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: #707070;
}
.close-capsule {
  cursor: pointer !important;
  margin-left: 1rem;
  color: #707070;
}
.clear-button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--action-button-color);
  font-size: 1.4rem;
}
/* @media (max-width: 600px) {
  .job-list-wrapper {
    height: auto;

    padding-bottom:10rem ;
  }
} */
</style>
