<template>
  <div class="main">
    <div v-if="editCurrent">
      <edit-education
        :changeBack="isFirst"
        :eduInfo="info"
        v-on:save-edu="onSaveCurrentEducation"
        v-on:cancel-save-edu="onCancelCurrentEducation"
      >
      </edit-education>
    </div>
    <div
      v-if="editCurrent === false"
      id="education"
      class="row single-info"
      v-bind:class="{ bgC: isFirst }"
    >
      <div class="col-md-4 col-lg-4 col-xl-1 col-3 no-padding">
        <div class="image-wrapper">
            <CustomIcon name="project" size="2.8" color="#64C983"/>
        </div>
      </div>
      <div class="col-lg-10 col-xl-9 info-details">
        <div class="univ">{{ info.project_name }}</div>
        <div class="row univ degree">
          <div>
            <a
              style="text-decoration: underline; color: var(--link-color)"
              @click="openProjectUrl"
              >{{ info.project_url }}</a
            >
          </div>
        </div>
        <div class="duration">{{ calculateDuration() }}</div>
        <div v-if="truncateView" class="description">
          <span>{{ calculateEllipsesText() }}</span>
          <span v-if="overflowed" class="more-less"
            ><a @click="onMore">{{ "see more..." }}</a></span
          >
        </div>
        <div v-if="truncateView === false" class="description">
          <span>{{ info.project_description }}</span>
          <!--eslint-disable-next-line-->
          <span class="more-less"><a @click="onLess">{{"...see less"}}</a></span>
        </div>
      </div>
      <div class="col-lg-2 col-xl-2 no-padding row justify-content-end" align="right">
        <span @click="onEditCurrentEducation"
          ><v-icon class="icon-class-new">edit</v-icon></span
        >
        <span @click="onDeleteCurrentEducation"
          ><v-icon class="icon-class-new" style="margin-left:1.0rem"
            >delete_outline</v-icon
          ></span
        >
      </div>
    </div>
  </div>
</template>

<script>
import EditEducation from "./project-card-edit";
import CustomIcon from "../../../global-components/customIcon"
export default {
  name: "education-card",
  components: {
    EditEducation,
    CustomIcon
  },
  props: {
    firstItem: Number,
    eduInfo: Object
  },
  data: function() {
    return {
      editCurrent: false,
      info: this.eduInfo || {},
      isFirst: this.firstItem % 2 !== 0,
      overflowed: false,
      truncateView: true
    };
  },
  methods: {
    calculateEllipsesText: function() {
      const self = this;
      const maxLength = 60;
      if (self.info.project_description) {
        let description = self.info.project_description;
        let length = description.length;
        if (length <= maxLength) {
          this.overflowed = false;
          return description;
        } else {
          let line1 = description.substring(0, 60) + "\n";
          let line2, line3;
          if (length / maxLength < 3) {
            this.overflowed = false;
            if (length / maxLength < 2) {
              line2 = description.substring(60, length) + "\n";
              line1 += line2;
            } else {
              line2 = description.substring(60, 120) + "\n";
              line3 = description.substring(120, length) + "\n";
              line1 = line1 + line2 + line3;
            }
          } else {
            this.overflowed = true;
            line2 = description.substring(60, 120) + "\n";
            line3 = description.substring(120, 160) + "\n";
            line1 = line1 + line2 + line3;
          }
          return line1;
        }
      } else {
        return;
      }
    },
    onMore: function() {
      this.truncateView = false;
    },
    onLess: function() {
      this.truncateView = true;
    },
    calculateDuration: function() {
      const self = this;
      let start = self.info.begin_date;
      let end;
      if (self.info.is_working) {
        end = "Present";
      } else {
        end = self.info.end_date;
      }
      return start + " - " + end;
    },
    onEditCurrentEducation: function() {
      const self = this;
      if (!self.$parent.addNew && !self.$parent.editing) {
        self.editCurrent = true;
        self.$emit("editing-existing-edu-info");
      } else {
        self.$emit("show-warning");
      }
    },
    onSaveCurrentEducation: function(newInfo) {
      this.editCurrent = false;
      this.$emit("save-edu", newInfo);
    },
    onCancelCurrentEducation: function() {
      this.editCurrent = false;
      this.$emit("cancel-save-edu", "child");
    },
    onDeleteCurrentEducation: function() {
      let id = this.info.attrib_id;
      this.$emit("delete-edu", id);
    },
    openProjectUrl() {
      const self = this;
      if (
        self.info.project_url.includes("https://") ||
        self.info.project_url.includes("http://")
      ) {
        window.open(self.info.project_url, "_blank");
      } else {
        window.open("https://" + self.info.project_url, "_blank");
      }
    }
  }
};
</script>

<style scoped>
.image-wrapper {
  margin-right:1.8rem
}
.image {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
}
.main {
  margin: 1.2rem 0;
}
#education:hover .eduEdit {
  display: block;
}
.single-info {
  padding: 1.6rem;
    border-bottom: 1px solid #d9d9d9;
}
.bgC {
  background-color: rgba(5, 52, 76, 0.03);
}
.info-details {
  padding: 0;
  text-align: left;
  font-size: 1.4rem;
}
.univ {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: black;
}
.description{
  font-size: 1.2rem;
  color: #8a8a8a;
}
.degree {
  font-size: 1.4rem !important;
  padding-bottom: 1.3rem;
}
.major {
  font-size: 1.4rem;
}
.duration {
  font-size: 1.2rem;
  line-height: 1.33;
  text-align: left;
  color: #8a8a8a;
}
.score {
  color: #8a8a8a;
  font-size: 1.2rem;
}
.buttons {
  padding: 2rem;
}
.btn-delete {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color);
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
.edit {
  margin-right: 1.2rem;
  color: var(--button-color) !important;
}
.more-less {
  color: #0077ff;
  padding-left: 0.5rem;
}
</style>
