<template>
  <div v-bind:class="{ backC: changeBack }" class="edu-edit">
    <div>
      <div class="row">
        <v-text-field
          v-model="project_name"
          label="Project Name"
          :error-messages="projectNameErrors"
        
        ></v-text-field>
      </div>
      <div class="row">
        <v-text-field
          v-model="project_url"
          label="Project Url"
          :error-messages="urlErrors"
         
        ></v-text-field>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <div class="row">
            <div class="col-lg-4 col-xl-4 mid-col-padding">
              <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="beginDateFormatted"
                  label="Start Date"
                  @blur="begin_date = parseDate(beginDateFormatted)"
                  readonly
                  :error-messages="beginDateErrors"
                  prepend-inner-icon="mdi-calendar-month"
                ></v-text-field>
                <v-date-picker
                  color="#207688"
                  v-model="begin_date"
                  type="month"
                  no-title
                  @input="menu1 = false"
                ></v-date-picker>
              </v-menu>
            </div>
            <div class="col-lg-4 col-xl-4 mid-col-padding">
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                :disabled="is_working"
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="endDateFormatted"
                  persistent-hint
                  label="End Date"
                  @blur="end_date = parseDate(endDateFormatted)"
                  readonly
                  :disabled="is_working"
                  :error-messages="!is_working ? endDateErrors : null"
                  prepend-inner-icon="mdi-calendar-month"
                ></v-text-field>
                <v-date-picker
                  color="#207688"
                  v-model="end_date"
                  type="month"
                  no-title
                  @input="menu2 = false"
                >
                </v-date-picker>
              </v-menu>
            </div>
            <div class="col-lg-4 col-xl-4 no-padding">
              <div class="row">
                <span class="check-box">
                  <v-checkbox v-model="is_working" :ripple="false"></v-checkbox>
                </span>
                <span class="current_label">Current Project</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 2.0rem 0">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-textarea
            no-resize
            outline
            label="Description"
            v-model="project_description"
            :error-messages="descriptionErrors"
          ></v-textarea>
          <div class="btn-left">
            <span class="btn-padding-btwn"
              ><button @click="onSave" class="btn btn-save">Save</button></span
            >
            <button @click="onCancel" class="btn btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import * as SYSTEM_CONST from "../../../../globalConstants";
import * as FILTERS from "../../../../filters";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
export default {
  name: "education-edit",
   mixins: [validationMixin],
  validations: {
    project_name: {
      required,
      isLengthInBound() {
        let val = this.project_name;
        if (val === "" || val === null) return true;
        return val.trim().length > 3 && val.trim().length < 127;
      }
    },
    project_url: {
      maxLength: maxLength(100)
    },
    begin_date: {
      required
    },
    end_date: {
      required,
      greaterThanStartYear() {
        if (this.begin_date && this.end_date) {
          const [begin_year, bm] = this.begin_date.split("-");
          const [end_year, em] = this.end_date.split("-");
          if (end_year === begin_year) {
            return em >= bm;
          } else {
            return end_year >= begin_year;
          }
        }
        return false;
      }
    },
    project_description: {
      maxLength: maxLength(4095)
    }
  },
  props: {
    eduInfo: Object,
    changeBack: Boolean
  },
  data: function() {
    return {
      info: this.eduInfo || {},
      project_name: "",
      project_url: "",
      is_working: false,
      begin_date: "",
      end_date: "",
      beginDateFormatted: "",
      endDateFormatted: "",
      menu1: false,
      menu2: false,
      project_description: ""
    };
  },
  methods: {
    onSave: function() {
      const self = this;
      self.$v.$touch();
      if (
        !self.$v.project_name.$anyError &&
        !self.$v.project_url.$anyError &&
        !self.$v.begin_date.$anyError &&
        !self.$v.project_description.$anyError
      ) {
        let newEdu = {};
        if (self.info.attrib_id) {
          newEdu.attrib_id = self.info.attrib_id;
        }
        newEdu.project_name = FILTERS.REMOVE_WHITE_SPACES(self.project_name);
        newEdu.project_url = FILTERS.REMOVE_WHITE_SPACES(self.project_url);
        newEdu.begin_date = self.beginDateFormatted;
        newEdu.project_description = FILTERS.REMOVE_WHITE_SPACES(
          self.project_description
        );
        if (self.is_working) {
          newEdu.is_working = 1;
          this.$emit("save-edu", newEdu);
        } else {
          newEdu.is_working = 0;
          newEdu.end_date = self.endDateFormatted;
          if (!self.$v.end_date.$anyError) {
            this.$emit("save-edu", newEdu);
          }
        }
      }
    },
    onCancel: function() {
      this.$emit("cancel-save-edu", "parent");
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month] = date.split("-");
      return `${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}`;
    }
  },
  watch: {
    begin_date() {
      this.beginDateFormatted = this.formatDate(this.begin_date);
    },
    end_date() {
      this.endDateFormatted = this.formatDate(this.end_date);
    },
    is_working() {
      this.end_date = "";
    }
  },
  computed: {
    projectNameErrors() {
      const errors = [];
      if (!this.$v.project_name.$dirty) return errors;
      !this.$v.project_name.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.project_name.isLengthInBound &&
        errors.push('Length must be between 4 to 127 characters');
      return errors;
    },
    urlErrors() {
      const errors = [];
      if (!this.$v.project_url.$dirty) return errors;
      !this.$v.project_url.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.project_description.$dirty) return errors;
      !this.$v.project_description.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    beginDateErrors() {
      const errors = [];
      if (!this.$v.begin_date.$dirty) return errors;
      !this.$v.begin_date.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    endDateErrors() {
      const errors = [];
      if (!this.$v.end_date.$dirty) return errors;
      !this.$v.end_date.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.end_date.greaterThanStartYear &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.END_YEAR);
      return errors;
    }
  },
  mounted: function() {
    const self = this;
    if (self.eduInfo) {
      self.project_name = self.eduInfo.project_name;
      self.project_url = self.eduInfo.project_url
        ? self.eduInfo.project_url
        : "";
      self.begin_date = self.parseDate(self.eduInfo.begin_date);
      if (!self.eduInfo.is_working) {
        self.is_working = false;
        self.end_date = self.parseDate(self.eduInfo.end_date);
      } else {
        self.is_working = true;
      }
      if (self.eduInfo.project_description) {
        self.project_description = self.eduInfo.project_description;
      }
    }
  }
};
</script>
<style scoped>
.edu-edit {
  padding: 2rem;
}
.backC {
  background-color: rgba(5, 52, 76, 0.03);
}
.left-col-degree {
  padding: 0 5% 0 0;
}
.mid-col-padding {
  padding: 0 5% 0 0;
}
.check-box {
  padding-left: 1.5rem;
  color: #3d4249;
}
.current_label {
  margin-left: -0.4rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  color: #3d4249;
}
.btn-left {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn-padding-btwn {
  padding: 0 1rem 0 0;
}
.v-input {
  font-size: 1.4rem !important;
  text-align: right !important;
}
@media (max-width: 600px) {
  .edu-edit {
    padding: 0rem 2rem;
  }
  .left-col-degree {
    padding: 0rem;
  }
  .mid-col-padding {
    padding: 0rem;
  }
  .check-box {
    padding: 0rem;
  }
}
/*.v-text-field {*/
/*padding-top: .2rem !important;*/
/*margin-top: 1.0rem;*/
/*}*/
</style>
