<template>
  <div class="basic-info">
    <div v-if="edit" class="basic-info-content">
      <div class="info-item">
        <div class="info-text name">Update Information</div>
      </div>
      <div class="info-item">
        <v-text-field label="Name" v-model="company.name" disabled>
        </v-text-field>
      </div>
      <div class="info-item">
        <v-text-field label="Email" v-model="company.email" disabled>
        </v-text-field>
      </div>
      <div class="info-item">
        <v-text-field label="Phone" v-model="company.phone" disabled>
        </v-text-field>
      </div>
      <div class="info-item">
        <v-text-field label="Company Category" v-model="category">
        </v-text-field>
      </div>
      <div class="info-item">
        <v-text-field label="Company Size" v-model="company_size">
        </v-text-field>
      </div>
      <div class="info-item">
        <v-text-field
          label="Website"
          v-model="website"
          :error-messages="websiteErrors"
        >
        </v-text-field>
      </div>
      <div class="info-item">
        <v-text-field
          label="Location"
          v-model="location"
          :error-messages="locationLengthErrors"
        >
        </v-text-field>
      </div>
      <div class="info-item">
        <v-textarea
          solo
          outline
          label="Description"
          v-model="company_description"
        >
        </v-textarea>
      </div>
      <div class="info-item" style="text-align: right">
        <button @click="onClickCancel" class="btn btn-prv-outline">
          Cancel
        </button>
        <button
          @click="saveData"
          style="margin-left: 1rem"
          class="btn btn-next-outline"
        >
          Save
        </button>
      </div>
    </div>
    <div v-else class="basic-info-content">
      <div class="info-item">
        <div class="row lbl-text">Name</div>
        <div class="row info-text name">{{ company.name }}</div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Email</div>
        <div class="row info-text email">{{ company.email }}</div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Phone</div>
        <div class="row info-text email">{{ company.phone }}</div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Company Category</div>
        <div class="row info-text email">{{ displayCategory || "N/A" }}</div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Company Size</div>
        <div class="row info-text email">{{ displaySize || "N/A" }}</div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Website</div>
        <div class="row info-text email">
          <a :href="urlWebsite" target="_blank">{{
            displayWebsite || "N/A"
          }}</a>
        </div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Location</div>
        <div class="row info-text email">{{ displayLocation || "N/A" }}</div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Description</div>
        <div class="row info-text email">{{ displayDescription || "N/A" }}</div>
      </div>
      <div class="info-item" style="text-align: right">
        <button @click="onClickEditLocation" class="btn btn-next-outline">
          Edit
        </button>
      </div>
    </div>
    <v-snackbar
      :color="bgColor"
      :timeout="timeOut"
      top
      v-model="snackbar"
      class="snack"
    >
      <div style="text-align: center; width: 100%;">
        <span style="padding-right:1.0rem;">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import {
  EMPLOYER_UPDATE_COMPANY_INFO,
  GET__COMPANY_INFO
} from "../../../Api/employer_api";
import { maxLength } from "vuelidate/lib/validators";
export default {
  name: "profile",
  validations: {
    location: {
      maxLength: maxLength(64)
    },
    website: {
      maxLength: maxLength(100)
    }
  },
  data: function() {
    return {
      bgColor: "#454545",
      timeOut: 5000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      company: this.$constants.getOwnerInfo(),
      edit: false,
      displayWebsite: "",
      website: "",
      displayLocation: "",
      location: "",
      displayDescription: "",
      company_description: "",
      displayCategory: "",
      category: "",
      displaySize: "",
      company_size: "",
      urlWebsite: ""
    };
  },
  methods: {
    onClickEditLocation: function() {
      const self = this;
      self.location = self.displayLocation;
      self.website = self.displayWebsite;
      self.company_description = self.displayDescription;
      self.category = self.displayCategory;
      self.company_size = self.displaySize;
      self.edit = true;
    },
    onClickCancel: function() {
      const self = this;
      self.edit = false;
    },
    getData() {
      const self = this;
      GET__COMPANY_INFO()
        .then(function(data) {
          self.displayLocation = data.location_name;
          self.displayWebsite = data.website;
          self.displayDescription = data.company_description;
          self.displayCategory = data.category;
          self.displaySize = data.company_size;
          if (data.website && !data.website.includes("http")) {
            self.urlWebsite = "https://" + self.displayWebsite;
          } else {
            self.urlWebsite = self.displayWebsite;
          }
        })
        .catch(function(err) {
            alert(err.message)
        });
    },
    saveData() {
      const self = this;
      self.$v.$touch();
      if (!self.$v.$anyError) {
        let data = {
          emp_action: "edit_company_info",
          website: self.website,
          company_description: self.company_description,
          category: self.category,
          company_size: self.company_size,
          location_name: self.location
        };
        EMPLOYER_UPDATE_COMPANY_INFO(data)
          .then(function(resp) {
            self.edit = false;
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = resp.message;
            self.getData();
          })
          .catch(function(err) {
            self.edit = false;
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
            self.getData();
          });
      }
    }
  },
  computed: {
    locationLengthErrors() {
      const errors = [];
      if (!this.$v.location.$dirty) return errors;
      !this.$v.location.maxLength &&
        errors.push(this.$constants.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    websiteErrors() {
      const errors = [];
      if (!this.$v.website.$dirty) return errors;
      !this.$v.website.maxLength &&
        errors.push(this.$constants.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    }
  },
  mounted() {
    const self = this;
    self.getData();
  }
};
</script>

<style scoped>
.basic-info {
  padding: 2rem 1rem;
  border-radius: 0.8rem;
  background-color: #ffffff;
  position: relative;
}
.basic-info-content {
  padding: 1rem;
  max-width: 80rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #e6e6e6;
  overflow-y: auto;
  height: 80vh;
  margin-bottom: 4rem;
}
.basic-info-content::-webkit-scrollbar {
  display: none;
  width: 100%;
  padding: 0rem !important;
  margin: 0rem !important;
}
.info-item {
  padding: 1rem;
  text-align: left;
}
@media (max-width: 600px) {
  .basic-info {
    padding: 0;
  }
}
.lbl-text {
  font-size: 1.2rem;
  color: #989fa6;
}
.info-text {
  font-size: 1.8rem;
  color: #050505;
}
.name {
  font-size: 2.2rem !important;
  font-weight: bold;
}
.v-input {
  text-align: right !important;
  font-size: 1.4rem !important;
}
</style>
