<template>
  <div class="resume">
    <div class="row justify-content-center">
      <div class="resumeWrapper">
        <div class="resume-box">
          <div class="col-xl-10">
            <div class="dropbox">
              <form
                style="height: 100%; width: 100%"
                enctype="multipart/form-data"
                novalidate
              >
                <div
                  class="row justify-content-center align-items-center"
                  style="height: 100%; text-align: left; width: 100%"
                >
                  <input
                    class="input-file"
                    type="file"
                    id="file"
                    ref="file"
                    accept=".pdf, .docx"
                    @change="
                      filesChange($event.target.name, $event.target.files)
                    "
                  />

                  <div class="form-box absolute-center-column" align="left">
                    <img
                      src="@/assets/newDesign/resume_new.svg"
                      style="width: 8.5rem"
                    />
                  </div>
                  <div style="margin-left: 2rem">
                    <div class="drag" align="left" style="margin-bottom: 1rem">
                      Drag and drop to upload
                    </div>

                    <div class="btn btn-outline" style="margin-bottom: 2rem;background:transparent;width:5rem">
                      Browse
                    </div>
                  </div>
                  <div class="or-text" style="margin-top:-5rem">
                    Size limit 5MB. Supported format docx, pdf
                  </div>
                </div>
              </form>
            </div>
   
            <div v-if="sizeError" style="color: #ff5252; font-size: 1.6rem">
              File size must be less than 5MB
            </div>
          </div>
        </div>
      </div>
    </div>
             <div v-if="uploadFileName" class="row upload">
              <div
                class="col-sm-4 col-md-3 col-lg-2 col-xl-1 file-image"
                align="left"
              >
                <img
                  style="width: 4rem; height: auto"
                  src="@/assets/newDesign/cv.svg"
                />
              </div>
              <div class="col-sm-4 col-md-5 col-lg-6 col-xl-7 file-name">
                {{ uploadFileName }}
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 upload-button">
                <span
                  @click="confirmUpload"
                  style="
                    padding-right: 1rem;
                    color: var(--button-color);
                    font-size: 1.6rem;
                  "
                >
                  Save
                </span>
                <span
                  @click="resetFile"
                  style="
                    padding-left: 1rem;
                    color: var(--button-delete-color);
                    font-size: 1.6rem;
                  "
                  >Delete</span
                >
              </div>
            </div>
    <div class="row" style="padding-top: 2rem">
      <div v-if="existingResume" class="recent-upload-wrapper">
        <!--<div class="recent-upload-text">Resume</div>-->
        <div class="row recent-upload-content justify-content-end align-items-center">
          <div class="col-sm-4 col-md-3 col-lg-2 col-xl-1 file-image">
            <img
              src="@/assets/newDesign/cv.svg"
              style="width: 4rem; min-height: 8.5rem"
            />
          </div>
          <div class="col-sm-4 col-md-5 col-lg-6 col-xl-7 recent-file-name">
            <div>{{ existingResume.file_name }}</div>
            <div class="uploaded-on">
              Uploaded on {{ existingResume.time }}
            </div>
          </div>
          <div
            class="col-sm-4 col-md-4 col-lg-4 col-xl-4 row justify-content-end"
            style="text-align: right; margin-top: 1.5rem"
          >
            <span @click="viewResume(existingResume)"
              ><v-icon class="icon-class-new">visibility</v-icon></span
            >
            <span
              style="padding: 0 1rem"
              @click="downloadResume(existingResume)"
              ><v-icon class="icon-class-new">save_alt</v-icon></span
            >
            <span @click="deleteResume(existingResume)"
              ><v-icon class="icon-class-new">delete_outline</v-icon></span
            >
          </div>
        </div>
      </div>
    </div>

    <div v-if="view" id="view" class="view-resume">
      <div class="row view-resume-box">
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-11 view-resume-text">
          {{ existingResume.file_name }}
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-1 close-icon">
          <v-icon @click="closeView" color="#ffffff">close</v-icon>
        </div>
      </div>
      <object :data="src" type="application/pdf" width="100%" height="1000px">
        <embed :src="src" type="application/pdf" />
      </object>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem"
          ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
      <!--<v-btn flat :ripple="ripple" @click="snackbar = false">-->
      <!--<v-icon>close</v-icon>-->
      <!--</v-btn>-->
    </v-snackbar>
    <div :key="changePop" v-if="popup">
      <confirm-box
        v-bind="popupProps"
        v-on:on-click-ok="uploadResume(existingResume)"
        v-on:on-click-cancel="resetFile"
      >
      </confirm-box>
    </div>
  </div>
</template>

<script>
import ConfirmBox from "../../global-components/confirmation-pop-up";
import {
  GET_TIME_FROM_TIMESTAMP,
  IsEmptyObject,
} from "../../../globalFunctions";
import {
  GET_RESUME,
  UPLOAD_RESUME,
  DELETE_RESUME,
  RESUME_ACTION,
} from "../../../Api/candidate_api";

export default {
  name: "resume",
  data() {
    return {
      uploadFileName: null,
      newResumeFile: [],
      existingResume: null,
      src: null,
      view: false,
      popup: false,
      popupProps: {
        open: false,
        title: "Confirmation",
        message:
          "This action will replace your current resume. Are you sure to proceed?",
      },
      changePop: 0,
      sizeError: false,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
    };
  },
  components: {
    ConfirmBox,
  },
  methods: {
    getAllResume: function () {
      const self = this;
      GET_RESUME()
        .then(function (data) {
          if (!IsEmptyObject(data)) {
            let date = GET_TIME_FROM_TIMESTAMP(data.created_at);
            self.existingResume = data;
            self.existingResume.time = date.time;
            self.noResume = false;
          } else {
            self.existingResume = null;
            self.noResume = true;
          }
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    filesChange(fieldName, fileList) {
      if (fileList[0].size / 1024 / 1024 > 5) {
        this.sizeError = true;
        this.resetFile();
      } else {
        this.sizeError = false;
        this.newResumeFile = fileList[0];
        this.uploadFileName = this.newResumeFile.name;
      }
    },
    resetFile() {
      const input = this.$refs.file;
      input.type = "text";
      input.type = "file";
      this.uploadFileName = null;
      this.newResumeFile = [];
      this.view = false;
      this.src = null;
    },
    confirmUpload() {
      const self = this;
      if (self.existingResume) {
        self.popupProps.open = true;
        self.popup = true;
        self.changePop++;
      } else {
        self.uploadResume();
      }
    },
    uploadResume(existing) {
      const self = this;
      self.popupProps.open = false;
      self.popup = false;
      self.changePop++;
      UPLOAD_RESUME(this.newResumeFile, existing)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          setTimeout(function () {
            self.resetFile();
            self.getAllResume();
          }, 2000);
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    downloadResume(file) {
      const self = this;
      let key = file.download_key;
      RESUME_ACTION(key, self.$constants.RESUME_ACTION.DOWNLOAD)
        .then(function (data) {
          const url = data.url;
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute("download", file.file_name); //or any other extension
          document.body.appendChild(link);
          link.click();
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    viewResume(file) {
      const self = this;
      let key = file.view_key;
      RESUME_ACTION(key, self.$constants.RESUME_ACTION.VIEW)
        .then(function (data) {
          self.view = true;
          setTimeout(function () {
            let ext = "#toolbar=0&navpanes=0&scrollbar=0";
            let elmnt = document.getElementById("view");
            self.src = data.url + ext;
            elmnt.scrollIntoView();
          }, 100);
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    deleteResume(file) {
      const self = this;
      DELETE_RESUME(file)
        .then(function (response) {
          self.existingResume = null;
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.resetFile();
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    closeView() {
      this.view = false;
    },
  },
  mounted() {
    this.getAllResume();
  },
};
</script>

<style scoped>
img {
  float: left;
}
.resume {
  /* height: 90vh; */
  height: 100%;
}
.resumeWrapper {
  border-radius: 0.8rem;
}
.resume-box {
  cursor: pointer;
  margin-top: 3rem;
}
.dropbox {
  width: 53.8rem;
  border-radius: 0.8rem;
  background-color: #f9f9f9;
  height: 23.7rem;
  max-width: 53.8rem;
  position: relative;
  cursor: pointer;
  border: 0.1rem dashed #8e8e8e;
}
@media (max-width: 600px) {
  .dropbox {
    height: 40rem;
  }
}
.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.form-box {
  height: 100%;
}
.drag {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: #8f8f8f;
  margin-top: 1.6rem;
  width: inherit;
}
.or-text {
  font-size: 1.2rem;
  text-align: center;
  color: #ff0000;
  width: 100%;
}
.browse {
  padding: 2rem 0;
  cursor: pointer;
}
.btn-upload {
  width: 18.8rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  border: solid 0.2rem var(--button-color);
  background-color: var(--button-color);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  cursor: pointer !important;
}
.upload {
  border-top: 1.5rem solid #ffffff;
  padding: 1rem 2rem;
  width: 100%;
}
.file-image {
  padding: 0;
  text-align: left;
}
.file-name {
  font-size: 2rem;
  padding: 1rem 0 0 1rem;
  text-align: left;
}
.uploaded-on {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.33;
  text-align: left;
   color: #8f8f8f;
}
.time {
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: left;
  color: #050505;
}
.upload-button {
  padding: 2rem 2.5rem 0 0;
  text-align: right;
}
.recent-upload-wrapper {
  padding: 0;
  width: 100%;
  border-radius: 0.8rem;
}
.recent-upload-text {
  text-align: left;
  background-color: #054c6f;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
}
.recent-upload-content {
  padding: 1rem 2rem;
}
.recent-file-name {
  margin-top: 1.6rem;
   font-size: 14px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  color: black;
}
.recent-upload-button {
  text-align: right;
  padding: 2rem;
}
.view-resume {
  padding: 4rem 1.5rem;
}
.view-resume-box {
  height: 4rem;
  padding: 0.8rem;
  background-color: var(--button-color);
  border-radius: 0.3rem 0.3rem 0 0;
}
.view-resume-text {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}
.close-icon {
  font-size: 1.6rem;
  text-align: right;
}
.btn-view {
  height: 4.4rem;
  border-radius: 0.4rem;
  /*border: solid .2rem #0766ff;*/
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: var(--button-color) !important;
  box-shadow: none !important;
  cursor: pointer;
}
.btn-download {
  height: 4.4rem;
  border-radius: 0.4rem;
  border: solid 0.2rem var(--button-color);
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: var(--button-color);
  box-shadow: none !important;
  cursor: pointer;
}
.btn-delete {
  height: 4.4rem;
  border-radius: 0.4rem;
  /*border: solid .2rem #f10012;*/
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color) !important;
  box-shadow: none !important;
  cursor: pointer;
}
</style>
