<template>
  <div id="overlay" @click="callme" class="overlay">
    <div class="filter-content">
      <div class="row">
        <div class="fil-ttl">Filter</div>
        <span @click="closeFilter" class="close-ico"
          ><v-icon class="icon-cl" size="20">cancel</v-icon></span
        >
      </div>
      <div class="row">
        <div class="col-xl-6">
          <v-combobox
            outline
            label="Name your filter or Choose existing one"
            :items="savedFilters"
            item-text="filter_name"
            return-object
            @change="showSavedFilterItems"
            v-model="selectedFilter"
          ></v-combobox>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <v-select
            outline
            v-model="expValue"
            :items="experienceLevel"
            item-value="id"
            item-text="name"
            label="Experience Level"
            multiple
          >
            <template v-slot:selection="{ item, index }">
              <v-chip color="#11998e" small outline v-if="index === 0">
                <span>{{ item.name }}</span>
              </v-chip>
              <span v-if="index === 1" class="cd caption"
                >(+{{ expValue.length - 1 }} others)</span
              >
            </template>
          </v-select>
        </div>
        <div class="col-xl-6">
          <v-combobox
            outline
            v-model="institutions"
            label="Institution"
            :search-input.sync="instQuery"
            :items="instItems"
            item-text="institution_name"
            multiple
            append-icon="bopon"
            @change="resetInstQuery"
            @focus="showSelectedInst"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip color="#11998e" small outline v-if="index === 0">
                <span>{{ item.institution_name }}</span>
              </v-chip>
              <span v-if="index === 1" class="cd caption"
                >(+{{ institutions.length - 1 }} others)</span
              >
            </template>
          </v-combobox>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <v-combobox
            outline
            v-model="degrees"
            label="Degrees"
            :search-input.sync="degreeQuery"
            :items="degreeItems"
            item-text="degree_name"
            multiple
            append-icon="bopon"
            @change="resetDegreeQuery"
            @focus="showSelectedDegree"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip color="#11998e" small outline v-if="index === 0">
                <span>{{ item.degree_name }}</span>
              </v-chip>
              <span v-if="index === 1" class="cd caption"
                >(+{{ degrees.length - 1 }} others)</span
              >
            </template>
          </v-combobox>
        </div>
        <div class="col-xl-6">
          <v-combobox
            outline
            v-model="skills"
            label="Skills"
            :search-input.sync="skillQuery"
            :items="skillItems"
            item-text="skill_name"
            multiple
            append-icon="bopon"
            @change="resetSearchQuery"
            @focus="showSelectedSkills"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip color="#11998e" small outline v-if="index === 0">
                <span>{{ item.skill_name }}</span>
              </v-chip>
              <span v-if="index === 1" class="cd caption"
                >(+{{ skills.length - 1 }} others)</span
              >
            </template>
          </v-combobox>
        </div>
      </div>
      <div class="buttons">
        <v-btn @click="updateOrSave" class="button">Save</v-btn>
        <v-btn @click="filterSearchAction">Apply</v-btn>
      </div>
    </div>
    <v-snackbar
      :color="bgColor"
      class="alertClass"
      :timeout="timeOut"
      top
      v-model="snackbar"
    >
      <span style="padding-right:5px">
        <v-icon :color="color">{{ snackIcon }}</v-icon>
      </span>
      {{ snackMessage }}
      <v-btn flat :ripple="ripple" @click="snackbar = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
import * as FILTER from "../../../filters";
import { QUERY_ACTION } from "../../../globalConstants";
import { GET_AUTO_SUGGEST } from "../../../Api/common_api";
import { GET_SAVED_FILTER_DATA } from "../../../Api/employer_api";
export default {
  name: "filter-test",
  directives: {
    ClickOutside
  },
  props: {
    existing: Object
  },
  data: function() {
    return {
      open: true,
      bgColor: "",
      color: "",
      snackIcon: "",
      snackMessage: "",
      snackbar: false,
      ripple: false,
      timeOut: 3500,
      snackbarCheck: "",

      degrees: [],
      degreeQuery: "",
      degreeItems: [],

      institutions: [],
      instQuery: "",
      instItems: [],

      mask: "#########",

      selectedFilter: null,

      savedFilters: [],
      skillItems: [],
      skills: [],
      skill_array: [],
      skillQuery: "",
      expValue: [],

      icon: "fa-sliders-h",
      show: false,
      filters: [],

      experienceLevel: [
        {
          id: "Junior",
          name: "Junior"
        },
        {
          id: "Associate",
          name: "Associate"
        },
        {
          id: "Senior",
          name: "Senior"
        },
        {
          id: "Principal",
          name: "Principal"
        }
      ],
      showDialog: false,
      saveFilterProps: {
        open: false
      },
      change: 0
    };
  },
  methods: {
    callme(event) {
      if (event.target.id === "overlay") {
        this.$emit("hide");
      }
    },
    closeFilter() {
      this.$emit("hide");
    },
    getSavedFilterData: function() {
      const self = this;
      self.savedFilters = [];
      GET_SAVED_FILTER_DATA()
        .then(function(response) {
          if (response.status === 200) {
            self.savedFilters = response.data;
          }
        })
        .catch(err => alert(err));
    },
    filtershow: function() {
      if (this.show) this.icon = "fa-sliders-h";
      else this.icon = "close";
      // this.clear();
      this.show = !this.show;
    },
    showSavedFilterItems: function() {
      this.expValue = this.selectedFilter.exp_lvl
        ? this.selectedFilter.exp_lvl
        : [];

      this.institutions = this.selectedFilter.institutes
        ? this.selectedFilter.institutes
        : [];
      this.degrees = this.selectedFilter.degrees
        ? this.selectedFilter.degrees
        : [];
      this.skills = this.selectedFilter.skills
        ? this.selectedFilter.skills
        : [];
    },
    checkdata: function() {
      return (
        this.expValue.length > 0 ||
        this.institutions.length > 0 ||
        this.degrees.length > 0 ||
        this.skills.length > 0
      );
    },
    openDialogBox() {
      const self = this;
      if (self.checkdata()) {
        self.showDialog = true;
        self.saveFilterProps = {
          open: true,
          existingFilter: self.selectedFilter
        };
        self.change++;
      } else {
        self.snackbarCheck = "warning";
      }
    },
    closeDialogBox() {
      this.showDialog = false;
      this.saveFilterProps = {
        open: false
      };
      this.change++;
    },
    showSelectedSkills() {
      this.skillItems = this.skills;
    },
    showSelectedDegree() {
      this.degreeItems = this.degrees;
    },
    showSelectedInst() {
      this.instItems = this.institutions;
    },
    resetSearchQuery() {
      this.skillQuery = "";
    },
    resetDegreeQuery() {
      this.degreeQuery = "";
    },
    resetInstQuery() {
      this.instQuery = "";
    },

    filterSearchAction: function() {
      const self = this;
      let queryFilters = {};
      if (self.expValue.length > 0) {
        queryFilters.exp_lvl = self.expValue;
      }

      if (self.skills.length > 0) {
        queryFilters.skills = self.skills;
      }
      if (self.degrees.length > 0) {
        queryFilters.degrees = self.degrees;
      }
      if (self.institutions.length > 0) {
        queryFilters.institutes = self.institutions;
      }
      self.$emit("filtered-search", queryFilters);
      self.closeFilter();
    },
    saveFilter: function(event) {
      const self = this;
      let saveFilterData = {};
      let token = JSON.parse(localStorage.getItem("token"));
      saveFilterData.filter_name = event;
      if (self.skills.length > 0) saveFilterData.skills = self.skills;

      if (self.expValue.length > 0) saveFilterData.exp_lvl = self.expValue;
      if (self.degrees.length > 0) saveFilterData.degrees = self.degrees;
      if (self.institutions.length > 0)
        saveFilterData.institutes = self.institutions;

      self
        .$http({
          method: self.$constants.METHOD.POST,
          url: self.$constants.BASE_URL.CANDIDATE_SIDE_FILTER,
          headers: {
            "content-type": self.$constants.HEADERS.TYPE.APPLICATION_JSON,
            Authorization: "Bearer " + token
          },
          data: JSON.stringify(saveFilterData)
        })
        .then(function(response) {
          if (response.status === 200) {
            self.snackbarCheck = "success";
            self.getSavedFilterData();
          }
        })
        .catch(err => alert(err));
    },
    updatefilter: function(event) {
      const self = this;
      let saveFilterData = {};
      saveFilterData.filter_name = event.filter_name;
      saveFilterData.filter_id = event.filter_id;
      let token = JSON.parse(localStorage.getItem("token"));
      if (self.skills.length > 0) saveFilterData.skills = self.skills;

      if (self.expValue.length > 0) saveFilterData.exp_lvl = self.expValue;
      if (self.degrees.length > 0) saveFilterData.degrees = self.degrees;
      if (self.institutions.length > 0)
        saveFilterData.institutes = self.institutions;

      self
        .$http({
          method: self.$constants.METHOD.PUT,
          url: self.$constants.BASE_URL.CANDIDATE_FILTER,
          headers: {
            "content-type": self.$constants.HEADERS.TYPE.APPLICATION_JSON,
            Authorization: "Bearer " + token
          },
          data: JSON.stringify(saveFilterData)
        })
        .then(function(response) {
          if (response.status === 200) {
            self.snackbarCheck = "update";
            self.getSavedFilterData();
          }
        })
        .catch(function(err) {
          self.errMsg = err.message;
        });
    },
    updateOrSave: function() {
      if (this.checkdata()) {
        if (this.selectedFilter.filter_id) {
          this.updatefilter(this.selectedFilter);
        } else {
          this.saveFilter(this.selectedFilter);
        }
      } else {
        this.snackbarCheck = "warning";
      }
    },
    clear: function() {
      this.selectedFilter = {};
      this.expValue = [];
      this.institutions = [];
      this.degrees = [];
      this.skills = [];
      this.$emit("filtered-search", "");
    },
    querySkills: function(v) {
      const self = this;
      v = FILTER.REMOVE_WHITE_SPACES(v);
      if (v.length > 0) {
        GET_AUTO_SUGGEST(v, QUERY_ACTION.SKILL)
          .then(function(response) {
            self.skillItems = [];
            self.skillItems = response;
          })
          .catch(function() {});
      }
    },
    queryDegree: function(v) {
      const self = this;
      v = FILTER.REMOVE_WHITE_SPACES(v);
      if (v.length > 0) {
        GET_AUTO_SUGGEST(v, QUERY_ACTION.DEGREE)
          .then(function(response) {
            self.degreeItems = [];
            self.degreeItems = response;
          })
          .catch(function() {});
      }
    },
    queryInst: function(v) {
      const self = this;
      v = FILTER.REMOVE_WHITE_SPACES(v);
      if (v.length > 0) {
        GET_AUTO_SUGGEST(v, QUERY_ACTION.INSTITUTION)
          .then(function(response) {
            self.instItems = [];
            self.instItems = response;
          })
          .catch(function() {});
      }
    }
  },

  watch: {
    snackbarCheck: function() {
      const self = this;
      if (self.snackbarCheck === "warning") {
        self.snackbar = true;
        self.snackMessage = "Please Choose at least one item to filter";
        self.color = "white";
        self.bgColor = "#FF7722";
        self.snackIcon = "warning";
      } else if (self.snackbarCheck === "error") {
        self.snackbar = true;
        self.snackMessage = "Network Error";
        self.color = "white";
        self.bgColor = "#ed4337";
        self.snackIcon = "error";
      } else if (self.snackbarCheck === "success") {
        self.snackbar = true;
        self.snackMessage = "Successfully saved the filter!";
        self.color = "white";
        self.bgColor = "#11998e";
        self.snackIcon = "fa-check-circle";
      } else if (self.snackbarCheck === "update") {
        self.snackbar = true;
        self.snackMessage = "Successfully updated the filter!";
        self.color = "white";
        self.bgColor = "#11998e";
        self.snackIcon = "fa-check-circle";
      }
      self.snackbarCheck = "";
    },

    skillQuery(val) {
      val && val !== this.skills && this.querySkills(val);
    },
    skills(val, prev) {
      if (val.length === prev.length) return;

      this.skills = val.map(v => {
        if (typeof v === "string") {
          v = {
            skill_name: v
          };
        }
        return v;
      });
    },

    degreeQuery(val) {
      val && val !== this.degree && this.queryDegree(val);
    },
    degrees(val, prev) {
      if (val.length === prev.length) return;

      this.degrees = val.map(v => {
        if (typeof v === "string") {
          v = {
            degree: v
          };
        }
        return v;
      });
    },

    instQuery(val) {
      val && val !== this.institutions && this.queryInst(val);
    },
    institutions(val, prev) {
      if (val.length === prev.length) return;

      this.institutions = val.map(v => {
        if (typeof v === "string") {
          v = {
            institution: v
          };
        }
        return v;
      });
    }
  },
  mounted() {
    const self = this;
    self.getSavedFilterData();
    if (self.existing) {
      if (self.existing.exp_lvl) {
        self.expValue = self.existing.exp_lvl;
      }
      if (self.existing.skills) {
        self.skills = self.existing.skills;
      }
      if (self.existing.degrees) {
        self.degrees = self.existing.degrees;
      }
      if (self.existing.institutes) {
        self.institutions = self.existing.institutes;
      }
    }
  }
};
</script>

<style scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.close-ico {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.icon-cl:hover {
  color: #e7472e !important;
}
.filter-content {
  padding: 20px !important;
  background-color: #ffffff;
  position: absolute;
  top: 135px;
  right: 90px;
  width: 800px;
  border-radius: 4px;
  z-index: 100;
}
.filter-content:after {
  content: "";
  position: absolute;
  top: -15px;
  right: 50px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  margin-left: -5px;
  margin-top: -5px;
}
.fil-ttl {
  padding: 20px 15px;
  font-size: 22px;
  text-align: left;
}
.salary {
  width: 100%;
  height: 55px;
  outline: none;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.min {
  border-radius: 0;
}
.max {
  border-radius: 0 4px 4px 0;
}
.salary-text {
  height: 55px;
  background-color: #f7f7f7;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-radius: 4px 0 0 4px;
  padding: 15px 5px;
}
.min-salary {
  padding: 0;
}
.max-salary {
  padding: 0;
}
.toText {
  padding: 15px;
  height: 55px;
  background-color: #f7f7f7;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.buttons {
  padding: 15px;
  text-align: right;
}
.button {
  background-color: #113386 !important;
  color: #ffffff !important;
}
</style>
