<template>
  <div>
    <div class="row" style="margin: 1rem 0 !important;">
      <div
        class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 no-padding"
        style="text-align: left; padding-left: 0.5rem !important; margin-top: 0.5rem"
      >
        <span class="num-wrapper">{{ indexNum + 1 }}</span>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-3 col-xl-3 exp-details">
        <div class="designation">
          {{ work.degree_name }}
          <span v-if="work.grade" style="">{{ "- " + work.grade }}</span>
        </div>
        <div class="company">
          <div>{{ work.institution_name }}</div>
          <div>
            {{ calculateDuration() }}
          </div>
          <div>{{ work.major_name }}</div>
        </div>
      </div>
      <div
        class="col-6 col-sm-6 col-md-6 col-lg-8 col-xl-8"
        style="text-align: left"
      >
        <div v-if="work.education_description" class="description">
          <span>{{ work.education_description }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: { edu: Object, end: Boolean, ind: Number },
  data: function() {
    return {
      work: {},
      indexNum: parseInt(this.ind),
      editCurrent: false,
      popupProps: {
        open: false,
        title: "Please close the currently opened box first"
      },
      check: 0,
      overflowed: false,
      truncateView: true
    };
  },
  methods: {
    calculateDuration: function() {
      const self = this;
      let start = self.work.begin_date;
      let end;
      if (self.work.is_studying) {
        end = "Present";
      } else {
        end = self.work.end_date;
      }
      return start + " - " + end;
    }
  },
  mounted() {
    this.work = this.edu;
  }
};
</script>

<style>
.exp-details {
  padding: 0;
  text-align: left;
}
.num-wrapper {
  color: #3d4249;
  border: 0.1rem solid #3d4249;
  border-radius: 50%;
  padding: 0.1rem 0.6rem;
}
.designation {
  line-height: 1.5;
  text-align: left;
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
}
.company {
  font-size: 1.6rem;
}
.exp-details-years {
  font-size: 1.2rem;
  line-height: 1.33;
  text-align: left;
  color: rgba(5, 5, 5, 0.74);
}
.location {
  color: #808080;
  font-weight: 400;
}
.description {
  font-size: 1.4rem;
}
.more-less {
  color: #207688;
  padding-left: 0.5rem;
}
</style>
