<template>
  <div
    id="content"
    style="width: 100%; background-color: white; height: auto; margin: 0 10px;"
  >
    <div style="margin: 10px 0 !important; display: flex; flex-direction: row">
      <div
        style="text-align: left; padding: 0 5px !important; margin-top: 5px; width: 20%"
      >
        <img :src="src" style="width: 150px; height: 150px" />
      </div>
      <div
        style="text-align: left; padding: 0 5px !important; margin-top: 5px; width: 60%"
      >
        <div v-if="name" style="font-weight: bold; font-size: 30px;">
          {{ name }}
        </div>
        <div v-if="position" style="font-size: 20px">{{ position }}</div>
        <div style="margin-top: 10px; text-align: left">
          <span style="margin-right: 5px"
            ><img
              style="width: 20px; height: 20px; margin-bottom: 5px"
              src="https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/resume-builder/XMLID_1_.svg"
          /></span>
          <span style="margin-right: 10px; font-size: 16px" v-if="edu_ql">{{
            edu_ql
          }}</span>
          <span style="margin-right: 5px"
            ><img
              style="width: 16px; height: 14px; margin-bottom: 5px"
              src="https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/resume-builder/icon-tick.svg"
          /></span>
          <span
            style="margin-right: 10px; font-size: 16px"
            v-if="y_of_ex !== undefined"
            >{{ y_of_ex }} year(s) of experience</span
          >
          <span style="margin-right: 5px; font-size: 16px"
            ><img
              style="width: 16px; height: 16px; margin-bottom: 5px"
              src="https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/resume-builder/Path+3970.svg"
          /></span>
          <span
            style="margin-right: 5px; font-size: 16px;"
            v-if="location !== undefined"
            >{{ location }}</span
          >
        </div>
        <div style="margin-top: 10px; text-align: left">
          <span v-if="candidate.phone" style="margin-right: 5px"
          ><img
                  style="width: 12px; height: 12px; margin-bottom: 5px"
                  src="https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/resume-builder/phone.svg"
          /></span>
          <span style="margin-right: 10px; font-size: 16px" v-if="candidate.phone">{{candidate.phone}}</span>
          <span v-if="candidate.email" style="margin-right: 5px"><img
                  style="width: 14px; height: 14px; margin-bottom: 5px"
                  src="https://www-trimatra-me.s3-ap-southeast-1.amazonaws.com/resume-builder/email.svg"/></span>
          <span style="margin-right: 10px; font-size: 16px" v-if="candidate.email">{{ candidate.email }}</span>
        </div>
      </div>
      <div
        v-if="!cvBank"
        style="padding: 0 0 0 5px !important; margin-top: 5px; width: 20%"
      >
        <div v-if="score >= 0">
          <div
            style="height: 100px; width: 100px; border: 5px solid #3d4249; border-radius: 50%"
          >
            <div style="font-weight: bold; font-size: 24px; margin-top: 15px">
              {{ score + "%" }}
            </div>
            <div style="font-size: 12px">Match</div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="experiences.length > 0" class="content">
      <div class="title-head">
        <span style="border-left: 2px solid #00adee; margin-right: 10px"></span
        ><span>EXPERIENCE</span>
      </div>
      <div v-for="(work, index) in experiences" :key="index">
        <div
          style="margin: 20px 15px!important; display: flex; flex-direction: row"
        >
          <div style="text-align: left; width: 20%">
            <div style="font-weight: bold; font-size: 20px">
              {{ work.designation }}
            </div>
            <div style="font-size: 16px">
              <div style="font-size: 20px">{{ work.company_name }}</div>
              <div style="font-size: 18px">
                {{
                  calculateDuration(work.start_year, work.end_year) +
                    calculateDurationInYears(work.start_year, work.end_year)
                }}
              </div>
              <div style="font-size: 18px" v-if="work.location_name">
                {{ work.location_name }}
              </div>
            </div>
          </div>
          <div style="text-align: left; padding: 0 5px; width: 80%">
            <div style="font-size: 18px" v-if="work.experience_description">
              {{ work.experience_description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="educations.length > 0" class="content">
      <div class="title-head">
        <span style="border-left: 2px solid #00adee; margin-right: 10px"></span
        ><span>EDUCATION</span>
      </div>
      <div v-for="(work, index) in educations" :key="index">
        <div
          style="margin: 20px 15px !important; display: flex; flex-direction: row"
        >
          <div style="text-align: left; width: 20%">
            <div style="font-weight: bold; font-size: 20px">
              {{ work.degree_name }}
              <span v-if="work.grade" style="">{{ "- " + work.grade }}</span>
            </div>
            <div>
              <div style="font-size: 20px">{{ work.institution_name }}</div>
              <div style="font-size: 18px">
                {{ calculateDuration(work.begin_date, work.end_date) }}
              </div>
              <div style="font-size: 18px">{{ work.major_name }}</div>
            </div>
          </div>
          <div style="text-align: left; padding: 0 5px; width: 80%">
            <div style="font-size: 18px" v-if="work.education_description">
              {{ work.education_description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="skills.length > 0" class="content" align="left">
      <div class="title-head">
        <span style="border-left: 2px solid #00adee; margin-right: 10px"></span
        ><span>SKILL</span>
      </div>
      <div
        style="margin: 10px 15px!important; display: flex; flex-direction: row"
      >
        <div
          style="margin: 5px 0 5px; padding: 0; width: 30%"
          :key="index"
          v-for="(skill, index) in skills"
        >
          <div
            v-bind:style="{ borderColor: getSkillColor(skill.skill_level) }"
            style="border: 1px solid #3d4249; border-radius: 4px; padding: 10px !important;
        margin: 0 2px !important;
        display: flex;
        flex-direction: row;"
          >
            <div>
              <div style="font-size: 18px; font-weight: bold">
                {{ skill.skill_name }}
              </div>
              <div style="font-size: 16px">
                {{ getSkillLevel(skill.skill_level) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="projects.length > 0" class="content">
      <div class="title-head">
        <span style="border-left: 2px solid #00adee; margin-right: 10px"></span
        ><span>PROJECT</span>
      </div>
      <div v-for="(work, index) in projects" :key="index">
        <div
          style="margin: 20px 15px !important; display: flex; flex-direction: row"
        >
          <div style="text-align: left; width: 20%">
            <div style="font-size: 20px; font-weight: bold">
              {{ work.project_name }}
            </div>
            <div style="font-size: 18px">
              <div
                style="text-decoration: underline; font-size: 18px"
                v-if="work.project_url"
              >
                {{ work.project_url }}
              </div>
              <div style="font-size: 18px">
                {{ calculateDuration(work.begin_date, work.end_date) }}
              </div>
              <div style="font-size: 18px">{{ work.major_name }}</div>
            </div>
          </div>
          <div style="text-align: left; width: 80%; padding: 0 5px">
            <div v-if="work.project_description" style="font-size: 18px">
              {{ work.project_description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="languages.length > 0" class="content no-border" align="left">
      <div class="title-head">
        <span style="border-left: 2px solid #00adee; margin-right: 10px"></span
        ><span>LANGUAGE</span>
      </div>
      <div
        style="margin: 20px 15px!important; display: flex; flex-direction: row"
      >
        <div
          style="width: 20%; padding: 0 5px"
          :key="index"
          v-for="(language, index) in languages"
        >
          <div style="display: flex; flex-direction: row">
            <div>
              <div style="font-weight: bold; font-size: 18px;">
                {{ language.language_name }}
              </div>
              <div style="font-size: 16px">
                {{ getLanguageLevel(language.language_level) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="training.length > 0" class="content">
      <div class="title-head">
        <span style="border-left: 2px solid #00adee; margin-right: 10px"></span
        ><span>TRAINING</span>
      </div>
      <div v-for="(work, index) in training" :key="index">
        <div
          style="margin: 20px 15px !important; display: flex; flex-direction: row"
        >
          <div style="text-align: left; width: 20%">
            <div style="font-size: 20px; font-weight: bold">
              {{ work.training_title }}
            </div>
            <div style="font-size: 18px">
              <div style="font-size: 18px">{{ work.institution_name }}</div>
              <div style="font-size: 18px">
                {{ work.training_year }}
                <span>({{ work.training_duration + " Months" }})</span>
              </div>
              <div style="font-size: 18px" v-if="work.location_name">
                {{ work.location_name }}
              </div>
            </div>
          </div>
          <div style="text-align: left; width: 80%; padding: 0 5px">
            <div v-if="work.training_description" style="font-size: 18px">
              {{ work.training_description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CANDIDATE_DETAILS } from "../../../Api/employer_api";
import {SORT_PROFILE, SORT_PROFILE_FORMAT2} from "../../../filters";
export default {
  name: "resume-builder",
  data: function() {
    return {
      candidate: {},
      name: null,
      score: 0,
      location: null,
      educations: [],
      experiences: [],
      skills: [],
      position: [],
      edu_ql: null,
      y_of_ex: null,
      src: null,
      projects: [],
      training: [],
      languages: [],
      cvBank: false,
      timeout: null
    };
  },
  methods: {
    calculateDuration: function(start, end) {
      if (!end) {
        end = "Present";
      }
      return start + " - " + end;
    },
    calculateDurationInYears: function(start, end) {
      let msg = "";
      if (!end) {
        end = new Date().getFullYear();
      }
      let total = end - start;
      if (total === 0) {
        msg = " (Less than a year)";
      } else if (total > 0) {
        let y = " years)";
        if (total === 1) {
          y = " year)";
        }
        msg = " (Over " + total + y;
      } else {
        msg = "Invalid";
      }
      return msg;
    },
    getSkillLevel(level) {
      switch (level) {
        case 1:
          return "Beginner";
        case 2:
          return "Intermediate";
        case 3:
          return "Professional";
        case 4:
          return "Advanced";
        case 5:
          return "Expert";
      }
    },
    getSkillColor(level) {
      switch (level) {
        case 1:
          return "#9c6bff";
        case 2:
          return "#8145ff";
        case 3:
          return "#133aff";
        case 4:
          return "#43a046";
        case 5:
          return "#2e7d31";
      }
    },
    getLanguageLevel(level) {
      switch (level) {
        case 1:
          return "Elementary";
        case 2:
          return "Limited Working";
        case 3:
          return "Professional Working";
        case 4:
          return "Full Professional";
        case 5:
          return "Native/Bilingual";
      }
    }
  },
  beforeDestroy(){
    clearTimeout(self.timeout)
  },
  mounted() {
    const self = this;
    if (self.$route.query.cid) {
      let data = {
        user_id: self.$route.query.cid
      };
      let jobId = undefined;
      if (self.$route.query.job_id) {
        jobId = self.$route.query.job_id;
        self.cvBank = false;
      } else {
        self.cvBank = true;
      }
      if(self.$route.query.score) {
        self.score = self.$route.query.score;
      }
      CANDIDATE_DETAILS(data, jobId)
        .then(function(data) {
          self.candidate = data;
          self.name = self.candidate.user_name || null;
          self.score = self.candidate.score ? self.candidate.score : self.score;
          self.location = self.candidate.location_name || null;
          self.educations = SORT_PROFILE(self.candidate.education, "is_studying") || []
          self.experiences = SORT_PROFILE_FORMAT2(self.candidate.experience, "is_working", [
            "start_year",
            "end_year"
          ]) || [];
          self.skills = self.candidate.skill || [];
          self.edu_ql =
            self.candidate.degree_name +
              " from " +
              self.candidate.institution_name || null;
          self.position =
            self.candidate.title + " at " + self.candidate.company_name || null;
          self.y_of_ex = self.candidate.year_of_exp || 0;
          self.src = self.candidate.image_url;
          self.projects = SORT_PROFILE(self.candidate.projects, "is_studying") || [];
          self.languages = self.candidate.language || [];
          self.training = self.candidate.training.sort(function(a, b) {
            return b.training_year - a.training_year;
          }) || [];
          clearTimeout(self.timeout)
          self.timeout = setTimeout(function() {
            window.print();
          }, 1000);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
          self.$emit("error-fetch");
        });
    }
  }
};
</script>

<style scoped>
.job-title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #050505;
}
.company-name {
  font-size: 16px;
  text-align: left;
}
.title-head {
  font-size: 24px;
  padding: 10px 0;
  text-align: left;
}
.content {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #f0f0f0;
}
.no-border {
  border: 0px;
}
.skill-padding {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.skill-chip {
  border: 1px solid #3d4249;
  border-radius: 4px;
  padding: 10px !important;
  margin: 0 2px !important;
  display: flex;
  flex-direction: row;
}
</style>
