<template>
  <div>
    <div v-if="preLoader" style="height:90vh">
      <loader></loader>
    </div>
    <div v-if="showBar" class="search-page">
      <div class="row justify-content-center" style="padding:0px 20px">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding">
          <search-component
            placeholder="Skill or Experience"
            v-on:search="searchAction"
          ></search-component>
        </div>
      </div>
      <div v-if="!noData && !loading" class="search-results">
        <div :key="changeView" class="row">
          <div
            class="col-sm-12 col-md-12 col-lg-12 col-xl-6 candidate"
            :key="index"
            v-for="(candidate, index) in candidates"
          >
            <applicant-synopsis
              v-bind:candidate="candidate"
              v-bind:subjects="subjects"
              v-bind:cvBank="true"
            ></applicant-synopsis>
          </div>
          <div class="pagination-wrapper">
            <div class="row justify-content-center">
              <v-pagination
                v-if="pageCount > 1"
                v-model="page"
                :length="pageCount"
                total-visible="7"
                @input="pagination"
              ></v-pagination>
            </div>
          </div>
        </div>
      </div>
      <div v-if="loading" class="row no-result">
        <div class="mx-auto my-auto loader"></div>
      </div>
      <div class="row no-result no-padding" v-if="noData && errMsg && !loading">
        <div class="mx-auto my-auto">
          <img
            class="no-result-image"
            src="@/assets/newDesign/no-candidate.svg"
          />
          <div class="no-result-color">
            <b>Sorry {{ errMsg }}</b>
          </div>
        </div>
      </div>
    </div>
    <div class="alert-warning p-5 mr-4 ml-4" v-if="!showBar && !preLoader">
      Sorry you are not eligible to use this feature. Please contact our admin.
    </div>
  </div>
</template>

<script>
import ApplicantSynopsis from "../jobs/applicant-synopsis";
import Loader from "../../global-components/loader"
import {
  CANDIDATE_SEARCH,
  CANDIDATE_SEARCH_VALIDATE
} from "../../../Api/employer_api";
import ClickOutside from "vue-click-outside";
import SearchComponent from "../../global-components/search-component";
import { GET_MESSAGE_SUBJECT } from "../../../Api/common_api";
export default {
  name: "search-candidates",
  components: {
    ApplicantSynopsis,
    SearchComponent,
    Loader
  },
  directives: {
    ClickOutside
  },
  data: function() {
    return {
      preLoader: false,
      showFilter: false,
      hideMe: 0,
      showBar: false,
      page: 1,
      jobCount: 0,
      pageCount: 5,
      noData: true,
      errMsg: "",
      jobs: [],
      jobViewControler: [],
      searchKey: "",
      viewJobProps: {},
      changeView: 0,
      changeJobs: 0,
      pageStart: 0,
      pageLimit: 10,
      filter: {},
      loading: false,
      currentJobIndex: null,
      showChips: false,
      experienceChips: [],
      skillChips: [],
      degreesChips: [],
      institutesChips: [],
      searchDelay: 0,
      subjects: [],
      timeout:null
    };
  },

  methods: {
    clearFilter() {
      const self = this;
      self.showChips = false;
      self.filter = {};
      self.searchAction("", self.filter);
    },
    searchActionTemp: function(key) {
      const self = this;
      self.pageStart = 0;
      self.searchKey = key;
      self.searchAction(key, self.filter);
    },
    searchAction: function(key, filters) {
      const self = this;
      clearTimeout(self.timeout)
      self.searchKey = key.trim();
      if(self.searchKey){
          self.candidates = [];
          self.loading = true;
          let params = {
              q: key,
              offset: self.pageStart
              // limit: self.pageLimit
          };
          CANDIDATE_SEARCH(params, filters)
              .then(function(response) {
                  if (response.status === self.$constants.RESPONSE_CODE.PROCESSING) {
                      self.searchDelay++;
                      if (self.searchDelay < self.$constants.DELAY.SEARCH_RESULT_MAX_DELAY) {
                          self.timeout = setTimeout(()=>{self.searchAction(key, filters)}, self.$constants.DELAY.SEARCH_TIMEOUT);
                      } else {
                          self.searchDelay = 0;
                          self.pageCount = 0;
                          self.loading = false;
                          self.noData = true;
                          self.errMsg = "No result found";
                      }
                  } else {
                      self.searchDelay = 0;
                      if (response.data.count > 0) {
                          self.candidates = response.data.data;
                          self.jobCount = response.data.count;
                          self.pageCount = Math.ceil(self.jobCount / 10);
                          self.noData = false;
                          self.loading = false;
                      } else {
                          self.pageCount = 0;
                          self.loading = false;
                          self.noData = true;
                          self.errMsg = "No result found";
                      }
                      self.changeView++;
                  }
              })
              .catch(function(err) {
                  self.searchDelay = 0;
                  self.noData = true;
                  self.pageCount = 0;
                  self.loading = false;
                  self.errMsg = err.message;
              });
      }
    },
    showFilterItems() {
      const self = this;
      let count = 0;
      if (self.filter) {
        if (self.filter.exp_lvl) {
          self.experienceChips = self.filter.exp_lvl;
          count = 1;
        } else {
          self.experienceChips = [];
        }
        if (self.filter.skills) {
          count = 1;
          self.skillChips = self.filter.skills;
        } else {
          self.skillChips = [];
        }
        if (self.filter.degrees) {
          count = 1;
          self.degreesChips = self.filter.degrees;
        } else {
          self.degreesChips = [];
        }
        if (self.filter.institutes) {
          count = 1;
          self.institutesChips = self.filter.institutes;
        } else {
          self.institutesChips = [];
        }
        if (count === 1) self.showChips = true;
      } else {
        self.showChips = false;
      }
    },
    filteredSearch(filters) {
        const self = this;
        self.pageStart = 0;
        self.filter = filters;
        self.searchAction(self.searchKey, filters);
        self.showFilterItems();
    },
    pagination: function() {
      const self = this;
      self.pageStart = (self.page - 1) * 10;
      self.searchAction(self.searchKey, self.filter);
    },
    isActive(index) {
      const self = this;
      return self.currentJobIndex === index;
    }
  },
  mounted() {
    const self = this;
    self.preLoader = true;
    CANDIDATE_SEARCH_VALIDATE()
      .then(function() {
        self.preLoader = false;
        self.showBar = true;
        GET_MESSAGE_SUBJECT()
          .then(function(data) {
            self.subjects = data;
          })
          .catch(function() {
            self.subjects = [];
          });
      })
      .catch(function() {
        self.preLoader = false;
        self.showBar = false;
      });
  },
  beforeDestroy(){
    clearTimeout(this.timeout)
  },
};
</script>

<style scoped>
.search-page {
  position: relative;
  height: 90vh;
}
.filter-items {
  margin-top: 40px !important;
}
.chips {
  /*background-color: #05344c;*/
  color: #05344c;
  padding: 2px 10px;
  margin: 1px 2px;
  border: 1px solid #11998e;
  border-radius: 50px;
}
.search-top {
  /*background-color: #ffffff;*/
  padding-top: 40px;
}
.search-container {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
  border: 1px solid #05344c;
  /*box-shadow: 1px 3px 2px #cccccc !important;*/
  box-shadow: none !important;
}
.searchInput {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px 15px;
}
.search-button {
  padding: 0;
}
.filter-button {
  font-size: 16px;
  height: 100%;
  width: 120px;
  padding: 12px 15px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 1px 3px 2px #cccccc !important;
  float: right;
  margin-right: 10%;
}
.filter-button-wrapper {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0;
}
.filter-ico {
  padding: 0 5px 0 0;
}
.btn-find-job {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #ffffff !important;
  background-color: var(--button-color);
  border-radius: 0 5px 5px 0;
  /*box-shadow: 1px 3px 2px #cccccc !important;*/
  box-shadow: none !important;
  text-align: center;
  padding-right: 20px;
}
.search-results {
  margin: 20px 0 !important;
  height: 75vh;
  overflow-y: auto;
}
.candidate {
  padding: 10px;
}
.pagination-wrapper {
  width: 100%;
  outline: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  border-radius: 0 0 5px 5px;
  background-color: #ffffff;
}
.no-result {
  margin: 25px !important;
  height: 80vh;
  /*border: 1px solid #fc3832;*/
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
}
.no-result-color {
  margin-top: 10px;
  font-size: 24px;
  color: var(--button-delete-color);
}
.no-result-image {
  width: 300px;
}
.header-text {
  position: absolute;
  background-color: #efefef;
  font-size: 16px;
  padding: 15px;
  top: 0;
  z-index: 2;
  width: 100%;
  color: #05344c;
  border-bottom: 1px solid #efefef;
  border-radius: 5px 5px 0 0;
}
.job-list-wrapper {
  padding: 54px 0 60px 0;
  height: 80vh;
  overflow: scroll;
  background-color: white;
  width: 100%;
  border-radius: 10px;
}
.job-list {
  background-color: #ffffff;
}
.job {
  width: 100%;
}
.job:hover {
  cursor: pointer;
}
.activeJob {
  cursor: pointer;
  background-color: var(--synop-select-color);
  border-left: 2px solid var(--link-color);
}
.job-preview-wrapper {
  height: 80vh;
  padding: 0 0 0 15px;
}
.job-preview {
  height: 100%;
  background-color: white;
  overflow: auto;
}
@media (max-width: 600px) {
  .search-page {
    height: 80vh;
    padding-top: 20px;
  }
}
</style>
