<template>
  <div class="basic-info">
    <v-dialog v-model="nameChange" width="400px">
      <div class="nameChangeModal">
        <font style="font-size:1.6rem;font-weight:bold">Change your name</font>
        <v-text-field 
          label="Your name" 
          v-model="namefield"
        > 
        </v-text-field>
        <div class="row" style="margin-top:2rem !important">
          <div class="btn btn-save" @click="changeName">Save</div>
          <div class="btn btn-outline" style="margin-left:2rem" @click="nameChange=false">Cancel</div>
        </div>
      </div>
    </v-dialog>
    <div class="basic-info-content" id="profile">
      <div class="top-section">
        <div
          class="profileImage absolute-center-row"
          @click="changeProfilePicture"
        >
          <div class="ChangeImageOverlay absolute-center-row">
            <div class="camera absolute-center-row">
              <CustomIcon name="camera" genericColor />
            </div>
          </div>
          <img style="width: 100%; height: auto" :src="userImage" />
        </div>
        <div class="row align-items-center">
          <div class="row info-text name hvr-name">{{ username }}</div>
          <div v-if="!edit_status" class="name-edit" @click="nameChange = true">
            <CustomIcon name="edit" genericColor />
          </div>
        </div>

        <v-progress-linear
          v-model="profileCompletionStatus.percentages"
          background-color="#001844"
          color="#008e50"
          height="5"
        ></v-progress-linear>
        <div style="color: white; font-size: 1.2rem">
          Profile completion: {{ profileCompletionStatus.percentages }}%
        </div>
      </div>
      <!-- <div class="info-item">
        <div class="row lbl-text">Name</div>
        <div class="row info-text name">{{ user.name }}</div>
      </div> -->
      <div class="info-item hvr-status">
        <div class="row lbl-text">Profile Status</div>
        <div v-if="!edit_status" class="info-text status">
          {{ profile_status[status_number] }}
        </div>
        <div
          v-if="!edit_status"
          @click="edit_profile_status"
          style="top: 1.5rem; right: 1rem"
          class="icon-class icon-class-edit hvr-status-edit"
        >
          <CustomIcon name="edit" genericColor />
        </div>
        <div
          style="position: absolute; top: 3.3rem; right: 0"
          class="row"
          v-if="edit_status"
        >
          <div class="icon-class" @click="saveStatus">
            <CustomIcon name="tick" genericColor />
          </div>
          <div class="icon-class" @click="edit_status = false">
            <CustomIcon name="close-cross" genericColor />
          </div>
        </div>
        <div
          v-if="edit_status"
          style="width: calc(100% - 7rem); margin-top: 1rem"
        >
          <v-select
            :items="profile_status"
            v-model="selected"
            label="Solo field"
            solo
            outline
          ></v-select>
        </div>
      </div>
      <div v-if="!editPhone" class="info-item editableItems hvr-phone">
        <div class="row lbl-text">Phone</div>
        <div class="row info-text">
          <div class="editableItemsDiv">
            {{ displayPhone || "N/A" }}
            <div
              class="icon-class icon-class-edit hvr-phone-edit"
              @click="onClickEditPhone"
            >
              <CustomIcon name="edit" genericColor />
            </div>
          </div>
        </div>
      </div>
      <div v-else class="info-item editableItems">
        <div class="row" style="max-width: 60rem">
          <v-text-field
            type="text"
            v-model="phone"
            label="Phone"
            :error-messages="phoneErrors"
          ></v-text-field>
          <div style="position: absolute; top: 1rem; right: 0" class="row">
            <div class="icon-class" @click="savePhone">
              <CustomIcon name="tick" genericColor />
            </div>
            <div class="icon-class" @click="editPhone = false">
              <CustomIcon name="close-cross" genericColor />
            </div>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="row lbl-text">Email</div>
        <div class="row info-text email">{{ user.email }}</div>
      </div>

      <div v-if="!editLocation" class="info-item editableItems hvr-location">
        <div class="row lbl-text">Location</div>
        <div class="row info-text">
          <div class="editableItemsDiv">
            {{ displayLocation || "N/A" }}
            <div
              @click="onClickEditLocation"
              style="margin-left: 5rem"
              class="icon-class icon-class-edit hvr-location-edit"
            >
              <CustomIcon name="edit" genericColor />
            </div>
          </div>
        </div>
      </div>
      <div v-else class="info-item editableItems">
        <div class="row" style="max-width: 60rem">
          <v-text-field
            type="text"
            v-model="location"
            label="Location"
            :error-messages="locationLengthErrors"
          ></v-text-field>
          <div style="position: absolute; top: 1rem; right: 0" class="row">
            <div class="icon-class" @click="saveLocation">
              <CustomIcon name="tick" genericColor />
            </div>
            <div class="icon-class" @click="editLocation = false">
              <CustomIcon name="close-cross" genericColor />
            </div>
          </div>
        </div>
      </div>
      <div v-if="!editLinkedin" class="info-item editableItems hvr-linkedin">
        <div class="row lbl-text">Linkedin Profile</div>
        <div class="row info-text">
          <div class="editableItemsDiv">
            <a
              v-if="displayLinkedin"
              style="text-decoration: underline; color: var(--link-color)"
              @click="openProjectUrl"
              >{{ displayLinkedin }}</a
            >
            <span v-else>N/A</span>
            <div
              @click="onClickEditLinkedIn"
              style="margin-left: 5rem"
              class="icon-class icon-class-edit hvr-linkedin-edit"
            >
              <CustomIcon name="edit" genericColor />
            </div>
          </div>
        </div>
      </div>
      <div v-else class="info-item editableItems">
        <div class="row" style="max-width: 60rem">
          <v-text-field
            type="text"
            v-model="linkedin"
            label="Linkedin Profile"
            :error-messages="LinkedInErrors"
            hint="https://www.linkedin.com/in/your-username"
            persistent-hint
          ></v-text-field>
          <div style="position: absolute; top: 1rem; right: 0" class="row">
            <div class="icon-class" @click="saveLinkedin">
              <CustomIcon name="tick" genericColor />
            </div>
            <div class="icon-class" @click="editLinkedin = false">
              <CustomIcon name="close-cross" genericColor />
            </div>
          </div>
        </div>
      </div>
      <div class="info-item editableItems hvr-gender">
        <div class="row lbl-text">Gender</div>
        <div v-if="!editGender" class="row info-text">
          <div class="editableItemsDiv">
            {{
              displayGender.charAt(0).toUpperCase() +
                displayGender.slice(1).toLowerCase() || "N/A"
            }}
            <div
              @click="onClickEditGender"
              style="margin-left: 5rem"
              class="icon-class icon-class-edit hvr-gender-edit"
            >
              <CustomIcon name="edit" genericColor />
            </div>
          </div>
        </div>
        <div class="row editableItemsDiv" v-else>
          <div
            style="margin-right: 2rem; cursor: pointer"
            @click="gender = 'male'"
          >
            <v-icon
              size="14"
              class="radio-icon"
              v-bind:class="{ active: checkGender('male') }"
              >mdi-gender-male</v-icon
            >
            <span style="font-size: 1.8rem">Male</span>
          </div>
          <div
            style="margin-right: 2rem; cursor: pointer"
            @click="gender = 'female'"
          >
            <v-icon
              size="14"
              class="radio-icon"
              v-bind:class="{ active: checkGender('female') }"
              >mdi-gender-female</v-icon
            >
            <span style="font-size: 1.8rem">Female</span>
          </div>
          <div
            style="
              position: absolute;
              top: 0;
              right: 0;
              display: flex;
              flex-direction: row;
            "
          >
            <div class="icon-class" @click="saveGender">
              <CustomIcon name="tick" genericColor />
            </div>
            <div class="icon-class" @click="editGender = false">
              <CustomIcon name="close-cross" genericColor />
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem">
          <v-icon color="#fff">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
    <div :key="changePic" v-if="changePicture">
      <change-image
        v-bind:image="userImage"
        v-on:update-picture="updateProfilePicture"
      ></change-image>
    </div>
  </div>
</template>

<script>
import * as SYSTEM_CONSTANT from "../../../../globalConstants";
import * as FILTERS from "../../../../filters";
import { validationMixin } from "vuelidate";
import { maxLength, helpers } from "vuelidate/lib/validators";
import {
  GET_USER_DEMOGRAPHIC_INFO,
  SAVE_USER_DEMOGRAPHIC_INFO,
} from "../../../../Api/candidate_api";
import ChangeImage from "../../../global-components/change-image";
import { IMAGE } from "../../../../Api/common_api";
import CustomIcon from "../../../global-components/customIcon";
import { GET_PROFILE_COMPLETION_STATUS } from "../../../../Api/candidate_api";
import ChangePassword from "../../settings/change-password.vue";
const phone_validator = helpers.regex(
  "phone_validator",
  /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/
);
import Store from "../../../../store/store"
export default {
  name: "basic-info",
  mixins: [validationMixin],
  validations: {
    location: {
      maxLength: maxLength(300),
    },
    phone: {
      phone_validator,
    },
    linkedin: {
      isValid() {
        return (
          this.linkedin.includes("https://www.linkedin.com/in/") ||
          this.linkedin === ""
        );
      },
      maxLength: maxLength(100),
    },
  },
  components: {
    ChangeImage,
    CustomIcon,
  },
  data: function () {
    return {
      profile_status: [
        "Actively searching",
        "Casually searching",
        "Not searching, but open to inquiry",
        "Not searching",
      ],
      editLocation: false,
      editGender: false,
      editPhone: false,
      editLinkedin: false,
      phone: "",
      displayPhone: "",
      location: "",
      displayLocation: "",
      gender: "",
      displayGender: "",
      displayLinkedin: "",
      linkedin: "",
      user: SYSTEM_CONSTANT.getOwnerInfo(),
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      status_number: 1,
      edit_status: false,
      selected: "",
      changePicture: false,
      changePic: 0,
      userImage: require("@/assets/male_user.svg"),
      profileCompletionStatus: {},
      nameChange: false,
      namefield:Store.getters.getName
    };
  },
  methods: {
    openProjectUrl() {
      const self = this;
      if (
        self.displayLinkedin.includes("https://") ||
        self.displayLinkedin.includes("http://")
      ) {
        window.open(self.displayLinkedin, "_blank");
      } else {
        window.open("https://" + self.displayLinkedin, "_blank");
      }
    },
    edit_profile_status: function () {
      this.edit_status = true;
      this.selected = this.profile_status[this.status_number];
    },
    checkGender(key) {
      const self = this;
      return key === self.gender;
    },
    changeName() {
      const self = this;
      let data = {
        user_name: self.namefield,
      };
      SAVE_USER_DEMOGRAPHIC_INFO(data)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.SUCCESS;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.$store.commit("changeUserName",self.namefield);
          // let temp=self.$constants.getOwnerInfo()
          let temp =Object.assign(self.$constants.getOwnerInfo(),{name:self.namefield})
          localStorage.setItem("user",JSON.stringify(temp))
          self.nameChange=false
          self.getUserDemographicInfo();
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    onClickEditGender() {
      const self = this;
      self.gender = self.displayGender;
      self.editGender = true;
    },
    onClickEditPhone: function () {
      const self = this;
      self.phone = self.displayPhone;
      self.editPhone = true;
    },
    onClickEditLocation: function () {
      const self = this;
      self.location = self.displayLocation;
      self.editLocation = true;
    },
    onClickEditLinkedIn: function () {
      const self = this;
      self.linkedin = self.displayLinkedin;
      self.editLinkedin = true;
    },
    onClickCancel: function () {
      const self = this;
      self.edit = false;
    },
    getUserDemographicInfo: function () {
      const self = this;
      GET_USER_DEMOGRAPHIC_INFO()
        .then(function onSuccess(data) {
          if (data.location_name) {
            self.location = data.location_name;
            self.displayLocation = data.location_name;
          } else {
            self.location = "";
            self.displayLocation = "";
          }
          if (data.gender) {
            self.gender = data.gender;
            self.displayGender = data.gender;
          } else {
            self.gender = "";
            self.displayGender = "";
          }
          if (data.phone) {
            self.phone = data.phone;
            self.displayPhone = data.phone;
          } else {
            self.phone = "";
            self.displayPhone = "";
          }
          if (data.profile_status) {
            self.status_number = data.profile_status - 1;
            self.edit_status = false;
          }
          if (data.linkedin) {
            self.linkedin = data.linkedin;
            self.displayLinkedin = data.linkedin;
          } else {
            self.linkedin = "";
            self.displayLinkedin = "";
          }
        })
        .catch(function onError(error) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    saveGender() {
      const self = this;
      self.$v.$touch();
      let data = {
        gender: self.gender,
      };
      SAVE_USER_DEMOGRAPHIC_INFO(data)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.SUCCESS;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.editGender = false;
          self.getUserDemographicInfo();
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    savePhone: function () {
      const self = this;
      self.$v.$touch();
      if (!self.$v.phone.$anyError) {
        let data = {
          phone: FILTERS.REMOVE_WHITE_SPACES(self.phone),
        };
        SAVE_USER_DEMOGRAPHIC_INFO(data)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.SUCCESS;
            self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.editPhone = false;
            let user = JSON.parse(localStorage.getItem("user"));
            user.phone = self.phone;
            localStorage.setItem("user", JSON.stringify(user));
            self.getUserDemographicInfo();
            self.getUserDemographicInfo();
          })
          .catch(function (error) {
            self.snackbar = true;
            self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
            self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
            self.snackMessage = error.message;
          });
      }
    },
    saveLocation: function () {
      const self = this;
      self.$v.$touch();
      if (!self.$v.location.$anyError) {
        let data = {
          location: FILTERS.REMOVE_WHITE_SPACES(self.location),
        };
        SAVE_USER_DEMOGRAPHIC_INFO(data)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.SUCCESS;
            self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.editLocation = false;
            self.getUserDemographicInfo();
          })
          .catch(function (error) {
            self.snackbar = true;
            self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
            self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
            self.snackMessage = error.message;
          });
      }
    },
    saveLinkedin: function () {
      const self = this;
      self.$v.$touch();
      if (!self.$v.linkedin.$anyError) {
        let data = {
          linkedin: FILTERS.REMOVE_WHITE_SPACES(self.linkedin),
        };
        SAVE_USER_DEMOGRAPHIC_INFO(data)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.editLinkedin = false;
            self.getUserDemographicInfo();
          })
          .catch(function (error) {
            self.snackbar = true;
            self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
            self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
            self.snackMessage = error.message;
          });
      }
    },
    saveStatus: function () {
      const self = this;
      self.$v.$touch();
      let data = {
        profile_status: self.profile_status.indexOf(self.selected) + 1,
      };
      SAVE_USER_DEMOGRAPHIC_INFO(data)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.SUCCESS;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.editLocation = false;
          self.$store.commit("changeStatus",self.profile_status.indexOf(self.selected) + 1)
          let user = JSON.parse(localStorage.getItem("user"));
          user.profile_status = self.profile_status.indexOf(self.selected) + 1;
          localStorage.setItem("user", JSON.stringify(user));
          self.getUserDemographicInfo();
        })
        .catch(function (error) {
          self.snackbar = true;
          self.snackIcon = SYSTEM_CONSTANT.SNACKBAR_ICON.ERROR;
          self.bgColor = SYSTEM_CONSTANT.SNACKBAR_COLOR.ERROR;
          self.snackMessage = error.message;
        });
    },
    getProfileCompletionStatus() {
      const self = this;
      GET_PROFILE_COMPLETION_STATUS()
        .then(function (data) {
          self.profileCompletionStatus = data;
          let percentages = 0;
          if (self.profileCompletionStatus.education) {
            percentages += 30;
          }
          if (self.profileCompletionStatus.experience) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.skill) {
            percentages += 30;
          }
          if (self.profileCompletionStatus.image) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.resume) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.phone) {
            percentages += 10;
          }
          self.profileCompletionStatus.percentages = percentages;
          if (self.profileCompletionStatus.percentages < 30) {
            self.profileCompletionStatus.color =
              self.$constants.SNACKBAR_COLOR.ERROR_ALT;
          } else if (self.profileCompletionStatus.percentages < 60) {
            self.profileCompletionStatus.color =
              self.$constants.SNACKBAR_COLOR.WARNING_ALT;
          }
          const comp = JSON.stringify(self.profileCompletionStatus);
          localStorage.setItem("completeness", comp);
        })
        .catch(function () {
          self.profileCompletionStatus = {};
        });
    },
    changeProfilePicture: function () {
      const self = this;
      self.updateProfilePicture("open");
    },
    updateProfilePicture(open) {
      const self = this;
      clearTimeout(self.timeout);
      let params = {
        url_only: 1,
      };
      IMAGE(params).then(function (data) {
        self.userImage = data.image_url
          ? data.image_url
          : require("@/assets/male_user.svg");
        self.timeout = setTimeout(function () {
          if (open === "open") {
            self.changePic++;
            self.changePicture = true;
          }
        }, self.$constants.DELAY.IMAGE_FETCH_DELAY);
      });
    },
  },
  computed: {
    locationLengthErrors() {
      const errors = [];
      if (!this.$v.location.$dirty) return errors;
      !this.$v.location.maxLength &&
        errors.push(SYSTEM_CONSTANT.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.phone_validator &&
        errors.push(SYSTEM_CONSTANT.REQUIRED_MESSAGE.PHONE_INVALID);
      return errors;
    },
    LinkedInErrors() {
      const errors = [];
      if (!this.$v.linkedin.$dirty) return errors;
      !this.$v.linkedin.isValid && errors.push("Invalid URL");
      !this.$v.linkedin.maxLength &&
        errors.push(SYSTEM_CONSTANT.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    username() {
      return Store.getters.getName;
    },
  },
  mounted: function () {
    const self = this;
    self.getUserDemographicInfo();
    self.updateProfilePicture();
    self.getProfileCompletionStatus();
  },
};
</script>

<style scoped>
.top-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  padding: 1rem;
  background-image: linear-gradient(to left, #29abe2, #4e4098);
}
.profileImage {
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  margin-bottom: 1.9rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.name-edit {
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}
.ChangeImageOverlay {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: black;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}
.camera {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  background-color: black;
  color: white;
}
.profileImage:hover .ChangeImageOverlay {
  display: flex;
  transition: 0.5s;
}

.icon-class {
  color: black;
  border-radius: 50%;
  font-size: 1.5rem;
  height: 2.7rem;
  width: 2.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
}
.icon-class-edit {
  position: absolute;
  top: 0;
  right: 0;
}
.icon-class:hover {
  transition: 0.4s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}
.nameChangeModal {
  width: 100%;
  background-color: white;
  padding: 4rem;
  text-align: left;
  font-size: bold;
  font-weight: 1.6rem;
}
.icon-close {
  background-color: white;
  color: black;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
}
.icon-close:hover {
  color: #ffffff;
  background-color: var(--button-delete-color);
}
.icon-check {
  background-color: white;
  color: black;
  padding: 0.3rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  height: 2.7rem;
  width: 2.7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-check:hover {
  background-color: var(--button-color);
  color: #ffffff;
}
.radio-icon {
  background-color: #bbbbbb;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.3rem;
  margin-right: 0.5rem;
}
.active {
  background-color: var(--button-color);
  color: #ffffff !important;
}
.basic-info {
  border-radius: 0.8rem;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
}
/* .basic-info-content {
  padding: 1rem;
 
} */
.info-item {
  padding: 1rem;
  text-align: left;
  border-top: 1px solid #d9d9d9;
  position: relative;
}
.editableItems {
}
.editableItemsDiv {
  width: 100%;
  position: relative;
  padding-right: 2rem;
}
.hvr-name {
  cursor: pointer;
}
/* .hvr-name-edit {
  visibility: hidden;
  transition: 0.5s;
} */
.hvr-status-edit {
  visibility: hidden;
  transition: 0.5s;
}
.hvr-phone-edit {
  visibility: hidden;
  transition: 0.5s;
}
.hvr-location-edit {
  visibility: hidden;
  transition: 0.5s;
}
.hvr-linkedin-edit {
  visibility: hidden;
  transition: 0.5s;
}

.hvr-gender-edit {
  visibility: hidden;
  transition: 0.5s;
}
.hvr-name:hover .name-edit {
  display: block;
  transition: 0.5s;
}
.hvr-status:hover .hvr-status-edit {
  visibility: visible;
  transition: 0.5s;
}
.hvr-phone:hover .hvr-phone-edit {
  visibility: visible;
  transition: 0.5s;
}
.hvr-location:hover .hvr-location-edit {
  visibility: visible;
  transition: 0.5s;
}
.hvr-linkedin:hover .hvr-linkedin-edit {
  visibility: visible;
  transition: 0.5s;
}
.hvr-gender:hover .hvr-gender-edit {
  visibility: visible;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .editableItemsDiv {
    width: 100%;
    position: relative;
  }
  .basic-info {
    padding: none;
  }
}
.lbl-text {
  font-size: 1.4rem;
  color: #989fa6;
}
.info-text {
  font-size: 1.4rem;
}
.name {
  font-size: 1.6rem !important;
  font-weight: bold;
  color: white;
}
.v-input {
  text-align: right !important;
  font-size: 1.4rem !important;
}
</style>
