<template>
  <div v-bind:class="{ backC: changeBack }" class="ex-edit">
    <div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 left-col-name">
          <v-combobox
            v-model="company"
            :search-input.sync="companyQuery"
            :items="companies"
            :loading="compLoading"
            label="Company Name"
            item-text="company_name"
            :error-messages="companyErrors"
            append-icon="bopon"
           
            return-object
            @change="validateCompany"
          ></v-combobox>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 right-col-position">
          <v-text-field
            v-model="position"
            label="Position"
            :error-messages="positionErrors"
          
          ></v-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-text-field
            v-model="location"
            label="Location"
         
            :error-messages="locationLengthErrors"
          ></v-text-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <div class="row">
            <div class="col-lg-4 col-xl-3 mini-col-padding">
              <v-autocomplete
                v-model="start_month"
                :items="months"
                label="Start Month"
               
                @blur="changeStartMonthValue"
              ></v-autocomplete>
            </div>
            <div class="col-lg-4 col-xl-3 mini-col-padding">
              <v-autocomplete
                validate-on-blur
                v-model="start_year"
                :items="years"
                label="Start Year"
                :error-messages="startYearErrors"
             
              ></v-autocomplete>
            </div>
            <div class="col-lg-4 col-xl-4 no-padding">
              <div class="row">
                <span class="check-box">
                  <v-checkbox v-model="isCurrent" :ripple="false"></v-checkbox>
                </span>
                <span class="current_work_label">I currently work here</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <div class="row">
            <div class="col-lg-4 col-xl-3 mini-col-padding">
              <v-autocomplete
                v-model="end_month"
                :items="months"
                label="End Month"
                :disabled="isCurrent"
                @blur="changeEndMonthValue"
                prepend-inner-icon="mdi-calendar"
                :error-messages="!isCurrent ?endMonthErrors:null"
              ></v-autocomplete>
            </div>
            <div class="col-lg-4 col-xl-3 mini-col-padding">
              <v-autocomplete
                v-model="end_year"
                :items="years"
                label="End Year"
                :error-messages="!isCurrent ? endYearErrors : null"
                :disabled="isCurrent"
                prepend-inner-icon="mdi-calendar"
              ></v-autocomplete>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 2.0rem 0">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-textarea
            no-resize
            outline
            label="Description (please add a description to increase your chance to get hired)"
            v-model="work_description"
            :error-messages="descriptionLengthErrors"
          
          ></v-textarea>
          <div class="btn-left-padding">
            <span class="btn-padding-btwn">
              <button @click="onSave" class="btn btn-save">Save</button>
            </span>
            <button @click="$emit('cancel-exp', 'parent')" class="btn btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, maxLength } from "vuelidate/lib/validators";
import * as SYSTEM_CONST from "../../../../globalConstants";
import * as FILTERS from "../../../../filters";
import { GET_YEARS } from "../../../../globalFunctions";
import { GET_AUTO_SUGGEST } from "../../../../Api/common_api";
export default {
  name: "experience-single-edit",
  mixins: [validationMixin],
  validations: {
    start_year: { required },
    end_year: {
      required,
      greaterThanStartYear: function() {
        return this.end_year >= this.start_year;
      }
    },
    end_month: {
      isMonthGreater() {
         return !((this.end_year === this.start_year) && (this.getMonth(this.start_month) > this.getMonth(this.end_month)))
      }
    },
    company: {
      required,
      isLengthInBound() {
        let val = this.company;
        if (val === null) return false;
        if (typeof val === "object") {
          return true;
        } else {
          return val.trim().length >= 1 && val.trim().length < 256;
        }
      }
    },
    position: {
      required,
      isLengthInBound() {
        let val = this.position;
        if (val === null) return false;
        return val.trim().length > 1 && val.trim().length < 127;
      }
    },
    work_description: { maxLength: maxLength(4095) },
    location: {
      maxLength: maxLength(300)
    }
  },
  props: {
    job: Object,
    changeBack: Boolean
  },
  data: function() {
    return {
      company_name: "",
      company_id: "",
      company: "",
      companyQuery: "",
      companies: [],
      compLoading: false,
      position: "",
      location: "",
      start_month: "",
      start_year: "",
      end_month: "",
      end_year: "",
      work_description: "",
      isCurrent: false,
      months: SYSTEM_CONST.MONTHS,
      years: GET_YEARS()
    };
  },
  methods: {
    validateCompany: function() {
      const self = this;
      if (self.company !== null) {
        if (typeof self.company === "string") {
          self.company_name = self.company;
          self.company_id = null;
          if (self.companies.length > 0) {
            let i;
            for (i = 0; i < self.companies.length; i++) {
              if (
                self.companies[i].company_name.toLowerCase() ===
                FILTERS.REMOVE_WHITE_SPACES(self.company.toLowerCase())
              ) {
                self.company_id = self.companies[i].company_id;
                self.company_name = self.companies[i].company_name;
                break;
              }
            }
          }
        } else {
          self.company_name = self.company.company_name;
          self.company_id = self.company.company_id;
        }
      }
    },
    onSave: function() {
      const self = this;
      self.$v.$touch();
      if (
        typeof self.company === "string" &&
        self.company !== "" &&
        self.company_name !== self.company
      ) {
        self.validateCompany();
      }
      if (
        !self.$v.start_year.$anyError &&
        !self.$v.position.$anyError &&
        !self.$v.company.$anyError &&
        !self.$v.work_description.$anyError &&
        !self.$v.location.$anyError &&
              !self.$v.end_month.$anyError
      ) {
        let work = {};
        if (self.job) {
          work.attrib_id = self.job.attrib_id;
        }
        work.company_name = self.company_name;
        if (self.company_id) {
          work.company_id = self.company_id;
        }
        work.start_year = self.start_year;
        work.is_working = self.isCurrent ? 1 : 0;
        work.designation = FILTERS.REMOVE_WHITE_SPACES(self.position) || "";
        work.experience_description =
          FILTERS.REMOVE_WHITE_SPACES(self.work_description) || "";
        work.location_name = FILTERS.REMOVE_WHITE_SPACES(self.location) || "";
        work.start_month = self.getMonth(self.start_month) || 0;
        if (!self.isCurrent) {
          if (!self.$v.end_year.$anyError) {
            work.end_year = self.end_year;
            work.end_month = self.getMonth(self.end_month) || 0;
            if (!work.attrib_id && work.end_month === "") {
              delete work.end_month;
            }
            if (work.end_month === 0) {
              delete work.end_month;
            }
            this.$emit("save-exp", work);
          }
        } else {
          this.$emit("save-exp", work);
        }
      }
    },
    changeStartMonthValue(event) {
      const self = this;
      if (event.type === "blur" && event.target.value === "") {
        self.start_month = "";
      }
    },
    changeEndMonthValue(event) {
      const self = this;
      if (event.type === "blur" && event.target.value === "") {
        self.start_month = "";
      }
    },
    getMonth: function(month) {
      let i = 0;
      const self = this;
      for (; i < 12; i++) {
        if (self.months[i] === month) {
          return i + 1;
        }
      }
    },
    queryCompany: function(query) {
      const self = this;
      self.compLoading = true;
      GET_AUTO_SUGGEST(query, SYSTEM_CONST.QUERY_ACTION.COMPANY)
        .then(function(data) {
          self.compLoading = false;
          self.companies = data;
        })
        .catch(function() {
          self.compLoading = false;
          // alert(err);
        });
    }
  },
  watch: {
    isCurrent() {
      this.end_month = "";
      this.end_year = "";
    },
    companyQuery(val) {
      if (val) {
        if (this.company === null) {
          this.company = val;
        } else if (
          typeof this.company === "object" &&
          val !== this.company.company_name
        ) {
          this.company = val;
        }
        this.queryCompany(val);
      }
    }
  },
  computed: {
    companyErrors() {
      const errors = [];
      if (!this.$v.company.$dirty) return errors;
      !this.$v.company.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.company.isLengthInBound &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.VARIABLE_LENGHT(1,255));
      return errors;
    },
    positionErrors() {
      const errors = [];
      if (!this.$v.position.$dirty) return errors;
      !this.$v.position.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.position.isLengthInBound &&
        errors.push('Length must be between 1 to 127 characters');
      return errors;
    },
    endMonthErrors(){
      const errors = [];
      if (!this.$v.end_month.$dirty) return errors;
      !this.$v.end_month.isMonthGreater && errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.END_MONTH)
      return errors;
    },
    startYearErrors() {
      const errors = [];
      if (!this.$v.start_year.$dirty) return errors;
      !this.$v.start_year.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    endYearErrors() {
      const errors = [];
      if (!this.$v.end_year.$dirty) return errors;
      !this.$v.end_year.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.end_year.greaterThanStartYear &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.END_YEAR);
      return errors;
    },
    descriptionLengthErrors() {
      const errors = [];
      if (!this.$v.work_description.$dirty) return errors;
      !this.$v.work_description.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    locationLengthErrors() {
      const errors = [];
      if (!this.$v.location.$dirty) return errors;
      !this.$v.location.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    }
  },
  mounted: function() {
    const self = this;
    if (self.job) {
      self.company_name = self.job.company_name;
      self.company_id = self.job.company_id;
      self.company = {
        company_name: self.company_name,
        company_id: self.company_id
      };
      self.position = self.job.designation || "";
      self.location = self.job.location_name || "";
      self.start_year = self.job.start_year;
      if (self.job.start_month && self.job.start_month === 0) {
        self.start_month = "";
      } else {
        self.start_month = self.months[self.job.start_month - 1] || "";
      }
      self.isCurrent = !!self.job.is_working;
      self.end_year = self.job.end_year || "";
      if (self.job.end_month && self.job.end_month === 0) {
        self.end_month = "";
      } else {
        self.end_month = self.months[self.job.end_month - 1] || "";
      }
      self.work_description = self.job.experience_description || "";
    }
  }
};
</script>

<style scoped>
.backC {
  background-color: rgba(5, 52, 76, 0.01);
  margin: 2rem 0 !important;
  border-radius: 0.5rem;
}
.ex-edit {
  padding: 2rem;
}
.left-col-name {
  padding: 0 3% 0 0;
}
.right-col-position {
  padding: 0 0 0 3%;
}
.mini-col-padding {
  padding: 0 5% 0 0;
}
.btn-left-padding {
  text-align: right;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn-padding-btwn {
  padding: 0 1rem 0 0;
  
}
.check-box {
  padding-left: 2rem;
  color: #3d4249;
}
.current_work_label {
  margin-left: -0.4rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  color: #3d4249;
}
.v-input {
  font-size: 1.4rem !important;
  text-align: right !important;
}
@media (max-width: 600px) {
  .left-col-name {
    padding: 0rem;
  }
  .right-col-position {
    padding: 0rem;
  }
  .current_work_label {
    margin-left: -0.4rem;
    padding-top: 2rem;
    font-size: 1.4rem;
    color: #3d4249;
  }
  .mini-col-padding {
    padding: 0rem;
  }
  .check-box {
    padding-left: 0rem;
  }
}
</style>
