<template>
  <div class="plan-div">
    <div v-if="activePlan && !assignPlan">
      <div class="ttl">
        Current Plan
      </div>
      <div class="row plan">
        <div class="col-4">
          <div class="plan-item name">Name: {{ activePlan.plan_name }}</div>
          <div class="plan-item date">
            Activation date: {{ DATE_FORMAT(activePlan.plan_begin_date) }}
          </div>
          <div class="plan-item date">
            Expiration date: {{ DATE_FORMAT(activePlan.plan_end_date) }}
          </div>
        </div>
        <div class="col-4">
          <div
            v-if="!free"
            style="padding: 0.5rem"
            :key="index"
            v-for="(feature, index) in activeFeatures"
          >
            <div>{{ feature.consumed }}</div>
            <div>{{ feature.remaining }}</div>
            <div>{{ feature.total }}</div>
          </div>
        </div>
        <div class="col-4">
          <div v-if="!finalSubmit">
            <div class="plan-item status">
              Payment status:
              <span
                style="border: 0.2rem solid #0766ff; padding: 0.2rem 1rem; border-radius: 0.4rem"
                ><b>{{ PAYMENT_STATUS[activePlan.payment_status] }}</b></span
              >
            </div>
            <div v-if="showUpdate" class="plan-item button">
              <button @click="getPlans" class="btn btn-save">
                Update Plan
              </button>
            </div>
          </div>
          <div v-else class="row">
            <div class="update">
              Update {{ activePlan.plan_name }} to {{ updatedPlan.plan_name }}?
            </div>
            <span
              @click="updatePlan"
              style="margin-left: 3rem"
              class="icon-class-save"
              >Yes</span
            >
            <span
              @click="closePlans"
              style="margin-left: 1rem"
              class="icon-class-reject"
              >No</span
            >
          </div>
        </div>
      </div>
      <div v-if="requested_plan" class="ttl" style="margin-top: 2rem">
        Requested Plan
      </div>
      <div v-if="requested_plan" class="req">
        <plan-template
          v-bind:index="0"
          v-bind:plan-obj="requested_plan"
          v-bind:hide-edit="true"
        ></plan-template>
      </div>
    </div>
    <div style="margin-top: 4rem" v-if="assignPlan">
      <div class="ttl head">
        Select a plan
        <v-icon @click="closePlans" size="24" class="icon icon-class-reject"
          >mdi-close</v-icon
        >
      </div>
      <div style="margin-bottom: 4rem">
        <div class="row">
          <div
            style="margin-bottom: 3rem !important;"
            class="col-3"
            :key="index"
            v-for="(plan, index) in plans"
          >
            <plan-template
              v-bind:index="index"
              v-bind:plan-obj="plan"
              v-bind:action="buttonText"
              v-on:edit-plan="setPlan(plan)"
            ></plan-template>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar
      :color="bgColor"
      :timeout="timeOut"
      top
      v-model="snackbar"
      class="snack"
    >
      <div style="text-align: center; width: 100%;">
        <span style="padding-right:1.0rem;">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import {
  EMPLOYER_PLAN_MANAGEMENT,
  UPDATE_EMPLOYER_PLAN_MANAGEMENT
} from "../../../Api/employer_api";
import { PAYMENT_STATUS } from "../../../adminConstants";
import { MONTH_DATE_FORMAT } from "../../../globalFunctions";
import PlanTemplate from "../../global-components/plan-template";
import { SUBSCRIPTION_PLANS_PUBLIC } from "../../../Api/public_api";
export default {
  name: "plan",
  components: {
    PlanTemplate
  },
  data: function() {
    return {
      activePlan: null,
      requested_plan: null,
      user: null,
      assignPlan: false,
      showUpdate: false,
      updatedPlan: null,
      finalSubmit: false,
      plans: [],
      buttonText: "Select Plan",
      PAYMENT_STATUS: PAYMENT_STATUS,
      DATE_FORMAT: MONTH_DATE_FORMAT,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      activeFeatures: [],
      consumedMap: {
        306: "Job posted: ",
        307: "CV viewed: "
      },
      free: false
    };
  },
  methods: {
    getActivePlan() {
      const self = this;
      EMPLOYER_PLAN_MANAGEMENT()
        .then(function(data) {
          if (data.current_plan) {
            self.activePlan = data.current_plan;
            if (
              self.activePlan &&
              self.activePlan.plan_name.toUpperCase() === "FREE"
            ) {
              self.free = true;
            } else {
              self.free = false;
              let i;
              for (i = 0; i < self.activePlan.features.length; i++) {
                let remaining = self.activePlan.features[i].remained;
                let consumed = self.activePlan.features[i].value - remaining;
                self.activeFeatures.push({
                  total: "Total: " + self.activePlan.features[i].value,
                  consumed:
                    self.consumedMap[self.activePlan.features[i].key] +
                    consumed,
                  remaining: "Remaining: " + remaining
                });
              }
            }
          }
          if (data.req_plan) self.requested_plan = data.req_plan;
          if (self.activePlan.payment_status === 3) {
            self.showUpdate = true;
          }
        })
        .catch(function(err) {
            alert(err.message)
        });
    },
    getPlans() {
      const self = this;
      self.plans = [];
      SUBSCRIPTION_PLANS_PUBLIC()
        .then(function(response) {
          if (response.data.plans.length > 0) {
            self.plans = response.data.plans;
            self.plans.sort((a, b) =>
              parseInt(a.price) > parseInt(b.price) ? 1 : -1
            );
            self.assignPlan = true;
          } else {
            self.assignPlan = false;
          }
        })
        .catch(function() {
          self.assignPlan = false;
        });
    },
    setPlan(plan) {
      const self = this;
      self.updatedPlan = plan;
      self.finalSubmit = true;
      self.assignPlan = false;
    },
    closePlans() {
      const self = this;
      self.assignPlan = false;
      self.updatedPlan = null;
      self.finalSubmit = false;
    },
    updatePlan() {
      const self = this;
      let data = {
        plan_id: self.updatedPlan.plan_id
      };
      UPDATE_EMPLOYER_PLAN_MANAGEMENT(data)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage =
            response.message || "Request submitted successfully.";
          self.closePlans();
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
          self.closePlans();
        });
    }
  },
  mounted() {
    const self = this;
    self.user = self.$constants.getOwnerInfo();
    self.getActivePlan();
  }
};
</script>

<style scoped>
.plan-div {
  overflow-y: auto;
  height: 80vh;
  margin-bottom: 4rem;
}
.plan {
  text-align: left;
  padding: 2rem !important;
  margin: 0 2rem !important;
  background-color: #ffffff;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 1.5rem 0 rgba(0, 0, 0, 0.16);
}
.plan-item {
  padding: 0.5rem 0;
}
.ttl {
  padding: 1rem 2.5rem;
  font-size: 3.6rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: #121212;
}
.head {
  background-color: #f7f7f7;
  margin: 2rem;
  position: relative;
}
.icon {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
.name {
  font-weight: bold;
  font-size: 2.4rem;
  color: #050505;
}
.date {
  font-size: 1.6rem;
  color: #3d4249;
}
.status {
  font-size: 1.6rem;
}
.update {
  margin-top: 0.5rem;
}
.req {
  padding: 0 2rem !important;
}
</style>
