/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    

    .slide{
      width: 100vw; 
      overflow-x: scroll;
      .testimonial{
        width: 1200px;
      
      
        .tm-block{
          width: 100%!important;
        }
      }
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .slide{
      width: 100vw; 
      overflow-x: scroll;
      .testimonial{
        width: 1200px;
      
      
        .tm-block{
          width: 100%!important;
        }
      }
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    .aboutUs{
      h1{
      
        margin: 5rem 0 3rem 0;
      }

      p{
     
        text-align: justify; 
        padding: 0 1rem;
        color: #666666;
      }
      .leadership--cont {
        .lead--name {
          padding-left: 0px;
        }
      }
    }

    

    .slide{
      width: 100vw; 
      overflow-x: scroll;
      .testimonial{
        width: 1200px;
      
      
        .tm-block{
          width: 100%!important;
        }
      }
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .aboutUs{
      h1{
     
        margin: 3rem 0 3rem 0;
      }

      p{
        
        text-align: justify;
        padding: 0 1rem;
        color: #666666;
      }

      .leadership--cont {
        .lead--name {
          padding-left: 0px;
        }
      }
    }

    .leadership--cont {
      .lead--name {
        padding-left: 0px;
      }
    }

    .slide{
      width: 100vw; 
      overflow-x: scroll;
      .testimonial{
        width: 1200px;
      
      
        .tm-block{
          width: 100%!important;
        }
      }
    }
    
  }
  