<template>
  <div v-bind:class="{ backC: changeBack }" class="edu-edit">
    <div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-combobox
            v-model="institution"
            :search-input.sync="institutionQuery"
            :items="institutes"
            :loading="instLoading"
            label="Institute Name"
            item-text="institution_name"
            :error-messages="instituteNameErrors"
            append-icon="bopon"
            return-object
            @change="validateInstitutions"
           
          ></v-combobox>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <div class="row">
            <div class="col-lg-8 col-xl-8 left-col-degree">
              <v-autocomplete
                v-model="degree"
                :search-input.sync="degreeQuery"
                :items="degrees"
                :loading="degLoading"
                label="Degree"
                item-text="degree_name"
                :error-messages="degreeTypeErrors"
                append-icon="bopon"
                return-object
                @change="validateDegrees"
              
              ></v-autocomplete>
            </div>
            <div class="col-lg-4 col-xl-4 no-padding">
              <v-text-field
                v-model="grade"
                label="Result"
                :error-messages="gradeErrors"
               
              ></v-text-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <v-combobox
            v-model="major"
            :search-input.sync="majorQuery"
            :items="majors"
            :loading="mejLoading"
            label="Major"
            item-text="major_name"
            append-icon="bopon"
            return-object
            :error-messages="majorErrors"
            @change="validateMajors"
          
          ></v-combobox>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 no-padding">
          <div class="row">
            <div class="col-lg-4 col-xl-4 mid-col-padding">
              <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="beginDateFormatted"
                  label="Start Date"
                  @blur="begin_date = parseDate(beginDateFormatted)"
                  readonly
                  :error-messages="beginDateErrors"
                  prepend-inner-icon="mdi-calendar-month"
                ></v-text-field>
                <v-date-picker
                  color="#207688"
                  v-model="begin_date"
                  type="month"
                  no-title
                  @input="menu1 = false"
                ></v-date-picker>
              </v-menu>
            </div>
            <div class="col-lg-4 col-xl-4 mid-col-padding">
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                :disabled="is_studying"
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="endDateFormatted"
                  persistent-hint
                  label="End Date"
                  @blur="end_date = parseDate(endDateFormatted)"
                  readonly
                  :disabled="is_studying"
                  :error-messages="!is_studying ? endDateErrors : null"
                  prepend-inner-icon="mdi-calendar-month"
                ></v-text-field>
                <v-date-picker
                  color="#207688"
                  v-model="end_date"
                  type="month"
                  no-title
                  @input="menu2 = false"
                >
                </v-date-picker>
              </v-menu>
            </div>
            <div class="col-lg-4 col-xl-4 no-padding">
              <div class="row">
                <span class="check-box">
                  <v-checkbox
                    v-model="is_studying"
                    :ripple="false"
                  ></v-checkbox>
                </span>
                <span class="current_label">I currently study here</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <v-textarea
        no-resize
        outline
        label="Description"
        v-model="description"
        :error-messages="descriptionErrors"
      ></v-textarea>
      <div class="btn-left">
        <span class="btn-padding-btwn"
          ><button @click="onSave" class="btn btn-save">Save</button></span
        >
        <button @click="onCancel" class="btn btn-cancel">Cancel</button>
      </div>
    </div>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import * as SYSTEM_CONST from "../../../../globalConstants";
import * as FILTERS from "../../../../filters";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { GET_AUTO_SUGGEST } from "../../../../Api/common_api";
export default {
  name: "education-edit",
  mixins: [validationMixin],
  validations: {
    institution: {
      required,
      isLengthInBound() {
        let val = this.institution;
        if (val === null) return false;
        if (typeof val === "object") {
          return true;
        } else {
          return val.trim().length > 1 && val.trim().length < 64;
        }
      },
    },
    degree: {
      required,
      isLengthInBound() {
        let val = this.degree;
        if (val === null) return false;
        if (typeof val === "object" && val !== null) {
          return true;
        } else {
          return val.trim().length > 1 && val.trim().length < 64;
        }
      },
    },
    major: {
      isLengthInBound() {
        let val = this.major;
        if (val === "" || val === null) return true;
        if (typeof val === "object") {
          return true;
        } else {
          return val.trim().length > 1 && val.trim().length < 64;
        }
      },
    },
    grade: {
      minLength: minLength(1),
      maxLength: maxLength(31),
    },
    begin_date: {
      required,
    },
    end_date: {
      required,
      greaterThanStartYear() {
        if (this.begin_date && this.end_date) {
          const [begin_year, bm] = this.begin_date.split("-");
          const [end_year, em] = this.end_date.split("-");
          if (end_year === begin_year) {
            return em >= bm;
          } else {
            return end_year >= begin_year;
          }
        }
        return false;
      },
    },
    description: {
      maxLength: maxLength(4095),
    },
  },
  props: {
    eduInfo: Object,
    changeBack: Boolean,
  },
  data: function () {
    return {
      info: this.eduInfo || {},
      institution: "",
      major: "",
      grade: "",
      degree: "",
      institutionQuery: "",
      majorQuery: "",
      degreeQuery: "",
      is_studying: false,
      begin_date: "",
      end_date: "",
      description: "",
      beginDateFormatted: "",
      endDateFormatted: "",
      menu1: false,
      menu2: false,
      instLoading: false,
      institutes: [],
      degLoading: false,
      degrees: [],
      mejLoading: false,
      majors: [],
      institution_id: null,
      degree_id: null,
      major_id: null,
      institution_name: "",
      degree_name: "",
      major_name: "",
    };
  },
  methods: {
    validateInstitutions: function () {
      const self = this;
      if (self.institution) {
        if (typeof self.institution === "string") {
          self.institution_name = self.institution;
          self.institution_id = null;
          if (self.institutes.length > 0) {
            let i;
            for (i = 0; i < self.institutes.length; i++) {
              if (
                self.institutes[i].institution_name.toLowerCase() ===
                FILTERS.REMOVE_WHITE_SPACES(self.institution.toLowerCase())
              ) {
                self.institution_id = self.institutes[i].institution_id;
                self.institution_name = self.institutes[i].institution_name;
                break;
              }
            }
          }
        } else {
          self.institution_name = self.institution.institution_name;
          self.institution_id = self.institution.institution_id;
        }
      }
    },
    validateDegrees: function () {
      const self = this;
      if (self.degree) {
        if (typeof self.degree === "string") {
          self.degree_name = self.degree;
          self.degree_id = null;
          if (self.degrees.length > 0) {
            let i;
            for (i = 0; i < self.degrees.length; i++) {
              if (
                self.degrees[i].degree_name.toLowerCase() ===
                FILTERS.REMOVE_WHITE_SPACES(self.degree.toLowerCase())
              ) {
                self.degree_id = self.degrees[i].degree_id;
                self.degree_name = self.degrees[i].degree_name;
                break;
              }
            }
          }
        } else {
          self.degree_name = self.degree.degree_name;
          self.degree_id = self.degree.degree_id;
        }
      }
    },
    validateMajors: function () {
      const self = this;
      if (self.major) {
        if (typeof self.major === "string") {
          self.major_name = self.major;
          self.major_id = null;
          if (self.majors.length > 0) {
            let i;
            for (i = 0; i < self.majors.length; i++) {
              if (
                self.majors[i].major_name.toLowerCase() ===
                FILTERS.REMOVE_WHITE_SPACES(self.major.toLowerCase())
              ) {
                self.major_id = self.majors[i].major_id;
                self.major_name = self.majors[i].major_name;
                break;
              }
            }
          }
        } else {
          self.major_name = self.major.major_name;
          self.major_id = self.major.major_id;
        }
      }
    },
    onSave: function () {
      const self = this;
      if (
        typeof self.institution === "string" &&
        self.institution !== "" &&
        self.institution_name !== self.institution
      ) {
        self.validateInstitutions();
      }
      if (
        typeof self.degree === "string" &&
        self.degree !== "" &&
        self.degree_name !== self.degree
      ) {
        self.validateDegrees();
      }
      if (
        typeof self.major === "string" &&
        self.major !== "" &&
        self.major_name !== self.major
      ) {
        self.validateMajors();
      }
      self.$v.$touch();
      if (
        !self.$v.institution.$anyError &&
        !self.$v.degree.$anyError &&
        !self.$v.major.$anyError &&
        !self.$v.grade.$anyError &&
        !self.$v.begin_date.$anyError &&
        !self.$v.description.$anyError
      ) {
        let newEdu = {};
        if (self.info.attrib_id) {
          newEdu.attrib_id = self.info.attrib_id;
        }
        newEdu.institution_name = self.institution_name;
        if (self.institution_id) {
          newEdu.institution_id = self.institution_id;
        }
        newEdu.degree_name = self.degree_name;
        if (self.degree_id) {
          newEdu.degree_id = self.degree_id;
        }
        newEdu.begin_date = self.beginDateFormatted;
        newEdu.major_name = self.major_name || "";
        if (self.major_id) {
          newEdu.major_id = self.major_id;
        }
        newEdu.grade = FILTERS.REMOVE_WHITE_SPACES(self.grade) || "";
        newEdu.education_description =
          FILTERS.REMOVE_WHITE_SPACES(self.description) || "";
        if (self.is_studying) {
          newEdu.is_studying = 1;
          this.$emit("save-edu", newEdu);
        } else {
          newEdu.is_studying = 0;
          newEdu.end_date = self.endDateFormatted;
          if (!self.$v.end_date.$anyError) {
            this.$emit("save-edu", newEdu);
          }
        }
      }
    },
    onCancel: function () {
      this.$emit("cancel-save-edu", "parent");
    },
    formatDate(date) {
      if (!date) return null;
      const [year, month] = date.split("-");
      return `${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [month, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}`;
    },
    queryInstitute: function (query) {
      const self = this;
      self.instLoading = true;
      GET_AUTO_SUGGEST(query, SYSTEM_CONST.QUERY_ACTION.INSTITUTION)
        .then(function (data) {
          self.instLoading = false;
          self.institutes = data;
        })
        .catch(function () {
          self.instLoading = false;
          // alert(err);
        });
    },
    queryDegree: function (query) {
      const self = this;
      self.degLoading = true;
      GET_AUTO_SUGGEST(query, SYSTEM_CONST.QUERY_ACTION.DEGREE)
        .then(function (data) {
          self.degrees = data;
          self.degLoading = false;
        })
        .catch(function () {
          self.degLoading = false;
          // alert(err);
        });
    },
    queryMajor: function (query) {
      const self = this;
      self.mejLoading = true;
      GET_AUTO_SUGGEST(query, SYSTEM_CONST.QUERY_ACTION.MAJOR)
        .then(function (data) {
          self.majors = data;
          self.mejLoading = false;
        })
        .catch(function () {
          self.mejLoading = false;
          // alert(err);
        });
    },
    // setMinApplicationDate() {
    //     let date = new Date();
    //     let year = date.getFullYear();
    //     let month = date.getMonth() + 1;
    //     return year + '-' + month
    // },
  },
  watch: {
    begin_date() {
      this.beginDateFormatted = this.formatDate(this.begin_date);
    },
    end_date() {
      this.endDateFormatted = this.formatDate(this.end_date);
    },
    is_studying() {
      this.end_date = "";
    },
    institutionQuery(val) {
      if (val) {
        if (this.institution === null) {
          this.institution = val;
        } else if (
          typeof this.institution === "object" &&
          val !== this.institution.institution_name
        ) {
          this.institution = val;
        }
        this.queryInstitute(val);
      }
    },
    degreeQuery(val) {
      if (val) {
        if (this.degree === null) {
          this.degree = val;
        } else if (
          typeof this.degree === "object" &&
          val !== this.degree.degree_name
        ) {
          this.degree = val;
        }
        this.queryDegree(val);
      }
    },
    majorQuery(val) {
      if (val) {
        if (this.major === null) {
          this.major = val;
        } else if (
          typeof this.major === "object" &&
          val !== this.major.major_name
        ) {
          this.major = val;
        }
        this.queryMajor(val);
      }
    },
  },
  computed: {
    instituteNameErrors() {
      const errors = [];
      if (!this.$v.institution.$dirty) return errors;
      !this.$v.institution.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.institution.isLengthInBound &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.FIELD_LENGTH);
      return errors;
    },
    degreeTypeErrors() {
      const errors = [];
      if (!this.$v.degree.$dirty) return errors;
      !this.$v.degree.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.degree.isLengthInBound &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.FIELD_LENGTH);
      return errors;
    },
    majorErrors() {
      const errors = [];
      if (!this.$v.major.$dirty) return errors;
      !this.$v.major.isLengthInBound &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.FIELD_LENGTH);
      return errors;
    },
    gradeErrors() {
      const errors = [];
      if (!this.$v.grade.$dirty) return errors;
      !this.$v.grade.minLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_SHORT);
      !this.$v.grade.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.description.$dirty) return errors;
      !this.$v.description.maxLength &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.LENGTH_TOO_LONG);
      return errors;
    },
    beginDateErrors() {
      const errors = [];
      if (!this.$v.begin_date.$dirty) return errors;
      !this.$v.begin_date.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      return errors;
    },
    endDateErrors() {
      const errors = [];
      if (!this.$v.end_date.$dirty) return errors;
      !this.$v.end_date.required &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.REQUIRED);
      !this.$v.end_date.greaterThanStartYear &&
        errors.push(SYSTEM_CONST.REQUIRED_MESSAGE.END_YEAR);
      return errors;
    },
  },
  mounted: function () {
    const self = this;
    if (self.eduInfo) {
      self.institution_name = self.eduInfo.institution_name;
      self.institution_id = self.eduInfo.institution_id;
      self.institution = {
        institution_name: self.institution_name,
        institution_id: self.institution_id,
      };
      self.degree_name = self.eduInfo.degree_name;
      self.degree_id = self.eduInfo.degree_id;
      self.degree = {
        degree_name: self.degree_name,
        degree_id: self.degree_id,
      };
      self.degreeQuery = self.eduInfo.degree_name;
      self.begin_date = self.parseDate(self.eduInfo.begin_date);
      if (self.eduInfo.major_name) {
        self.major_name = self.eduInfo.major_name;
        self.major_id = self.eduInfo.major_id;
        self.major = {
          major_name: self.major_name,
          major_id: self.major_id,
        };
      }
      if (self.eduInfo.grade) {
        self.grade = self.eduInfo.grade;
      }
      if (!self.eduInfo.is_studying) {
        self.is_studying = false;
        self.end_date = self.parseDate(self.eduInfo.end_date);
      } else {
        self.is_studying = true;
      }
      if (self.eduInfo.education_description) {
        self.description = self.eduInfo.education_description;
      }
    }
  },
};
</script>
<style scoped>
.edu-edit {
  padding: 2rem;
}
.backC {
  background-color: rgba(5, 52, 76, 0.03);
}
.left-col-degree {
  padding: 0 5% 0 0;
}
.mid-col-padding {
  padding: 0 5% 0 0;
}
.check-box {
  padding-left: 1.5rem;
  color: #3d4249;
}
.current_label {
  margin-left: -0.4rem;
  padding-top: 2rem;
  font-size: 1.4rem;
  color: #3d4249;
}
.btn-left {
  text-align: right;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.btn-padding-btwn {
  padding: 0 1rem 0 0;
}
.v-input {
  font-size: 1.4rem !important;
  text-align: right !important;
}
@media (max-width: 600px) {
  .edu-edit {
    padding: 0rem 2rem;
  }
  .left-col-degree {
    padding: 0rem;
  }
  .mid-col-padding {
    padding: 0rem;
  }
  .check-box {
    padding: 0rem;
  }
}
/*.v-text-field {*/
/*padding-top: .2rem !important;*/
/*margin-top: 1.0rem;*/
/*}*/
</style>
