<template>
  <div class="education-full">
    <NoInfo name="Education" v-if="noData && addNew === false" @click="onAddEducation"/>
    <div class="education-content">
      <!-- <div class="nc" v-if="noData && addNew === false">
        <div>
          <img src="@/assets/newDesign/education.svg" />
        </div>
        <div class="nc-txt nc-h">You have not added any educations yet!</div>
        <div class="nc-txt nc-sh">
          Add Educations to increase the chance of getting hired.
        </div>
        <button @click="onAddEducation" class="btn btn-save">
          <span><v-icon size="18" class="add-ico-class">add_box</v-icon></span>
          <span>Education</span>
        </button>
      </div> -->
      <div
        style="text-align: left;margin-left:2rem"
        v-if="addNew === false && editing === false && noData === false"
      >
        <button  @click="onAddEducation" class="btn btn-outline">
          <span style="margin-right:1rem"><CustomIcon name="plus-add" size="0.87" genericColor/></span>
          <span>Add Education</span>
        </button>
      </div>
      <div v-if="addNew">
        <div class="edu-text">New Education</div>
        <edit-education-card
          v-on:save-edu="onSaveEducation"
          v-on:cancel-save-edu="onCancelEducation"
        >
        </edit-education-card>
      </div>
      <div v-bind:key="update" v-bind:class="{ paddingList: addNew }">
        <div v-bind:key="index" v-for="(edu, index) in eduInfos">
          <education-card
            :eduInfo="edu"
            :firstItem="index"
            v-on:editing-existing-edu-info="setCurrentlyEditing"
            v-on:save-edu="onSaveEducation"
            v-on:cancel-save-edu="onCancelEducation"
            v-on:delete-edu="onDeleteEducation"
            v-on:show-warning="showWarning"
          >
          </education-card>
        </div>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right:1.0rem"
          ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import EducationCard from "./education-card";
import EditEducationCard from "./education-card-edit";
import NoInfo from "../../../global-components/noInfo"
import CustomIcon from "../../../global-components/customIcon";
import {
  GET_USER_EDUCATIONAL_INFO,
  SAVE_USER_EDUCATIONAL_INFO,
  DELETE_USER_EDUCATIONAL_INFO
} from "../../../../Api/candidate_api";

import { SORT_PROFILE } from "../../../../filters";
export default {
  name: "education",
  components: {
    EducationCard,
    EditEducationCard,
    NoInfo,
    CustomIcon
  },
  data: function() {
    return {
      addNew: false,
      editing: false,
      eduInfos: [],
      update: 0,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      noData: null
    };
  },
  methods: {
    showWarning() {
      const self = this;
      self.snackbar = true;
      self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
      self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
      self.snackMessage =
        self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
    },
    getUserEducationalInfo: function() {
      const self = this;
      GET_USER_EDUCATIONAL_INFO()
        .then(function(data) {
          self.eduInfos = SORT_PROFILE(data, "is_studying");
          self.noData = self.eduInfos.length === 0;
          self.update++;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    saveUserEducationalInfo: function(newInfo) {
      const self = this;
      SAVE_USER_EDUCATIONAL_INFO(newInfo)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.addNew = false;
          self.editing = false;
          self.getUserEducationalInfo();
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
          self.addNew = false;
          self.editing = false;
          self.getUserEducationalInfo();
        });
    },
    onDeleteEducation: function(id) {
      const self = this;
      self.addNew = false;
      self.editing = false;
      DELETE_USER_EDUCATIONAL_INFO(id)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
      self.getUserEducationalInfo();
    },
    onAddEducation: function() {
      const self = this;
      if (!self.editing) {
        self.addNew = true;
      } else {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
        self.snackMessage =
          self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
      }
    },
    onSaveEducation: function(newItem) {
      this.saveUserEducationalInfo(newItem);
    },
    onCancelEducation: function() {
      this.addNew = false;
      this.editing = false;
    },
    setCurrentlyEditing: function() {
      this.editing = true;
    }
  },
  created() {
    this.getUserEducationalInfo();
  }
};
</script>

<style scoped>
.education-full {
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  background-color: #ffffff;
  /*border: .1rem solid #efefef;*/
  /*border-radius: .8rem;*/
}
.education-content {
 
}
.edu-text {
  text-align: left;
  font-size: 1.6rem;
  padding: 0 2rem;
}
.paddingList {
  padding: 4rem 0 0 0;
}
@media (max-width: 600px) {
  .edu-text {
    display: none;
  }
  .education-full {
    padding: 0rem;
  }
  .education-content {
    padding: 0rem !important;
  }
}
</style>
