:root{
    --landing-color:#3568b2;
    --landing-color-new:#013d5d;
    
    --landing-color-new-light:#00456B;
    --landing-button-color:#00adee;

    --employer-nav:#162035;
    --employer-nav-font-color:#d6dce7;
    --header-font-light:white;
    --header-font-dim-light:#dcdcdc;
    --new-secondary-color:#4e4098;

    --button-color:#1c56ac;
    --button-color-unfocus: #5578EB;
    --button-save-unfocus:#D4EDDA;
    --button-save-color:#155724;
    --button-delete-color:#C82333;
    --button-delete-unfocus:#fff2f2;
    --button-warning:#FFB823;
    --button-warning-unfocus:#FFF1D2;
    --link-color:#3555DF;
    --synop-select-color:#EAEEFD;
    --secondary-color:#ff6e38;
    --secondary-color-unfocus:rgba(255,110,56,0.2);
    --secondary-button-color: #138395;
    --icon-grey-scale-color: #9d9d9d;
    --phone-width:600px;
    --tab-width:800px;

    --tab-border:#9fc2ff;
    --job-select-color:#1DC9B7;
    --job-select-back:#E8FAF8;

    --disable-color:#eeeeee;
    --error-color: #ff0000;

    --btn-color-primary:#1c56ac;
    --primary-color:#001844;
    --action-button-color:#166bff;
    --drawer-active-color: #193d80;
    --placeholder-color:#707070;
    --secondary-color-new:#ffaa00

}
/*#0766ff*/
html{
    font-size:10px;
}
div{
    font-size: 1.4rem;
}
.landing-container{
    width: 1410px;
    padding-left:60px;
    padding-right:60px;
    position: relative;
}
.landing-container-resp{
    width: 1410px;
    padding-left:60px;
    padding-right:60px;
    position: relative;
}
.landing-wrapper{
    display: flex;
    flex-direction: row;
    width:100vw;
    justify-content: center;
}
.landing-container-left{
    width: 1350px;
    padding-left:30px;  
}
.banner-text-small{
 font-size: 38px;
 font-weight: bold;

  letter-spacing: 31.2px;
  color: #aaaaaa;
}
.banner-text-large{
  
    height: 146px;
    font-size: 78px;
    font-weight: bold;
    line-height: 1.09;
    color: #4e4098;
}
.font-align{
    text-align: left
}
.safe-area{
    width: 100%;
    height: 7rem;
  
}
@media (max-width: 1410px) {
    .landing-container{
        width: 100%
    }
    .landing-container-resp{
        width: 100%;
    }
    .landing-container-left{
        width: 100%
    }
}

@media(max-width:1366px){
    html{
        font-size:8px;
    }

}
@media(max-width:1000px){
    html{
        font-size:7px;
    }
}
@media(max-width:800px){
   .font-align{
       text-align:center
   }

}
@media(max-width:600px){
    html{
        font-size:9px;
    }
    .landing-container{
        padding: 0 20px;
    }
    .landing-container-resp{
        padding: 0;
    }
    .safe-area{
        display: block;
    }
    .banner-text-small{
        font-size: 28px;
        padding-left:3rem;
        letter-spacing: 22.99px;
       }
       .banner-text-large{

           font-size: 58px;
      
       }
}
.root-container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 400px) {
    .root-container {
        max-width: 380px;
        
    }
}


@media (min-width: 576px) {
    .root-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .root-container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .root-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .root-container {
        max-width: 1170px;
    }
}
.horizontal-line{
    width: 100%;
    height: 1px;
    background-color: var(--landing-color-new-light)
}
.container {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}
.container-new{
    padding:  6.5rem 0rem;
    width: 100%;
}
.container-fluid{
    padding: 4rem 6.5rem;
    width: 100%;
}
.section-gap{
    width: 100%;
    height: 10rem;
}
.vertical-gap{
    width: 100%;
    height: 3.5rem;
}
.phone-mode {
    display: none;
}
.pc-mode {
    display: flex;
}
.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.horizontal-center{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.absolute-center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.absolute-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.phone-mode {
    display: none;
  }
  .pc-mode {
    display: flex;
  }
  @media (max-width: 800px) {
    .phone-mode {
      display: flex;
    }
    .pc-mode {
      display: none;
    }
  }
@media (max-width: 800px) {
    .phone-mode {
      display: flex;
    }
    .pc-mode {
      display: none;
    }
}

/*@media (min-width: 400px) {*/
    /*.container {*/
        /*max-width: 350px;*/
    /*}*/
/*}*/
@media (max-width: 600px) {
  
    .container {
        width:90%;
    }
    .container-fluid{
        padding: 2rem 2rem;
    }
    .container-new{
        padding:  2rem 0rem;
    
    }

}
@media (min-width: 576px) {
    .container {
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 90%;
    }
}
@media (min-width: 1080px) {
    .container {
        max-width: 1000px;
    }
}
@media (min-width: 1100px) {
    .container {
        max-width: 1020px;
    }
}

@media (min-width: 1170px) {
    .container {
        max-width: 1100px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1250px;
    }
    .container-fluid{
        padding: 3rem 8.5rem;
    }
    .container-new{
        padding:  3rem 0rem;
        width: 100%;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1450px;
    }
}
body {
    /*min-height: 75rem;*/
    /*margin-top: 70px !important;*/
    width: 100%;
    
}
l
h2{
    font-size: 3.4rem !important;
    font-weight: bold;
    padding:0;
}
h3{
    font-size: 2rem;
    font-weight: bold;
    padding:0;
}
button:focus {
     outline: none;
    /*outline: 5px auto -webkit-focus-ring-color;*/
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
input:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

label {
    font-size: inherit !important;
    color: rgba(61,66,73,0.5) !important;
}
/*::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/

/* width */
::-webkit-scrollbar {
    width: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,1);
    box-shadow: inset 0 0 .5rem #ffffff;
    border-radius: 1.0rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(204,204,204,0.5);
    border-radius: 1.0rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(204,204,204,0.8);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.ql-container{
    height: 15.0rem !important;
    overflow-y: auto;
}
.ql-editor{
    padding-bottom: 4.0rem !important;
}
.test-border{
    border: .1rem solid #dddddd;
    background-color: #ffffff;
    padding: 3.0rem;
}
.no-padding{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}
.noPadding{
    padding: 0 !important;
}
.container-middle {
    padding-top: 0;
    /*padding-bottom: 25px;*/
    /*margin-top: 70px;*/
}
.row {
    margin: 0 !important;
}
.menu-bar-top-margin {
    margin-left: .0rem !important;
    margin-right: .0rem !important;
}
/* .top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    background-color: transparent;
    height: 7.0rem;
} */
.bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 80;
    background: #ffffff;
    border-bottom: .1rem solid #e0dbdb;
}
.navbar-nav {
    overflow: hidden !important;
}
.navbar-nav a {
    color: #3d4249;
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: .4rem solid transparent;
}

/* ul a.router-link-active {
    border-bottom: 4px solid #11998e;
} */
.nav-fixed-height {
    height: 7.0rem;
}
.navbar-brand {
    padding-bottom: 0 !important;
    margin-top: -1.0rem;
}
/* .sign-up-sign-in-font-style {
    color: #11998e !important;
    font-weight: bold;
} */
::placeholder {
    color: rgba(5, 5, 5, 0.6) !important;
    opacity: 1; /* Firefox */
}
.btn-def {
    width: 11.4rem;
    height: 4.4rem;
    border-radius: .4rem;
    background-color: #0766ff;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #ffffff !important;
    box-shadow: none !important;
}
.btn-def:hover {
    box-shadow: none !important;
}
.btn-save {
    min-width: 8.0rem;
    font-size: 1.6rem;
    border-radius: .4rem;
    letter-spacing: 0;
    color: #ffffff;
    background-color: var(--button-color);
    box-shadow: none !important;
    transition: 0.5s;
    padding: .5rem 2.0rem;
    cursor: pointer;
    
}
.btn-save:hover {
    background-color: var(--button-color) !important;
    color: #ffffff;
    opacity: 0.9;
    transition: 0.5s;
    
}
.btn-save-new{
    min-width: 8.0rem;
    font-size: 1.6rem;
    border-radius: .4rem;
    letter-spacing: 0;
    color: var(--button-save-color);
    background-color: var(--button-save-unfocus);
    box-shadow: none !important;
    transition: 0.5s;
    padding: .5rem 2.0rem;
    cursor: pointer;
}
.btn-save-new:hover {
    background-color: var(--button-save-color);
    color: #ffffff;
    opacity: 0.9;
    transition: 0.5s;
    
}
.btn-next {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color: var(--button-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    box-shadow: none !important;
    cursor: pointer;
}
.btn-next:hover {
    background-color: var(--button-color) !important;
    color: #ffffff;
}
.btn-next-new {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color: var(--synop-select-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--button-color);
    box-shadow: none !important;
    cursor: pointer;
}
.btn-next-new:hover {
    background-color: var(--button-color) !important;
    color: #ffffff;
}
.btn-warning {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color: var(--button-warning-unfocus);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--button-warning);
    box-shadow: none !important;
    cursor: pointer;
    border: none;
}
.btn-warning:hover {
    background-color: var(--button-warning) !important;
    color: #ffffff;
}
.btn-next-outline {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .2rem;
    border:1px solid var(--button-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--button-color);
    box-shadow: none !important;
    cursor: pointer;
}
.btn-next-outline:hover {
    background-color: var(--button-color) !important;
    color: #ffffff;
}
.btn-prv-outline {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .2rem;
    border: 1px solid var(--secondary-color);
    background-color: #ffffff;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-color);
    box-shadow: none !important;
    cursor: pointer;
}
.btn-prv-outline:hover {
    background-color: var(--secondary-color) !important;
    color: #ffffff;
}
.btn-back {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color:var(--synop-select-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--button-color);
    box-shadow: none !important;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
}
.btn-back:hover{
    background-color: var(--button-color);
    color:white;
    transition: 0.5s;
}
.btn-close {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color:white;
    border:1px solid var(--primary-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-color);
    box-shadow: none !important;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s

}
.btn-close:hover{
  color: white;
  background-color: var(--primary-color);
  transition: 0.5s
}
.btn-outline {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color:white;
    border:1px solid var(--btn-color-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--btn-color-primary);
    box-shadow: none !important;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.btn-outline:hover{
  color: white;
  background-color: var(--btn-color-primary);
  transition: 0.5s
}

.btn-cancel {
    min-width: 8.0rem;
    padding: .5rem 2.0rem;
    border-radius: .4rem;
    background-color:white;
    border:1px solid var(--btn-color-primary);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: var(--btn-color-primary);
    box-shadow: none !important;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-cancel:hover {
    color: white;
  background-color: var(--btn-color-primary);
  transition: 0.5s
}
.button-sign-in {
    width: 100%;
    padding: .5rem 2.0rem;
    border-radius: 20rem;
    background-color: var(--landing-button-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: white;
    box-shadow: none !important;
    cursor: pointer;
}
.button-sign-in:hover{
}
.add-ico-class {
    margin-right: .5rem;
    margin-bottom:.2rem;
    color: #ffffff !important;
}
.nc{
    background-color: #fafafa;
    padding: 4.0rem 1.0rem;;
}
.nc-txt{
    line-height: 1.25;
    text-align: center;
    color: #050405;
}
.nc-h{
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 1.6rem;
}
.nc-sh{
    font-size: 1.6rem;
    margin-top: .8rem;
    margin-bottom: 2.4rem;
}
.text-bold {
    font-weight: bold !important;
}
.manual-disable {
    pointer-events: none;
    opacity: 0.4;
}
.box_padding{
    padding: 0 19% 5.0rem 19%;
}
.card_padding{
    border-radius: 1.0rem;
    padding: 10.0rem 2%;
}
.theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #3d4249 !important;
}
.theme--light.v-icon {
    font-size: 1.8rem;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: #e0dbdb !important;
}
.theme--light.v-text-field:not(.v-input--has-state) > .v-input__control > .v-input__slot:hover:before {
    border-color: #e0dbdb !important;
}
.theme--light.v-text-field--outline > .v-input__control > .v-input__slot {
    border: .1rem solid #e0dbdb !important;
}
.theme--light.v-text-field--outline:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot:hover {
    border: .1rem solid #e0dbdb;
}
.v-dialog {
    box-shadow: .2rem .7rem 2.0rem 0 rgba(61, 66, 73, 0.3), 1px 2px 20px 0 rgba(61, 66, 73, 0.1) !important;
    border-radius: .2rem;
    margin: 2.4rem;
    overflow-y: hidden;
    pointer-events: auto;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
}
.v-dialog__container{
    width: 100%;
}
.v-overlay--absolute {
    position: absolute;
}
.v-overlay:before {
    background-color: #000 !important;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit;
    transition-delay: 50ms;
    width: 100%;
   
}
.v-overlay--active {
    background-color: #000 !important;
    z-index: 201 !important;
    pointer-events: auto;
    touch-action: none;
    opacity: 0.6;
}
.v-overlay--active:before {
    background-color: #000 !important;
    opacity: 0;
    
}
.card-padding {
    /*border-radius: 10px;*/
    padding: 5.0rem 2%;
}
/* .heading-text {
    font-size: 25px;
    letter-spacing: 0;
    line-height: 35px;
    color: #11998e;
    text-align: center;
} */
.header-text{
    font-size: 1.7rem;
}
.theme--light.v-input--slider .v-slider__track,
.theme--light.v-input--slider .v-slider__track-fill {
    background: rgba(0,0,0,0.26);
}
.v-slider__track__container {
}
.theme--light.v-input--slider .v-slider__ticks {
    border-color: #123E55;
    color: #05344c;
}

.theme--light.v-list {
    background: #fff;
    color: #3d4249;
}
.theme--light.v-list .v-list__tile--link,
.theme--light.v-list .v-list__tile--highlighted,
.theme--light.v-list .v-list__group__header {
    font-size: 1.4rem !important;
    height: 3.0rem;
}
.theme--light.v-list .v-list__tile--link:hover,
.theme--light.v-list .v-list__tile--highlighted,
.theme--light.v-list .v-list__group__header:hover {
    background: var(--synop-select-color) !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
    box-shadow: none !important;
}
.v-text-field--outline.v-text-field--single-line input {
    margin-top: 0 !important;
}
.v-text-field--outline > .v-input__control > .v-input__slot {
    min-height: 2.0rem;
}
.v-progress-circular__underlay {
    stroke: rgba(94,53,177, 0.1) !important;
    z-index: 1;
}
.v-snack__content {
    min-width: 40rem;
    text-align: center !important;
}
.error-text{
    color: #fc3832;
    text-align: center;
}
.dropdown{
    position: absolute;
    top:0px;
    font-size: 1.6rem;
    /* font-weight: bold; */
    line-height: 1.5;
    cursor:pointer;
    z-index: 9999;
    color:#111b34;
  
  }
  .dropdown-wrapper{
    position:fixed;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    z-index:1010;
  }
  .separator{
      width: 100%;
      height: 1px;
      background-color: var(--disable-color)
  }
.menu-box{
    position: absolute;
    border-radius:.4rem;
    background-color: white;
    margin-top:1.0rem;
    color:black;
    top:5rem;
    z-index: 9999;
    cursor:pointer;
    box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
  }
.menuitem{
    min-width: 20.0rem;
    padding: 1.0rem;
    font-size: 1.4rem;
    text-align: left;
    border-radius:.4rem;
    color: #050405;
    cursor: pointer;
}
.menuitem:hover{
    background-color:var(--synop-select-color);
  }
  /* .log-out{
    padding:8px;
    color:var(--b);
    font-size:16px;
    font-weight:bold;
    cursor: pointer;
   
  } */
@keyframes play60 {
 0% {
           background-position: 0px 0px;
    }
    100% {
      background-position: -5760px 0px;
    }
  }
.loader {
    width: 25rem;
    height: 50rem;
    background-image:url("../assets/newDesign/loader.svg");
}
.ql-editor {
    min-height: 10.0rem;
}
.ql-snow{
    border: .1rem solid #e6e6e6 !important;
}
.icon-class-save{
    padding: .8rem;
    background-color: var(--button-save-unfocus);
    color:var(--button-save-color) !important;
    border-radius:.2rem;
    transition: 0.5s;
    cursor: pointer;
  }
  .icon-class-save:hover{
    background-color: var(--button-save-color);
    color:#ffffff !important;
    transition: 0.5s;
  }
  .icon-class-reject{
    padding: .8rem;
    background-color: var(--button-delete-unfocus);
    color:var(--button-delete-color) !important;
    border-radius:.2rem;
    transition: 0.5s;
    cursor: pointer;

  }
  .icon-class-reject:hover{
    background-color: var(--button-delete-color);
    color:#ffffff !important;
    transition: 0.5s;
   
  }
  .icon-class-view{
    padding: .8rem;
    background-color: var(--synop-select-color);
    color:var(--button-color) !important;
    border-radius:.2rem;
    transition: 0.5s;
    cursor: pointer;
 
  }
  .icon-class-view:hover{
    background-color: var(--button-color);
    color:#ffffff !important;
    transition: 0.5s;

  }
  .icon-class-new{
    color: black;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2.7rem;
    width: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.4s;
    cursor: pointer;
  }
  .icon-class-new:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  }
    .icon-class-info{
        padding: .8rem;
        background-color: var(--synop-select-color);
        color:var(--button-color) !important;
        border-radius: 0.2rem;
        transition: 0.5s;
        cursor: pointer;
    }
    .icon-class-info:hover{
        background-color: var(--button-color);
        color:#ffffff !important;
        transition: 0.5s;
    }
    .icon-class-expand{
    padding: .8rem;
    background-color: #ecedfb;
    color: #4d41d9 !important;
    border-radius:.2rem;
    transition: 0.5s;
    cursor: pointer;
    }
    .icon-class-expand:hover{
    background-color: #4d41d9;
    color:#ffffff !important;
    transition: 0.5s;
    }
  .back{
    color:var(--button-color);
    font-size:1.8rem;
    text-align: left;
    padding:1.5rem 1.0rem;
    width:100%;
    border-bottom:.1rem solid #eeeeee;
  }
  .activeJob {
    cursor: pointer;
    background-color: #f2f3f8;

    /* box-shadow: 0px 0px 2.0rem rgba(0,0,0,0.2);
    border-left: 2px solid var(--job-select-color);
    animation: job-levitate 1s; */
  }
  /*candidate details*/
  .text-lg-left{
    font-size: 1.4rem;
  }
  .text-left{
    font-size: 1.4rem;
  }
  /* @keyframes job-levitate{
      from{
        box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
      }
      to{
        box-shadow: 0px 0px 2.0rem rgba(0,0,0,0.2);
      }
  }
  @media(max-width:600px)
  {
      .nc{
          margin: 0px 1.0rem;
      }
  } */
.carousal{
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
}
.carousal::-webkit-scrollbar {
    display: none;
  }
  /*new design */
.drawer{
    width: 26.2rem;
    background-color: var(--primary-color);
    height: 100%;
    position: relative;
    display: flex;
    padding: 3.33rem 1.5rem;
    flex-direction: column;
    justify-content: space-between;
}
.drawerTopContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ffffff;
    font-size: 1.5rem;
}
.drawerBottomContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ffffff;
    font-size: 1.5rem;
}
.drawerItem{
    padding:1.2rem 2.25rem;
    margin-top: 0.4rem;
    width: 100%;
    color:#B2C0D9;
    font-size: 1.6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    transition: 0.4s;
}
.drawerItem:hover{
    /* background-color: var(--drawer-active-color);
    border-radius: 0.7rem; */
    cursor: pointer;
    color: #fff;
}
.activeItem{
    background-color: var(--drawer-active-color);
    border-radius: 0.7rem;
    color: #fff;
    /* font-weight: bold; */
}
.drawerOpen{
    width: 26.2rem;
    animation: open 0.5s ease
}
@keyframes inbetween{
    from{
      visibility: hidden;
    }
    to{
      visibility: visible;
    }
}
.topBubbleWrapper{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 5.1rem;
    margin-bottom: 4.0rem;
    cursor: pointer;
    animation: inbetween 0.5s ease;
}
.topBubbleWrapperClose{
   flex-direction:column;
   animation: inbetween 0.5s ease;
}

.topBubble{
    height: 3.6rem;
    width: 3.5rem;
    background-color: #1C56AC;
    color:white;
    margin:0.55rem 0.5rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.topBubble:hover{
    background-color: #3f76c9;
}
.bubbleButton{
    cursor: pointer;
    width: 3.9rem;
    height: 3.9rem;
    border-radius: 50%;
    background-color: #f2f3f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:var(--btn-color-primary);
    border:1px solid #f2f3f8;
    transition: 0.4s;
}
.bubbleButton:hover{
    border:1px solid var(--btn-color-primary);
}
.newBubble {
    color: black;
    border-radius: 50%;
    font-size: 1.5rem;
    height: 2.7rem;
    width: 2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.4s;
    cursor: pointer;
  }
  .newBubble:hover {
    transition: 0.4s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  }
@keyframes open{
    from{
      width:8.0rem;
    }
    to{
      width: 26.2rem;
    }
  }
.drawerClose{
    width: 8.0rem;
    animation: close 0.5s ease
}
@keyframes close{
    from{
      width:26.2rem;
    }
    to{
      width: 8.0rem;
    }
  }
.drawerIcon{
    padding-right: 2.24rem;
}
.actionButton{
    background-color:var(--action-button-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 1.1rem;
    font-size: 1.79rem;
    font-weight: bold;
    position: absolute;
    right: -1.1rem;
    top:4.5rem;
    cursor: pointer;
    transition: 0.4s;
    z-index: 10;
}
.actionButton:hover{
    background-color: #0052e0;
    transition: 0.4s;
}
.contentContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}
.contentContainer::-webkit-scrollbar{
    width:0.3rem
}
.top-bar{
    padding: 2.5rem 4.25rem 2.3rem 4rem;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profileInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2rem;
}
.profilePicWrapper{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.profilePic{
    height:5.55rem;
    width: 5.55rem;
    border-radius: 50%;
   
}
.routerContent{
    padding: 4rem 4.1rem;
}
.jobPageH {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    position: relative;
    color: #050405;
  }
  .jobPageP {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
  }
.speechBubble
{
   position: relative;
   height: 3.7rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background: #ffffff;
   -webkit-border-radius: 0.7rem;
   -moz-border-radius: 0.7rem;
   border-radius: 0.7rem;
    border: #1C56AC solid 0.1rem;
    color: #1C56AC;
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: normal;
    padding: 0 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.speechBubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: .8rem 1.6rem .8rem 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -1.5rem;
    top: 1rem;
    transition: 0.5s;
}

.speechBubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: .8rem 1.6rem .8rem 0;
    border-color: transparent #166BFF;
    display: block;
    width: 0;
    z-index: 0;
    left: -1.7rem;
    top: 1rem;
    transition: 0.5s;
}
.speechBubbleFill
{
   position: relative;
   height: 3.7rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background:var(--btn-color-primary);
   -webkit-border-radius: 0.7rem;
   -moz-border-radius: 0.7rem;
   border-radius: 0.7rem;
  
    color: white;
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: normal;
    padding: 0 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.speechBubbleFill:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: .8rem 1.6rem .8rem 0;
    border-color: transparent var(--btn-color-primary);
    display: block;
    width: 0;
    z-index: 1;
    left: -1.6rem;
    top: 1rem;
    transition: 0.5s;
}

.speechBubbleFill:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: .8rem 1.6rem .8rem 0;
    border-color: transparent var(--btn-color-primary);
    display: block;
    width: 0;
    z-index: 0;
    left: -1.6rem;
    top: 1rem;
    transition: 0.5s;
}
@media (max-width:800px){
    .jobPageH {
        padding-left:1rem ;
    }
    .jobPageP {
        padding-left: 1rem;;
    }
}
@keyframes phoneOpen{
    from{
      left:-26.2rem;
    }
    to{
      left:0px;
    }
  }
  @keyframes phoneClose{
    from{
      left:0px;
    }
    to{
      left: -26.2rem;
    }
  }
.phone-nav{
    position: fixed;
    width: 100%;
    top:0px;
    left:0px;
    align-items: center;
    padding: 1.43rem 2.14rem;
    display: none;
    z-index: 100;
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
}
.background{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:transparent;
    left: 0;
    top:0;
    z-index: 90;
    display: none;
    content: " ";
}
.phone{
    visibility: hidden;
}
.pc{
    visibility: visible;
}
.drawerText{
    padding-left:2rem;
}
.no-left-padding{
    padding-left: 0px !important;
}
.customPopup{
    position:relative;
    background-color:white  
}
.popUpH{
    font-size: 2.2rem;
    color:black;
    text-align: left;
    font-weight: bold;
}
.popUpHeader{
    color:black;
    font-size:1.4rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
}
.popUpText{
    color:#8f8f8f;
    text-align: left;
    font-size: 1.4;
}
.popUpLeft{
    background-color: #f2f3f8;
}
.popUpInd{
    height:100% !important;
    padding:5rem 4rem;   
}
.popUpClose{
    position: absolute; 
    top: 1rem; 
    right: 1rem;
    cursor:pointer;
    z-index:100
}
.updating{
    color:limegreen;
    font-weight:bold;
    font-size: 1.2rem;
}
@media (max-width:800px){
    .drawer{
        position: fixed;
        top:0px;
        left:0px;
        z-index: 100;
        display: flex;
        padding: 3.33rem 1.5rem;
        flex-direction: column;
        justify-content: space-between;
    }
    .drawerOpen{
        left: 0px;
        animation: phoneOpen 0.5s ease
    }
    .drawerClose{
        left: -26.2rem;
        width: 26.2rem;
        animation: phoneClose 0.5s ease
    }
    .phone-nav{
        display: flex;
    }
    .background{
        display: block;
    }
    .contentContainer{
        padding:  1.43rem 0rem;
        padding-top: 60px;
        overflow: auto;
    }
    .phone{
        visibility: visible;
    }
    .pc{
        visibility: hidden;
    }
    .routerContent{
        padding: 2.2rem 0rem;
       
    }
}

.v-progress-linear{
    width: 80%;
    height: 7px !important;
    padding: 1px;
}

.v-progress-linear__bar{
    
}

.v-progress-linear__bar__determinate{
    border-radius: 100px;
    height: 5px;
    background-color: #71CB8F!important;
}

.v-progress-linear__background{
    height: 7px!important;
    border-radius: 100px;
}