<template>
  <div>
    <!-- <div>
          <div @click="changeTab(false)">All Articles</div>
          <div @click="changeTab(true)">Pinned Articles</div>
      </div> -->

    <div style="position: relative; text-align: left; z-index: 100">
      <div style="position: absolute">
        <dropdown ref="menu">
          <div class="menuitem" @click="changeTab(false)">All Articles</div>
          <div class="menuitem" @click="changeTab(true)">Pinned Articles</div>
          <!-- <div class="menuitem">Hidden Articles</div> -->
        </dropdown>
      </div>
      <div @click="dropdownHandle">Select Category</div>
    </div>
    <newsfeed :key="change" v-bind:from-pinned="pinnedPost"></newsfeed>
  </div>
</template>

<script>
import Newsfeed from "./news-home";
import Dropdown from "../../global-components/dropdown";

export default {
  components: {
    Newsfeed,
    Dropdown,
  },
  data: function () {
    return {
      pinnedPost: false,
      change: 0,
    };
  },
  methods: {
    changeTab(val) {
      const self = this;
      self.pinnedPost = val;
      this.$refs.menu.close();
      self.change++;
    },
    dropdownHandle() {
      this.$refs.menu.open();
    },
  },
};
</script>

<style>
</style>