<template>
    <div>
        <div :key="news_sing.lookup_id" v-for="news_sing in news">
            <news-single
                    :key="news_sing.lookup_id"
                    v-bind:newsObj="news_sing"
                    v-bind:pinned="isInPin(news_sing.lookup_id)"
            ></news-single>
        </div>
    </div>
</template>

<script>
    import {GET_CANDIDATE_NEWS_FEED} from "../../../Api/candidate_api";
    import NewsSingle from "../../admin/News/news-single-view"
    export default {
        name: "news-home",
        props: {
          fromDash: Boolean,
          fromPinned: Boolean,
        },
        components: {
            NewsSingle
        },
        data: function () {
            return {
                news: [],
                feed_data: {}
            }
        },
        methods: {
            getNewsFeed(){
                const self = this;
                let params = {};
                if(self.fromDash) {
                    params.source = 'dashboard'
                } else if(self.fromPinned) {
                    params.action = 'pin'
                }
                GET_CANDIDATE_NEWS_FEED(params).then(function (response) {
                    self.news = response.news
                    self.feed_data = response.feed_data
                }).catch(function () {

                })
            },
            isInPin(id){
                const self = this;
                if(self.feed_data && self.feed_data.pin) {
                    let data = self.feed_data.pin;
                    for(let i = 0; i < data.length; i++) {
                        if(data[i] === id) return true
                    }
                }
                return false
            }
        },
        mounted() {
            const self = this;
            self.getNewsFeed()
        }
    }
</script>

<style scoped>

</style>