<template>
  <div>
    <div
      id="skill"
      v-if="editSkill === false"
      class="row skill-single align-items-center"
    >
      <!-- <div class="col-md-3 col-lg-2 col-xl-2 no-padding">
        <div class="image-wrapper">
          <img class="image" src="@/assets/newDesign/skill.svg" />
        </div>
      </div> -->
      <div class="col-md-9 col-lg-8 col-xl-8 skill-content" style="position:relative;">
        <div class="skill-text" style="z-index:100">
          {{
            info.skill_name.length > 20
              ? info.skill_name.substr(0, 20) + "..."
              : info.skill_name
          }}
        </div>
        <div
          v-bind:style="{ color: prColor }"
          class="skill-text level"
          @click="opendropdown"
        >
          <div class="row"><font style="margin-right:2rem">{{ skillLevel }}</font><CustomIcon name="edit" genericColor/></div>
        </div>
        <div style="position:absolute;z-index:200;left:0rem;top:3rem">
          <dropdown ref="menu">
            <div class="menuitem" @click="changeSkillLevel(1)">
              Beginner
            </div>
            <div class="menuitem" @click="changeSkillLevel(2)">
              Intermediate
            </div>
            <div class="menuitem" @click="changeSkillLevel(3)">
              Professional
            </div>
            <div class="menuitem" @click="changeSkillLevel(4)">
              Advanced
            </div>
            <div class="menuitem" @click="changeSkillLevel(5)">
              Expert
            </div>
          </dropdown>
        </div>
      </div>
      <div
        class="col-md-12 col-lg-4 col-xl-4"
        style="text-align: right; padding: 0.5rem; cursor: pointer"
        @click="onDeleteSkill"
      >
        <!-- <span @click="onEditSkill"
          ><v-icon class="icon-class-view">edit</v-icon></span
        > -->
        <!-- <span @click="onDeleteSkill" style="margin-left:1.0rem "
          ><v-icon class="icon-class-reject">delete_outline</v-icon></span
        > -->
        <CustomIcon name="close-cross" color="#8f8f8f" />
      </div>
    </div>
    <!-- <div v-if="editSkill" class="row skill-single">
      <div class="col-md-10 col-lg-10 col-xl-10 no-padding">
        <div class="row">
          <div class="col-3 col-md-3 col-lg-6 col-xl-6 skill-text">
            {{ info.skill_name }}
          </div>
          <div
            class="col-9 col-md-9 col-lg-6 col-xl-6 skill-levels"
            style="background: transparent"
          >
            <v-autocomplete
              solo
              height="40"
              label="Skill Level"
              v-model="level"
              :items="skill_levels"
              item-text="text"
              item-value="id"
              prepend-inner-icon="mdi-octagram"
            ></v-autocomplete>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 expEdit">
        <v-icon @click="onSave" class="icon-class-save"
          >mdi-check-circle</v-icon
        >
        <v-icon
          @click="onCancel"
          class="icon-class-reject"
          style="margin-left: 1rem"
          >cancel</v-icon
        >
      </div>
    </div> -->
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <span style="text-align: left">{{ snackMessage }}</span>
      <v-icon :color="bgColor">{{ snackIcon }}</v-icon>
    </v-snackbar>
  </div>
</template>

<script>
import { SAVE_SKILL, DELETE_SKILL } from "../../../../Api/candidate_api";
import CustomIcon from "../../../global-components/customIcon";
import Dropdown from "../../../global-components/dropdown"
;
export default {
  name: "skill-edit",
  components: {
    CustomIcon,
    Dropdown
  },
  props: {

   skill: Object,
    firstItem: Number,
  },
  data: function () {
    return {
      editSkill: false,
      info: this.skill,
      level: 1,
      minVal: 1,
      maxVal: 5,
      isFirst: this.firstItem === 0 ? true : false,
      prColor: "#11998e",
      skillLevel: "",
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' },
      ],
      skill_levels: [
        {
          id: 1,
          text: "Beginner",
        },
        {
          id: 2,
          text: "Intermediate",
        },
        {
          id: 3,
          text: "Professional",
        },
        {
          id: 4,
          text: "Advanced",
        },
        {
          id: 5,
          text: "Expert",
        },
      ],
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: null,
      snackMessage: null,
      ripple: false,
      timeout: null,
      selectItem: false,
    };
  },
  methods: {
    changeSkillLevel(val){
      this.level=val;
      this.$refs.menu.close();
      this.onSave();
    },
    onEditSkill: function () {
      const self = this;
      if (!self.$parent.currentEdit) {
        self.editSkill = true;
        self.$parent.currentEdit = true;
      } else {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
        self.snackMessage =
          self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
      }
    },
    opendropdown(){
      this.$refs.menu.open();
    },
    onDeleteSkill: function () {
      const self = this;
      clearTimeout(self.timeout);
      if (!self.$parent.currentEdit) {
        DELETE_SKILL(self.info)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.timeout = setTimeout(function () {
              self.$emit("delete-skill-success");
            }, 1500);
          })
          .catch(function (err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
            self.timeout = setTimeout(function () {
              self.$emit("delete-skill-success");
            }, 1500);
          });
      } else {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
        self.snackMessage =
          self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
      }
    },
    onSave: function () {
      const self = this;
      let data = {
        attrib_id: self.info.attrib_id,
        level: self.level,
      };
      SAVE_SKILL(data)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.editSkill = false;
          self.timeout = setTimeout(function () {
            self.$emit("update-skill-success");
          }, 1500);
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
          self.editSkill = false;
          self.timeout = setTimeout(function () {
            self.$emit("update-skill-success");
          }, 1500);
        });
    },
    onCancel: function () {
      const self = this;
      self.editSkill = false;
      self.level = self.skill.skill_level;
      self.$parent.currentEdit = false;
    },
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
  mounted: function () {
    const self = this;
    if (self.skill) {
      self.level = self.skill.skill_level;
      switch (self.level) {
        case 1:
          self.skillLevel = "Beginner";
          self.prColor = "#9c6bff";
          break;
        case 2:
          self.skillLevel = "Intermediate";
          self.prColor = "#8145ff";
          break;
        case 3:
          self.skillLevel = "Professional";
          self.prColor = "#133aff";
          break;
        case 4:
          self.skillLevel = "Advanced";
          self.prColor = "#43a046";
          break;
        case 5:
          self.skillLevel = "Expert";
          self.prColor = "#2e7d31";
          break;
      }
    }
  },
};
</script>

<style scoped>
.image-wrapper {
  max-height: 7.2rem;
  max-width: 7.2rem;
  overflow: hidden;
  margin-right: 1rem;
}
.image {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
}
#skill:hover .skillEdit {
  display: block;
}
.skillEdit {
  display: none;
  padding: 0 0 0 0;
  text-align: right;
  color: #05344c;
}
/* .editFixed {
  text-align: right;
  display: block;
} */
.expEdit {
  padding: 0.5rem 0;
  text-align: right;
}
.skill-single {
  background-color: #f2f3f8;
  padding: 0.9rem 1.4rem;
  margin-top: 2rem !important;
  border-radius: 0.5rem;
  height: auto;
}
.skill-content {
  padding: 1rem 0;
}
.skill-text {
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: left;
  color: black;;
}
.level {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: #8f8f8f !important;
  cursor: pointer;
}
.skill-text-edit {
  text-align: left;
  font-size: 1.6rem;
  padding: 0.5rem 0 0 0;
}
.progress-bar-padding {
  padding: 0 1.5rem;
}
/* .progress-bar-padding-edit {
  padding: 0 1.5rem;
  margin-top: -.5rem;
} */
/* .btn-padding-btwn {
  padding: 0 0 0 1.5rem;

} */

.btn-delete {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color);
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
.edit {
  margin-right: 1.2rem;
  color: var(--button-color) !important;
}
</style>
