<template>
  <div>
    <div class="row" style="padding-bottom: 2rem">
      <div class="col-8 no-padding">
        <div class="jobPageH">Companies followed by you</div>
        <div class="jobPageP">
          Get all the live jobs from the companies you follow in one place
        </div>
      </div>
      <div class="col-4 no-padding">
        <v-form
          v-click-outside="hideBox"
          class="card-wrap"
          ref="form"
          @submit.prevent=""
        >
          <span class="search-icon"
            ><v-icon style="font-size: 2rem; color:var(--action-button-color)">fa-search</v-icon></span
          >
          <div class="input-group search-job-input-field">
            <input
              type="text"
              class="form-control"
              placeholder="Search companies"
              v-model="queryKey"
            />
          </div>
          <div v-if="showResults" class="card-result">
            <div :key="index" v-for="(result, index) in searchResult">
              {{ result.company_name }}
              <span
                @click="followCompany(result.company_id, index)"
                class="follow-right"
                >Follow</span
              >
            </div>
          </div>
        </v-form>
      </div>
    </div>
    <div
      style="
        height: calc(100vh - 16rem);
        overflow-y: auto;
        padding-bottom: 4rem !important;
      "
    >
      <div class="row">
        <div
          class="col-sm-6 back-wrp"
          :key="index"
          v-for="(company, index) in companies"
        >
          <div class="back-main">
            <div v-if="company.image_url" class="row">
              <div class="image-url-wrp vertical-center">
                <img class="image-url" :src="company.image_url" />
              </div>
            </div>
            <div v-else class="image-type">
              <div class="ini-text">
                {{ company.company_name.charAt(0).toUpperCase() }}
              </div>
            </div>
            <div class="text-card">
              <div>
                <div v-if="company.company_name.length < 18" class="text-cmpn">
                  {{ company.company_name }}
                </div>
                <div v-else class="text-cmpn">
                  {{ company.company_name.substring(0, 16) + "..." }}
                </div>
                <div>Live Job(s): {{ company.analytics_count }}</div>
              </div>
              <div style="margin-top: 1rem">
                <span
                  @click="unfollowCompany(company.company_id)"
                  class="unfollow"
                  >Unfollow</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-snackbar
      :color="bgColor"
      :timeout="timeOut"
      top
      v-model="snackbar"
      class="snack"
    >
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import {
  FOLLOW_COMPANY,
  GET_FOLLOWING_COMPANIES,
  UNFOLLOW_COMPANY,
} from "../../../Api/candidate_api";
import { GET_AUTO_SUGGEST } from "../../../Api/common_api";
import ClickOutside from "vue-click-outside";
export default {
  name: "companies",
  directives: {
    ClickOutside,
  },
  data: function () {
    return {
      companies: [],
      searchResult: [],
      queryKey: "",
      showResults: false,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
    };
  },
  methods: {
    getCompanies() {
      const self = this;
      self.companies = [];
      GET_FOLLOWING_COMPANIES()
        .then(function (data) {
          self.companies = data;
        })
        .catch(function (err) {});
    },
    queryCompany(key) {
      const self = this;
      GET_AUTO_SUGGEST(key, "company/signed", true)
        .then(function (data) {
          self.searchResult = data;
          if (self.searchResult.length > 0) {
            self.showResults = true;
          } else {
            self.showResults = false;
          }
        })
        .catch(function (err) {});
    },
    hideBox() {
      const self = this;
      self.showResults = false;
    },
    followCompany(id, index) {
      const self = this;
      FOLLOW_COMPANY(id)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.searchResult.splice(index, 1);
          self.getCompanies();
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    unfollowCompany(id) {
      const self = this;
      UNFOLLOW_COMPANY(id)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.getCompanies();
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
  },
  watch: {
    queryKey(newVal, old) {
      if (newVal.trim() !== old.trim() && newVal) {
        this.queryCompany(newVal.trim());
      }
    },
  },
  mounted() {
    const self = this;
    self.getCompanies();
  },
};
</script>

<style scoped>
.comp-head {
  color: #050505;
  text-align: left;
  margin: 1rem !important;
  padding: 2rem 1rem 2rem 0 !important;
}
.comp-text {
  font-size: 2.4rem;
}
.back-wrp {
  margin: 1rem 0;
  padding: 0 1rem;
}
.back-main {
  height: 100%;
  border-bottom: 1px solid #d9d9d9;
  flex-direction: row;
  display: flex;
  padding:1rem ;
}
.image-type {
  height: 10rem;
  background-color: #ff6e38;
}
.image-url-wrp {
  width: 8rem;
  height: 7rem;
  padding: 0.5rem;
}
.image-url {
  width: 100%;
  max-height: 10rem;
}
.ini-text {
  margin: auto;
  font-size: 6rem;
  color: white;
}
.text-card {
  padding: 1rem;
  width:100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text-cmpn {
  font-size: 1.6rem;
}
.search-icon {
  position: absolute;
  top: 0.8rem;
  right: 1.3rem;
  z-index: 80;
  color: #050505;
}
.form-control {
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background-color: #f2f3f8;
  border-radius: 10rem;
  height: 3.7rem;
  border:none
}
.form-control:focus {
  box-shadow: none !important;
}
.card-wrap {
  position: relative;
}
.card-result {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  z-index: 80;
  padding: 1rem;
  border-left: 1px solid #e6e6e6 !important;
  border-bottom: 1px solid #e6e6e6 !important;
  border-right: 1px solid #e6e6e6 !important;
}
.follow-right {
  float: right;
  color: #ff6e38;
  cursor: pointer;
}
.unfollow {
  color: #ffffff;
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: var(--btn-color-primary);
  border-radius: 0.4rem;
}
</style>
