<template>
  <div class="full-content">
    <div class="password">
      <change-password></change-password>
    </div>
  </div>
</template>

<script>
import ChangePassword from "./change-password";
export default {
  components: {
    ChangePassword
  }
};
</script>

<style scoped>
.full-content {
  max-width: 60rem;
  margin: 2rem 0 0 3rem;
}
.password {
  padding: 3rem;
  width: 100%;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.16);
}
@media (max-width: 600px) {
  .full-content {
    margin: 2rem 0 0 0;
  }
}
</style>
