<template>
  <div style="height: 85vh; overflow-y: auto">
    <div v-if="lDocuments">
      <div style="text-align: left; margin: 2rem 0; padding: 2rem 0">
        <div style="font-size: 2rem; color: #050505">Legal Documents</div>
        <div style="font-size: 1.6rem; color: #707070">Your uploaded legal documents</div>
      </div>
      <div class="row e-ttl" :key="index" v-for="(doc, index) in lDocuments">
        <div class="col-1 no-padding">
          <img style="height: 5.6rem; width: auto" src="@/assets/newDesign/certificate.svg"/>
        </div>
        <div class="col-8 my-auto text-left">
          <div style="font-size: 1.4rem; color: #000000">{{ doc.file_name }}</div>
          <div style="font-size: 1.2rem; color: #a2a2a2">{{getName(doc.key)}}</div>
        </div>
        <div class="col-3" style="text-align: right">
          <v-icon @click="viewResume(doc)" class="icon-class-view"
            >mdi-eye</v-icon
          >
        </div>
      </div>
    </div>
    <div>
      <div style="text-align: left; padding: 2rem 0; margin: 2rem 0">
        <div style="font-size: 2rem; color: #050505"> <span v-if="lDocuments">Change</span> Legal Documents</div>
        <div style="font-size: 1.6rem; color: #707070">Upload company legal documents</div>
      </div>
      <div class="row e-ttl">
        <div class="col-8 t--ttl-txt">
          <v-icon v-if="hasNID" color="green" size="16" style="margin-bottom: 0.1rem; margin-right: 0.5rem">mdi-check-circle</v-icon>
          Upload scanned copy of your national id (NID) card
          <div style="font-size: 1.2rem; color: var(--error-color)">Maximum Size: 2MB</div>
          <div style="font-size: 1.2rem; color: var(--error-color)">
            Supported Format: PDF
          </div>
        </div>

        <div class="col-4" style="text-align: right">
          <form enctype="multipart/form-data" novalidate>
            <div class="form-elem">
              <input
                ref="nid"
                class="input-file"
                type="file"
                accept="application/pdf"
                @change="nidChange($event.target.name, $event.target.files)"
              />
            </div>
            <div class="button-elem">
              <div class="btn btn-upload">Browse</div>
              <div class="file-name">{{ nid.name || "No file selected" }}</div>
            </div>
          </form>
        </div>
      </div>
      <div class="row e-ttl">
        <div class="col-8 t--ttl-txt">
          <v-icon
            v-if="hasTIN"
            color="green"
            size="16"
            style="margin-bottom: 0.1rem; margin-right: 0.5rem"
            >mdi-check-circle</v-icon
          >
          Upload the Tax Identification Number (TIN) of the company
          <div style="font-size: 1.2rem; color: var(--error-color)">
            Maximum Size: 4MB
          </div>
          <div style="font-size: 1.2rem; color: var(--error-color)">
            Supported Format: PDF
          </div>
        </div>
        <div class="col-4" style="text-align: right">
          <form enctype="multipart/form-data" novalidate>
            <div class="form-elem">
              <input
                ref="tin"
                class="input-file"
                type="file"
                accept="application/pdf"
                @change="tinChange($event.target.name, $event.target.files)"
              />
            </div>
            <div class="button-elem">
              <div class="btn btn-upload">Browse</div>
              <div class="file-name">{{ tin.name || "No file selected" }}</div>
            </div>
          </form>
        </div>
      </div>
      <div class="row e-ttl">
        <div class="col-8 t--ttl-txt">
          <v-icon
            v-if="hasTL"
            color="green"
            size="16"
            style="margin-bottom: 0.1rem; margin-right: 0.5rem"
            >mdi-check-circle</v-icon
          >
          Upload the scanned copy of the Trade Licence of the company
          <div style="font-size: 1.2rem; color: var(--error-color)">
            Maximum Size: 4MB
          </div>
          <div style="font-size: 1.2rem; color: var(--error-color)">
            Supported Format: PDF
          </div>
        </div>
        <div class="col-4" style="text-align: right">
          <form enctype="multipart/form-data" novalidate>
            <div class="form-elem">
              <input
                ref="tl"
                class="input-file"
                type="file"
                accept="application/pdf"
                @change="tlChange($event.target.name, $event.target.files)"
              />
            </div>
            <div class="button-elem">
              <div class="btn btn-upload">Browse</div>
              <div class="file-name">{{ tl.name || "No file selected" }}</div>
            </div>
          </form>
        </div>
      </div>
      <div style="text-align: left; margin-bottom: 4rem; margin-top: 2rem">
        <button @click="resetAllDocuments" class="btn btn-close">
          Reset All
        </button>
        <button
          @click="uploadAllDocuments"
          style="margin-left: 1rem"
          :disabled="!hasNID || !hasTIN || !hasTL"
          class="btn btn-save-new"
        >
          Upload All Documents
        </button>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right:1.0rem"
          ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
      <!--<v-btn flat :ripple="ripple" @click="snackbar = false">-->
      <!--<v-icon>close</v-icon>-->
      <!--</v-btn>-->
    </v-snackbar>
    <v-dialog
      v-if="currentDocument"
      transition="dialog-bottom-transition"
      v-model="openBox"
      @keydown.esc="openBox = false"
    >
      <div
        style="position: relative; max-height: 80vh; width: 100%; margin: auto; overflow-y: scroll; background-color: #ffffff; padding: 2rem"
      >
        <v-icon
          @click="openBox = false"
          style="position: absolute; top: 1rem; right: 1rem"
          class="icon-class-reject"
          >mdi-close</v-icon
        >
        <div :key="change">
          <document-view
            style="width: inherit"
            v-bind:file="currentDocument"
            @close="openBox = false"
          ></document-view>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import {
  GET_ALL_LEGAL_DOCUMENTS,
  UPLOAD_ALL_DOCUMENTS
} from "../../../Api/employer_api";
import DocumentView from "../../global-components/document-view.vue";
export default {
  name: "documents",
  components: {
    DocumentView
  },
  data: function() {
    return {
      nid: [],
      tin: [],
      tl: [],
      hasNID: false,
      hasTIN: false,
      hasTL: false,
      lDocuments: [],
      view: false,
      src: "",
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      openBox: false,
      currentDocument: undefined,
      change: 0
    };
  },
  methods: {
    getName(name){
        if(name.toLowerCase() === 'tl') {
            return 'Trade Licence'
        } else if (name.toLowerCase() === 'tin') {
            return 'Tax Identification Number'
        } else if (name.toLowerCase() === 'nid') {
            return 'National ID Card'
        } else {
            return name;
        }
    },
    nidChange(fieldName, fileList) {
      const self = this;
      if (fileList[0].size / 1024 / 1024 > 2) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = 'File size exceeds the limit(Limit 2MB)';
          self.nid = [];
          const input = this.$refs.nid;
          input.type = "text";
          input.type = "file";
          self.hasNID = false;
      } else {
        self.nid = fileList[0];
        self.hasNID = true;
      }
    },
    tinChange(fieldName, fileList) {
      const self = this;
      if (fileList[0].size / 1024 / 1024 > 4) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = 'File size exceeds the limit(Limit 4MB)';
          self.tin = [];
          const input = this.$refs.tin;
          input.type = "text";
          input.type = "file";
          self.hasTIN = false;
      } else {
        self.tin = fileList[0];
        self.hasTIN = true;
      }
    },
    tlChange(fieldName, fileList) {
      const self = this;
      if (fileList[0].size / 1024 / 1024 > 4) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = 'File size exceeds the limit(Limit 4MB)';
          self.tl = [];
          const input = this.$refs.tl;
          input.type = "text";
          input.type = "file";
          self.hasTL = false;
      } else {
        self.tl = fileList[0];
        self.hasTL = true;
      }
    },
    uploadAllDocuments() {
      const self = this;
      UPLOAD_ALL_DOCUMENTS(self.nid, self.tin, self.tl)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          setTimeout(function() {
            self.getAllDocuments();
            self.resetAllDocuments();
          }, 100);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    resetAllDocuments() {
      const self = this;
      self.nid = [];
      self.tin = [];
      self.tl = [];
      self.hasNID = false;
      self.hasTIN = false;
      self.hasTL = false;
      const input1 = this.$refs.nid;
      input1.type = "text";
      input1.type = "file";
      const input2 = this.$refs.tin;
      input2.type = "text";
      input2.type = "file";
      const input3 = this.$refs.tl;
      input3.type = "text";
      input3.type = "file";
    },
    viewResume(file) {
      const self = this;
      self.currentDocument = file;
      self.openBox = true;
      self.change++;
    },
    getAllDocuments() {
      const self = this;
      GET_ALL_LEGAL_DOCUMENTS()
        .then(function(data) {
          self.lDocuments = data.legal_docs;
        })
        .catch(function() {
          self.lDocuments = [];
        });
    }
  },
  mounted() {
    const self = this;
    self.getAllDocuments();
  }
};
</script>

<style scoped>
.form-elem {
  position: relative;
}
.button-elem {
}
.input-file {
  color: black;
  border: 0.1rem solid #3d4249;
  height: 3.5rem;
  width: 13rem;
  opacity: 0; /* invisible but it's there! */
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}
.btn-upload {
  min-width: 8rem;
  font-size: 1.4rem;
  border-radius: 5rem;
  letter-spacing: 0;
  color: #ffffff;
  background-color: #00adee !important;
  box-shadow: none !important;
  transition: 0.5s;
  padding: .5rem 2.0rem;
  cursor: pointer;

}
.btn-upload:hover {
  background-color: #00adee !important;
  color: #ffffff;
  opacity: 0.9;
  transition: 0.5s;

}
.t--ttl-txt {
  font-size: 1.4rem;
  text-align: left;
}
.file-name {
  padding: 0.6rem 1rem 0;
}
.e-ttl {
  background-color: #f7f7f7;
  margin: 1rem 0 !important;
  border-radius: 0.4rem;
  text-align: left;
  padding: 3rem;
  max-width: 80rem;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.16);
}
</style>
