<template>
  <div class="row" style="position: relative; width: 100%">
    <div class="feed" style="width: 100%">
      <div
        class="alert"
        v-if="!user.email_confirmed"
        style="
          flex-direction: row;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <div style="padding-right: 0.5rem; font-size: 1.4rem; color: #000">
          Your account is not verified. Please verify your account to apply for
          numerous jobs.
          <a @click="verifyEmail" style="color: var(--action-button-color)"
            >Verify now</a
          >
        </div>
        <div class="pc" style="width: 17rem"></div>
      </div>

      <div
        class="row justify-content-between align-items-end"
        style="
          border-bottom: 1px solid #dfdfdf;
          margin-bottom: 5.2rem !important;
          width: 100%;
        "
      >
        <div class="welcomeText">
          <span class="wrkd-welcome">Welcome </span>
          <span> {{ user.name }} </span>
          <!-- <tips-wrapper ref="tips">
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          </tips-wrapper> -->
          <!-- Need to add First name -->
          <!-- <div>
            <p>We are excited to have you in the Artifical Intellegence world of WORKD</p>
          </div>
          <div>
            <a href="#">Take a Tour</a>
          </div> -->
        </div>

        <div class="row col-8 justify-content-end" style="width: 100%">
          <info-card
            title="Search Appearance"
            :count="search_count"
          ></info-card>

          <info-card
            title="Applied Jobs"
            :count="application_count"
          ></info-card>

          <info-card title="Profile Viewed" :count="view_count"></info-card>
        </div>
      </div>
      <!-- <div v-if="profileCompletionStatus" class="prof-complete">
        <v-progress-linear
          style="margin: 0"
          :color="profileCompletionStatus.color"
          :value="profileCompletionStatus.percentages"
        ></v-progress-linear>
        <div class="row prof-complete-head">
          <div class="col-10">
            <div class="prof-complete-text">
              Your Profile is
              {{ profileCompletionStatus.percentages + "%" }} complete.
            </div>
            <div class="prof-complete-text-sub">
              A complete profile increases your chance to get hired by your
              desired company. If your profile is 50% or less complete your
              chance to appear in different search is very low. So keep your
              profile updated.
            </div>
          </div>
          <div
            v-if="profileCompletionStatus.percentages < 100"
            class="col-2 mx-auto my-auto"
          >
            <div
              @click="gotoProfilePage"
              style="
                text-align: center;
                text-decoration: underline;
                cursor: pointer;
                color: var(--button-color);
              "
            >
              Update
            </div>
          </div>
        </div>
        <div class="row prof-complete-stat">
          <div class="col-2 no-padding">
            <div class="complete-stat-head">Education</div>
            <div>
              <v-icon color="success" v-if="profileCompletionStatus.education"
                >mdi-check</v-icon
              >
              <v-icon color="error" v-else>mdi-close</v-icon>
            </div>
          </div>
          <div class="col-2 no-padding">
            <div class="complete-stat-head">Experience</div>
            <div>
              <v-icon color="success" v-if="profileCompletionStatus.experience"
                >mdi-check</v-icon
              >
              <v-icon color="error" v-else>mdi-close</v-icon>
            </div>
          </div>
          <div class="col-2 no-padding">
            <div class="complete-stat-head">Skill</div>
            <div>
              <v-icon color="success" v-if="profileCompletionStatus.skill"
                >mdi-check</v-icon
              >
              <v-icon color="error" v-else>mdi-close</v-icon>
            </div>
          </div>
          <div class="col-2 no-padding">
            <div class="complete-stat-head">Resume</div>
            <div>
              <v-icon color="success" v-if="profileCompletionStatus.resume"
                >mdi-check</v-icon
              >
              <v-icon color="error" v-else>mdi-close</v-icon>
            </div>
          </div>
          <div class="col-2 no-padding">
            <div class="complete-stat-head">Profile Photo</div>
            <div>
              <v-icon color="success" v-if="profileCompletionStatus.image"
                >mdi-check</v-icon
              >
              <v-icon color="error" v-else>mdi-close</v-icon>
            </div>
          </div>
          <div class="col-2 no-padding">
            <div class="complete-stat-head">Contact Number</div>
            <div>
              <v-icon color="success" v-if="profileCompletionStatus.phone"
                >mdi-check</v-icon
              >
              <v-icon color="error" v-else>mdi-close</v-icon>
            </div>
          </div>
        </div>
      </div> -->
      <template>
        <div class="timelineHeader pc">
          <div class="leftIcon">
            <CustomIcon
              name="light-bulb"
              color="var(--action-button-color)"
              size="5.5"
            />
          </div>
          <div class="jobPageH">Workd Timeline</div>
          <div class="jobPageP">
            Get job suggestions, career tips and all that trending in the job
            market in one place!
          </div>
        </div>
        <div v-if="TopJob.length > 0" class="trending pc">
          <div
            :class="{ leftIcon: !digest, leftIconFill: digest }"
            class="actionable absolute-center-row"
            @click="digest = !digest"
          >
            <CustomIcon
              name="target-jobs"
              color="var(--action-button-color)"
              size="2.2"
              genericColor
            />
          </div>
          <!-- <div class="header-text">
          <div class="txt">Recommended for you</div>
        </div> -->
          <div
            :class="{ leftSpeech: !digest, leftSpeechClose: digest }"
            @click="digest = !digest"
          >
            <div :class="{ speechBubble: !digest, speechBubbleFill: digest }">
              {{ TopJob.length }} new jobs matched your profile
            </div>
          </div>
          <div
            class="trending-jobs"
            :class="{ trendingOpen: !digest, trendingClose: digest }"
          >
            <div v-for="(job, index) in TopJob" :key="index">
              <topjob-synopsis :job="job" :key="index"> </topjob-synopsis>
            </div>
          </div>
        </div>
        <div class="newsfeed pc">
          <div
            :class="{ leftIcon: !newsFeed, leftIconFill: newsFeed }"
            class="actionable absolute-center-row"
            @click="newsFeed = !newsFeed"
          >
            <CustomIcon
              name="rss-news-feed"
              color="var(--action-button-color)"
              size="1.5"
              genericColor
            />
          </div>
          <div
            :class="{ leftSpeech: !newsFeed, leftSpeechClose: newsFeed }"
            @click="newsFeed = !newsFeed"
          >
            <div
              :class="{ speechBubble: !newsFeed, speechBubbleFill: newsFeed }"
            >
              News and topics
            </div>
          </div>
          <div :class="{ trendingOpen: !newsFeed, trendingClose: newsFeed }">
            <news-section  v-bind:from-dash="true"></news-section>
          </div>
          <div class="endBubble"></div>
        </div>
      </template>
      <div class="phone">
        <div class="phonetimeline">
          <div class="phone-timeline-nav">
            <div
              class="nav-tab"
              :class="{ navTabActive: activeNav === 1 }"
              @click="activeNav = 1"
            >
              Jobs
            </div>
            <div
              class="nav-tab"
              :class="{ navTabActive: activeNav === 2 }"
              @click="activeNav = 2"
            >
              News
            </div>
          </div>
          <div>
            <div v-if="activeNav === 1">
              <div v-for="(job, index) in TopJob" :key="index">
                <topjob-synopsis :job="job" :key="index"> </topjob-synopsis>
              </div>
            </div>
            <div v-if="activeNav===2">
              <news-section  v-bind:from-dash="true"></news-section>
            </div>
          </div>
        </div>
      </div>
      <div class="safe-area"></div>
    </div>

    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem"
          ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import { RESEND_EMAIL, GET_ANALYTICS } from "../../Api/common_api";
import InfoCard from "../global-components/dashboard-card";
import TopjobSynopsis from "../global-components/top-jobs-synopsis";
import NewsSection from "../candidate/news/news-home";
import { SEARCH_JOBS_PUBLIC } from "../../Api/public_api";
import CustomIcon from "../global-components/customIcon";
import {
  GET_CANDIDATE_DIGEST,
  GET_PROFILE_COMPLETION_STATUS,
} from "../../Api/candidate_api";
// import Tipswrapper from '../global-components/tipswrapper.vue';
export default {
  components: {
    InfoCard,
    TopjobSynopsis,
    NewsSection,
    CustomIcon,
  },
  data: function () {
    return {
      view_count: 0,
      potential_jobs: 0,
      matched_job: 0,
      search_count: 0,
      application_count: 0,
      error: null,
      user: {},
      bgColor: "#454545",
      timeOut: 5000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      TopJob: [],
      profileCompletionStatus: {},
      digest: null,
      newsFeed: null,
      value: false,
      activeNav: 1,
    };
  },
  methods: {
    format(value) {
      return value.toFixed(0);
    },
    verifyEmail() {
      const self = this;
      let data = {
        email: self.user.email,
        email_type: "verification",
        token: self.user.token,
      };
      RESEND_EMAIL(data)
        .then(function (response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    gotoProfilePage() {
      this.$router.push({ name: "candidateProfile" }).catch(function () {});
    },
    getProfileCompletionStatus() {
      const self = this;
      GET_PROFILE_COMPLETION_STATUS()
        .then(function (data) {
          self.profileCompletionStatus = data;
          let percentages = 0;
          if (self.profileCompletionStatus.education) {
            percentages += 30;
          }
          if (self.profileCompletionStatus.experience) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.skill) {
            percentages += 30;
          }
          if (self.profileCompletionStatus.image) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.resume) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.phone) {
            percentages += 10;
          }
          self.profileCompletionStatus.percentages = percentages;
          if (self.profileCompletionStatus.percentages < 30) {
            self.profileCompletionStatus.color =
              self.$constants.SNACKBAR_COLOR.ERROR_ALT;
          } else if (self.profileCompletionStatus.percentages < 60) {
            self.profileCompletionStatus.color =
              self.$constants.SNACKBAR_COLOR.WARNING_ALT;
          }
          const comp = JSON.stringify(self.profileCompletionStatus);
          localStorage.setItem("completeness", comp);
        })
        .catch(function () {
          self.profileCompletionStatus = {};
        });
    },
    // changeValue(){
    //   // alert("hello")
    //   this.$refs.tips.open()
    // }
  },

  mounted() {
    const self = this;
    self.user = self.$constants.getOwnerInfo();
    self.getProfileCompletionStatus();
    GET_ANALYTICS()
      .then(function (data) {
        self.application_count = data.application_count;
        self.view_count = data.view_count;
        self.search_count = data.search_appearance_count;
      })
      .catch((err) => (this.error = err));
    GET_CANDIDATE_DIGEST()
      .then(function (data) {
        self.TopJob = data;
      })
      .catch(function () {
        self.TopJob = [];
      });
  },
};
</script>

<style scoped>
.trending-jobs {
  overflow-y: auto;
}
/* .feed {
  height: 88vh;
  overflow-y: auto;
} */
.actionable {
  border-radius: 50%;
  border: 1px solid var(--action-button-color);
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  left: -1.9rem !important;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0.7rem white;
}
.welcomeText {
  color: #172b4d;
  font-size: 3rem;
  font-weight: normal;
  margin: 2rem 0 2rem;
  text-align: left;
}
.welcomeText p {
  font-weight: normal;
  line-height: 2.5rem;
  color: #707070;
}
.leftIcon {
  position: absolute;
  left: -2.75rem;
  top: 0;
  background-color: white;
  transition: 0.5s;
  color: var(--btn-color-primary);
}
.leftIconFill {
  position: absolute;
  left: -2.25rem;
  top: 0;
  background-color: var(--btn-color-primary);
  color: white;
  transition: 0.5s;
}
.leftSpeechClose {
  position: absolute;
  left: 4.5rem;
  top: 0;
  animation: speechClose 0.5s ease;
}
.leftSpeech {
  position: absolute;
  left: 6rem;
  top: 0;
  animation: speech 0.5s ease;
}
@keyframes speech {
  from {
    left: 4.5rem;
  }
  to {
    left: 6rem;
  }
}
@keyframes speechClose {
  from {
    left: 6rem;
  }
  to {
    left: 4.5rem;
  }
}

.timelineHeader {
  position: relative;
  border-left: 1px dashed #001844;
  margin: 0 1.5rem;
  padding: 6rem;
  padding-top: 1.1rem;
}
.newsfeed {
  border-left: 1px dashed #001844;
  position: relative;
  margin: 0 1.5rem;
  padding: 6rem;
}
.endBubble {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  border: 1px dashed var(--btn-color-primary);
  position: absolute;
  left: -2rem;
  background-color: white;
  bottom: 0rem;
  box-shadow: 0px 0px 0px 0.7rem white;
}
.trending {
  margin: 1.5rem 0 0 0;
  border-left: 1px dashed #001844;
  position: relative;
  margin: 0 1.5rem;
  padding: 6rem;
}
.trendingOpen {
  height: auto;
  overflow: hidden;
  animation: expand 0.4s ease;
}

.trendingClose {
  height: 0px;
  overflow: hidden;
  animation: collapse 0.4s ease;
}
@keyframes expand {
  from {
    height: scaleY(0);
  }
  to {
    height: scaleY(1);
  }
}
@keyframes collapse {
  from {
    height: scaleY(1);
  }
  to {
    height: scaleY(0);
  }
}
.header-text {
  position: relative;
  background-color: #fafafa;
  height: 6.4rem;
  top: 0;
  width: 100%;
  color: #050505;
  padding: 1rem;
  border-radius: 0.8rem;
  border-left: 0.1rem solid #f0f0f0;
  border-top: 0.1rem solid #f0f0f0;
  border-right: 0.1rem solid #f0f0f0;
}
.txt {
  position: absolute;
  font-size: 2.4rem;
  text-align: left;
}
.prof-complete {
  border-radius: 0.4rem;
  background-color: var(--synop-select-color);
  margin: 1.5rem;
  text-align: left;
}
.prof-complete-head {
  padding: 1rem;
  background-color: #f7f7f7;
}
.prof-complete-text {
  font-size: 2rem;
  color: #050505;
}
.prof-complete-text-sub {
  font-size: 1.2rem;
  color: var(--icon-grey-scale-color);
}
.prof-complete-stat {
  padding: 2rem;
  margin-bottom: 1rem;
}
.complete-stat-head {
  font-weight: bold;
}
.alert {
  width: 100vw;
  position: absolute;
  left: -4rem;
  top: -4rem;
  background-color: #fbefb6;
}
.alertOpen {
  width: calc(100vw - 25.3rem);
}
.alertClose {
  width: calc(100vw - 0.8rem);
}
.pc {
  display: block;
}
.phone {
  display: none;
}
.phonetimeline {
  width: 100%;
}
.phone-timeline-nav {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
}
.nav-tab {
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  border-bottom: 2px solid #c5c5c5;
}
.navTabActive {
  border-bottom: 2px solid #166bff;
}
@media (max-width: 800px) {
  .alert {
    left: 0;
    top: -4rem;
  }
  .pc {
    display: none;
  }
  .phone {
    display: block;
  }
}
@media (max-width: 600px) {
  .trending-jobs {
    height: auto;
  }
}
</style>
