<template>
  <div class="test disable-select">
    <div class="phone-nav">
      <div class="row justify-content-between" style="width: 100%">
        <img src="@/assets/logo_new.svg" style="width: 13.01rem" />
        <div class="row">
          <div
            style="margin-right: 1rem; cursor: pointer"
            @click="phoneSearch = !phoneSearch"
          >
            <CustomIcon name="search" size="2.5" />
          </div>
          <div
            style="
              color: white;
              font-weight: bold;
              cursor: pointer;
              margin-left: 1rem;
            "
            @click="drawerAction"
          >
            <CustomIcon v-if="open || open === null" name="ham-menu" size="3" />
            <CustomIcon v-else name="close-cross" />
          </div>
        </div>
      </div>
      <transition name="slide-fade">
        <div style="margin-top: 1.43rem; width: 100%" v-if="phoneSearch">
          <search-component
            v-on:search="searchJobs"
            id="btn-srch-cn"
          ></search-component>
        </div>
      </transition>
    </div>
    <div
      class="background"
      @click="drawerAction"
      v-if="open || open === null"
    ></div>
    <div
      class="drawer"
      :class="{
        drawerOpen: open !== null && open,
        drawerClose: open !== null && !open,
      }"
    >
      <div class="actionButton pc" @click="drawerAction">
        {{ open ? "<" : open === null ? "<" : ">" }}
      </div>
      <div class="drawerTopContent">
        <div v-if="open || open === null">
          <img src="@/assets/logo_new.svg" style="width: 18.23rem" />
        </div>
        <div v-else class="pc">
          <img src="@/assets/logo_new_short.svg" style="width: 4.99rem" />
        </div>
        <div
          class="topBubbleWrapper"
          :class="{ topBubbleWrapperClose: open !== null && !open }"
        >
          <div class="topBubble"><CustomIcon name="help" /></div>
          <div class="topBubble" @click="gotoInbox()">
            <CustomIcon name="email" />
          </div>
          <div class="topBubble" @click="onClickInvite">
            <CustomIcon name="invite-friends" />
          </div>
        </div>
        <div
          class="drawerItem"
          @click="gotoDashboard"
          :class="{ activeItem: isActive('dashboard') }"
        >
          <CustomIcon size="1.8" name="nav-dashboard" dashboard genericColor />

          <div v-show="open === null || open" class="drawerText">Dashboard</div>
        </div>
        <div
          class="drawerItem"
          @click="gotoMyjobs"
          :class="{ activeItem: isActive('myjobs') }"
        >
          <CustomIcon
            size="1.8"
            name="nav-applied-jobs"
            dashboard
            genericColor
          />
          <div v-show="open === null || open" class="drawerText">My jobs</div>
        </div>
        <div
          class="drawerItem"
          @click="gotoFollowingCompanies"
          :class="{ activeItem: isActive('following') }"
        >
          <CustomIcon size="1.8" name="company" dashboard genericColor />
          <div v-show="open === null || open" class="drawerText">
            Following Companies
          </div>
        </div>
        <div
          class="drawerItem"
          :class="{ activeItem: isActive('profile') }"
          @click="gotoProfilePage"
        >
          <CustomIcon
            size="1.8"
            name="ico-personal-info"
            dashboard
            genericColor
          />
          <div v-show="open === null || open" class="drawerText">
            Profile settings
          </div>
        </div>
        <div
          class="drawerItem"
          :class="{ activeItem: isActive('allarticles') }"
          @click="gotoArticlePage"
        >
          <CustomIcon size="1.8" name="rss-news-feed" dashboard genericColor />
          <div v-show="open === null || open" class="drawerText">
            All articles
          </div>
        </div>
      </div>
      <div class="drawerBottomContent">
        <div class="drawerItem" @click="onClickPassword">
          <CustomIcon name="password" dashboard genericColor />
          <div v-show="open === null || open" class="drawerText">
            Change Password
          </div>
        </div>
        <div class="drawerItem" @click="signOutConfirmation">
          <CustomIcon size="1.8" name="logout" dashboard genericColor />
          <div v-show="open === null || open" class="drawerText">Logout</div>
        </div>
      </div>
    </div>
    <div class="contentContainer">
      <div class="top-bar pc">
        <search-component
          v-on:search="searchJobs"
          id="btn-srch-cn"
        ></search-component>
        <div class="profileInfo" style="position:relative">
          <div
            style="white-space: nowrap; margin-right: 2.4rem; text-align: right"
          >
            <div style="color: #172b4d; font-size: 1.6rem; font-weight: bold">
              {{ username }}
            </div>
            <div style="display:flex;flex-direction:row;align-items:center">
              <div style="width:8px;height:8px;border-radius:4px;background-color:#00e27f;margin-right:0.5rem">
              </div>
              <div style="color: #008e50">
                {{ profile_status[profilestatus - 1] }}
              </div>
            </div>
          </div>
          <div
            class="profilePicWrapper absolute-center-row"
            @click="changeProfilePicture"
          >
            <img class="profilePic" :src="userImage" />
          </div>
          <div style="position:absolute;top:7rem">
            <dropdown ref="menu">
              <div>
                <b>Your profile is {{profileCompletionStatus.percentages}}% complete</b>
                <div v-if="profileCompletionStatus.percentages<100" style="color:var(--link-color);cursor:pointer" @click="gotoProfilePage">Complete now</div>
              </div>
            </dropdown>
          </div>
        </div>
      </div>

      <change-password ref="passwordModal"></change-password>

      <div class="routerContent">
        <router-view></router-view>
      </div>
    </div>
    <!-- <div
      :class="{
        wrapper: open,
        wrapperClose: !open && !phone,
        wrapperPhone: phone && !open,
      }"
    >
      <div
        :class="{
          sidebarOpen: open,
          sidebarClose: !open && !phone,
          sidebarPhone: phone && !open,
        }"
      >
        <div class="menu-button-patch"></div>
        <div
          class="menubutton"
          @click="
            open = !open;
            showJobMenu = false;
            showProfileMenu = false;
          "
        >
          <v-icon
            v-if="phone && open"
            style="color: var(--button-color); font-size: 3.2rem"
            >arrow_back</v-icon
          >
          <v-icon v-else style="color: var(--button-color); font-size: 3.2rem"
            >menu</v-icon
          >
        </div>
        <div v-if="phone && !open"></div>
        <div v-else @click="gotoDashboard" class="logo">
          <div v-if="open">
            <img src="@/assets/newDesign/logo_color.svg" style="width: 17rem" />
          </div>
          <img v-if="open" src="../../assets/trimatra_img/logo.png">
          <div v-else>
            <img
              v-if="!phone"
              style="width: 4.5rem; height: auto"
              src="@/assets/newDesign/logo.svg"
            />
          </div>
        </div>
        <div
          :class="{
            profile: open,
            profileClose: !open && !phone,
            profilePhone: phone && !open,
          }"
        >
          <div
            @click="changeProfilePicture"
            class="xyz"
            :class="{ proPic: open, proPicClose: !open }"
          >
            <div class="image-wrapper-wrap">
              <img class="image" :src="userImage" />
            </div>
            <div class="pro-pic-upload-wrapper">
              <v-icon
                color="rgba(255,255,255,0.7)"
                style="padding: 1rem 0"
                size="20"
                >fa-camera</v-icon
              >
            </div>
          </div>
        </div>
        <div v-if="open" style="padding: 1rem">
          <div style="font-size: 1.6rem; font-weight: bold">
            {{ user.name }}
          </div>
          <div v-if="phone && completeNess" class="badg">
            Incomplete Profile
          </div>
        </div>
        <div class="items">
          <div
            v-bind:class="{ active: isActive('dashboard') }"
            @click="gotoDashboard"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('dashboard') }"
              class="item-icon"
              >mdi-view-dashboard</v-icon
            >
            <span class="item-text" v-if="open">Dashboard</span>
          </div>
          <div
            v-bind:class="{ active: isActive('jobs') }"
            @click="openMenu('jobs')"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('jobs') }"
              class="item-icon"
              >mdi-briefcase</v-icon
            >
            <span class="item-text" v-if="open">Jobs</span>
            <span v-if="open">
              <v-icon class="arrow-icon" v-if="!showJobMenu"
                >expand_more</v-icon
              >
              <v-icon class="arrow-icon" v-else>expand_less</v-icon>
            </span>
          </div>
          <div
            v-bind:class="{ active: isActive('candidateAppliedJobs') }"
            @click="gotoJobPages('candidateAppliedJobs')"
            v-if="showJobMenu"
            class="item"
          >
            <span class="item-text subT">Applied</span>
            <<v-icon style="float: right" color="#0766ff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="{ active: isActive('candidateSavedJobs') }"
            @click="gotoJobPages('candidateSavedJobs')"
            v-if="showJobMenu"
            class="item"
          >
            <span class="item-text subT">Saved</span>
            <<v-icon style="float: right" color="#0766ff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="{ active: isActive('following') }"
            @click="gotoFollowingCompanies"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('following') }"
              class="item-icon"
              >mdi-account-multiple</v-icon
            >
            <span class="item-text" v-if="open">Following</span>
          </div>
          <div
            v-bind:class="{ active: isActive('profile') }"
            @click="gotoProfilePage"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('profile') }"
              class="item-icon"
              >mdi-account-circle</v-icon
            >
            <span class="item-text" v-if="open">Profile</span>
          </div>
          <div
            class="item"
            :class="{ active: isActive('message') }"
            @click="gotoInbox()"
            v-if="phone"
          >
            <v-icon style="margin-right: 1.7rem">mdi-email</v-icon>Messages
          </div>
          <div v-if="phone" class="item" @click="onClickInvitephone">
            <v-icon color="#121212;" size="20" style="margin-right: 1.2rem"
              >group_add</v-icon
            >Invite
          </div>
          <div
            v-if="phone && passwordAction"
            class="item"
            @click="gotoChangePasswordPage"
          >
            <v-icon color="#121212;" size="20" style="margin-right: 1.2rem"
              >settings</v-icon
            >Change Password
          </div>
          <div v-if="phone" class="item" @click="signOutConfirmation">
            <v-icon color="#121212;" size="20" style="margin-right: 1.2rem"
              >power_settings_new</v-icon
            >Log Out
          </div>
        </div>
      </div>
      <div v-if="!phone"></div>

      <div class="contentContainer">
        <div v-if="phone && open" class="overlay" @click="open = false"></div>
        <div v-else style="height: 95vh">
          <div class="phone-nav" v-if="phone" @click="gotoDashboard">
            <img style="width: 5rem" src="@/assets/newDesign/logo.svg" />
          </div>
          <header class="top-header">
            <div class="row justify-content-end">
              <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <div class="row">
                  <div
                    class="col-sm-12 col-md-1 col-lg-1 col-xl-1 no-padding"
                    align="right"
                  >
                    <v-menu
                      v-if="!phone"
                      v-model="messageMenu"
                      transition="scale-transition"
                      :close-on-content-click="false"
                      offset-y
                    >
                      <template v-slot:activator="{ on }">
                        <v-badge
                          v-model="hasUnread"
                          style="margin-top: 0.5rem"
                          color="red"
                          overlap
                        >
                          <template v-slot:badge>
                            <span>{{ unreadCount }}</span>
                          </template>
                          <v-icon class="message-icon" v-on="on"
                            >mdi-email</v-icon
                          >
                        </v-badge>
                      </template>
                      <div class="message-box-wrapper">
                        <div class="message-box-head">
                          Recent messages
                          <span v-if="unreadCount > 0"
                            >( {{ unreadCount }} )</span
                          >
                        </div>
                        <div class="message-box-body">
                          <div v-if="noThread">
                            You don't have any messages yet.
                          </div>
                          <div
                            v-else
                            class="box-item-wrapper"
                            v-for="(thread, index) in threads"
                            :key="index"
                          >
                            <div class="row box-item">
                              <div
                                @click="gotoInbox(thread.thread_id)"
                                class="col-1 no-padding"
                              >
                                <div
                                  v-if="
                                    !thread.is_company &&
                                    recipients[thread.person_id]
                                  "
                                  class="image-wrapper"
                                >
                                  <img
                                    class="image"
                                    :src="recipients[thread.person_id]"
                                  />
                                </div>
                                <div v-else class="name-initial">
                                  {{ getInitialsFromName(thread.user_name) }}
                                </div>
                              </div>
                              <div
                                @click="gotoInbox(thread.thread_id)"
                                class="col-10"
                              >
                                <div class="sender name">
                                  {{ thread.user_name }}
                                </div>
                                <div class="sender subject">
                                  {{ thread.subject || "No Subject" }}
                                </div>
                              </div>
                              <div style="position: absolute; top: 0; right: 0">
                                <div style="font-size: 1.2rem">
                                  Aug, {{ thread.Unread }}
                                </div>
                                <v-icon
                                  style="
                                    margin-top: 0.2rem;
                                    color: var(--button-color);
                                    float: right;
                                  "
                                  size="14"
                                  v-if="thread.Unread"
                                  >mdi-circle</v-icon
                                >
                                <v-icon
                                  style="margin-top: 0.2rem; float: right"
                                  size="14"
                                  v-else
                                  >mdi-circle-outline</v-icon
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div v-if="!noThread" class="message-box-tail">
                          <a
                            @click="gotoInbox(threads[0].thread_id)"
                            style="font-size: 1.6rem; color: var(--link-color)"
                            >View all messages</a
                          >
                        </div>
                      </div>
                    </v-menu>
                  </div>
                </div>
              </div>
              <div v-if="phone && open"></div>
              <div
                v-else
                class="col-sm-7 col-md-7 col-lg-8 col-xl-9 no-padding"
              >
                <search-component
                  v-on:search="searchJobs"
                  id="btn-srch-cn"
                ></search-component>
              </div>
              <div
                v-if="!phone"
                class="col-sm-2 col-md-2 col-lg-2 col-xl-1 no-padding"
                align="right"
              >
                <span @click="onClickInvite" class="icon-invite"
                  ><v-icon
                    v-if="!phone"
                    style="
                      color: var(--button-color);
                      font-size: 2rem;
                      margin-right: 0.5rem;
                      margin-top: 1.2rem;
                    "
                    >mdi-account-plus</v-icon
                  ><span style="font-size: 1.4rem">Invite</span></span
                >
              </div>
              <div
                class="col-sm-2 col-md-2 col-lg-1 col-xl-1 no-padding"
                align="right"
              >
                <v-menu
                  v-if="!phone"
                  v-model="showDropdown"
                  transition="slide-y-transition"
                  :close-on-content-click="true"
                  offset-y
                  left
                >
                  <template v-slot:activator="{ on }">
                    <v-badge
                      v-model="completeNess"
                      style="margin-top: 1rem"
                      id="bdge"
                      color="#ff6e38"
                      left
                      overlap
                    >
                      <template v-slot:badge>
                        <span>!</span>
                      </template>
                      <span class="user-icon" v-on="on"
                        ><v-icon
                          style="font-size: 2.2rem; color: var(--button-color)"
                          >mdi-account</v-icon
                        ><v-icon style="color: var(--button-color)"
                          >mdi-chevron-down</v-icon
                        ></span
                      >
                    </v-badge>
                  </template>
                  <div class="box-wrapper">
                    <div class="box-head">
                      <div style="font-size: 1.6rem; font-weight: bold">
                        {{ user.name }}
                      </div>
                      <div v-if="completeNess" class="badg">
                        Incomplete Profile
                      </div>
                    </div>
                    <div class="box-body">
                      <div
                        v-if="passwordAction"
                        @click="gotoChangePasswordPage"
                        class="item-wrapper"
                      >
                        <div class="men-item">Change Password</div>
                      </div>
                      <div @click="signOutConfirmation" class="item-wrapper">
                        <div class="men-item">Log out</div>
                      </div>
                    </div>
                  </div>
                </v-menu>
              </div>
            </div>
          </header>
          <div :key="changeKey" v-if="showPopup">
            <confirmation-popup
              v-on:on-click-cancel="showPopup = false"
              v-on:on-click-ok="signOutCallBack"
              v-bind="signOutPopUpProps"
            ></confirmation-popup>
          </div>
          <div v-if="inviteCall">
            <invite-people
              :key="changeInvite"
              v-bind="inviteProps"
              v-on:send-invite="sendInvitation"
              v-on:box-closed="inviteCall = false"
            ></invite-people>
          </div>
          <div id="info-part" class="top-padding">
            <router-view></router-view>
          </div>
        </div>
      </div>
      <div :key="changePic" v-if="changePicture">
        <change-image
          v-bind:image="userImage"
          v-on:update-picture="updateProfilePicture"
        ></change-image>
      </div>
    </div>-->
    <div v-if="inviteCall">
      <invite-people
        :key="changeInvite"
        v-bind="inviteProps"
        v-on:send-invite="sendInvitation"
        v-on:box-closed="inviteCall = false"
      ></invite-people>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%">
        <span style="padding-right: 1rem"
          ><v-icon color="rgba(0,0,0,0.5)">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
    <div :key="changePic" v-if="changePicture">
      <change-image
        v-bind:image="userImage"
        v-on:update-picture="updateProfilePicture"
      ></change-image>
    </div>

    <div :key="changeKey" v-if="showPopup">
      <confirmation-popup
        v-on:on-click-cancel="showPopup = false"
        v-on:on-click-ok="signOutCallBack"
        v-bind="signOutPopUpProps"
      ></confirmation-popup>
    </div>
  </div>
</template>

<script>
import SearchComponent from "../global-components/search-component";
import InvitePeople from "./invite-people";
import ChangeImage from "../global-components/change-image";
import Dropdown from "../global-components/dropdown"
import { GET_COUNT_UPDATE, IMAGE, SIGN_IN_SUCCESS } from "../../Api/common_api";
import {
  GET_PROFILE_COMPLETION_STATUS,
  SEND_INVITATION,
} from "../../Api/candidate_api";
import CustomIcon from "../global-components/customIcon";
import ConfirmationPopup from "../global-components/confirmation-pop-up";
import { GET_INITIALS, PHONE } from "../../globalFunctions";
import ChangePassword from "./settings/change-password.vue";

export default {
  components: {
    SearchComponent,
    ConfirmationPopup,
    ChangeImage,
    InvitePeople,
    CustomIcon,
    Dropdown,
    ChangePassword,
  },
  data:function(){
    return {
      completeNess: null,
      showDropdown: false,
      phone: PHONE(),
      user: this.$constants.getOwnerInfo(),
      threads: [],
      recipients: [],
      drawer: false,
      open: null,
      showJobMenu: false,
      showProfileMenu: false,
      showPopup: false,
      inviteCall: false,
      signOutPopUpProps: {
        open: false,
        title: "Confirmation",
        message: "Do you really want to sign out now?",
      },
      inviteProps: {
        open: false,
      },
      changeKey: 0,
      changeInvite: 0,
      changePicture: false,
      changePic: 0,
      activeTab: "",
      userImage: require("@/assets/male_user.svg"),
      bgColor: "#454545",
      timeOut: 1500,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      showMaxItem: 5,
      unreadCount: 0,
      hasUnread: false,
      noThread: true,
      messageMenu: false,
      previousKey: "",
      duplicateSearch: 0,
      totalMessage: 0,
      interval: null,
      timer: 0,
      timeInterval: this.$constants.DELAY.MESSAGE_COUNT_INTERVAL,
      passwordAction: false,
      profileCompletionStatus: {},
      timeout: null,
      password: false,
      phoneSearch: false,
      profile_status: [
        "Actively searching",
        "Casually searching",
        "Not searching, but open to inquiry",
        "Not searching",
      ],
    };
  },
  methods: {
    drawerAction() {
      if (this.open === null) this.open = false;
      else this.open = !this.open;
    },
    getInitialsFromName(name) {
      if (name) {
        return GET_INITIALS(name);
      }
    },
    updateTab(path) {
      const self = this;
      let tab = path;
      if (tab.slice(11) === "myjobs/applied") {
        self.showJobMenu = true;
        self.activeTab = "myjobs";
      } else if (tab.slice(11) === "myjobs/saved") {
        self.activeTab = "myjobs";
        self.showJobMenu = true;
      } else {
        self.activeTab = tab.slice(11);
      }
    },
    onClickPassword() {
      this.$refs.passwordModal.open();
    },
    searchJobs(key) {
      if (key !== "") {
        if (
          this.previousKey !== "" &&
          this.previousKey.toUpperCase() === key.toUpperCase()
        ) {
          this.duplicateSearch = (this.duplicateSearch + 1) % 2;
          let newKey = key + this.duplicateSearch;
          this.$router
            .push({
              name: "candidateSearchJobs",
              params: { q: newKey },
              query: { key: key },
            })
            .catch(function () {});
        } else {
          this.previousKey = key;
          this.activeTab = "";
          this.showJobMenu = false;
          this.$router
            .push({
              name: "candidateSearchJobs",
              params: { q: key },
            })
            .catch(function () {});
        }
      }
    },
    openMenu(menu) {
      const self = this;
      this.open = true;
      switch (menu) {
        case "jobs":
          self.activeTab = "jobs";
          self.open && (self.showJobMenu = !self.showJobMenu);
          break;
        case "profile":
          self.open && (self.showProfileMenu = !self.showProfileMenu);
          break;
      }
    },
    isActive(tab) {
      return this.activeTab.toLowerCase() === tab.toLowerCase();
    },
    gotoDashboard() {
      this.drawer = false;
      this.activeTab = "dashboard";
      this.$router.push({ name: "candidateDashboard" }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoMyjobs() {
      this.drawer = false;
      this.activeTab = "myjobs";
      this.$router.push({ name: "candidateAppliedJobs" }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoFollowingCompanies() {
      this.drawer = false;
      this.activeTab = "following";
      this.$router.push({ name: "followingCompanies" }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoJobPages(name) {
      this.activeTab = name;
      this.$router.push({ name: name }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoProfilePage() {
      this.drawer = false;
      this.activeTab = "profile";
      this.$refs.menu.close();
      this.$router.push({ name: "candidateProfile" }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoArticlePage() {
      this.drawer = false;
      this.activeTab = "allarticles";
      this.$router.push({ name: "allarticles" }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoChangePasswordPage() {
      this.drawer = false;
      this.$router.push({ name: "candidateSettings" }).catch(function () {});
      this.phone && (this.open = false);
    },
    gotoInbox(id) {
      this.messageMenu = false;
      this.$router
        .push({ name: "candidateMessages", query: { t_id: id } })
        .catch(function () {});
      if (this.phone) this.open = false;
    },
    signOutCallBack: function () {
      const self = this;
      self.$store.dispatch("signOut").then(function (response) {
        if (response.status === 200 || response.status === 401) {
          self.$router.push({ name: "landingPage" }).catch(function () {});
          window.location.reload();
        } else {
          self.$router
            .push({ name: "candidateDashboard" })
            .catch(function () {});
        }
      });
    },
    signOutConfirmation: function () {
      this.phone && (this.open = false);
      const self = this;
      self.changeKey++;
      self.showPopup = true;
      if (self.phone) self.open = false;
      self.signOutPopUpProps = {
        open: true,
        title: "Confirmation",
        message: "Do you really want to sign out now?",
      };
    },
    changeProfilePicture: function () {
      const self = this;
      // self.updateProfilePicture("open");
      self.$refs.menu.open()
    },
    onClickInvitephone() {
      this.open = false;
      this.onClickInvite();
    },
    onClickInvite() {
      const self = this;
      self.inviteCall = true;
      self.inviteProps = {
        open: true,
      };
      self.changeInvite++;
    },
    sendInvitation(emails) {
      const self = this;
      self.inviteProps.open = false;
      self.changeInvite++;
      SEND_INVITATION(emails)
        .then(function (response) {
          if (response.status === 200) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = "Invitation Send Successfully.";
          } else {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = response.message;
          }
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    updateProfilePicture(open) {
      const self = this;
      clearTimeout(self.timeout);
      let params = {
        url_only: 1,
      };
      IMAGE(params).then(function (data) {
        self.userImage = data.image_url
          ? data.image_url
          : require("@/assets/male_user.svg");
        self.timeout = setTimeout(function () {
          if (open === "open") {
            self.changePic++;
            self.changePicture = true;
          }
        }, self.$constants.DELAY.IMAGE_FETCH_DELAY);
      });
    },
    getAllThreads() {
      const self = this;
      self.threads = [];
      self.$store
        .dispatch("getAlltheThreads")
        .then(function (data) {
          self.recipients = data.recipients;
          self.totalMessage = data.total_message_count;
          self.unreadCount = data.total_unread_count;
          let i, length, max;
          length = data.threads.length;
          if (length > self.showMaxItem) {
            max = self.showMaxItem;
          } else {
            max = length;
          }
          for (i = 0; i < max; i++) {
            self.threads.push(data.threads[i]);
          }
          self.hasUnread = self.unreadCount !== 0;
          self.noThread = self.totalMessage === 0;
        })
        .catch(function () {
          self.hasUnread = false;
          self.noThread = true;
        });
    },
    updateCounter(duration) {
      const self = this;
      self.interval = setInterval(() => {
        self.$store
          .dispatch("getCountUpdate")
          .then(function (data) {
            if (
              self.unreadCount !== data.total_unread_count ||
              self.totalMessage !== data.total_message_count
            ) {
              self.getAllThreads();
              self.timer = 0;
              clearInterval(self.interval);
              self.updateCounter(self.timeInterval);
            } else {
              self.timer++;
              if (self.timer > 0) {
                if (
                  self.timer > self.$constants.DELAY.MAX_MESSAGE_COUNT_DELAY
                ) {
                  self.timer = 1;
                }
                clearInterval(self.interval);
                self.updateCounter(self.timer * self.timeInterval);
              }
            }
          })
          .catch(function () {});
      }, duration);
    },
    getProfileCompletionStatus() {
      const self = this;
      GET_PROFILE_COMPLETION_STATUS()
        .then(function (data) {
          self.profileCompletionStatus = data;
          let percentages = 0;
          if (self.profileCompletionStatus.education) {
            percentages += 30;
          }
          if (self.profileCompletionStatus.experience) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.skill) {
            percentages += 30;
          }
          if (self.profileCompletionStatus.image) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.resume) {
            percentages += 10;
          }
          if (self.profileCompletionStatus.phone) {
            percentages += 10;
          }
          self.profileCompletionStatus.percentages = percentages;
          const comp = JSON.stringify(self.profileCompletionStatus);
          localStorage.setItem("completeness", comp);
        })
        .catch(function () {
          self.profileCompletionStatus = {};
        });
    },
    closeModal() {
      this.password = false;
    },
  },
  computed: {
    username() {
      return this.$store.getters.getName;
    },
    profilestatus() {
      return this.$store.getters.getStatus;
    },
  },
  beforeDestroy() {
    const self = this;
    clearInterval(self.interval);
    clearInterval(self.timeout);
  },
  mounted() {
    const self = this;
    self.passwordAction = !!self.user.has_password;
    self.getProfileCompletionStatus();
    self.updateTab(self.$route.path);
    self.updateProfilePicture();
  },
  created() {
    const self = this;
    self.$store.commit("changeUserName", self.$constants.getOwnerInfo().name);
    self.$store.commit(
      "changeStatus",
      self.$constants.getOwnerInfo().profile_status
    );
    self.$store
      .dispatch("getCountUpdate")
      .then(function (data) {
        if (
          self.unreadCount !== data.total_unread_count ||
          self.totalMessage !== data.total_message_count
        ) {
          self.getAllThreads();
        }
        setTimeout(function () {
          self.updateCounter(self.timeInterval);
        }, self.$constants.DELAY.MESSAGE_COUNT_INITIAL_INTERVAL);
      })
      .catch(function () {});
  },
  watch: {
    "$route.path"(newQ, oldQ) {
      if (newQ !== oldQ) {
        this.updateTab(newQ);
      }
    },
  },
};
</script>

<style scoped>
.overlay {
  height: 100vh;
  width: 100%;
  background-color: grey;
  position: absolute;
  top: 0;
}
.badg {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
}
.message-icon {
  /*margin-top:.8rem;*/
  color: var(--button-color);
  background-color: var(--synop-select-color);
  padding: 0.8rem;
  font-size: 2.2rem;
  border-radius: 5rem;
}
.icon-invite {
  margin-right: -2rem;
  color: var(--button-color);
  background-color: var(--synop-select-color);
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.user-icon {
  background-color: var(--synop-select-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.unreadBox {
  background-color: var(--synop-select-color);
}
.arrow-icon {
  float: right;
  color: var(--link-color);
}
.test {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: red;
}
.wrapper {
  display: grid;
  grid-template-columns: 25rem 3rem auto;
  /* grid-template-areas: "sidebar sidebar"
                              "contentContainer contentContainer"; */
}
.wrapperClose {
  display: grid;
  grid-template-columns: 7rem 3rem auto;
}
.wrapperPhone {
  display: grid;
  grid-template-columns: 0rem 100%;
}
.sidebar {
  position: relative;
  width: 25rem;
  background-color: #fafafa;
  height: 100vh;
  box-shadow: 0.2rem 0 0.8rem 0 rgba(0, 0, 0, 0.08);
}
.sidebarOpen {
  position: relative;
  width: 25rem;
  background-color: #fafafa;
  height: 100vh;
  box-shadow: 0.2rem 0 0.8rem 0 rgba(0, 0, 0, 0.08);
  /* animation: open 0.5s ease; */
}
/* @keyframes open{
    from{
      width:.0rem;
    }
    to{
      width: 25.0rem;
    }
  } */
/* .contentContainer {
  width: auto;
  background-color: white;
  margin: 2rem;
} */
/* .top-padding {
  padding-top: 0.5rem;
} */

.top-header {
  position: relative;
  margin: 0.2rem 2rem 2rem 2rem;
  height: 4vh;
}
.hello {
  font-size: 1.2rem;
  line-height: 1.33;
  text-align: right;
  color: #050505;
}
.top-name-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #121212;
}
.sidebarClose {
  position: relative;
  width: 7rem;
  background-color: #fafafa;
  height: 100vh;
  /* animation: close 0.5s ease; */
}
.sidebarPhone {
  position: relative;
  width: 0rem;
  background-color: #fafafa;
  height: 100vh;
}
.menu-button-patch {
  position: absolute;
  top: 2.2rem;
  height: 4.8rem;
  width: 0.8rem;
  z-index: 100;
  background-color: #fafafa;
  right: -0.2rem;
}
.menubutton {
  position: absolute;
  top: 2.2rem;
  right: -4.8rem;
  padding: 0.8rem;
  height: 4.8rem;
  width: 4.8rem;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #fafafa;
  color: var(--button-color);
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  cursor: pointer;
}
.logo {
  padding: 1.5rem;
  background-color: #fafafa;
  height: 7rem;
  cursor: pointer;
}

.profile {
  padding: 2.5rem 0 2rem 0;
  position: relative;
  background-color: #fafafa;
  height: 15rem;
}
.image-wrapper-wrap {
  width: 10rem;
  height: 10rem;
  display: flex;
}
.image {
  margin: auto;
  width: 100%;
}
.proPic {
  height: 10rem;
  width: 10rem;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 6.5rem 0 7.5rem;
  /*border: .1rem dashed #cccccc;*/
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.profilePhone {
  display: none;
}
.profileClose {
  padding: 0.7rem;
  position: relative;
  /* background-color: #efefef; */
  height: 7rem;
}
.proPicClose {
  height: 4.5rem;
  width: 4.5rem;
  background-color: white;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.pro-pic-upload-wrapper {
  height: 7rem;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  /*border: .1rem solid #cccccc;*/
  border-bottom-left-radius: 11rem;
  border-bottom-right-radius: 11rem;
  overflow: hidden;
  position: absolute;
  top: 5.5rem;
  display: none;
}
.xyz {
}
.xyz:hover .pro-pic-upload-wrapper {
  display: block;
}
.user-name {
  padding: 0.5rem;
  position: relative;
  color: #121212;
}
.log-status {
  position: relative;
  padding: 0.1rem;
  color: #121212;
}
.content-container {
  margin-left: 32rem;
  margin-right: 7rem;
  margin-top: 5vh;
}
.items {
  height: 50vh;
  padding-bottom: 0.5vh;
  overflow-y: auto;
}
.item {
  color: #121212;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  padding: 1rem;
}
.item-icon {
  margin-right: 2rem;
}
.item-text {
  font-size: 1.4rem;
}
.subT {
  padding-left: 3.75rem;
}
/* .active {
  background-color: var(--synop-select-color);
  font-weight: bold;
  color: var(--link-color) !important;
} */
.box-wrapper {
  background-color: #ffffff;
  position: relative;
  min-width: 15rem;
}
.box-head {
  font-size: 1.4rem;
  padding: 3rem 2.4rem;
  color: #121212;
  background-color: #ffffff;
}
.box-body {
  padding: 0;
}
.men-item {
  font-size: 1.4rem;
}
.item-wrapper {
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
  border-top: 1px solid var(--synop-select-color);
}
.item-wrapper:hover {
  background-color: var(--synop-select-color);
  color: var(--button-color);
}
.message-box-wrapper {
  background-color: #ffffff;
  min-width: 45rem;
  position: relative;
}
.message-box-head {
  font-size: 1.4rem;
  padding: 1rem 2.4rem;
  text-align: left;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  color: #050505;
  width: 100%;
  z-index: 50;
}
.message-box-body {
  padding: 5rem 0;
  max-height: 45rem;
  overflow-y: auto;
}
.message-box-tail {
  padding: 1rem 2.4rem;
  text-align: left;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
}
.box-item-wrapper {
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
  background-color: #fafafa;
}
.box-item-wrapper:hover {
  background-color: var(--synop-select-color);
}
.box-item {
  position: relative;
}
.image-wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
  border: 0.1rem solid transparent;
}
.name-initial {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fe6b03;
  padding: 0.8rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.sender {
  line-height: 1.25;
  text-align: left;
}
.name {
  font-size: 1.6rem;
  color: #050505;
}
.subject {
  font-size: 1.2rem;
}
.unread {
  font-size: 1.2rem;
}
/* .phone-nav {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 100%;
  padding: 1rem 0rem;
  background-color: white;
  z-index: 99;
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.06);
} */
@media (max-width: 1366px) {
  .wrapper {
    display: grid;
    grid-template-columns: 25rem 0rem auto;
    /* grid-template-areas: "sidebar sidebar"
                                "contentContainer contentContainer"; */
  }
  .wrapperClose {
    display: grid;
    grid-template-columns: 7rem 0rem auto;
  }
  .top-padding {
    margin-top: -2rem;
    padding-top: 1rem;
  }
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translatey(-10px);
  opacity: 0;
}
/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
} */

@media (max-width: 800px) {
  /* .contentContainer {
    margin: 0rem;
    padding-top: 8.5rem;
    padding-bottom: 7rem;
  } */
  /* .contentContainer::-webkit-scrollbar {
    display: none;
  } */
  .top-padding {
    padding-top: 0rem;
    margin-top: 0rem;
  }
  .pc {
    display: none;
  }
  .menubutton {
    z-index: 999;
    box-shadow: none;
    background-color: white;
    top: 1rem;
  }
  .menu-button-patch {
    display: none;
  }
}
</style>
