<template>
  <div>
    <v-dialog
      v-model="openBox"
      max-width="82.0rem"
      @keydown.esc="closeBox"
      :persistent="persistBox"
    >
      <!-- <div class="invite-card">
        <div style="position: absolute; top: 1.0rem; right: 1.0rem">
          <v-icon @click="closeBox">close</v-icon>
        </div>
        <div>
          <img src="../../assets/newDesign/invite.svg" />
        </div>
        <div class="heading-text">Invite Friends and Colleagues</div>
        <div class="body-text">
          Invite your friends and colleagues to grow your network.
        </div>
        <div class="row email">
          <v-combobox
            v-model="emails"
            :search-input.sync="email"
            label="Enter the emails"
            multiple
            append-icon="bopon"
            @paste="insertEmail"
            @keyup.space="insertEmailBySpace"
            @keyup.188="insertEmailByComma"
          >
            <template v-slot:selection="{ item, index }">
              <v-chip label :color="validateEmail(item)" small outline>
                <div style="max-width: 60.0rem;overflow: hidden">
                  {{ item }}
                </div>
                <span style="margin-left: .4rem"
                  ><v-icon @click="removeItemChip(index)" size="15"
                    >cancel</v-icon
                  ></span
                >
              </v-chip>
            </template>
          </v-combobox>
        </div>
        <div v-if="errorMsg" style="color: #ff5252">{{ errorMsg }}</div>
        <div class="button-send">
          <button @click="onSendInvitation" class="btn btn-save">
            Send Invitation
          </button>
        </div>
      </div> -->
     
      <div class="row align-items-center customPopup" style="  background-color: #f2f3f8;">
        <div class="col-sm-6 popUpInd popUpLeft">
          <div class="popUpHeader">Invite Friends and Colleagues</div>
          <div class="popUpText">
            Now you can Invite your friends and colleagues to Workd AI platform
            and grow your network.
          </div>
        </div>
        <div class="col-sm-6 popUpInd" style="background-color:white">
          <div class="popUpH">Send Invitation</div>
          <div style="margin-top:9rem;margin-bottom:7rem">
            <v-combobox
              v-model="emails"
              :search-input.sync="email"
              label="Enter the emails"
              multiple
              append-icon="bopon"
              @paste="insertEmail"
              @keyup.space="insertEmailBySpace"
              @keyup.188="insertEmailByComma"
            >
              <template v-slot:selection="{ item, index }">
                <v-chip label :color="validateEmail(item)" small outline>
                  <div style="max-width: 60rem; overflow: hidden">
                    {{ item }}
                  </div>
                  <span style="margin-left: 0.4rem"
                    ><v-icon @click="removeItemChip(index)" size="15"
                      >cancel</v-icon
                    ></span
                  >
                </v-chip>
              </template>
            </v-combobox>
          </div>
          <div class="row">
            <button @click="onSendInvitation" class="btn btn-save">
            Send Invitation
          </button>
          <button @click="closeBox" class="btn btn-outline" style="margin-left:1rem">
            Cancel
          </button>
          </div>
        </div>
      </div>
    </v-dialog>
  </div>
</template>

<script>
import * as FILTER from "../../filters";
export default {
  name: "invite-people",
  props: {
    open: Boolean,
    persist: Boolean,
  },
  data: function () {
    return {
      email: "",
      emails: [],
      openBox: this.open,
      persistBox: true,
      errorMsg: "",
      inval: 0,
    };
  },
  methods: {
    closeBox: function () {
      const self = this;
      self.openBox = false;
      self.$emit("box-closed");
    },
    insertEmailBySpace() {
      const self = this;
      if (self.email.trim() !== "") {
        self.emails.push(self.email.trim());
        self.email = "";
        if (self.emailValidation()) {
          self.errorMsg = "";
        }
      }
    },
    insertEmailByComma() {
      const self = this;
      let len = self.email.length;
      let res = self.email.substring(0, len - 1);
      res = res.trim();
      if (res !== "") {
        self.emails.push(res);
        self.email = "";
        if (self.emailValidation()) {
          self.errorMsg = "";
        }
      }
    },
    insertEmail() {
      const self = this;
      setTimeout(function () {
        if (self.email.trim() !== "") {
          let emails = [];
          emails = self.email.split(",");
          self.emails = self.emails.concat(emails);
          self.email = "";
          if (self.emailValidation()) {
            self.errorMsg = "";
          }
        }
      }, 100);
    },
    removeItemChip(index) {
      const self = this;
      self.emails.splice(index, 1);
      if (self.emailValidation()) {
        self.errorMsg = "";
      }
    },
    validateEmail(email) {
      if (FILTER.EMAIL_VALIDATOR(email)) {
        return "#2977c9";
      } else {
        return "#fc3832";
      }
    },
    emailValidation() {
      let i;
      let emails = this.emails;
      if (this.emails.length === 0) {
        this.errorMsg = "* Please insert at least one valid email";
        return false;
      }
      let valid = [],
        invalid = [];
      for (i = 0; i < emails.length; i++) {
        if (FILTER.EMAIL_VALIDATOR(emails[i])) {
          valid.push(emails[i]);
        } else {
          invalid.push(emails[i]);
        }
      }
      if (invalid.length > 0) {
        this.errorMsg =
          invalid.join(", ") + " invalid email(s). Please enter valid ones.";
        return false;
      } else {
        this.errorMsg = "";
        return true;
      }
    },
    onSendInvitation: function () {
      const self = this;
      if (self.email) {
        self.emails.push(self.email.trim());
        self.email = "";
      }
      if (self.emailValidation()) {
        if (self.emails.length > 0) self.$emit("send-invite", self.emails);
      }
    },
  },
};
</script>

<style scoped>
.invite-card {
  position: relative;
  padding: 2.4rem;
  background-color: #ffffff;
  width: 100%;
}
.heading-text {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #050405;
}
.body-text {
  opacity: 0.74;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #050505;
}
.email {
  padding: 2rem;
  width: 100%;
}
.button-send {
  padding: 2rem;
}
.btn-def {
  width: 15rem;
}
</style>
