<template>
  <div class="info-box disable-select">
    <!-- <div :class="{ wrapper: !phone, Phone: phone }">
      <div class="dropdown-name" @click="open = !open" v-if="phone">
        {{ item }}
        <v-icon
          style="float:right;color:var(--button-color)"
          v-if="!open"
          size="24"
          >keyboard_arrow_down</v-icon
        >
        <v-icon style="float:right;color:var(--button-color)" v-else size="24"
          >keyboard_arrow_up</v-icon
        >
      </div> -->
    <div>
      <div class="row justify-content-between align-items-center">
        <div>
          <div class="jobPageH">Profile Settings</div>
          <div class="jobPageP" style="margin-bottom: 4.5rem">
            Complete your profile by adding education, skills and experience
          </div>
        </div>
        <div @click="openViewEmployer">
          <div class="btn btn-outline">
            <span style="margin-right: 1rem"
              ><CustomIcon name="all-seeing-eye" size="2" genericColor /></span
            ><span>View as Employer</span>
          </div>
        </div>
      </div>
      <v-dialog v-model="dialog" width="1000px">
        <view-profile
          v-bind:key="change"
        ></view-profile>
      </v-dialog>
      <div class="profileContainer">
        <div class="pc basicInfo">
          <basic-info></basic-info>
        </div>
        <div style="height: 100%; width: 100%">
          <div class="tabContainer">
            <span
              @click="ChangeView(0)"
              v-bind:class="{ active: isActive(0) }"
              class="colapsible-item phone"
            >
              Basic Information
            </span>
            
            <span
              @click="ChangeView(2)"
              v-bind:class="{ active: isActive(2) }"
              class="colapsible-item"
            >
              Education
            </span>
            <span
              @click="ChangeView(1)"
              v-bind:class="{ active: isActive(1) }"
              class="colapsible-item"
            >
              Experience
            </span>
            <span
              @click="ChangeView(3)"
              v-bind:class="{ active: isActive(3) }"
              class="colapsible-item"
            >
              Skill
            </span>
            <span
              @click="ChangeView(6)"
              v-bind:class="{ active: isActive(6) }"
              class="colapsible-item"
            >
              Language
            </span>
            <span
              @click="ChangeView(7)"
              v-bind:class="{ active: isActive(7) }"
              class="colapsible-item"
            >
              Training
            </span>
            <span
              @click="ChangeView(5)"
              v-bind:class="{ active: isActive(5) }"
              class="colapsible-item"
            >
              Project
            </span>
            <span
              @click="ChangeView(4)"
              v-bind:class="{ active: isActive(4) }"
              class="colapsible-item"
            >
              Resume
            </span>
          </div>
          <div class="infoContainer">
            <basic-info v-if="changeView === 0"></basic-info>
            <experience v-if="changeView === 1"></experience>
            <education v-if="changeView === 2"></education>
            <skills v-if="changeView === 3"></skills>
            <resume v-if="changeView === 4"></resume>
            <projects v-if="changeView === 5"></projects>
            <languages v-if="changeView === 6"></languages>
            <training v-if="changeView === 7"></training>
            <view-profile v-if="changeView === 8"></view-profile>
          </div>
        </div>
      </div>
      <!-- <div v-else class="list-padding" :class="{ dropdown: phone }">
        <div class="colapsible-item-wrapper">
          <div
            @click="ChangeView(0)"
            v-bind:class="{ active: isActive(0) }"
            class="colapsible-item basic"
          >
            <span class="op-btm">Basic Information</span>
          </div>
          <div
            @click="ChangeView(1)"
            v-bind:class="{ active: isActive(1) }"
            class="colapsible-item"
          >
            <span class="op-btm">Experiences</span>
          </div>
          <div
            @click="ChangeView(2)"
            v-bind:class="{ active: isActive(2) }"
            class="colapsible-item"
          >
            <span class="op-btm">Educations</span>
          </div>
          <div
            @click="ChangeView(3)"
            v-bind:class="{ active: isActive(3) }"
            class="colapsible-item"
          >
            <span class="op-btm">Skills</span>
          </div>
          <div
            @click="ChangeView(4)"
            v-bind:class="{ active: isActive(4) }"
            class="colapsible-item"
          >
            <span class="op-btm">Resume</span>
          </div>
          <div
            @click="ChangeView(5)"
            v-bind:class="{ active: isActive(5) }"
            class="colapsible-item"
          >
            <span class="op-btm">Projects</span>
          </div>
          <div
            @click="ChangeView(6)"
            v-bind:class="{ active: isActive(6) }"
            class="colapsible-item"
          >
            <span class="op-btm">Languages</span>
          </div>
          <div
            @click="ChangeView(7)"
            v-bind:class="{ active: isActive(7) }"
            class="colapsible-item"
          >
            <span class="op-btm">Trainings</span>
          </div>
          <div
            @click="ChangeView(8)"
            v-bind:class="{ active: isActive(8) }"
            class="colapsible-item"
          >
            <span class="op-btm">View as Employer</span>
          </div>
        </div>
      </div> -->
      <!-- <div
        class="dropdown-overlay"
        v-if="phone && open"
        @click="open = false"
      ></div>
      <div class="main-items">
        <div class="safe-area phone" style="height: 1rem"></div>
        <div v-if="changeView === 1">
          <experience></experience>
        </div>
        <div v-if="changeView === 2">
          <education></education>
        </div>
        <div v-if="changeView === 3">
          <skills></skills>
        </div>
        <div v-if="changeView === 4">
          <resume></resume>
        </div>
        <div v-if="changeView === 5">
          <projects></projects>
        </div>
        <div v-if="changeView === 6">
          <languages></languages>
        </div>
        <div v-if="changeView === 7">
          <training></training>
        </div>
        <div v-if="changeView === 8">
          <view-profile></view-profile>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>
import BasicInfo from "../candidate/information/Basic-Information/basic-info";
import Experience from "./information/Experience/experience-main";
import Education from "./information/Education/education-main";
import Skills from "../candidate/information/Skill/skills";
import Resume from "../candidate/resume/resume";
import Projects from "../candidate/information/Projects/project-main";
import Languages from "../candidate/information/Language/languages";
import Training from "../candidate/information/Training/training-main";
import ViewProfile from "../global-components/view/view-profile";
import { PHONE } from "../../globalFunctions";
import CustomIcon from "../global-components/customIcon";
export default {
  name: "profile",
  components: {
    BasicInfo,
    Experience,
    Education,
    Skills,
    Resume,
    Projects,
    Languages,
    Training,
    ViewProfile,
    CustomIcon,
  },
  data: function () {
    return {
      open: false,
      phone: PHONE(),
      changeView: 1,
      dialog:false,
      itemlist: [
        "Basic Information",
        "Experiences",
        "Educations",
        "Skills",
        "Resume",
        "Projects",
        "Languages",
        "Training",
        "View as Employer",
        "Change Password",
      ],
      item: "Basic Information",
      change: 0,
    };
  },
  methods: {
    openViewEmployer(){
      const self = this;
      self.dialog = true;
      self.change++;
    },
    ChangeView(num) {
      this.open = false;
      this.item = this.itemlist[num];
      this.changeView = num;
    },
    isActive(num) {
      const self = this;
      return self.changeView === num;
    },
  },
};
</script>

<style scoped>
.list-padding {
  padding-top: 2rem;
}
.basicInfo {
  margin-right: 1.7rem;
  width: 45rem;
}
.profileContainer {
  width: 100%;
  height: calc(100vh - 25rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}
.tabContainer {
  width: 100%;
  height: 5.45rem;
  padding-top: 1.5rem;
  border-radius: 0.7rem 0.7rem 0 0;
  border: 1px solid #d9d9d9;
  white-space: nowrap;
  overflow-x: scroll;
  text-align: left;
}
.tabContainer::-webkit-scrollbar {
  display: none;
}
.infoContainer {
  width: 100%;
  height: 100%;
  border-radius: 0 0 0.7rem 0.7rem;
  border: 1px solid #d9d9d9;
  overflow: auto;
  overflow-x:hidden ;
  border-top: none;
  margin-bottom: 5.45rem;
}

.infoContainer::-webkit-scrollbar {
  width: 0.3rem;
}
.colapsible-item {
  padding-bottom: 1.8rem;
  font-size: 1.4rem;
  color: var(--action-button-color);
  margin: 0 1rem;
  cursor: pointer;
}
.dropdown-name {
  width: 100%;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 7rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.06);
  text-align: left;
  font-size: 1.6rem;
  padding-left: 2.5rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
  z-index: 80;
}
.dropdown {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 13rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.06);
  padding-bottom: 1rem;
  overflow: hidden;
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}
.close {
  animation: up 0.4s;
}
.slide-enter,
.slide-leave-to {
  transform: scaleY(0);
}
.main-items {
  /* height: calc(100vh - 18rem); */
  overflow-y: auto;
}
.dropdown-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;
}
.phone {
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 21rem auto;
}
.max-view {
  padding: 0 1rem;
}
.options {
  /*background-color: #fafafa;*/
  padding: 2rem 0;
  /*border-right: 1.0rem solid #f7f7f7;*/
}
.colapsible-item-wrapper {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  margin-right: 1rem;
}
.colapsible-item {
  height: 100%;
  font-size: 1.4rem;
  color: var(--action-button-color);
  margin: 0 2rem;
  cursor: pointer;
}
.basic {
  border-bottom: 0;
}
.info-box {
  /* margin-top: 2rem; */
}
.op-btm {
  padding: 1rem 1.5rem;
}
.colapsible-item:hover .op-btm {
}
.colapsible-item:hover {
  color: var(--link-color);
  transition: 0.5s;
}
.active {
  font-weight: bold;
  border-bottom: 0.1rem solid var(--action-button-color);
}
.phone {
  display: none;
}
.pc {
  display: block;
}
@media (max-width: 800px) {
  .pc {
    display: none;
  }
  .phone {
    display: inline;
  }
  .basicInfo {
    width: 100%;
  }
}
@media (max-width: 600px) {
  /* .colapsible-item {
    text-align: left;
  }
  .active {
    border: none;
    color: lightgray;
    font-weight: 500;
  } */

  .list-padding {
    padding-top: 0rem;
  }
}
</style>
