<template>
  <div class="view-job" v-if="changeKey !== 0" :class="{ topPadding: !phone }">
    <div
      @click="$router.go(-1)"
      class="back"
      v-if="phone"
      :class="{ backbutton: showApplicants }"
    >
      <v-icon style="color:var(--button-color);" size="24"
        >keyboard_arrow_left</v-icon
      >Back
    </div>
    <job-preview :job="viewJobProps"></job-preview>
  </div>
</template>

<script>
import JobPreview from "./jobs/job-preview";
import { GET_JOB_DETAILS } from "../../Api/common_api";
import { PHONE } from "../../globalFunctions";

export default {
  components: {
    JobPreview
  },
  data: function() {
    return {
      phone: PHONE(),
      viewJobProps: {},
      changeKey: 0
    };
  },
  mounted() {
    const self = this;

    GET_JOB_DETAILS(this.$route.params.q)
      .then(function(data) {
        self.viewJobProps = data;
        self.changeKey++;
      })
      .catch(function() {
        // alert(err);
      });
  }
};
</script>

<style scoped>
.view-job {
  height: 90vh;
  overflow: auto;
}
.topPadding {
  padding-top: 20px;
}
</style>
