@font-face {
  font-family: 'workd-app-iconset';
  src: url('workd-app-iconset.ttf?dv13ip') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="workd-icon-"], [class*=" workd-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'workd-app-iconset' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.workd-icon-all-seeing-eye:before {
  content: "\e93a";
}
.workd-icon-messenger:before {
  content: "\e93b";
}
.workd-icon-ham-menu:before {
  content: "\e937";
}
.workd-icon-job-share:before {
  content: "\e938";
}
.workd-icon-edit:before {
  content: "\e939";
}
.workd-icon-camera:before {
  content: "\e91d";
}
.workd-icon-help:before {
  content: "\e91e";
}
.workd-icon-invite-friends:before {
  content: "\e91f";
}
.workd-icon-light-bulb:before {
  content: "\e920";
}
.workd-icon-logut-power:before {
  content: "\e921";
}
.workd-icon-menu-collapse-arrow:before {
  content: "\e922";
}
.workd-icon-password-lock:before {
  content: "\e923";
}
.workd-icon-pencil-edit:before {
  content: "\e924";
}
.workd-icon-profile:before {
  content: "\e925";
}
.workd-icon-rss-news-feed:before {
  content: "\e926";
}
.workd-icon-target-jobs:before {
  content: "\e927";
}
.workd-icon-location-stroke:before {
  content: "\e91a";
}
.workd-icon-gender:before {
  content: "\e91b";
}
.workd-icon-phone:before {
  content: "\e91c";
}
.workd-icon-ico-personal-info:before {
  content: "\e917";
}
.workd-icon-hide-preview .path1:before {
  content: "\e918";
  color: rgb(1, 1, 1);
}
.workd-icon-hide-preview .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.workd-icon-cross-round:before {
  content: "\e932";
}
.workd-icon-back-arrow:before {
  content: "\e933";
}
.workd-icon-send:before {
  content: "\e934";
}
.workd-icon-preview:before {
  content: "\e935";
}
.workd-icon-user-not-found:before {
  content: "\e936";
}
.workd-icon-email:before {
  content: "\e92f";
}
.workd-icon-user:before {
  content: "\e930";
}
.workd-icon-password:before {
  content: "\e931";
}
.workd-icon-filter:before {
  content: "\e916";
}
.workd-icon-cv:before {
  content: "\e928";
}
.workd-icon-training:before {
  content: "\e929";
}
.workd-icon-logout:before {
  content: "\e92a";
}
.workd-icon-question-mark:before {
  content: "\e92b";
}
.workd-icon-checklist:before {
  content: "\e92c";
}
.workd-icon-origami:before {
  content: "\e92d";
}
.workd-icon-key:before {
  content: "\e92e";
}
.workd-icon-not-saved:before {
  content: "\e90b";
}
.workd-icon-open-position:before {
  content: "\e90a";
}
.workd-icon-location:before {
  content: "\e90c";
}
.workd-icon-since:before {
  content: "\e90d";
}
.workd-icon-jobs-posted:before {
  content: "\e90e";
}
.workd-icon-company:before {
  content: "\e90f";
}
.workd-icon-link:before {
  content: "\e910";
}
.workd-icon-close-cross:before {
  content: "\e911";
}
.workd-icon-search:before {
  content: "\e912";
}
.workd-icon-profile-edit:before {
  content: "\e913";
}
.workd-icon-plus-add:before {
  content: "\e914";
}
.workd-icon-tick:before {
  content: "\e915";
}
.workd-icon-education:before {
  content: "\e900";
}
.workd-icon-experience:before {
  content: "\e901";
}
.workd-icon-language:before {
  content: "\e902";
}
.workd-icon-project:before {
  content: "\e903";
}
.workd-icon-skill:before {
  content: "\e904";
}
.workd-icon-nav-applied-jobs:before {
  content: "\e905";
}
.workd-icon-nav-dashboard:before {
  content: "\e906";
}
.workd-icon-nav-find:before {
  content: "\e907";
}
.workd-icon-nav-profile:before {
  content: "\e908";
}
.workd-icon-nav-saved-jobs:before {
  content: "\e909";
}
