<template>
  <div>
    <div
      class="alert alert-danger"
      style="margin: 1.5rem 1.5rem 0 1.5rem"
      v-if="!user.email_confirmed"
    >
      <div style="padding-right: .5rem; font-size: 1.6rem; color: #121212">
        Your account is not verified. Please verify your account.
        <a
          @click="verifyEmail"
          style="font-size: 1.8rem; color: #121212; font-weight: bold"
          >Click Here</a
        >
        to verify your account.
      </div>
    </div>
    <div
      class="alert alert-warning"
      style="margin: 1.5rem 1.5rem 0 1.5rem"
      v-if="user.email_confirmed && !user.has_legal_doc && !user.legal_doc_override"
    >
      <div style="padding-right: .5rem; font-size: 1.6rem; color: #121212">
        You have not uploaded any legal documents yet. Please upload your legal
        documents to activate your employer account.
        <a
          @click="goToUploadLegalDocs"
          style="font-size: 1.8rem; color: #121212; font-weight: bold"
          >Click Here</a
        >
        to upload documents.
      </div>
    </div>
    <div
      class="alert alert-info"
      style="margin: 1.5rem 1.5rem 0 1.5rem"
      v-if="
        user.email_confirmed && user.has_legal_doc && user.reg_status === 35
      "
    >
      <div style="padding-right: .5rem; font-size: 1.6rem; color: #121212">
        We have got your legal documents and we are processing it. Please
        contact us for more information. Or if you want to change the documents,
        please
        <a
          @click="goToUploadLegalDocs"
          style="font-size: 1.8rem; color: #121212; font-weight: bold"
          >Click Here</a
        >.
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding">
        <div class="row" style="overflow-y:auto">
          <!--<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
            <!--<info-card-->
              <!--title="Applied Candidates"-->
              <!--:count="application_count"-->
            <!--&gt;</info-card>-->
          <!--</div>-->
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <info-card
              title="Search Appearance"
              :count="search_count"
            ></info-card>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <info-card title="Job views" :count="view_count"></info-card>
          </div>
          <!--<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
            <!--<info-card title="Draft Job(s)" :count="draft_count"></info-card>-->
          <!--</div>-->
          <!--<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
            <!--<info-card-->
              <!--title="Pending Job(s)"-->
              <!--:count="pending_count"-->
            <!--&gt;</info-card>-->
          <!--</div>-->
          <!--<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
            <!--<info-card-->
              <!--title="Published Job(s)"-->
              <!--:count="publish_count"-->
            <!--&gt;</info-card>-->
          <!--</div>-->
          <!--<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">-->
            <!--<info-card-->
              <!--title="Approved Job(s)"-->
              <!--:count="approved_count"-->
            <!--&gt;</info-card>-->
          <!--</div>-->
        </div>
      </div>
    </div>
    <!--Will be updated with new release-->
    <!--<div class="row">-->
    <!--<div class="col-md-8 col-lg-9 col-xl-10">-->
    <!--<div class="item">-->
    <!--<div class="c-text">Your job 'Software Engineer' has been approved.</div>-->
    <!--</div>-->
    <!--<div class="item i2">-->
    <!--<div class="c-text">You have 300 new applicants for the job 'Manager'</div>-->
    <!--</div>-->
    <!--<div class="item i3">-->
    <!--<div class="c-text">You have 3 new messages from 'Ridwan Hossain'</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<div class="c-text">Your job 'Software Engineer' has been approved.</div>-->
    <!--</div>-->
    <!--<div class="item i2">-->
    <!--<div class="c-text">You have 300 new applicants for the job 'Manager'</div>-->
    <!--</div>-->
    <!--<div class="item i3">-->
    <!--<div class="c-text">You have 3 new messages from 'Ridwan Hossain'</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4 col-lg-3 col-xl-2">-->
    <!--<div>-->
    <!--<info-card-->
    <!--title="Applied Candidates"-->
    <!--:count="application_count"-->
    <!--&gt;</info-card>-->
    <!--</div>-->
    <!--<div>-->
    <!--<info-card-->
    <!--title="Search Appearance"-->
    <!--:count="search_count"-->
    <!--&gt;</info-card>-->
    <!--</div>-->
    <!--<div>-->
    <!--<info-card title="Job views" :count="view_count"></info-card>-->
    <!--</div>-->
    <!--<div>-->
    <!--<v-select-->
    <!--return-object-->
    <!--v-model="showCount"-->
    <!--background-color="#f7f7f7 !important"-->
    <!--:items="analyticItems"-->
    <!--item-text="text"-->
    <!--label="Job analytics"-->
    <!--outline-->
    <!--box-->
    <!--&gt;</v-select>-->
    <!--<div style="margin-top: -30px"></div>-->
    <!--<div>-->
    <!--<div class="analytic-card">-->
    <!--<div class="analytic-number">-->
    <!--{{ showCount.number }}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%; color: black">
        <span style="padding-right:1.0rem"
          ><v-icon color="black">{{ snackIcon }}</v-icon></span
        >{{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import InfoCard from "../global-components/dashboard-card";
import { GET_ANALYTICS, RESEND_EMAIL } from "../../Api/common_api";
export default {
  components: {
    InfoCard
  },
  data: function() {
    return {
      application_count: 0,
      view_count: 0,
      search_count: 0,
      draft_count: 0,
      pending_count: 0,
      publish_count: 0,
      approved_count: 0,
      showCount: {},
      analyticItems: [],
      user: {},
      bgColor: "#454545",
      timeOut: 5000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false
    };
  },
  methods: {
    verifyEmail() {
      const self = this;
      let data = {
        email: self.user.email,
        email_type: "verification",
        token: self.user.token
      };
      RESEND_EMAIL(data)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    goToUploadLegalDocs() {
      this.$router.push({ name: "legalDocuments" }).catch(function() {});
    }
  },
  mounted() {
    const self = this;
    self.user = self.$constants.getOwnerInfo();
    GET_ANALYTICS()
      .then(function(data) {
        self.application_count = data.application_count
          ? data.application_count
          : 0;
        self.view_count = data.view_count ? data.view_count : 0;
        self.search_count = data.search_appearance_count
          ? data.search_appearance_count
          : 0;
        self.draft_count = data.draft_count ? data.draft_count : 0;
        self.pending_count = data.pending_count ? data.pending_count : 0;
        self.publish_count = data.publish_count ? data.publish_count : 0;
        self.approved_count = data.approved_count ? data.approved_count : 0;
        self.analyticItems.push({
          text: "Published Jobs",
          number: self.publish_count
        });
        self.analyticItems.push({
          text: "Approved Jobs",
          number: self.approved_count
        });
        self.analyticItems.push({
          text: "Pending Jobs",
          number: self.pending_count
        });
        self.analyticItems.push({
          text: "Draft Jobs",
          number: self.draft_count
        });
        self.showCount = {
          text: "Published Jobs",
          number: self.publish_count
        };
      })
      .catch(function() {});
  }
};
</script>

<style scoped>
.item {
  padding: 1rem;
  border-left: 0.2rem solid var(--job-select-color);
  margin-top: 1rem;
  /*border-top: 0.1rem solid rgba(0,0,0,0.16);*/
  /*border-bottom: 0.1rem solid rgba(0,0,0,0.16);*/
  /*border-right: 0.1rem solid rgba(0,0,0,0.16);*/
  background-color: #f7f7f7;
  border-radius: 0.2rem;
}
.i2 {
  border-left: 0.2rem solid var(--button-color);
}
.i3 {
  border-left: 0.2rem solid #fd397a;
}
.c-text {
  text-align: left;
}
.menu {
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
}
.info-card-header {
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.5px;
  text-align: left;
  color: #050405;
}
.info-card-header-under {
  font-size: 14px;
  line-height: 1.25;
  text-align: left;
  color: #050505;
}
.analytic-card {
  background-color: var(--synop-select-color);
}
.analytic-number {
  padding: 1.5rem;
  font-size: 4.4rem;
  line-height: 1.25;
  text-align: left;
  color: var(--button-color);
}
.header-text {
  height: 64px;
  background-color: #fafafa;
  font-size: 24px;
  color: #050505;
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  border-left: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.logo {
  width: 100%;
  height: auto;
}
.job_card {
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.details {
  padding: 0 15px;
}
.job_card_header {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #121212;
  line-height: 1.5;
}
.under {
  margin-top: 10px;
  line-height: 1.25;
  color: #050505;
  font-size: 14px;
}
.under_under {
  font-size: 12px;
  line-height: 1.33;
  color: rgba(5, 5, 5, 0.74);
  margin-bottom: 22px;
}
.apply_button {
  font-size: 14px;
  line-height: 1.25;
  cursor: pointer;
  text-align: left;
  color: var(--link-color);
  margin-bottom: 10px;
}
</style>
