<template>
  <div class="test disable-select">
    <div
      :class="{
        wrapper: open,
        wrapperClose: !open && !phone,
        wrapperPhone: phone && !open
      }"
    >
      <div
        :class="{
          sidebarOpen: open,
          sidebarClose: !open && !phone,
          sidebarPhone: phone && !open
        }"
      >
        <div class="menu-button-patch"></div>
        <div class="bottom-patch" v-if="open"></div>
        <div
          class="menubutton"
          @click="
            open = !open;
            showJobMenu = false;
            showSettingsMenu = false;
          "
        >
          <v-icon
            v-if="phone && open"
            style="color:var(--button-color);font-size:3.2rem"
            >arrow_back</v-icon
          >
          <v-icon v-else style="color:var(--button-color);font-size:3.2rem"
            >menu</v-icon
          >
        </div>
        <div v-if="phone && !open"></div>
        <div v-else @click="gotoDashboard" class="logo">
          <div v-if="open">
            <img
              src="@/assets/newDesign/logo_color.svg"
              style="width:17.0rem"
            />
          </div>
          <div v-else>
            <img
              v-if="!phone"
              style="width:4.5rem;height:auto"
              src="@/assets/newDesign/logo.svg"
            />
          </div>
        </div>
        <div
          :class="{
            profile: open,
            profileClose: !open && !phone,
            profilePhone: phone && !open
          }"
        >
          <div
            @click="changeProfilePicture"
            class="xyz"
            :class="{ proPic: open, proPicClose: !open }"
          >
            <div class="image-wrapper-wrap">
              <img class="image" :src="userImage" />
            </div>
            <div class="pro-pic-upload-wrapper">
              <v-icon
                color="rgba(255,255,255,0.7)"
                style="padding: 1.0rem 0"
                size="20"
                >fa-camera</v-icon
              >
            </div>
          </div>
        </div>
        <div v-if="open" style="padding: 1rem; ">
          <div v-if="phone && user" style="font-size: 1.2rem;">
            {{ user.name
            }}<span style="margin-left: 0.1rem"
              >({{ user.roles[0].toUpperCase() }})</span
            >
          </div>
          <div v-if="user">
            <b>{{ user.company_name.toUpperCase() }}</b>
          </div>
        </div>
        <div class="items">
          <div
            v-bind:class="{ active: isActive('dashboard') }"
            @click="gotoDashboard"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('dashboard') }"
              class="item-icon"
              size="20"
              >mdi-view-dashboard</v-icon
            >
            <span v-if="open">Dashboard</span>
          </div>
          <div
            v-bind:class="[
              { active: isActive('postJob') },
              { disabledDiv: !user.email_confirmed }
            ]"
            @click="gotoPostAJob"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('postJob') }"
              class="item-icon"
              size="20"
              >mdi-briefcase-plus</v-icon
            >
            <span v-if="open">Post a job</span>
          </div>
          <div
            v-bind:class="{ active: isActive('jobs') }"
            @click="openMenu('jobs')"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('jobs') }"
              class="item-icon"
              size="20"
              >mdi-briefcase-outline</v-icon
            >
            <span v-if="open">Jobs</span>
            <span v-if="open">
              <v-icon
                v-if="!showJobMenu"
                style="margin-top: .5rem; float: right"
                >expand_more</v-icon
              >
              <v-icon
                v-else
                style="margin-top: .5rem;float: right; color: var(--link-color)"
                >expand_less</v-icon
              >
            </span>
          </div>
          <div
            v-bind:class="{ active: isActive('activeJobs') }"
            @click="gotoJobPages('activeJobs')"
            v-if="showJobMenu"
            class="item sub"
          >
            <span>Active</span>
            <v-icon style="float: right" color="#fff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="{ active: isActive('approvedJobs') }"
            @click="gotoJobPages('approvedJobs')"
            v-if="showJobMenu"
            class="item sub"
          >
            <span>Approved</span>
            <v-icon style="float: right" color="#fff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="{ active: isActive('draftJobs') }"
            @click="gotoJobPages('draftJobs')"
            v-if="showJobMenu"
            class="item sub"
          >
            <span>Draft</span>
            <v-icon style="float: right" color="#fff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="{ active: isActive('pendingJobs') }"
            @click="gotoJobPages('pendingJobs')"
            v-if="showJobMenu"
            class="item sub"
          >
            <span>Pending</span>
            <v-icon style="float: right" color="#fff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="{ active: isActive('expiredJobs') }"
            @click="gotoJobPages('expiredJobs')"
            v-if="showJobMenu"
            class="item sub"
          >
            <span v-if="open">Expired</span>
            <v-icon style="float: right" color="#fff">chevron_right</v-icon>
          </div>
          <div
            v-bind:class="[
              { active: isActive('candidates') },
              { disabledDiv: !user.email_confirmed }
            ]"
            @click="gotoCandidatesPage"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('candidates') }"
              class="item-icon"
              size="20"
              >mdi-account-group</v-icon
            >
            <span v-if="open">Candidates</span>
          </div>
          <div
            v-bind:class="{ active: isActive('settings') }"
            @click="openMenu('settings')"
            class="item"
            v-if="management"
          >
            <v-icon
              v-bind:class="{ active: isActive('settings') }"
              class="item-icon"
              size="20"
              >mdi-settings</v-icon
            >
            <span v-if="open">Settings</span>
            <span v-if="open">
              <v-icon
                v-if="!showSettingsMenu"
                style="margin-top: .5rem; float: right"
                >expand_more</v-icon
              >
              <v-icon
                v-else
                style="margin-top: .5rem;float: right; color: var(--link-color)"
                >expand_less</v-icon
              >
            </span>
          </div>
          <div
            v-bind:class="[
              { active: isActive('manageAdmins') },
              { disabledDiv: !user.email_confirmed }
            ]"
            @click="gotoSettings('manageAdmins')"
            v-if="showSettingsMenu"
            class="item sub"
          >
            <span>Users</span>
          </div>
          <div
            v-bind:class="[
              { active: isActive('managePlan') },
              { disabledDiv: !user.email_confirmed }
            ]"
            @click="gotoSettings('managePlan')"
            v-if="showSettingsMenu && adminOnly"
            class="item sub"
          >
            <span v-if="open">Plan</span>
          </div>
          <div
            v-bind:class="{ active: isActive('manageProfile') }"
            @click="gotoSettings('manageProfile')"
            v-if="showSettingsMenu"
            class="item sub"
          >
            <span v-if="open">Company</span>
          </div>
          <div
            v-bind:class="{ active: isActive('legalDocuments') }"
            @click="gotoSettings('legalDocuments')"
            v-if="showSettingsMenu && user.email_confirmed"
            class="item sub"
          >
            <span v-if="open">Legal Documents</span>
          </div>
          <div
            v-bind:class="[
              { active: isActive('cvbank') },
              { disabledDiv: !user.email_confirmed }
            ]"
            @click="gotoCVBankPage"
            class="item"
          >
            <v-icon
              v-bind:class="{ active: isActive('cvbank') }"
              class="item-icon"
              size="20"
              >mdi-file</v-icon
            >
            <span v-if="open">All Applicants</span>
          </div>
          <div
            class="item"
            :class="{ active: isActive('message') }"
            style="padding-left:2.5rem;"
            @click="gotoMessage"
            v-if="phone"
          >
            <v-icon style="margin-right:1.7rem">mdi-email</v-icon>Messages
          </div>
          <div
            class="item"
            style="padding-left:2.5rem;"
            @click="signOutConfirmation"
            v-if="phone"
          >
            <v-icon style="margin-right:1.7rem">power_settings_new</v-icon>Log
            Out
          </div>
        </div>
      </div>
      <div v-if="!phone"></div>
      <div class="contentContainer">
        <div v-if="phone && open" class="overlay" @click="open = false"></div>
        <div v-else>
          <div class="phone-nav" v-if="phone">
            <img
              style="width:5.0rem;"
              @click="gotoDashboard"
              src="@/assets/newDesign/logo.svg"
            />
          </div>
          <header class="top-header" v-if="!phone">
            <div class="row">
              <div
                class="col-6 col-sm-7 col-md-9 col-lg-10 col-xl-9 no-padding"
                align="left"
              >
                <v-menu
                  v-model="messageMenu"
                  transition="scale-transition"
                  :close-on-content-click="false"
                  offset-y
                >
                  <template v-slot:activator="{ on }">
                    <v-badge
                      v-model="hasUnread"
                      style="margin-top: .8rem;"
                      color="red"
                      overlap
                    >
                      <template v-slot:badge>
                        <span>{{ unreadCount }}</span>
                      </template>
                      <v-icon class="message-icon" v-on="on">mdi-email</v-icon>
                    </v-badge>
                  </template>
                  <div class="message-box-wrapper">
                    <div class="message-box-head">
                      Recent messages
                      <span v-if="hasUnread">( {{ unreadCount }} )</span>
                    </div>
                    <div class="message-box-body">
                      <div v-if="noThread">
                        You don't have any messages yet.
                      </div>
                      <div
                        v-else
                        class="box-item-wrapper"
                        v-for="(thread, index) in threads"
                        :key="index"
                      >
                        <div class="row box-item">
                          <div
                            @click="gotoInbox(thread.thread_id)"
                            class="col-1 no-padding"
                          >
                            <div
                              v-if="recipients[thread.person_id]"
                              class="image-wrapper"
                            >
                              <img
                                class="image"
                                :src="recipients[thread.person_id]"
                              />
                            </div>
                            <div v-else class="name-initial">
                              {{ getInitialsFromName(thread.user_name) }}
                            </div>
                          </div>
                          <div
                            @click="gotoInbox(thread.thread_id)"
                            class="col-10"
                          >
                            <div class="sender name">
                              {{ thread.user_name }}
                            </div>
                            <div class="sender subject">
                              {{ thread.subject || "No Subject" }}
                            </div>
                          </div>
                          <div style="position: absolute; top: 0; right: 0;">
                            <div style="font-size: 1.2rem">
                              Aug, {{ thread.Unread }}
                            </div>
                            <v-icon
                              style="margin-top: .2rem; color: var(--button-color); float: right"
                              size="14"
                              v-if="thread.Unread"
                              >mdi-circle</v-icon
                            >
                            <v-icon
                              style="margin-top: .2rem; float: right"
                              size="14"
                              v-else
                              >mdi-circle-outline</v-icon
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-if="!noThread" class="message-box-tail">
                      <a
                        @click="gotoInbox(threads[0].thread_id)"
                        style="font-size: 1.6rem; color: var(--link-color)"
                        >View all messages</a
                      >
                    </div>
                  </div>
                </v-menu>
              </div>
              <div
                class="col-6 col-sm-5 col-md-3 col-lg-2 col-xl-3 no-padding"
                align="right"
              >
                <v-menu
                  v-model="showDropdown"
                  transition="slide-x-transition"
                  :close-on-content-click="true"
                  offset-y
                  left
                >
                  <template v-slot:activator="{ on }">
                    <v-badge
                      v-model="completeNess"
                      id="bdge"
                      style="margin-top: .8rem;"
                      color="#ff6e38"
                      left
                      overlap
                    >
                      <template v-slot:badge>
                        <span>!</span>
                      </template>
                      <span class="user-icon" v-on="on"
                        ><v-icon
                          style="font-size: 2.2rem; color: var(--button-color)"
                          >mdi-account</v-icon
                        ><v-icon style="color: var(--button-color)"
                          >mdi-chevron-down</v-icon
                        ></span
                      >
                    </v-badge>
                  </template>
                  <div class="box-wrapper">
                    <div v-if="user" class="box-head">
                      <div style="font-size: 1.4rem; font-weight: bold">
                        {{ FIRST_LETTER_CAPITAL(user.name) }}
                      </div>
                      <div style="font-size: 1.4rem" class="">
                        Role: {{ FIRST_LETTER_CAPITAL(user.roles[0]) }}
                      </div>
                      <div style="font-size: 1.6rem">
                        {{ user.company_name }}
                      </div>
                    </div>
                    <div class="box-body">
                      <div @click="gotoChangePasswordPage" class="item-wrapper">
                        <div class="men-item">{{ passwordActionText }}</div>
                      </div>
                      <div @click="signOutConfirmation" class="item-wrapper">
                        <div class="men-item">Log out</div>
                      </div>
                    </div>
                  </div>
                </v-menu>
              </div>
            </div>
          </header>
        </div>
        <div :key="changeKey" v-if="showPopup">
          <confirmation-popup
            v-on:on-click-cancel="showPopup = false"
            v-on:on-click-ok="signOutCallBack"
            v-bind="signOutPopUpProps"
          ></confirmation-popup>
        </div>
        <div class="info-part" id="info-part">
          <router-view></router-view>
        </div>
      </div>
      <div :key="changePic" v-if="changePicture">
        <change-image
          v-bind:company="true"
          v-bind:image="userImage"
          v-on:update-picture="updateProfilePicture"
        ></change-image>
      </div>
    </div>
  </div>
</template>

<script>
import ChangeImage from "../global-components/change-image";
// import {SEND_INVITATION} from "../../Api/candidate_api";
import ConfirmationPopup from "../global-components/confirmation-pop-up";
import { IMAGE } from "../../Api/common_api";
import { GET_INITIALS, PHONE } from "../../globalFunctions";
import { FIRST_LETTER_CAPITAL } from "../../filters";
export default {
  components: {
    ConfirmationPopup,
    ChangeImage
  },
  data: function() {
    return {
      FIRST_LETTER_CAPITAL: FIRST_LETTER_CAPITAL,
      completeNess: null,
      showDropdown: false,
      userImage: require("@/assets/newDesign/company_pro_img.svg"),
      user: this.$constants.getOwnerInfo(),
      drawer: false,
      items: [
        {
          title: "Log Out",
          action: this.signOutConfirmation
        }
      ],
      open: true,
      phone: PHONE(),
      showJobMenu: false,
      showSettingsMenu: false,
      showPopup: false,
      inviteCall: false,
      signOutPopUpProps: {
        open: false,
        title: "Confirmation",
        message: "Do you really want to sign out now?"
      },
      inviteProps: {
        open: false
      },
      changeKey: 0,
      change: 0,
      changePicture: false,
      changePic: 0,
      activeTab: "",
      threads: [],
      recipients: [],
      showAll: false,
      showMaxItem: 5,
      unreadCount: null,
      hasUnread: false,
      noThread: false,
      messageMenu: false,
      totalMessage: null,
      management: null,
      adminOnly: null,
      interval: null,
      timer: 0,
      timeInterval: this.$constants.DELAY.MESSAGE_COUNT_INTERVAL,
      passwordActionText: "Change Password",
      timeout: null
    };
  },
  methods: {
    getInitialsFromName(name) {
      if (name) {
        return GET_INITIALS(name);
      }
    },
    updateTab(path) {
      const self = this;
      let tab = path;
      if (tab.slice(10) === "active") {
        self.activeTab = "activeJobs";
        self.showJobMenu = true;
      } else if (tab.slice(10) === "approved") {
        self.activeTab = "approvedJobs";
        self.showJobMenu = true;
      } else if (tab.slice(10) === "draft") {
        self.activeTab = "draftJobs";
        self.showJobMenu = true;
      } else if (tab.slice(10) === "pending") {
        self.activeTab = "pendingJobs";
        self.showJobMenu = true;
      } else if (tab.slice(10) === "expired") {
        self.activeTab = "expiredJobs";
        self.showJobMenu = true;
      } else if (tab.slice(10) === "post-a-job") {
        self.activeTab = "postJob";
      } else if (tab.slice(10) === "manage-admins") {
        self.activeTab = "manageAdmins";
        self.showSettingsMenu = true;
      } else if (tab.slice(10) === "manage-plan") {
        self.activeTab = "managePlan";
        self.showSettingsMenu = true;
      } else if (tab.slice(10) === "manage-profile") {
        self.activeTab = "manageProfile";
        self.showSettingsMenu = true;
      } else if (tab.slice(10) === "legal-documents") {
        self.activeTab = "legalDocuments";
        self.showSettingsMenu = true;
      } else if (tab.slice(10) === "cv-bank") {
        self.activeTab = "cvbank";
        self.showSettingsMenu = false;
        self.showJobMenu = false;
      } else {
        self.activeTab = tab.slice(10);
      }
    },
    openMenu(menu) {
      const self = this;
      this.open = true;
      switch (menu) {
        case "jobs":
          self.activeTab = "jobs";
          self.open && (self.showJobMenu = !self.showJobMenu);
          break;
        case "settings":
          self.activeTab = "settings";
          self.open && (self.showSettingsMenu = !self.showSettingsMenu);
          break;
      }
    },
    isActive(tab) {
      return this.activeTab.toLowerCase() === tab.toLowerCase();
    },
    gotoDashboard() {
      this.activeTab = "dashboard";
      this.showJobMenu = false;
      this.$router.push({ name: "employerDashboard" }).catch(function() {});
      this.phone && (this.open = false);
    },
    gotoPostAJob() {
      this.showJobMenu = false;
      this.activeTab = "postJob";
      this.$router.push({ name: "postAJob" }).catch(function() {});
      this.phone && (this.open = false);
    },
    gotoJobPages(name) {
      this.showJobMenu = true;
      this.activeTab = name;
      this.$router.push({ name: name }).catch(function() {});
      this.phone && (this.open = false);
    },
    gotoCandidatesPage() {
      this.showJobMenu = false;
      this.activeTab = "candidates";
      this.$router.push({ name: "candidates" }).catch(function() {});
      this.phone && (this.open = false);
    },
    gotoCVBankPage() {
      this.activeTab = "cvbank";
      this.$router.push({ name: "cvbank" }).catch(function() {});
      this.phone && (this.open = false);
    },
    gotoInbox(id) {
      this.messageMenu = false;
      this.$router
        .push({ name: "employerMessages", query: { t_id: id } })
        .catch(function() {});
    },
    gotoSettings(name) {
      this.activeTab = name;
      this.$router.push({ name: name }).catch(function() {});
      this.phone && (this.open = false);
    },
    gotoMessage(name) {
      this.activeTab = name;
      this.$router.push({ name: "employerMessages" }).catch(function() {});
      this.open = false;
    },
    signOutCallBack: function() {
      const self = this;
      this.phone && (this.open = false);
      self.$store.dispatch("signOut").then(function(response) {
        if (response.status === 200 || response.status === 401) {
          self.$router.push({ name: "landingPage" }).catch(function() {});
        } else {
          self.$router.push({ name: "employerDashboard" }).catch(function() {});
        }
      });
    },
    signOutConfirmation: function() {
      const self = this;
      self.changeKey++;
      self.showPopup = true;
      self.signOutPopUpProps = {
        open: true,
        title: "Confirmation",
        message: "Do you really want to sign out now?"
      };
    },
    gotoChangePasswordPage() {
      this.$router
        .push({ name: "employerChangePassword" })
        .catch(function() {});
      this.phone && (this.open = false);
    },
    changeProfilePicture: function() {
      const self = this;
      self.updateProfilePicture("open");
    },
    updateProfilePicture(open) {
      const self = this;
      let params = {
        url_only: 1
      };
      IMAGE(params).then(function(data) {
        self.userImage = data.image_url
          ? data.image_url
          : require("@/assets/newDesign/company_pro_img.svg");
        self.timeout = setTimeout(function() {
          if (open === "open") {
            self.changePic++;
            self.changePicture = true;
          }
        }, self.$constants.DELAY.IMAGE_FETCH_DELAY);
      });
    },
    getAllThreads() {
      const self = this;
      self.threads = [];
      self.$store
        .dispatch("getAlltheThreads")
        .then(function(data) {
          self.recipients = data.recipients;
          self.totalMessage = data.total_message_count;
          self.unreadCount = data.total_unread_count;
          let i, length, max;
          length = data.threads.length;
          if (length > self.showMaxItem) {
            max = self.showMaxItem;
          } else {
            max = length;
          }
          for (i = 0; i < max; i++) {
            self.threads.push(data.threads[i]);
          }
          self.hasUnread = self.unreadCount !== 0;
          self.noThread = self.totalMessage === 0;
        })
        .catch(function() {});
    },
    updateCounter(duration) {
      const self = this;
      self.interval = setInterval(() => {
        self.$store
          .dispatch("getCountUpdate")
          .then(function(data) {
            if (
              self.unreadCount !== data.total_unread_count ||
              self.totalMessage !== data.total_message_count
            ) {
              self.totalMessage = data.total_message_count;
              self.unreadCount = data.total_unread_count;
              self.getAllThreads();
              self.timer = 0;
              clearInterval(self.interval);
              self.updateCounter(self.timeInterval);
            } else {
              self.timer++;
              if (self.timer > 0) {
                if (
                  self.timer > self.$constants.DELAY.MAX_MESSAGE_COUNT_DELAY
                ) {
                  self.timer = 1;
                }
                clearInterval(self.interval);
                self.updateCounter(self.timer * self.timeInterval);
              }
            }
          })
          .catch(function() {});
      }, duration);
    }
  },
  previouspage() {
    this.$router.go(-1);
  },
  beforeDestroy() {
    const self = this;
    clearInterval(self.interval);
    clearInterval(self.timeout);
  },
  mounted() {
    const self = this;
    let userType = self.$constants.getOwnerInfo();
    if (!userType.has_password) {
      self.passwordActionText = "Add Password";
    } else {
      self.passwordActionText = "Change Password";
    }
    switch (userType.roles[0].toLowerCase()) {
      case "admin":
        self.management = true;
        self.adminOnly = true;
        break;
      case "manager":
        self.management = true;
        self.adminOnly = false;
        break;
      case "agent":
        self.management = false;
        self.adminOnly = false;
        break;
      default:
        self.management = false;
        self.adminOnly = false;
        break;
    }
    window.addEventListener("storage", message_receive);
    function message_receive(ev) {
      if (ev.key === "message") {
        window.location.reload();
      }
    }
    self.updateTab(self.$route.path);
    self.updateProfilePicture();
    if (document.getElementById("info-part").clientWidth < 1100) {
      self.open = false;
      self.showJobMenu = false;
      self.showSettingsMenu = false;
    }
  },
  created() {
    const self = this;
    self.$store
      .dispatch("getCountUpdate")
      .then(function(data) {
        if (
          self.unreadCount !== data.total_unread_count ||
          self.totalMessage !== data.total_message_count
        ) {
          self.totalMessage = data.total_message_count;
          self.unreadCount = data.total_unread_count;
          self.getAllThreads();
        }
        self.timeout = setTimeout(function() {
          self.updateCounter(self.timeInterval);
        }, self.$constants.DELAY.MESSAGE_COUNT_INITIAL_INTERVAL);
      })
      .catch(function() {});
  },
  watch: {
    "$route.path"(newQ, oldQ) {
      if (newQ !== oldQ) {
        this.updateTab(newQ);
      }
    }
  }
};
</script>

<style scoped>
.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}
.badg {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 0 0.5rem;
  border-radius: 0.4rem;
}
.overlay {
  height: 100vh;
  width: 100%;
  background-color: #666666;
  position: absolute;
  top: 0;
  z-index: 99;
}
.wrapperPhone {
  display: grid;
  grid-template-columns: 0rem 100%;
}
.sidebarPhone {
  position: relative;
  width: 0rem;
  background-color: #fafafa;
  height: 100vh;
}
.message-icon {
  /*margin-top:.8rem;*/
  color: var(--button-color);
  background-color: #e5e5ea;
  padding: 0.8rem;
  font-size: 2.2rem;
  border-radius: 5rem;
}
.user-icon {
  background-color: var(--synop-select-color);
  padding: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.image-wrapper-wrap {
  width: 10rem;
  height: 10rem;
  display: flex;
}
.image {
  margin: auto;
  width: 100%;
}
.test {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: 25rem 5rem auto;
  /* grid-template-areas: "sidebar sidebar"
                            "contentContainer contentContainer"; */
}
.wrapperClose {
  display: grid;
  grid-template-columns: 7rem 5rem auto;
}
.sidebar {
  position: relative;
  width: 25rem;
  background-color: #fafafa;
  height: 100vh;
  box-shadow: 0.2rem 0 0.8rem 0 rgba(0, 0, 0, 0.08);
}

.sidebarOpen {
  position: relative;
  width: 25rem;
  background-color: #fafafa;
  height: 100vh;
  box-shadow: 0.2rem 0 0.8rem 0 rgba(0, 0, 0, 0.08);

  /* animation: open 0.5s ease; */
}
.sidebarOpen::-webkit-scrollbar {
  display: none;
}

.contentContainer {
  width: auto;
  background-color: white;
  margin: 2rem;
  height: 100vh;
}
.top-header {
  position: relative;
  margin: 0.2rem 2rem 2.2rem 2rem;
  height: 5rem;
}
.sidebarClose {
  position: relative;
  width: 7rem;
  background-color: #fafafa;
  height: 100vh;
  /* animation: close 0.5s ease; */
}
.menu-button-patch {
  position: absolute;
  top: 2.2rem;
  height: 4.8rem;
  width: 0.8rem;
  z-index: 100;
  background-color: #fafafa;
  right: -0.2rem;
}
.menubutton {
  position: absolute;
  top: 2.2rem;
  right: -4.8rem;
  padding: 0.8rem;
  height: 4.8rem;
  width: 4.8rem;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #fafafa;
  color: var(--button-color);
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
  cursor: pointer;
}
@keyframes close {
  0% {
    width: 25rem;
  }
  100% {
    width: 7rem;
  }
}
@keyframes open {
  0% {
    width: 7rem;
  }
  100% {
    width: 25rem;
  }
}
.logo {
  padding: 1.5rem;
  background-color: #fafafa;
  height: 7rem;
  cursor: pointer;
}
.profile {
  padding: 2.5rem 0 2rem 0;
  position: relative;
  background-color: #fafafa;
  height: 15rem;
}
.proPic {
  height: 10rem;
  width: 10rem;
  background-color: var(--synop-select-color);
  margin: 0 6.5rem 0 7.5rem;
  /*border: .1rem dashed #cccccc;*/
  border-radius: 50%;
  /*box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);*/
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.profilePhone {
  display: none;
}
.profileClose {
  padding: 0.7rem;
  position: relative;

  height: 7rem;
}
.proPicClose {
  height: 4.5rem;
  width: 4.5rem;
  background-color: white;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.pro-pic-upload-wrapper {
  height: 7rem;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 11rem;
  border-bottom-right-radius: 11rem;
  overflow: hidden;
  position: absolute;
  top: 5.5rem;
  display: none;
}
.xyz {
}
.xyz:hover .pro-pic-upload-wrapper {
  display: block;
}
.user-name {
  padding: 0.5rem;
  position: relative;
  color: #121212;
}
.log-status {
  position: relative;
  padding: 0.1rem;
  color: #121212;
}
.content-container {
  margin-left: 32rem;
  margin-right: 7rem;
  margin-top: 5vh;
}
.items {
  overflow-y: auto;
}
.item {
  color: #121212;
  padding: 1rem;
  text-align: left;
  border-bottom: 0.1rem solid #fafafa;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.5;
}
.item-icon {
  padding: 0 1.5rem;
}
.active {
  background-color: var(--synop-select-color);
  font-weight: bold;
  color: var(--link-color) !important;
}
.sub {
  padding-left: 6.2rem;
}
.box-wrapper {
  background-color: #ffffff;
  position: relative;
  min-width: 15rem;
}
.box-head {
  font-size: 1.4rem;
  padding: 3rem 2.4rem;
  color: #121212;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}
.box-body {
  padding: 0;
}
.men-item {
  font-size: 1.6rem;
}
.item-wrapper {
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
}
.item-wrapper:hover {
  background-color: var(--synop-select-color);
  color: var(--button-color);
}
.message-box-wrapper {
  background-color: #ffffff;
  min-width: 45rem;
  position: relative;
}
.message-box-head {
  font-size: 1.4rem;
  padding: 1rem 2.4rem;
  text-align: left;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  color: #050505;
  width: 100%;
  z-index: 50;
}
.message-box-body {
  padding: 5rem 0;
  max-height: 45rem;
  overflow-y: auto;
}
.message-box-tail {
  padding: 1rem 2.4rem;
  text-align: left;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
}
.box-item-wrapper {
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  text-align: left;
  cursor: pointer;
  background-color: #fafafa;
}
.box-item-wrapper:hover {
  background-color: var(--synop-select-color);
}
.box-item {
  position: relative;
}
.image-wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background-color: #ffffff;
}
.name-initial {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fe6b03;
  padding: 0.8rem;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.sender {
  line-height: 1.25;
  text-align: left;
}
.name {
  font-size: 1.6rem;
  color: #050505;
}
.subject {
  font-size: 1.2rem;
}
.unread {
  font-size: 1.2rem;
}
.phone-nav {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 100%;
  padding: 1rem 0rem;
  background-color: white;
  z-index: 99;
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.06);
}
@media (max-width: 1366px) {
  .wrapper {
    display: grid;
    grid-template-columns: 25rem 1.5rem auto;
    /* grid-template-areas: "sidebar sidebar"
                              "contentContainer contentContainer"; */
  }
  .wrapperClose {
    display: grid;
    grid-template-columns: 7rem 1.5rem auto;
  }
  .top-padding {
    margin-top: -2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 600px) {
  .bottom-patch {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 25rem;
    height: 5rem;
    background-color: white;
    z-index: 99;
  }
  .menubutton {
    z-index: 999;
    box-shadow: none;
    background-color: white;
    top: 1rem;
  }
  .menu-button-patch {
    display: none;
  }

  .contentContainer {
    margin: 0rem;
    padding-top: 7rem;
    padding-bottom: 5.5rem;
  }
  .contentContainer::-webkit-scrollbar {
    width: 0rem;
  }
  .top-padding {
    padding-top: 0rem;
  }
  .menubutton {
    z-index: 999;
  }
  .info-part {
    overflow-y: auto;
    height: 100%;
  }
  .info-part::-webkit-scrollbar {
    display: none;
    width: 100%;
    padding: 0rem !important;
    margin: 0rem !important;
  }
}
</style>
