<template>
  <div>
    <div class="jobs-menu-bar-wrapper">
      <div class="container jobs-menu-bar">
        <div align="middle" class="dropdown" @click="showlist">
          Jobs
          <span>
            <v-icon>arrow_drop_down</v-icon>
          </span>
        </div>
        <div :class="{ display: show }">
          <div id="jobMenu" class="row">
            <div class="tab-item-wrapper">
              <router-link :to="{ name: 'activeJobs' }">
                <div class="tab-item">ACTIVE</div>
              </router-link>
            </div>
            <div class="tab-item-wrapper">
              <router-link :to="{ name: 'pendingJobs' }">
                <div class="tab-item">PENDING</div>
              </router-link>
            </div>
            <div class="tab-item-wrapper">
              <router-link :to="{ name: 'draftJobs' }">
                <div class="tab-item">DRAFT</div>
              </router-link>
            </div>
            <div class="tab-item-wrapper">
              <router-link :to="{ name: 'expiredJobs' }">
                <div class="tab-item">EXPIRED</div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="margin">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  name: "dashboard",
  data: function() {
    return {
      x: false,
      show: true
    };
  },
  methods: {
    showlist: function() {
      this.show = !this.show;
    }
  }
};
</script>

<style scoped>
.row {
  display: flex;

  justify-content: center;
  flex-direction: row;
}
#jobMenu a {
  text-decoration: none !important;
  color: #3d4249;
}
#jobMenu a:hover {
  text-decoration: none !important;
  color: #11998e;
}
#jobMenu a.router-link-active {
  color: #11998e;
  height: 100%;
  display: block;
  font-weight: bold !important;
  border-bottom: 2px solid #11998e;
}
#jobMenu a.router-link-active:hover {
  border-bottom: none;
}
/* img {
  float: left;
} */
.jobs-menu-bar-wrapper {
  position: fixed;
  top: 70px;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  z-index: 40;
}
.jobs-menu-bar {
  /*padding: 0 10% !important;*/

  height: 50px;
}
.tab-item-wrapper {
  padding: 0 20px;
  height: 50px;
}
.tab-item {
  box-sizing: border-box;
  height: 100%;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 20px 15px 20px;
}
.tab-item:hover {
  border-bottom: 2px solid #11998e;
}
.dash-content {
  /*padding: 50px 0 0 0;*/
}
.side-menu-wrapper {
  padding: 0 15px 0 15px;
}
.side-menu-content-box {
  padding: 20px 0;
  background-color: #ffffff;
}
.side-menu-content {
  padding: 18px 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.side-menu-content:hover {
  background-color: rgba(17, 153, 142, 0.2);
}
.menu-name {
  padding: 2px 0 0 1px;
  font-size: 16px;
  text-align: left;
}
.menu-image {
  padding: 0 0 0 25px;
}
.display {
  display: block;
}
.dropdown {
  font-size: 16px;
  padding: 15px;
  display: none;
  cursor: pointer;
  background-color: white;
}
.dropdown:hover {
  color: grey;
}
.margin {
  margin-top: 135px;
}
@media only screen and (max-width: 1000px) {
  .margin {
    margin-top: 0px;
  }
  .display {
    display: none;
  }
  .dropdown {
    display: block;
  }
  .jobs-menu-bar-wrapper {
    height: auto;
    z-index: 0;
  }
  .jobs-menu-bar {
    /*padding: 0 10% !important;*/
    height: auto;
  }
  .tab-item-wrapper {
    width: 100%;
  }
  .tab-item {
    width: 100%;
  }
  .tab-item:hover {
    border-bottom: 0px;
  }
  #jobMenu a:hover {
    color: #11998e;
  }
  #jobMenu a.router-link-active {
    color: #11998e;
    height: 100%;
    display: block;
    border-bottom: 0px;
  }
  .jobs-menu-bar-wrapper {
    position: relative;
    top: 0px;
  }
}
</style>
