<template>
  <div>
    <nav
      class="navbar navbar-expand-md navbar-light nav-padding nav-fixed-height"
    >
      <div class="container brand-logo-padding">
        <div class="col-4">
          <router-link :to="{ name: 'employerDashboard' }" class="navbar-brand">
            <img src="@/assets/trimatra_img/logo_white.png" />
          </router-link>
        </div>
        <button
          class="navbar-toggler float-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbar9"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-8">
        <div class="navbar-collapse collapse" id="navbar9">
          <ul class="nav navbar-nav ul_padding_height ml-auto">
            <li class="nav-item">
              <router-link :to="{ name: 'employerDashboard' }" class="nav-link"
                >DASHBOARD</router-link
              >
            </li>
          </ul>
          <div class="invite_button_padding">
            <button class="btn btn-sign-up">
              <img style="padding-bottom: 3px" src="@/assets/invite.png" /><span
                >INVITE</span
              >
            </button>
          </div>
          <div class="inbox_button_padding">
            <button class="btn">
              <img src="@/assets/notification.png" />
            </button>
          </div>
          <div class="user_button_padding">
            <v-menu v-model="showDropdown" left offset-y>
              <button class="btn" style="height: 62px" slot="activator">
                <img src="@/assets/user_profile.png" />
              </button>
              <v-list>
                <!--<v-list-tile>-->
                <!--<v-list-tile-title>-->
                <!--<a @click="onClickProfile">Profile</a>-->
                <!--</v-list-tile-title>-->
                <!--</v-list-tile>-->
                <v-list-tile>
                  <v-list-tile-title>
                    <span
                      ><confirmation-popup
                        v-on:on-click-ok="signOutCallBack"
                        v-bind="signOutPopUpProps"
                      ></confirmation-popup
                    ></span>
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </div>
        </div>
      </div>
    </nav>
    <div v-if="showLoader"><loader></loader></div>
  </div>
</template>
<script>
import ConfirmationPopup from "../global-components/confirmation-pop-up";
import Loader from "../global-components/loader";
export default {
  name: "indexTopBar",
  components: { ConfirmationPopup, Loader },
  data: function() {
    return {
      showDropdown: false,
      showLoader: false,
      signOutPopUpProps: {
        open: false,
        title: "Confirmation",
        message: "Do you really want to sign out now?",
        hasActivator: true,
        activatorValue: "Sign Out"
      }
    };
  },
  beforeMount() {
    window.addEventListener("scroll", this.handleScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    onClickProfile: function() {
      this.$router.push({ name: "employerDashboard" }).catch(function() {});
    },
    signOutCallBack: function() {
      const self = this;
      self.showLoader = true;
      self.$store.dispatch("signOut").then(function(response) {
        if (response.status === 200 || response.status === 401) {
          self.showLoader = false;
          self.$router.push({ name: "landingPage" }).catch(function() {});
        } else {
          self.showLoader = false;
          self.$router.push({ name: "employerDashboard" }).catch(function() {});
        }
      });
    },
    handleScroll: function() {
      this.showDropdown = false;
    }
  }
};
</script>

<style scoped>
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  padding-bottom: 16px !important;
  padding-top: 10px !important;
}
.navbar-nav a:hover {
  border-bottom: 4px solid #11998e;
}
.ul_padding_height {
  height: 70px;
  padding-top: 19px;
}
.nav-item {
  padding-right: 15px !important;
}
.nav-padding {
  padding: 10px;
}
.brand-logo-padding {
  padding: 0;
}
.invite_button_padding {
  padding-top: 10px;
  padding-right: 4px;
  padding-left: 6px;
}
.inbox_button_padding {
  padding-top: 10px;
  padding-right: 3px;
  padding-left: 14px;
}
.user_button_padding {
  padding-top: 10px;
  padding-right: 4px;
  z-index: 100;
}
.btn-sign-up {
  width: 105px;
  height: 37px;
  border-radius: 3px;
  background-color: #11998e;
  font-size: 14px !important;
  color: #ffffff;
  font-weight: bold !important;
  box-shadow: none !important;
}
.btn-sign-up:hover {
  border-radius: 3px;
  background-color: #11998e;
  color: #ffffff;
  font-weight: bold !important;
  box-shadow: none !important;
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none !important;
}
.heading-text {
  /*padding-top: 50px;*/
  padding-bottom: 30px;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 35px;
  color: #3d4249;
  text-align: center;
}
.confirm_button_padding {
  padding: 0 5px;
}
.btn-def {
  width: 100px;
  height: 40px;
}
.btn-sec {
  width: 100px;
  height: 40px;
}
</style>
