<template>
  <div class="existing">
    <div v-if="edit">
      <!-- <div class="float-button">
        <v-icon class="icon-class-reject">delete_outline</v-icon>
      </div> -->
      <div class="float-button" v-if="editable">
        <v-icon class="icon-class-view" @click="edit = false">create</v-icon>
      </div>
      <h4>{{ tempUser.user_name }}</h4>
      <div>{{ tempUser.email }}</div>
      <p>{{ tempUser.role }}</p>
    </div>
    <div v-else>
      <v-icon @click="edit = true" class="icon-class-reject float-button"
        >cancel</v-icon
      >
      <v-icon class="icon-class-save float-button" @click="save">
        done
      </v-icon>
      <div>
        <v-text-field
          label="Name"
          v-model="tempUser.user_name"
          prepend-inner-icon="mdi-account-tie"
          disabled
          required
          style="font-size:1.6rem"
        ></v-text-field>
      </div>
      <div>
        <v-text-field
          disabled
          label="Email"
          v-model="tempUser.email"
          prepend-inner-icon="mdi-mail"
          required
          style="font-size:1.6rem"
        ></v-text-field>
      </div>
      <div>
        <v-select
          label="Role"
          :items="roles"
          item-value="value"
          item-text="text"
          v-model="temprole"
          prepend-inner-icon="mdi-account-badge"
          return-object
          style="font-size:1.6rem"
        ></v-select>
      </div>
    </div>
  </div>
</template>

<script>
import { FIRST_LETTER_CAPITAL } from "../../../filters";
import { EMPLOYER_ROLE_ACTION_PUT } from "../../../Api/employer_api";
export default {
  name: "existing-user",
  props: {
    user: {}
  },
  data: function() {
    return {
      edit: true,
      editable: true,
      tempUser: {},
      temprole: {},
      roles: [
        {
          text: "Manager",
          value: "manager"
        },
        {
          text: "Agent",
          value: "agent"
        }
      ]
    };
  },
  methods: {
    save: function() {
      const self = this;
      if (self.tempUser.role[0] !== self.temprole.value) {
        let params = {
          user_id: self.tempUser.user_id,
          updated_role: self.temprole.value
        };
        EMPLOYER_ROLE_ACTION_PUT(params)
          .then(function() {
            self.$emit("done");
          })
          .catch(function(err) {
              alert(err.message)
          });
      }
    }
  },
  mounted() {
    this.tempUser = this.user;
    this.tempUser.role === "admin" && (this.editable = false);
    this.temprole = {
      text: FIRST_LETTER_CAPITAL(this.user.role),
      value: this.user.role
    };
  }
};
</script>
<style>
.existing {
  width: 100%;
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.16);
  padding: 1.5rem 1.5rem 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
  position: relative;
}
.existing > div > h4 {
  font-size: 1.6rem;
  font-weight: bold;
}
.existing > div > div {
  font-size: 1.4rem;
  color: grey;
}
.existing > div > p {
  padding: 0.3rem 0.7rem;
  border-radius: 0.2rem;
  background-color: var(--button-save-unfocus);
  color: var(--button-save-color);
  margin-top: 1rem;
  width: fit-content;
  font-size: 1.4rem;
}
.float-button {
  float: right;
  margin-left: 0.5rem;
}
</style>
