<template>
  <div class="mn-wrapper" id="scroll">
    <div v-if="!addNewUser && !getUser.length">
      <div class="nc">
        <div>
          <img src="../../../assets/newDesign/invite.svg" />
        </div>
        <div class="nc-txt nc-h">There are no other users to show!</div>
        <div class="nc-txt nc-sh">
          Add more users to distribute the work load.
        </div>
        <button class="btn btn-save" @click="addUser">
          <span><v-icon size="18" class="add-ico-class">add_box</v-icon></span>
          <span>User</span>
        </button>
      </div>
    </div>

    <div
      class="row justify-content-start"
      :key="changeKey"
      v-if="!addNewUser && getUser.length"
    >
      <div
        class="col-sm-12 col-md-12 col-lg-6 col-xl-4"
        @click="addUser"
        :class="{ middle: phone }"
        style="cursor:pointer;margin-bottom:1.0rem;"
      >
        <div class="add-user-button">
          <div class="row justify-content-center">
            <v-icon class="add-icon">person_add</v-icon>
          </div>
          <button
            v-if="!addNewUser && getUser.length"
            class="btn btn-save"
            style="padding: .2rem .8rem;margin-top:1.0rem"
          >
            Add More User
          </button>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-12 col-lg-6 col-xl-4"
        :class="{ middle: phone }"
        v-for="(item, index) in getUser"
        :key="index"
      >
        <existing-user
          :user="getUser[index]"
          @done="getExistingUser"
        ></existing-user>
      </div>
    </div>

    <div v-if="addNewUser">
      <div class="">
        <div class="row form-back">
          <div class="csv-file">
            <div class="csv-text">
              You can import data from your computer. Please upload the file
              here. Note that your file must be in .csv format and it should
              contain only the following columns:
              <br /><span style="font-style: italic"
                >Name, Email, Phone, Role</span
              >
            </div>
            <div style="cursor: pointer">
              <button style="position: relative" class="btn btn-next-outline">
                <span>Browse</span>
                <input
                  class="input"
                  type="file"
                  ref="file"
                  accept=".csv"
                  @change="filesChange($event.target.name, $event.target.files)"
                />
              </button>
            </div>
          </div>
        </div>
        <div v-if="csvFile" class="file-upload form-back">
          <div>
            <v-icon class="icon-class-view" style="float:left;" size="30"
              >ballot</v-icon
            >
            <div style="float:left;margin-left:1.0rem">
              <div>
                <div class="row" style="font-size:1.6rem">
                  File Name
                </div>
                <div class="row" style="font-size:1.4rem;text-align:left">
                  {{ csvFile.name }}
                </div>
              </div>
            </div>
            <div>
              <button
                @click="runPapa"
                class="btn btn-save"
                style="float:right;margin-top:.5rem"
              >
                Upload
              </button>
              <button
                @click="resetFile"
                class="btn btn-close"
                style="float:right;margin-top:.5rem; margin-right: 1rem"
              >
                Cancel
              </button>
            </div>
            <div style="clear:both"></div>
          </div>
        </div>
        <div class="row form-back" style="margin-bottom: 2.5rem !important;">
          <div class="col-xl-6 no-padding" style="text-align: left;">
            <span @click="addMoreUser" class="btn btn-next-outline">
              <v-icon
                style="margin-bottom: 0.3rem; margin-right: 0.5rem; color: var(--button-color)"
                >add_box</v-icon
              >
              Add More
            </span>
          </div>
          <div class="col-xl-6 no-padding" style="text-align: right;">
            <span class="btn btn-close" @click="cancel">Cancel</span>
            <span
              class="btn btn-save-new"
              style="margin-left: 1.0rem"
              @click="save"
              >Save</span
            >
          </div>
        </div>
        <v-form ref="form" v-model="valid" lazy-validation>
          <div class="row">
            <div
              class="col-6"
              style="padding-left: 0"
              :key="index"
              v-for="(user, index) in users"
            >
              <div class="row add-user">
                <v-icon
                  @click="deleteRow(index)"
                  class="icon-class-reject"
                  style="position: absolute; top: 0; right: 0"
                  >cancel</v-icon
                >
                <div
                  class="col-sm-12 col-md-6 col-lg-3 col-xl-6 no-padding"
                  :class="{ middle: !phone }"
                >
                  <v-text-field
                    solo
                    label="Name"
                    v-model="user.name"
                    outline
                    prepend-inner-icon="mdi-account-tie"
                    validate-on-blur
                    :rules="Rules"
                    style="font-size:1.6rem"
                  >
                  </v-text-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-6 no-padding">
                  <v-text-field
                    outline
                    solo
                    label="Email"
                    v-model="user.email"
                    prepend-inner-icon="mdi-mail"
                    required
                    validate-on-blur
                    :rules="emailRules"
                    style="font-size:1.6rem"
                  >
                  </v-text-field>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-6 no-padding">
                  <v-text-field
                    outline
                    solo
                    label="Phone"
                    v-model="user.phone"
                    prepend-inner-icon="mdi-phone"
                    required
                    validate-on-blur
                    :rules="phoneRules"
                    style="font-size:1.6rem"
                  >
                  </v-text-field>
                </div>
                <div
                  class="col-sm-11 col-md-5 col-lg-2 col-xl-6"
                  :class="{ middle: !phone }"
                >
                  <v-select
                    required
                    solo
                    outline
                    label="Role"
                    :items="roles"
                    item-value="value"
                    item-text="text"
                    v-model="user.role"
                    prepend-inner-icon="mdi-account-badge"
                    return-object
                    validate-on-blur
                    :rules="Rules"
                    style="font-size:1.6rem"
                  >
                  </v-select>
                </div>
              </div>
            </div>
          </div>
        </v-form>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <div style="text-align: center; width: 100%;">
        <span style="padding-right:1.0rem;">
          <v-icon color="white">{{ snackIcon }}</v-icon>
        </span>
        {{ snackMessage }}
      </div>
    </v-snackbar>
  </div>
</template>

<script>
import { EMAIL_VALIDATOR, FIRST_LETTER_CAPITAL } from "../../../filters";
import {
  EMPLOYER_ROLE_ACTION_GET,
  EMPLOYER_ROLE_ACTION_POST
} from "../../../Api/employer_api";
import ExistingUser from "./existing-user";
import { PHONE } from "../../../globalFunctions";
export default {
  name: "manage-admins",
  components: {
    ExistingUser
  },
  data: function() {
    return {
      phone: PHONE(),
      height: window.innerHeight + 600,
      offset: 300,
      valid: true,
      Rules: [v => !!v || "Required"],
      emailRules: [
        v => !!v || "Required",
        v => EMAIL_VALIDATOR(v) || "Must be a valid email"
      ],
      phoneRules: [
        v => !!v || "Required",
        v =>
          /^(?:\+?(?:88|01)?)(?:\d{11}|\d{13})$/.test(v) ||
          "Must be a valid phone number"
      ],
      changeKey: 0,
      edit: true,
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      users: [],
      getUser: [],
      tempUser: [],
      addNewUser: false,
      roles: [
        {
          text: "Manager",
          value: "manager"
        },
        {
          text: "Agent",
          value: "agent"
        }
      ],
      csvFile: null,
      csvData: null,
      timeout: null,
    };
  },
  methods: {
    getExistingUser: function() {
      EMPLOYER_ROLE_ACTION_GET()
        .then(response => {
          this.getUser = response.data;
          this.changeKey++;
        })
        .catch(function() {});
    },
    addUser() {
      const self = this;
      self.addNewUser = true;
      self.users.unshift({
        name: "",
        email: "",
        phone: "",
        role: {}
      });
    },
    addMoreUser() {
      const self = this;
      self.users.unshift({
        name: "",
        email: "",
        phone: "",
        role: {}
      });
      self.timeout = setTimeout(() => {
        let elmnt = document.getElementById("scroll");
        this.height += this.offset;
        elmnt.scrollTop = this.height;
      }, 50);
    },
    deleteRow(index) {
      const self = this;
      self.users.splice(index, 1);
      if (self.users.length === 0) {
        self.addNewUser = false;
      }
    },
    filesChange(fieldName, fileList) {
      this.csvFile = fileList[0];
    },
    resetFile() {
      const input = this.$refs.file;
      input.type = "text";
      input.type = "file";
      this.csvFile = null;
    },
    cancel: function() {
      this.users = [];
      this.addNewUser = false;
      this.resetFile();
    },
    save: function() {
      const self = this;
      let temp = {};
      if (self.$refs.form.validate()) {
        for (let i in this.users) {
          temp = {
            user_name: self.users[i].name,
            email: self.users[i].email,
            phone: self.users[i].phone,
            role: self.users[i].role.value
          };
          self.tempUser.push(temp);
        }
        EMPLOYER_ROLE_ACTION_POST(this.tempUser)
          .then(response => {
            this.addNewUser = false;
            this.users = [];
            this.tempUser = [];
            this.tempUser = [];
            this.snackbar = true;
            this.snackIcon = this.$constants.SNACKBAR_ICON.SUCCESS;
            this.bgColor = this.$constants.SNACKBAR_COLOR.SUCCESS;
            this.snackMessage = response.message || "Successfully added";
            this.getExistingUser();
          })
          .catch(err => {
            this.addNewUser = false;
            this.users = [];
            this.tempUser = [];
            this.tempUser = [];
            this.snackbar = true;
            this.snackIcon = this.$constants.SNACKBAR_ICON.ERROR;
            this.bgColor = this.$constants.SNACKBAR_COLOR.ERROR;
            this.snackMessage = err.message;
          });
      }
    },
    runPapa() {
      const self = this;
      self.$papa.parse(this.csvFile, {
        complete: function(results) {
          let i;
          for (i = 0; i < results.data.length - 1; i++) {
            let temp = results.data[i];
            self.users.push({
              name: temp[0],
              email: temp[1],
              phone: temp[2],
              role: {
                text: FIRST_LETTER_CAPITAL(temp[3]),
                value: temp[3].toLowerCase()
              }
            });
          }
        }
      });
    }
  },
  beforeDestroy(){
    clearTimeout(this.timeout)
  },
  mounted() {
    this.getExistingUser();
  }
};
</script>

<style scoped>
.add-user-button {
  width: 100%;
  border-radius: 0.4rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.16);
  padding: 1.5rem;
}
.add-icon {
  font-size: 2.5rem;
  background-color: var(--synop-select-color);
  padding: 1rem;
  border-radius: 50%;
  color: var(--button-color);
}
.mn-wrapper {
  margin: 2rem;
  margin-left: 0rem;
  overflow-y: auto;
  height: 90vh;
  padding-bottom: 5rem;
  padding-right: 2rem;
  scroll-behavior: smooth;
}
.mn-head {
  font-size: 2.4rem;
  text-align: left;
}
.add-user {
  position: relative;
  padding: 4rem 4rem 1rem;
  box-shadow: 0 0.2rem 1.5rem 0 rgba(0, 0, 0, 0.16);
  margin: 0 2rem 2rem 2rem !important;
}
.form-back {
  margin: 2rem !important;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 0.2rem 1.5rem 0 rgba(0, 0, 0, 0.16);
}
.btn-delete {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color);
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
.edit {
  margin-right: 1.2rem;
  color: var(--button-color) !important;
}

.csv-file {
  margin: 2rem 0;
  border-radius: 0.8rem;
  width: 100%;
}
.csv-text {
  padding: 3rem;
  font-size: 1.6rem;
}
.btn-upload {
  width: 18.8rem;
  height: 4.4rem;
  border-radius: 0.4rem;
  border: solid 0.2rem var(--button-color);
  background-color: var(--button-color);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  cursor: pointer !important;
}
.input {
  position: absolute;
  top: -0.1rem;
  left: -0.2rem;
  height: 4.2rem;
  width: 18.6rem;
  opacity: 0;
  cursor: pointer;
}
.file-upload {
  border-radius: 0.4rem;
  background-color: #fafafa;
  padding: 1rem;
  margin: 2rem !important;
}
@media (max-width: 600px) {
  .mn-wrapper {
    padding-right: 0rem !important;
    margin-right: 0rem !important;
    height: auto;
  }
  .add-user {
    padding: 0rem !important;
  }
}
.middle {
  padding: 0rem;
  margin: 0rem;
  width: 100%;
}
</style>
