<template>
  <div>
    <div class="row settings-main"></div>
  </div>
</template>

<script>
export default {
  name: "company",
  data: function() {
    return {
      changeView: 1
    };
  },
  methods: {
    isActive(num) {
      const self = this;
      return self.changeView === num;
    }
  }
};
</script>

<style scoped>
.settings-main {
  margin-top: 2rem !important;
}
.max-view {
  padding: 0 1rem;
}
.options {
  padding: 2rem 0;
}
.colapsible-item {
  padding: 1rem;
  text-align: right;
  font-size: 1.6rem;
  color: #555555;
  cursor: pointer;
}
.op-btm {
  padding: 1rem 1.5rem;
  /*border-bottom: .1rem solid #cccccc;*/
  /*border-right: .1rem solid #cccccc;*/
}
.colapsible-item:hover .op-btm {
  border-right: 0.4rem solid var(--link-color);
  /*border-left: .1rem solid #ff7722;*/
}
.colapsible-item:hover {
  color: var(--link-color);
}
.active {
  color: var(--link-color);
  font-weight: 600;
  border-right: 0.4rem solid var(--link-color);
}
</style>
