<template>
  <div class="filter-wrapper">
    <div>
      <div style="position: relative">
        <v-icon
          @click="closeBox"
          class="icon-class-new icon-position"
          >mdi-close</v-icon
        >
        <!-- <div
          style="font-size: 2.2rem; color: #4c4c4c; text-align: left; padding: 1rem 0;"
        >
          Advanced Filter
        </div> -->
        <!-- <div
          class="horizontal-line"
          style="background-color: rgba(0,0,0,0.16) !important;"
        ></div> -->
      </div>
    </div>
    <div class="row" style="margin-top: 1rem !important">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="row">
          <div class="col-6 s-text">Salary</div>
          <div class="col-6 range">
            <span style="font-size: 1.2rem">{{ range[0] }} BDT</span>
            <span style="margin: 0 1rem; font-size: 1.2rem">to</span>
            <span style="font-size: 1.2rem">{{ range[1] }} BDT</span>
          </div>
        </div>
        <div :key="change" class="row" style="margin-top: -1.5rem !important">
          <v-range-slider
            v-model="range"
            :max="max"
            :min="min"
            step="10000"
            color="#3d4249"
            thumb-color="grey"
            ticks
          ></v-range-slider>
        </div>

        <div class="s-l-text" align="left">Position Type</div>
        <div
          class="row justify-content-between"
          align="left"
          style="margin-bottom: 2rem !important"
        >
          <div class="col-6 no-padding">
            <div style="padding: 0.5rem 0">
              <span><input v-model="p_types[0].value" type="checkbox" /></span
              ><span class="checkbox">Full Time</span>
            </div>

            <div style="padding: 0.5rem 0">
              <span><input v-model="p_types[2].value" type="checkbox" /></span
              ><span class="checkbox">Intern</span>
            </div>

            <div style="padding: 0.5rem 0">
              <span><input v-model="p_types[4].value" type="checkbox" /></span
              ><span class="checkbox">Remote</span>
            </div>
          </div>
          <div class="col-6 no-padding">
            <div style="padding: 0.5rem 0">
              <span><input v-model="p_types[1].value" type="checkbox" /></span
              ><span class="checkbox">Part Time</span>
            </div>

            <div style="padding: 0.5rem 0">
              <span><input v-model="p_types[3].value" type="checkbox" /></span
              ><span class="checkbox">Contractual</span>
            </div>
          </div>
        </div>
        <div class="s-l-text" align="left">Seniority Level</div>
        <div class="row" align="left" style="margin-bottom: 2rem !important">
          <div class="col-6 no-padding">
            <div style="padding: 0.5rem 0">
              <span><input v-model="s_levels[0].value" type="checkbox" /></span
              ><span class="checkbox">Junior (0-2 yrs)</span>
            </div>

            <div style="padding: 0.5rem 0">
              <span><input v-model="s_levels[2].value" type="checkbox" /></span
              ><span class="checkbox">Senior (5-7 yrs)</span>
            </div>
          </div>
          <div class="col-6 no-padding">
            <div style="padding: 0.5rem 0">
              <span><input v-model="s_levels[1].value" type="checkbox" /></span
              ><span class="checkbox">Associate (2-5 yrs)</span>
            </div>
            <div style="padding: 0.5rem 0">
              <span><input v-model="s_levels[3].value" type="checkbox" /></span
              ><span class="checkbox">Staff (7+ yrs)</span>
            </div>
          </div>
        </div>

        <div class="row align-items-center justify-content-between">
           <div class="col-4 no-padding" style="font-weight:bold" align="left">Closing in:</div>
           <div class="col-8 no-padding">
              <v-select
              v-model="date_posted"
              :items="date_posted_items"
              label="Select"
              clearable
            ></v-select>
           </div>
         
        </div>
        <!-- <div class="row justify-content-between manage-filter">
          <div class="col-6" style="padding: 0 1rem 0 0">
            <input type="text" class="form-control" placeholder="Filter Name" />
            <div
              style="
                color: #5c88ee;
                text-align: left;
                margin-top: 0.5rem;
                font-size: 1.2rem;
              "
            >
              Save
            </div>
          </div>
          <div class="col-6" style="padding: 0 0 0 1rem">
            <v-select
              solo
              outline
              :items="date_posted"
              label="Date Posted"
              clearable
            ></v-select>
          </div>
        </div> -->
        <!-- <div v-if="!showEdit" style="text-align: left; margin-top: 5rem">
          <button
            @click="applyFilter"
            style="margin-right: 1rem"
            class="btn btn-save-new"
          >
            Apply Filter
          </button>
          <button @click="clearAll" class="btn btn-close">Clear Filter</button>
          <div
            style="margin: 1rem 0; color: var(--button-delete-color)"
            v-if="error"
          >
            *{{ errorMessage }}
          </div>
        </div>
        <div v-else style="text-align: left; margin-top: 5rem">
          <button
            @click="updateFilter"
            style="margin-right: 1rem"
            class="btn btn-save-new"
          >
            Save Filter
          </button>
          <button
            @click="closeBox"
            style="margin-right: 1rem"
            class="btn btn-close"
          >
            Cancel
          </button>
        </div> -->
      </div>
      <div
        style="text-align: left"
        v-if="all_companies.length > 0"
        class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
      >
        <div class="">
          <div class="input-group">
            <input
              v-model="search_filter"
              class="form-control"
              placeholder="Search Company"
              type="text"
            />
            <div class="input-group-append">
              <span @click="search_filter = ''" class="input-group-text"
                >clear</span
              >
            </div>
          </div>
          <div style="margin-top: 3rem"></div>
          <div
            :key="index"
            v-for="(company, index) in companies"
            style="padding: 0.5rem 0"
          >
            <span><input v-model="company.value" type="checkbox" /></span
            ><span class="checkbox">{{ company.text }}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-if="!showEdit" style="text-align: left; margin: 1rem">
      <button
        @click="applyFilter"
        style="margin-right: 1rem"
        class="btn btn-save"
      >
        Apply Filter
      </button>
      <button @click="clearAll" class="btn btn-close">Clear Filter</button>
      <div
        style="margin: 1rem 0; color: var(--button-delete-color)"
        v-if="error"
      >
        *{{ errorMessage }}
      </div>
    </div>
    <div v-else style="text-align: left; margin: 2rem">
      <button
        @click="updateFilter"
        style="margin-right: 1rem"
        class="btn btn-save-new"
      >
        Save Filter
      </button>
      <button
        @click="closeBox"
        style="margin-right: 1rem"
        class="btn btn-close"
      >
        Cancel
      </button>
    </div>
  </div>
</template>

<script>
import { GET_COMPANIES_SEARCH } from "../../../Api/common_api";
import { IsEmptyObject } from "../../../globalFunctions";
import { UPDATE_FILTER } from "../../../Api/candidate_api";

export default {
  name: "job-filter",
  props: {
    open: Boolean,
    query: String,
    currentFilter: Object,
    edit: Boolean,
    attid: String,
  },
  data: function () {
    return {
      min: 0,
      max: 300000,
      range: [0, 0],
      date_posted_items: [
        {
          text: "Today",
          value: 0,
        },
        {
          text: "3 days",
          value: 3,
        },
        {
          text: "7 days",
          value: 7,
        },
        {
          text: "15 days",
          value: 15,
        },
      ],
      date_posted: "",
      s_levels: [
        {
          text: "junior",
          value: false,
        },
        {
          text: "associate",
          value: false,
        },
        {
          text: "senior",
          value: false,
        },
        {
          text: "staff",
          value: false,
        },
      ],
      p_types: [
        {
          text: "fulltime",
          value: false,
        },
        {
          text: "parttime",
          value: false,
        },
        {
          text: "intern",
          value: false,
        },
        {
          text: "contract",
          value: false,
        },
        {
          text: "remote",
          value: false,
        },
      ],
      companies: [],
      all_companies: [],
      s_count: 0,
      search_filter: "",
      change: 0,
      error: false,
      errorMessage: null,
      showEdit: false,
      timeout: null,
      companyKey:0,
    };
  },
  methods: {
    closeBox() {
      const self = this;
      self.$emit("close-box");
    },
    loadFilter() {
      const self = this;
      if (
        self.currentFilter.seniority_level &&
        self.currentFilter.seniority_level.length > 0
      ) {
        let i, j;
        for (i = 0; i < self.currentFilter.seniority_level.length; i++) {
          for (j = 0; j < self.s_levels.length; j++) {
            if (
              self.currentFilter.seniority_level[i].toUpperCase() ===
              self.s_levels[j].text.toUpperCase()
            ) {
              self.s_levels[j].value = true;
            }
          }
        }
      }
      if (
        self.currentFilter.position_type &&
        self.currentFilter.position_type.length > 0
      ) {
        let i, j;
        for (i = 0; i < self.currentFilter.position_type.length; i++) {
          for (j = 0; j < self.p_types.length; j++) {
            if (
              self.currentFilter.position_type[i].toUpperCase() ===
              self.p_types[j].text.toUpperCase()
            ) {
              self.p_types[j].value = true;
            }
          }
        }
      }
      if (
        self.currentFilter.companies &&
        self.currentFilter.companies.length > 0
      ) {
        let i, j;
        for (i = 0; i < self.currentFilter.companies.length; i++) {
          for (j = 0; j < self.companies.length; j++) {
            if (
              self.currentFilter.companies[i].toUpperCase() ===
              self.companies[j].text.toUpperCase()
            ) {
              self.companies[j].value = true;
            }
          }
        }
      }
      if (self.currentFilter.min_salary) {
        self.range[0] = parseInt(self.currentFilter.min_salary);
      } else {
        self.range[0] = 0;
      }
      if (self.currentFilter.max_salary) {
        self.range[1] = parseInt(self.currentFilter.max_salary);
      } else {
        self.range[0] = 0;
      }
      if (self.currentFilter.duration !== undefined)
        self.date_posted = self.currentFilter.duration;
      self.change++;
    },
    clearAll() {
      const self = this;
      self.range = [0, 0];
      self.companies.map(val=>val.value=false)
      self.search_filter = "";
      self.p_types = [
        {
          text: "fulltime",
          value: false,
        },
        {
          text: "parttime",
          value: false,
        },
        {
          text: "intern",
          value: false,
        },
        {
          text: "contract",
          value: false,
        },
        {
          text: "remote",
          value: false,
        },
      ];
      self.s_levels = [
        {
          text: "junior",
          value: false,
        },
        {
          text: "associate",
          value: false,
        },
        {
          text: "senior",
          value: false,
        },
        {
          text: "staff",
          value: false,
        },
      ];
      self.date_posted = undefined;
    },
    updateFilter() {
      const self = this;
      let filter = {},
        i;
      if (self.s_levels.length > 0) filter.seniority_level = [];
      for (i = 0; i < self.s_levels.length; i++) {
        if (self.s_levels[i].value) {
          filter.seniority_level.push(self.s_levels[i].text);
        }
      }
      if (filter.seniority_level.length < 1) delete filter.seniority_level;
      if (self.p_types.length > 0) filter.position_type = [];
      for (i = 0; i < self.p_types.length; i++) {
        if (self.p_types[i].value) {
          filter.position_type.push(self.p_types[i].text);
        }
      }
      if (filter.position_type.length < 1) delete filter.position_type;
      if (self.companies.length > 0) filter.companies = [];
      for (i = 0; i < self.companies.length; i++) {
        if (self.companies[i].value) {
          filter.companies.push(self.companies[i].text);
        }
      }
      if (filter.companies.length < 1) delete filter.companies;
      if (self.date_posted !== undefined && self.date_posted !== "")
        filter.duration = self.date_posted;
      if (self.range[0] !== 0) {
        filter.min_salary = self.range[0].toString();
      }
      if (self.range[1] > 0) {
        filter.max_salary = self.range[1].toString();
      }
      if (!IsEmptyObject(filter)) {
        UPDATE_FILTER(filter, self.attid)
          .then(function (response) {
            setTimeout(function () {
              self.$emit("update-filter");
            }, 100);
            setTimeout(function () {
              self.closeBox();
            }, 200);
          })
          .catch(function () {
            // console.log(err)
          });
      }
    },
    applyFilter() {
      const self = this;
      console.log(self.companies);
      let filter = {},
        i;
      if (self.s_levels.length > 0) filter.seniority_level = [];
      for (i = 0; i < self.s_levels.length; i++) {
        if (self.s_levels[i].value) {
          filter.seniority_level.push(self.s_levels[i].text);
        }
      }
      if (filter.seniority_level.length < 1) delete filter.seniority_level;
      if (self.p_types.length > 0) filter.position_type = [];
      for (i = 0; i < self.p_types.length; i++) {
        if (self.p_types[i].value) {
          filter.position_type.push(self.p_types[i].text);
        }
      }
      if (filter.position_type.length < 1) delete filter.position_type;
      if (self.companies.length > 0) filter.companies = [];
      for (i = 0; i < self.companies.length; i++) {
        if (self.companies[i].value) {
          filter.companies.push(self.companies[i].text);
        }
      }
      if (filter.companies.length < 1) delete filter.companies;
      if (self.date_posted !== undefined && self.date_posted !== "")
        filter.duration = self.date_posted;
      if (self.range[0] !== 0) {
        filter.min_salary = self.range[0];
      }
      if (self.range[1] > 0) {
        filter.max_salary = self.range[1];
      }
      if (!IsEmptyObject(filter))
        self.$emit("apply-filter", self.query, filter);
      else {
        self.error = true;
        self.errorMessage = "No filter selected";
      }
    },
    getCompanies() {
      const self = this;
      self.s_count++;
      GET_COMPANIES_SEARCH(self.query)
        .then(function (response) {
          if (response.status === self.$constants.RESPONSE_CODE.SUCCESS) {
            let i;
            for (i = 0; i < response.data.length; i++) {
              self.companies.push({
                text: response.data[i],
                value: false,
              });
              self.all_companies.push({
                text: response.data[i],
                value: false,
              });
            }
            if (self.currentFilter) {
              self.loadFilter();
            }
          } else if (response.status === 404 && self.s_count <= 1) {
            self.timeout = setTimeout(function () {
              self.getCompanies();
            }, 2000);
          } else {
            self.companies = [];
          }
        })
        .catch(function () {
          self.companies = [];
        });
    },
  },
  watch: {
    search_filter(newV, oldV) {
      if (newV.toUpperCase() !== oldV.toUpperCase()) {
        let i;
        this.companies = [];
        for (i = 0; i < this.all_companies.length; i++) {
          if (
            this.all_companies[i].text
              .toUpperCase()
              .includes(newV.toUpperCase())
          ) {
            this.companies.push(this.all_companies[i]);
          }
        }
      }
    },
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
  mounted() {
    const self = this;
    if (self.open) {
      self.s_count = 0;
      if (self.query) self.getCompanies();
      self.showEdit = self.edit ? self.edit : false;
    }
  },
};
</script>

<style scoped>
.s-text {
  text-align: left;
  padding: 0;
  font-weight: bold;
}
.range {
  text-align: right;
  padding: 0;
}
.filter-wrapper{
  padding: 4rem;
}
.s-level {
  text-align: left;
  border-radius: 0.4rem;
  margin: 2rem 0;
  padding: 2rem;
}
.s-l-text {
  font-weight: bold;
  margin: 1rem 0;
}
.checkbox {
  margin-left: 1rem;
  font-size: 1.4rem;
  color: #707070;
}
.manage-filter {
  position: relative;
  border: 0.1rem solid #c9c9c9;
  border-radius: 1rem;
  margin: 1rem 0 2rem 0 !important;
  padding: 3rem 2rem 0 !important;
}
.form-control {
  font-size: 1.4rem;
  border-radius: 0.4rem;
  background-color: #f2f3f8;
  border-radius: 10rem;
  height: 3.7rem;
  border: none;
}
.form-control:focus {
  box-shadow: none !important;
}
.input-group-append {
  background-color: transparent !important;
}
.input-group-text {
  background-color: #f2f3f8;
  border-radius: 10rem;
  border: none;
  color: #5c88ee;
  cursor: pointer;
}
.filter-capsule {
  padding: 0.5rem 2rem;
  max-width: 22rem;
  border-radius: 2rem;
  margin: 1rem 1rem 0 0;
  background-color: var(--synop-select-color);
}
.icon-position{
  position: absolute;
  right: -3rem;
  top: -2rem; 
  font-size: 3rem;
}
@media (max-width: 800px){
  .filter-wrapper{
    padding:3rem 2rem 2rem 2rem;
  }
  .icon-position{
    right:-1.5rem;
    top:-1.5rem;
  }
}
</style>
