<template>
  <div id="app" class="disable-select">
    <v-app class="app_def">
      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
export default {
  name: "app",
  data: function() {
    return {
      openBox: true
    };
  },
  methods: {
    closeBox() {
      this.openBox = false;
    },
  },
  mounted() {
    window.addEventListener("storage", message_receive);
    function message_receive(ev) {
      if (ev.key === "message") {
        window.location.reload();
      }
    }
  },
  created: function() {
    window.fbAsyncInit = function() {
      // eslint-disable-next-line
      FB.init({
        appId: "202037577797334",
        cookie: true,
        xfbml: true,
        version: "v7.0"
      });
    };
    (function(d, s, id) {
      let js,
              fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "./assets/style.css";
.app_def {
  background-color: #f7f7f7 !important;
  height: 100vh;
}

/* @font-face {
  font-family:'WorkdIcon';
  src: local("WorkdIcon"), url("./assets/workd-app-iconset.ttf") format('truetype');
} */
#app {
  font-family: "PT Sans", "Poppins", Helvetica, "Helvetica Neue", sans-serif;
  text-align: center;
  color: #050505;
}
.banner-image {
  max-width: 100rem;
}
</style>
