<template>
  <div>
    <div
      class="dropdown-name"
      @click="open = !open"
      v-if="phone && showApplicants"
    >
      {{ item }}
      <v-icon
        style="float:right;color:var(--button-color)"
        v-if="!open"
        size="24"
        >keyboard_arrow_down</v-icon
      >
      <v-icon style="float:right;color:var(--button-color)" v-else size="24"
        >keyboard_arrow_up</v-icon
      >
    </div>
    <div class="dropdown" v-if="open">
      <div
        @click="getAllApplicants('all')"
        class="item"
        :class="{ activePhone: tab === 'all' }"
      >
        Applicants
      </div>
      <div
        @click="getFavouriteApplicants('fav', 'favorite')"
        class="item"
        :class="{ activePhone: tab === 'fav' }"
      >
        Short Listed
      </div>
      <div
        @click="getFavouriteApplicants('rjct', 'rejected')"
        class="item"
        :class="{ activePhone: tab === 'rjct' }"
      >
        Rejected
      </div>
      <div
        @click="changeContent('dtls')"
        class="item"
        :class="{ activePhone: tab === 'dtls' }"
      >
        Details
      </div>
    </div>
    <div
      class="dropdown-overlay"
      v-if="phone && open"
      @click="open = false"
    ></div>
    <div
      @click="$router.go(-1)"
      v-if="phone && !edit"
      class="back"
      :class="{ backbutton: showApplicants }"
    >
      <v-icon style="color:var(--button-color);" size="24"
        >keyboard_arrow_left</v-icon
      >Back
    </div>
    <div v-if="edit">
      <edit-job
        v-bind:from="page"
        v-bind:job="editableJobObj"
        v-on:cancel-job-posting="edit = false"
      ></edit-job>
    </div>
    <div class="about-job" v-else>
      <div class="test">
        <div class="top-head" v-if="!phone">
          <div v-if="showApplicants" class="row" style="height: 100%">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 groupy">
              <div class="btn-group" role="group">
                <button
                  v-bind:class="{ active: tab === 'all' }"
                  @click="getAllApplicants('all')"
                  type="button"
                  class="btn btn-list"
                >
                  <div>
                    <v-icon
                      class="ico"
                      v-bind:class="{ activeIcon: tab === 'all' }"
                      >mdi-account-group</v-icon
                    >
                  </div>
                  <div>Applicants</div>
                </button>
                <button
                  v-bind:class="{ active: tab === 'fav' }"
                  @click="getFavouriteApplicants('fav', 'favorite')"
                  type="button"
                  class="btn btn-list"
                >
                  <div>
                    <v-icon
                      class="ico"
                      v-bind:class="{ activeIcon: tab === 'fav' }"
                      >favorite</v-icon
                    >
                  </div>
                  <div>Short Listed</div>
                </button>
                <button
                  v-bind:class="{ active: tab === 'rjct' }"
                  @click="getFavouriteApplicants('rjct', 'rejected')"
                  type="button"
                  class="btn btn-list"
                >
                  <div>
                    <v-icon
                      class="ico"
                      v-bind:class="{ activeIcon: tab === 'rjct' }"
                      >delete</v-icon
                    >
                  </div>
                  <div>Rejected</div>
                </button>
                <button
                  v-bind:class="{ active: tab === 'dtls' }"
                  @click="changeContent('dtls')"
                  type="button"
                  class="btn btn-list"
                >
                  <div>
                    <v-icon
                      class="ico"
                      v-bind:class="{ activeIcon: tab === 'dtls' }"
                      >mdi-file-document-box</v-icon
                    >
                  </div>
                  <div>Details</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="middle" v-if="viewDetails">
        <job-details-card
          :key="change"
          v-bind:job="detailsObj"
          v-on:edit-job="editTheJob"
          v-on:close-job="closeJob"
          v-on:publish-job="publishJob"
        ></job-details-card>
      </div>
      <div class="middle" v-else>
        <div v-if="progLoad">
          <div class="row">
            <div class="mx-auto my-auto loading">
              <img src="@/assets/trimatra_img/loader.gif" />
            </div>
          </div>
        </div>
        <div v-if="!noData && !progLoad" style="padding-top:.5rem;">
          <applicants-list
            :key="change"
            v-bind:type="tab"
            v-bind:job_id="currentJobID"
            v-bind:candidates="applicants"
          ></applicants-list>
          <div class="loadMore-wrapper">
            <div @click="loadMoreApplicants" v-if="lastKey">
              <span v-if="!loading" class="loadMore">Load More</span>
              <v-progress-circular
                v-else
                :size="20"
                :width="2"
                color="#ff7722"
                indeterminate
              ></v-progress-circular>
            </div>
          </div>
        </div>
        <div class="row no-padding" v-if="noData && errMsg">
          <div class="mx-auto my-auto no-result">
            <img src="@/assets/newDesign/notFound.svg" />
            <div class="no-result-color">
              <b>Sorry {{ errMsg }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JobDetailsCard from "./job-details-card";
import ApplicantsList from "./applicant-list";
import { PHONE } from "../../../globalFunctions";
import EditJob from "../post-a-job/post-a-job-form";
import {
  GET_ALL_APPLICANTS,
  GET_TYPED_APPLICANTS
} from "../../../Api/employer_api";
export default {
  name: "job-details",
  components: {
    JobDetailsCard,
    ApplicantsList,
    EditJob
  },
  data: function() {
    return {
      edit: false,
      phone: PHONE(),
      page: "",
      open: false,
      job: {},
      item: "Applicants",
      itemList: {
        all: "Applicants",
        fav: "Short Listed",
        rjct: "Rejected",
        dtls: "Details"
      },
      progLoad: true,
      viewDetails: false,
      showApplicants: false,
      arrow: "fa-caret-right",
      buttonText: "Job Details",
      detailsObj: null,
      currentJobID: null,
      change: 0,
      color: "#ffffff",
      applicants: [],
      tab: "all",
      noData: false,
      errMsg: null,
      lastKey: null,
      loading: false,
      offset: 1,
      totalCount: null,
      editableJobObj: null
    };
  },
  methods: {
    editTheJob(job) {
      const self = this;
      self.editableJobObj = job;
      self.edit = true;
    },
    resetReq() {
      const self = this;
      self.lastKey = null;
      self.offset = 1;
      self.noData = false;
      self.errMsg = null;
      self.applicants = [];
    },
    loadMoreApplicants() {
      const self = this;
      self.loading = true;
      self.offset++;
      let params = {
        job_id: self.detailsObj.job_id,
        // offset: self.offset,
        last_evaluated_key: self.lastKey
      };
      if (self.tab === "fav") {
        params.action_type = "favorite";
      }
      if (self.tab === "rjct") {
        params.action_type = "rejected";
      }
      GET_TYPED_APPLICANTS(params, self.tab)
        .then(function(response) {
          if (response.status === 200) {
            let i;
            if (response.data.candidates) {
              for (i = 0; i < response.data.candidates.length; i++) {
                self.applicants.push(response.data.candidates[i]);
              }
            }
            if (response.data.last_evaluated_key) {
              self.lastKey = response.data.last_evaluated_key;
            } else {
              self.lastKey = null;
            }
            self.loading = false;
          } else {
            self.loading = false;
            self.lastKey = null;
          }
        })
        .catch(function(err) {
          self.progLoad = false;
          self.noData = true;
          self.loading = false;
          self.change++;
          self.errMsg = err.message;
        });
    },
    getAllApplicants(tab) {
      this.open = false;
      const self = this;
      self.viewDetails = false;
      self.tab = tab;
      self.item = self.itemList[tab];
      self.progLoad = true;
      self.resetReq();
      let params = {
        user_id: self.detailsObj.user_id,
        job_id: self.detailsObj.job_id,
        offset: self.lastKey
      };
      GET_ALL_APPLICANTS(params)
        .then(function(response) {
          self.progLoad = false;
          if (response.status === 200) {
            if (response.data.candidates.length > 0) {
              self.totalCount = response.data.candidates.length;
              self.applicants = response.data.candidates;
              if (response.data.last_evaluated_key) {
                self.lastKey = response.data.last_evaluated_key;
              }
              self.noData = false;
              self.change++;
            } else {
              self.change++;
              self.noData = true;
              self.errMsg = "No Applicant has applied for this job";
            }
          } else {
            self.change++;
            self.noData = true;
            self.errMsg = "No Applicant has applied for this job";
          }
        })
        .catch(function(err) {
          self.progLoad = false;
          self.noData = true;
          self.change++;
          self.errMsg = err.message;
        });
    },
    getFavouriteApplicants(tab, action) {
      const self = this;
      this.open = false;
      self.item = self.itemList[tab];
      self.viewDetails = false;
      self.tab = tab;
      self.progLoad = true;
      self.resetReq();
      let params = {
        user_id: self.detailsObj.user_id,
        job_id: self.detailsObj.job_id,
        action_type: action,
        last_evaluated_key: self.lastKey
      };
      GET_TYPED_APPLICANTS(params)
        .then(function(response) {
          if (response.status === 200) {
            self.progLoad = false;
            if (response.data.candidates.length > 0) {
              self.totalCount = response.data.count;
              self.applicants = response.data.candidates;
              if (response.data.last_evaluated_key) {
                self.lastKey = response.data.last_evaluated_key;
              }
              self.noData = false;
              self.change++;
            } else {
              self.change++;
              self.noData = true;
              self.errMsg = "No applicants in this criteria";
            }
          } else {
            self.change++;
            self.noData = true;
            self.errMsg = "No Applicant has applied for this job";
          }
        })
        .catch(function(err) {
          self.noData = true;
          self.change++;
          self.errMsg = err.message;
        });
    },
    changeContent(tab) {
      const self = this;
      this.open = false;
      self.item = self.itemList[tab];
      self.viewDetails = true;
      self.tab = tab;
    },
    editJob(job) {
      this.$emit("edit-job", job);
    },
    closeJob() {
      this.$emit("close-job");
    },
    publishJob() {
      this.$emit("publish");
    }
  },
  mounted: function() {
    const self = this;
    self.job = this.$route.params.q;
    self.page = this.$route.params.page;
    if (self.job) {
      self.detailsObj = self.job;
      self.detailsObj.page = self.page;
      self.currentJobID = self.job.job_id;
      switch (self.page) {
        case "active":
          self.viewDetails = false;
          self.showApplicants = true;
          self.getAllApplicants("all");
          break;
        case "pending":
          self.viewDetails = true;
          self.showApplicants = false;
          break;
        case "draft":
          self.viewDetails = true;
          self.showApplicants = false;
          break;
        case "expired":
          self.tab = "all";
          self.viewDetails = false;
          self.showApplicants = true;
          self.getAllApplicants("all");
          break;
        default:
          self.viewDetails = true;
          self.showApplicants = false;
      }
      self.change++;
    }
  }
};
</script>

<style scoped>
.backbutton {
  padding-top: 7.5rem;
}
.item {
  padding: 1rem 0rem 1rem 2.5rem;
}
.activePhone {
  display: none;
}
.dropdown {
  height: aut0;
  width: 100%;
  background-color: white;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.06);
  text-align: left;
  position: absolute;
  top: 12.5rem;
  color: rgba(0, 0, 0, 0.8);
  z-index: 90;
}
.dropdown-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 75;
}
.loading {
  height: 90vh;
  padding: 30vh 0;
}
.about-job {
  background-color: #fafafa;
  margin: 0rem 0.5rem;
}
.test {
  position: relative;
}
.top-head {
  height: 7rem;
  background-color: #fafafa;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.middle {
  height: 90vh;
  overflow: auto;
}
.groupy {
  text-align: left;
  padding: 0;
}
.buttOn {
  padding: 1rem;
}
.header-text {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  padding: 1.5rem 0;
}
.btn-group {
  height: 100%;
  max-width: 100%;
}
.btn-list {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #050505;
  border: none;
  border-radius: 0;
  box-shadow: none !important;
  margin: 0;
  padding: 0 3rem;
}
.btn-list:hover {
  color: var(--link-color);
}
.ico {
  color: #050505;
}
.btn-list:hover .ico {
  color: var(--link-color);
}
.active {
  color: #ffffff !important;
  background-color: var(--link-color);
}
.activeIcon {
  color: #ffffff !important;
}
.no-result {
  margin-top: 5.5rem !important;
  padding: 1vh 0;
  height: auto;
}
.no-result-color {
  color: #bbbec1;
}
.prog {
  margin-top: 5.5rem;
  z-index: 50;
}
.loadMore-wrapper {
  width: 100%;
  outline: none;
  padding: 2rem 0;
}
.loadMore {
  border: 0.1rem transparent;
  border-radius: 0.3rem;
  background-color: var(--button-color);
  padding: 1rem;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}
.show-more {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: var(--secondary-color);
  cursor: pointer;
  text-align: right;
}
.back {
  color: var(--link-color);
  text-align: left;
}
.dropdown-name {
  width: 100%;
  background-color: white;
  padding: 2rem;
  position: absolute;
  top: 7rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.06);
  text-align: left;
  font-size: 1.6rem;
  padding-left: 2.5rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
  z-index: 80;
}
@media (max-width: 600px) {
  .container {
    padding: 0rem !important;
  }
  .about-job {
    background-color: white;
  }
}
</style>
