<template>
  <div>
    <div v-if="!edit" class="container post-job-box">
      <div class="post-job">
        <div class="row text-posted-jobs">
          POSTED JOBS
        </div>
        <div>
          <div class="row sort-jobs">
            <v-select
              v-model="sortKey"
              label="Sort By"
              :items="sortBy"
              item-text="text"
              item-value="id"
            ></v-select>
          </div>
          <div :key="check">
            <div :key="index" v-for="(job, index) in jobs">
              <posted-job
                v-on:edit-job="editJob(index)"
                v-bind:job="job"
              ></posted-job>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="edit">
      <edit-a-job v-bind:job="jobObj" v-on:cancel-job-posting="cancel">
      </edit-a-job>
    </div>
  </div>
</template>

<script>
import PostedJob from "./posted-job-single";
import EditAJob from "../post-a-job/post-a-job-form";
import * as SYSTEM_CONST from "../../../globalConstants";
export default {
  name: "posted-jobs",
  components: {
    PostedJob,
    EditAJob
  },
  data: function() {
    return {
      edit: false,
      sortKey: "",
      sortBy: [
        {
          id: "all",
          text: "All"
        },
        {
          id: "open",
          text: "Open"
        },
        {
          id: "close",
          text: "Close"
        },
        {
          id: "pending",
          text: "Pending"
        },
        {
          id: "draft",
          text: "Drafted"
        }
      ],
      jobs: [],
      allJobs: [],
      jobObj: {},
      check: 0
    };
  },
  methods: {
    getAllPostedJobs: function() {
      const self = this;
      let token = JSON.parse(localStorage.getItem("token"));
      self
        .$http({
          method: SYSTEM_CONST.METHOD.GET,
          url: SYSTEM_CONST.BASE_URL.EMPLOYER_JOBS,
          headers: {
            "content-type": SYSTEM_CONST.HEADERS.TYPE.APPLICATION_JSON,
            Authorization: "Bearer " + token
          }
        })
        .then(function(response) {
          if (response.status === 200) {
            self.allJobs = response.data;
            self.jobs = response.data;
          }
        })
        .catch(function() {
          // need to implement
        });
    },
    editJob(index) {
      this.jobObj = this.jobs[index];
      this.edit = true;
    },
    cancel() {
      this.edit = false;
    }
  },
  watch: {
    sortKey(newVal, prevVal) {
      if (newVal !== prevVal && this.allJobs) {
        let i;
        let data = this.allJobs;
        this.jobs = [];
        if (newVal === "all") {
          this.jobs = data;
        } else {
          for (i = 0; i < data.length; i++) {
            if (data[i].job_status === newVal) {
              this.jobs.push(data[i]);
            }
          }
        }
        this.check++;
      }
    }
  },
  created() {
    this.getAllPostedJobs();
  }
};
</script>

<style scoped>
.post-job-box {
  padding: 5rem 0;
}
.post-job {
  background-color: #ffffff;
}
.text-posted-jobs {
  padding: 3.5rem 6.879% 2rem 6.879%;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 0.1rem solid rgb(204, 204, 204);
}

.sort-jobs {
  padding: 4rem 0 0 6rem;
  width: 23.7%;
}
/* .v-input {
  font-size: 1.4rem;
} */
</style>
