<template>
  <div id="job" class="single-job">
    <div class="row title-text">
      <div class="col-10 col-md-10 col-lg-10 col-xl-10 job-title">
        {{ job_item.title }}
      </div>
      <div class="col-2 col-md-2 col-lg-2 col-xl-2 edit-a-job">
        <v-icon @click="check" size="16" color="#11998e">border_color</v-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md-10 col-lg-10 col-xl-10 left-job-statuses ">
        <div class="row job-details">
          <span class="job-id">ID: 40125</span>
          <span class="job-type">
            <v-icon style="padding-right: .5rem">work_outline</v-icon>Full Time
          </span>
          <span class="job-view">
            <v-icon style="padding-right: .5rem" size="16">visibility</v-icon
            >12500
          </span>
        </div>
        <div class="row ">
          <div class="job-description">
            {{ job_item.description }}
          </div>
        </div>
      </div>
      <div class="col-2 col-md-2 col-lg-2 col-xl-2 right-job-statuses">
        <div class="row job-status">
          Job Status
        </div>
        <div v-bind:style="{ color: activeColor }" class="row job-status-value">
          {{ job_item.status | capitalize }}
        </div>
        <div class="row job-posted">
          Posted
        </div>
        <div class="row job-posted-value">
          {{ job_item.open }}
        </div>
        <div class="row job-deadline">Deadline</div>
        <div class="row job-deadline-value">{{ job_item.close }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "posted-job-single",
  props: {
    job: Object
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  data: function() {
    return {
      job_item: {},
      activeColor: "#3d4249"
    };
  },
  methods: {
    check() {
      this.$emit("edit-job");
    }
  },
  mounted() {
    const self = this;
    if (self.job) {
      self.job_item = {
        title: self.job.job_title,
        description: self.job.job_description,
        status: self.job.job_status
      };
      switch (self.job.job_status) {
        case "open":
          self.activeColor = "green";
          break;
        case "close":
          self.activeColor = "red";
          break;
        case "pending":
          self.activeColor = "#ff7722";
          break;
        case "draft":
          self.activeColor = "#2045ee";
          break;
      }
      if (self.job.open_date) {
        self.job_item.open = self.job.open_date.substring(0, 11);
      }
      if (self.job.close_date) {
        self.job_item.close = self.job.close_date.substring(0, 11);
      }
    }
  }
};
</script>

<style scoped>
#job:hover .edit-a-job {
  display: block;
}
.single-job {
  padding: 4rem 0 3rem 0;
  border-bottom: 0.1rem solid #ecf0f1;
}
.left-job-statuses {
  padding: 0 6.879% 0 6.879%;
}
.title-text {
  height: 4rem;
}
.job-title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
  padding: 0 6.879% 0 6.879%;
}
.job-details {
  padding: 0;
}
.job-id {
  padding-right: 2rem;
  font-size: 1.4rem;
}
.job-type {
  padding-right: 2rem;
  font-size: 1.4rem;
}
.job-view {
  padding-top: 0.2rem;
  font-size: 1.2rem;
}
.job-description {
  padding: 2.5rem 0 0 0;
  text-align: left;
}
.right-job-statuses {
  padding: 0 6.879% 0 0;
}
.edit-a-job {
  display: none;
  padding: 0.2rem 6.879% 0 0;
}
.job-status {
  padding: 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.job-status-value {
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.job-posted {
  padding: 1rem 0 0 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.job-posted-value {
  padding: 0;
  font-size: 1.2rem;
}
.job-deadline {
  padding: 0.5rem 0 0 0;
  font-size: 1.4rem;
  font-weight: bold;
}
.job-deadline-value {
  font-size: 1.2rem;
}
</style>
