<template>
  <div>
    <div id="skill" v-if="editSkill === false" class="row skill-single align-items-center">
      <!-- <div class="col-md-3 col-lg-2 col-xl-2 no-padding">
        <div class="image-wrapper">
          <img class="image" src="@/assets/newDesign/skill.svg" />
        </div>
      </div> -->
      <div class="col-md-9 col-lg-8 col-xl-8 skill-content">
        <div class="skill-text">{{ info.language_name.length>20?info.language_name.substring(0,20)+"...":info.language_name }}</div>
        <div v-bind:style="{ color: prColor }" class="skill-text level">
          {{ skillLevel }}
        </div>
      </div>
      <div
        class="col-md-12 col-lg-4 col-xl-4"
        style="text-align: right; padding: .5rem;cursor:pointer"
          @click="onDeleteSkill"
      >
        <!-- <span @click="onEditSkill"
          ><v-icon class="icon-class-view">edit</v-icon></span
        >
        <span @click="onDeleteSkill" style="margin-left:1.0rem "
          ><v-icon class="icon-class-reject">delete_outline</v-icon></span
        > -->
         <CustomIcon name="close-cross" color="#8f8f8f"/>
      </div>
    </div>
    <div v-if="editSkill" class="row skill-single">
      <div class=" col-md-10 col-lg-10 col-xl-10 no-padding">
        <div class="row">
          <div class="col-3 col-md-3 col-lg-6 col-xl-6 skill-text">
            {{ info.language_name }}
          </div>
          <div class="col-9 col-md-9 col-lg-6 col-xl-6 skill-levels">
            <v-autocomplete
              solo
              outline
              height="40"
              label="Skill Level"
              v-model="level"
              :items="skill_levels"
              item-text="text"
              item-value="id"
              prepend-inner-icon="mdi-octagram"
            ></v-autocomplete>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 expEdit">
        <v-icon @click="onSave" class="icon-class-new"
          >mdi-check-circle</v-icon
        >
        <v-icon
          @click="onCancel"
          class="icon-class-new"
          style="margin-left:1.0rem"
          >cancel</v-icon
        >
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <span style="padding-right:.5rem"
        ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
      >{{ snackMessage }}
      <v-btn flat :ripple="ripple" @click="snackbar = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { SAVE_LANGUAGE, DELETE_LANGUAGE } from "../../../../Api/candidate_api";
import CustomIcon from "../../../global-components/customIcon"
export default {
  name: "skill-edit",
  props: {
    skill: Object,
    firstItem: Number
  },
    components:{
      CustomIcon,
  },
  data: function() {
    return {
      editSkill: false,
      info: this.skill,
      level: 1,
      minVal: 1,
      maxVal: 5,
      isFirst: this.firstItem === 0 ? true : false,
      prColor: "#11998e",
      skillLevel: "",
      skill_levels: [
        {
          id: 1,
          text: "Elementary"
        },
        {
          id: 2,
          text: "Limited Working"
        },
        {
          id: 3,
          text: "Professional Working"
        },
        {
          id: 4,
          text: "Full Professional"
        },
        {
          id: 5,
          text: "Native/Bilingual"
        }
      ],
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      timeout: null
    };
  },
  methods: {
    onEditSkill: function() {
      const self = this;
      if (!self.$parent.currentEdit) {
        self.editSkill = true;
        self.$parent.currentEdit = true;
      } else {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
        self.snackMessage =
          self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
      }
    },
    onDeleteSkill: function() {
      const self = this;
      if (!self.$parent.currentEdit) {
        DELETE_LANGUAGE(self.info)
          .then(function(response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.timeout = setTimeout(function() {
              self.$emit("delete-skill-success");
            }, 1500);
          })
          .catch(function(err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
            self.timeout = setTimeout(function() {
              self.$emit("delete-skill-success");
            }, 1500);
          });
      } else {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
        self.snackMessage =
          self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
      }
    },
    onSave: function() {
      const self = this;
      let data = {
        attrib_id: self.info.attrib_id,
        level: self.level
      };
      SAVE_LANGUAGE(data)
        .then(function(response) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
          self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
          self.snackMessage = response.message;
          self.editSkill = false;
          self.timeout =setTimeout(function() {
            self.$emit("update-skill-success");
          }, 1500);
        })
        .catch(function(err) {
          self.snackbar = true;
          self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
          self.editSkill = false;
          self.timeout = setTimeout(function() {
            self.$emit("update-skill-success");
          }, 1500);
        });
    },
    onCancel: function() {
      const self = this;
      self.editSkill = false;
      self.level = self.skill.language_level;
      self.$parent.currentEdit = false;
    }
  },
  beforeDestroy(){
    clearTimeout(this.timeout)
  },
  mounted: function() {
    const self = this;
    if (self.skill) {
      self.level = self.skill.language_level;
      switch (self.level) {
        case 1:
          self.skillLevel = "Elementary";
          self.prColor = "#9c6bff";
          break;
        case 2:
          self.skillLevel = "Limited Working";
          self.prColor = "#8145ff";
          break;
        case 3:
          self.skillLevel = "Professional Working";
          self.prColor = "#133aff";
          break;
        case 4:
          self.skillLevel = "Full Professional";
          self.prColor = "#43a046";
          break;
        case 5:
          self.skillLevel = "Native/Bilingual";
          self.prColor = "#2e7d31";
          break;
      }
    }
  }
};
</script>

<style scoped>
.image-wrapper {
  max-height: 7.2rem;
  max-width: 7.2rem;
  overflow: hidden;
  margin-right: 1rem;
}
.image {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
}
#skill:hover .skillEdit {
  display: block;
}
.skillEdit {
  display: none;
  padding: 0 0 0 0;
  text-align: right;
  color: #05344c;
}
/* .editFixed {
  text-align: right;
  display: block;
} */
.expEdit {
  padding: 0.5rem 0;
  text-align: right;
}
.skill-single {
  background-color: #f2f3f8;
  padding: 0.9rem 1.4rem;
  margin-top: 2rem !important;
  border-radius: 0.5rem;
  height: auto;

}
.skill-content {
  padding: 1rem 0;
}
.skill-text {
  font-size: 1.4rem;
  line-height: 1.25;
  text-align: left;
  color: black;
}
.level {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color:#8f8f8f !important
}
.skill-text-edit {
  text-align: left;
  font-size: 1.6rem;
  padding: 0.5rem 0 0 0;
}
.progress-bar-padding {
  padding: 0 1.5rem;
}
/* .progress-bar-padding-edit {
  padding: 0 1.5rem;
  margin-top: -.5rem;
} */
/* .btn-padding-btwn {
  padding: 0 0 0 1.5rem;

} */

.btn-delete {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color);
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
.edit {
  margin-right: 1.2rem;
  color: var(--button-color) !important;
}
</style>
