<template>
  <div class="skill-full">
    <NoInfo
      name="Language"
      v-if="noData && addNew === false"
      @click="addNewSkills"
    />
    <div class="skill-content">
      <!-- <div class="nc" v-if="noData && addNew === false">
        <div>
          <img src="@/assets/newDesign/skills.svg" />
        </div>
        <div class="nc-txt nc-h">You have not added any languages yet!</div>
        <div class="nc-txt nc-sh">
          Add Language proficiency to increase the chance of getting hired.
        </div>
        <button @click="addNewSkills" class="btn btn-save">
          <span><v-icon size="18" class="add-ico-class">add_box</v-icon></span>
          <span>Language</span>
        </button>
      </div> -->
      <!-- <div
        style="text-align: left; margin-left: 2rem"
        class="resp-margin"
        v-if="addNew === false && noData === false"
      >
        <button class="btn btn-outline" @click="addNewSkills">
          <span style="margin-right: 1rem"
            ><CustomIcon name="plus-add" size="0.87" genericColor
          /></span>
          <span>Add Languages</span>
        </button>
      </div> -->
      <div class="new-skills-border">
        <!-- <div class="row buttom-wrap" style="padding-bottom: 2rem">
          <div align="left" class="col-4 col-xl-6 no-padding">
            <button @click="addMoreSkills" class="btn btn-outline">
              <span style="margin-right: 1rem"
                ><CustomIcon name="plus-add" size="0.87" genericColor
              /></span>
              <span>Add Language</span>
            </button>
          </div>
          <div class="col-8 col-xl-6 btn-left-padding">
            <span class="btn btn-save" @click="saveAll">Save All</span>
            <span
              class="btn btn-close"
              style="margin-left: 1rem"
              @click="cancelAll"
              >Cancel All</span
            >
          </div>
        </div> -->
        <v-form ref="form" v-model="valid" lazy-validation>
          <div
            class="skill-item-wrapper"
            v-bind:key="index"
            v-for="(skill, index) in newSkills"
          >
            <!-- <div class="delete-row">
              <v-icon @click="deleteRow(index)" class="icon-class-reject"
                >cancel</v-icon
              >
            </div> -->
            <div class="skill-item">
              <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <v-combobox
                    class="comboBox"
                    @blur="onSelectFromOutsideClick($event, index)"
                    @keyup="querySkill($event, index)"
                    @change="selectThis($event, index)"
                    validate-on-blur
                    label="Language Name"
                    :auto-select-first="true"
                    :search-input.sync="skill.language_name"
                    :loading="state[index].loading"
                    v-model="skill.language_name"
                    :items="items[index]"
                    item-text="language_name"
                    :rules="nameRules"
                    append-icon="bopon"
                
                  ></v-combobox>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <v-autocomplete
                    label="Level"
                    v-model="skill.language_level"
                    :items="skill_levels"
                    item-text="text"
                    item-value="id"
                  
                  ></v-autocomplete>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2" style="min-width:22rem" >
                  <div
                    class="btn-next-outline row justify-content-center align-items-center"
                    @click="saveAll"
                  >
                    <span style="margin-right: 1rem"
                      ><CustomIcon name="plus-add" size="0.87" genericColor
                    /></span>
                    <span>Add Language</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </v-form>
      </div>
      <div class="header" v-if="skills.length > 0">Your Languages</div>
      <div
        v-bind:key="update"
        v-bind:class="[{ allSkills: skills.length !== 0 }]"
        class="row allSkills"
      >
        <div
          class="col-md-6 col-lg-6 col-xl-4"
          style="padding: 0 1.5rem 0 0"
          v-bind:key="index"
          v-for="(skill, index) in skills"
        >
          <skill-view
            :skill="skill"
            :firstItem="index"
            v-on:delete-skill-success="getAllSkills"
            v-on:update-skill-success="getAllSkills"
          ></skill-view>
        </div>
      </div>
    </div>
    <v-snackbar :color="bgColor" :timeout="timeOut" top v-model="snackbar">
      <span style="padding-right: 0.5rem"
        ><v-icon color="#fff">{{ snackIcon }}</v-icon></span
      >{{ snackMessage }}
      <v-btn flat :ripple="ripple" @click="snackbar = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import SkillView from "./language-single-view";
import * as SYSTEM_CONSTANT from "../../../../globalConstants";
import * as SYSTEM_FUNCTIONS from "../../../../globalFunctions";
import * as FILTERS from "../../../../filters";
import CustomIcon from "../../../global-components/customIcon";
import {
  GET_ALL_LANGUAGES,
  SAVE_ALL_LANGUAGES,
} from "../../../../Api/candidate_api";
import { GET_AUTO_SUGGEST } from "../../../../Api/common_api";
import NoInfo from "../../../global-components/noInfo";
export default {
  name: "skill",
  components: {
    SkillView,
    CustomIcon,
    NoInfo,
  },
  data: function () {
    return {
      valid: true,
      skills: [],
      addNew: false,
       newSkills: [{
        skill_name:"",
        skill_level:1
      }],
      nameRules: [
        (v) => !!v.trim() || "Required",
        (v) => (!!v.trim() && v.trim().length < 64) || "Too long",
      ],
      minVal: 1,
      maxVal: 5,
      currentEdit: false,
      update: 0,
      items: [],
     state: [{loading:false}],
      skill_levels: [
        {
          id: 1,
          text: "Elementary",
        },
        {
          id: 2,
          text: "Limited Working",
        },
        {
          id: 3,
          text: "Professional Working",
        },
        {
          id: 4,
          text: "Full Professional",
        },
        {
          id: 5,
          text: "Native/Bilingual",
        },
      ],
      bgColor: "#454545",
      timeOut: 2000,
      snackbar: false,
      snackIcon: "",
      snackMessage: "",
      ripple: false,
      noData: null,
    };
  },
  methods: {
    getAllSkills: function () {
      const self = this;
      self.currentEdit = false;
      GET_ALL_LANGUAGES()
        .then(function (data) {
          self.skills = data;
          if (self.skills.length === 0) {
            self.noData = true;
          } else {
            self.noData = false;
          }
          self.update++;
        })
        .catch(function (err) {
          self.snackbar = true;
          self.snackIcon = "fa-exclamation-triangle";
          self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
          self.snackMessage = err.message;
        });
    },
    addNewSkills: function () {
      const self = this;
      if (!self.currentEdit) {
        self.currentEdit = true;
        self.addNew = true;
        self.newSkills.unshift({
          language_name: "",
          language_level: 1,
        });
        self.state.unshift({
          loading: false,
        });
      } else {
        self.snackbar = true;
        self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
        self.bgColor = self.$constants.SNACKBAR_COLOR.WARNING;
        self.snackMessage =
          self.$constants.ERROR_MESSAGES.CLOSE_THE_CURRENT_OPENED_BOX;
      }
    },
    addMoreSkills: function () {
      this.newSkills.unshift({
        language_name: "",
        language_level: 1,
      });
      this.state.unshift({
        loading: false,
      });
    },
    deleteRow(index) {
      this.newSkills.splice(index, 1);
      this.state.splice(index, 1);
      if (this.newSkills.length === 0) {
        this.addNew = false;
        this.currentEdit = false;
      }
    },
    selectThis(e, ind) {
      this.newSkills[ind].language_name = e.language_name;
      this.newSkills[ind].language_id = e.language_id;
    },
    onSelectFromOutsideClick: function (event, ind) {
      if (event) {
        if (event.type === "blur") {
          let key = FILTERS.REMOVE_WHITE_SPACES(event.target.value);
          if (key !== "") {
            let existingItems = this.items[ind];
            let existingSkills = this.skills;
            let existingSkillInItem, existingSkillInSkill;
            if (existingItems) {
              existingSkillInItem = SYSTEM_FUNCTIONS.GET_ITEM_BY_NAME_LANGUAGE(
                existingItems,
                key
              );
            }
            if (existingSkills) {
              existingSkillInSkill = SYSTEM_FUNCTIONS.GET_ITEM_BY_NAME_LANGUAGE(
                existingSkills,
                key
              );
            }
            let final = existingSkillInItem || existingSkillInSkill;
            if (final !== null) {
              this.newSkills[ind].language_id = final.language_id;
            } else {
              this.newSkills[ind].language_name = FILTERS.REMOVE_WHITE_SPACES(
                key
              );
            }
          }
        }
      }
    },
    querySkill(v, ind) {
      const self = this;
      let q = this.newSkills[ind].language_name;
      let i, exists;
      let temp = [];
      if (this.newSkills[ind].language_id) {
        delete this.newSkills[ind].language_id;
      }
      if (q === null) {
        return;
      }
      self.state[ind].loading = true;
      GET_AUTO_SUGGEST(q, SYSTEM_CONSTANT.QUERY_ACTION.LANGUAGE)
        .then(function (data) {
          for (i = 0; i < data.length; i++) {
            exists = SYSTEM_FUNCTIONS.GET_ITEM_BY_KEY_LANGUAGE(
              self.skills,
              data[i]
            );
            if (!exists) {
              temp.push(data[i]);
            }
          }
          self.items[ind] = temp;
          self.state[ind].loading = false;
        })
        .catch(function () {
          self.state[ind].loading = false;
        });
    },
    saveAll: function () {
      const self = this;
      if (self.$refs.form.validate()) {
        SAVE_ALL_LANGUAGES(self.newSkills)
          .then(function (response) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.SUCCESS;
            self.bgColor = self.$constants.SNACKBAR_COLOR.SUCCESS;
            self.snackMessage = response.message;
            self.addNew = false;
            self.currentEdit = false;
             self.newSkills=[{
              skill_name:"",
              skill_level:1
            }],
            self.getAllSkills();
          })
          .catch(function (err) {
            self.snackbar = true;
            self.snackIcon = self.$constants.SNACKBAR_ICON.ERROR;
            self.bgColor = self.$constants.SNACKBAR_COLOR.ERROR;
            self.snackMessage = err.message;
            self.addNew = false;
            self.currentEdit = false;
             self.newSkills=[{
              skill_name:"",
              skill_level:1
            }],
            self.getAllSkills();
          });
      }
    },
    cancelAll: function () {
      this.addNew = false;
      this.currentEdit = false;
      this.newSkills = [];
    },
  },
  mounted() {
    this.getAllSkills();
  },
};
</script>

<style scoped>
.comboBox {
}
.skill-item-wrapper {
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
}
.icon-class-reject {
  padding: 0.3rem;
  background-color: var(--button-delete-unfocus);
  color: var(--button-delete-color);
  border-radius: 0.2rem;
  transition: 0.5s;
  cursor: pointer;
}
.icon-class-reject:hover {
  padding: 0.3rem;
  background-color: var(--button-delete-color);
  color: #ffffff;
  transition: 0.5s;
}
.skill-item {
  border-radius: 0.5rem;
  padding-top: 3rem;
  /*padding: 1.0rem 0 0 0;*/
}
.delete-row {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  color: #207688;
  border-radius: 0.2rem;
  overflow: hidden;
}
.skill-full {
  padding: 3rem 0;
  width: 100%;
  height: 100%;
}
.skill-content {
  /* padding: 0 1.5rem 0 1.5rem !important; */
}
.ttl-text {
  text-align: left;
  font-size: 1.6rem;
  padding: 0;
}
.add-reorder {
  padding: 0;
  font-size: 1.6rem;
}
.beginner {
  padding: 0 0 0 24.5%;
  text-align: left;
}
.expert {
  padding: 0 0 0 0;
  text-align: right;
}
.add-more {
  margin: -0.2rem 0 0 0;
  padding: 0;
  text-align: right;
}
.input-field {
  padding: 0 5% 0 0;
}
.new-slider {
  padding: 0;
}
.new-skills-border {
  padding: 0 0 2rem 0;
}
.text-level {
  padding: 3rem 0 0 0;
}
.btn-left-padding {
  padding: 0;
  text-align: right;
}
.btn-padding-btwn {
  padding: 0 1rem 0 0;
}
.allSkills {
  padding: 0rem 2rem;
}
.bac {
  background-color: rgba(85, 85, 85, 0.05);
  color: #05344c;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}
.btn-delete {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: var(--button-delete-color);
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
.edit {
  margin-right: 1.2rem;
  color: var(--button-color) !important;
}
.buttom-wrap {
  padding: 0rem 2rem;
}
.header {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 2rem;

  text-align: left;
}
@media (max-width: 600px) {
  .skill-full {
    padding: 0rem;
  }
  .skill-content {
    padding: 0 0rem 0 0rem !important;
  }
  .skill-item {
    background-color: #fafafa;
    border-radius: 0.5rem;
    padding-top: 3rem;
    margin: 0rem 0rem;
    /*padding: 1.0rem 0 0 0;*/
  }
  .buttom-wrap {
    padding: 0rem 1rem;
  }
  .allSkills {
    padding: 0 1rem;
  }
  .resp-margin {
    margin-left: 1rem;
  }
}
</style>
